<div id="content">
    <div class="breadcrumb clearfix">
        <div class="title k2">Sửa thông tin thành viên "<?php echo $this->user['fullname']?> (<?php echo $this->user['email']?>)"</div>
    </div>
    <div class="clear"></div>
    <div class="">
        <div class="fdefault posting">
            <form action="" method="post">
                <?php if ($this->messages): ?>
                <div class="success"><?php echo implode('<br/>', $this->messages); ?></div>
                <?php endif; ?>
                <h3 class="n1">Thông tin cơ bản</h3>
                <div class="group_listing_input">
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">Email:</label>
                        </div>
                        <input name="email" type="text" value="<?php echo $this->escape($this->user['email']); ?>" class="title_text_input" />
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">Password (chỉ điền nếu muốn đổi mật khẩu):</label>
                        </div>
                        <input name="password" type="text" value="" class="title_text_input" />
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">Họ tên:</label>
                        </div>
                        <input name="fullname" type="text" value="<?php echo $this->escape($this->user['fullname']); ?>" class="title_text_input" />
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">Giới tính:</label>
                        </div>
                        <select class="medium_text_input" name="gender" id="gender">
                            <option value="">---</option>
                            <option value="male"<?php echo $this->user['gender'] ? ' selected="selected" ' : '';?>>Nam</option>
                            <option value="female"<?php echo !$this->user['gender'] ? ' selected="selected" ' : '';?>>Nữ</option>
                            <option value="other"<?php echo !$this->user['gender'] ? ' selected="selected" ' : '';?>>Khác</option>
                        </select>
                    </div>

                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">Ngày sinh:</label>
                        </div>
                        <input type="text" class="text" name="birth_day" style="width:35px" value="<?php echo $this->birthday['day']; ?>" placeholder="Ngày"/>
                        <input type="text" class="text" name="birth_month" style="width:35px" value="<?php echo $this->birthday['month']; ?>" placeholder="Tháng" />
                        <input type="text" class="text" name="birth_year" style="width:98px" value="<?php echo $this->birthday['year']; ?>" placeholder="Năm" />
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">Đến từ:</label>
                        </div>
                        <input name="location" type="text" value="<?php echo $this->escape($this->user['location']); ?>" class="title_text_input" />
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">Website:</label>
                        </div>
                        <input name="website" type="text" value="<?php echo $this->escape($this->user['website']); ?>" class="title_text_input" />
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">Trạng thái:</label>
                        </div>
                        <select class="medium_text_input" name="status" id="status">
                            <option value="1"<?php echo $this->user['status'] ? ' selected="selected" ' : '';?>>Hoạt động</option>
                            <option value="0"<?php echo !$this->user['status'] ? ' selected="selected" ' : '';?>>Khóa tài khoản</option>
                        </select>
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">Tự động duyệt bài mới:</label>
                        </div>
                        <select class="medium_text_input" name="approved_new_post" id="status">
                            <option value="1"<?php echo $this->user['approved_new_post'] ? ' selected="selected" ' : '';?>>Có</option>
                            <option value="0"<?php echo !$this->user['approved_new_post'] ? ' selected="selected" ' : '';?>>Không</option>
                        </select>
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">Tự động đưa bài mới ra trang chủ:</label>
                        </div>
                        <select class="medium_text_input" name="new_post_to_home" id="status">
                            <option value="1"<?php echo $this->user['new_post_to_home'] ? ' selected="selected" ' : '';?>>Có</option>
                            <option value="0"<?php echo !$this->user['new_post_to_home'] ? ' selected="selected" ' : '';?>>Không</option>
                        </select>
                    </div>
                    <div class="button_listing_input">
                        <div class="post_label_container"></div>
                        <input id="btn_submit" type="submit" class="button_update" value="" name="btn_submit" />
                    </div>
                </div>
                </form>
                <div class="line clear"></div>
                <h3 class="n2">Thống kê</h3>
                <div class="group_listing_input stats">
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="statsLabel">Xếp hạng:</label>
                        </div>
                        <div class="result"><strong><?php echo $this->user['rank'];?></strong></div>
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="statsLabel">Tổng số Post:</label>
                        </div>
                        <div class="result"><strong><?php echo $this->user['posts'];?></strong></div>
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="statsLabel">Tổng sổ lượt view được xem:</label>
                        </div>
                        <div class="result"><strong><?php echo $this->user['yourviewed'];?></strong></div>
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="statsLabel">Tổng số lượt xem các trang:</label>
                        </div>
                        <div class="result"><strong><?php echo $this->user['youviewed'];?></strong></div>
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="statsLabel">Tổng số lượt xem trang profile:</label>
                        </div>
                        <div class="result"><strong><?php echo $this->user['profileviews'];?></strong></div>
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="statsLabel">Tổng số lượt Like trang Profile:</label>
                        </div>
                        <div class="result"><strong><?php echo $this->user['like_count'];?></strong></div>
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="statsLabel">Tổng số lượt Comment trang Profile:</label>
                        </div>
                        <div class="result"><strong><?php echo $this->user['comment_count'];?></strong></div>
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="statsLabel">Số thành viên đã follow:</label>
                        </div>
                        <div class="result"><strong><?php echo $this->user['follow_number'];?></strong></div>
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="statsLabel">Số thành viên đã follow profile:</label>
                        </div>
                        <div class="result"><strong><?php echo $this->user['followed_number'];?></strong></div>
                    </div>
                </div>
        </div>
    </div>
</div>