<?php
$params = $this->params;
?>
<div id="content">
    <div class="breadcrumb clearfix">
        <div class="title k2">Danh sách thành viên</div>
    </div>
    <form id="frm" name="frm" method="get" action="<?php echo $this->url(array('action' => 'index', 'controller' => 'user', 'module' => 'adm'), null, true); ?>">
        <ul class="filter clearfix">
            <li class="expand">
                <label>Email</label>
                <input id="story" name="email" value="<?php echo isset($params['email']) ? $params['email'] : ''; ?>"
                                                           class="large" type="text" />
            </li>
            <li class="expand"><label>Hiển thị</label> <select id="status" name="status" class="cat">
                    <option value="-1">Tất cả</option>
                    <option value="1" class="second" <?php echo (isset($params['status']) && $params['status'] == 1) ? 'selected="selected"' : ''; ?>>Có</option>
                    <option value="0" class="second" <?php echo (isset($params['status']) && $params['status'] == 0) ? 'selected="selected"' : ''; ?>>Không</option>
                </select>
            </li>
            <li class="expand"><label>Ngày tham gia (từ)</label> <select
                    id="created_date_day_from" name="created_date_day_from" class="dd">
                    <option value="">Ngày</option>
                    <?php for ($i = 1; $i < 32; $i++): ?>
                        <option value="<?php echo $i; ?>"
                                <?php echo ($i == (int) $this->defaultData['created_date_day_from']) ? 'selected="selected"' : ''; ?>>
                                    <?php echo $i; ?>
                        </option>
                    <?php endfor; ?>
                </select> <select id="created_date_month_from"
                                  name="created_date_month_from" class="mm">
                    <option value="">Tháng</option>
                    <?php for ($i = 1; $i < 13; $i++): ?>
                        <option value="<?php echo $i; ?>"
                                <?php echo ($i == (int) $this->defaultData['created_date_month_from']) ? 'selected="selected"' : ''; ?>>
                                    <?php echo $i; ?>
                        </option>
                    <?php endfor; ?>
                </select> <select id="created_date_year_from"
                                  name="created_date_year_from" class="yyyy">
                    <option value="">Năm</option>
                    <?php for ($i = 2010; $i < 2050; $i++): ?>
                        <option value="<?php echo $i; ?>"
                                <?php echo ($i == (int) $this->defaultData['created_date_year_from']) ? 'selected="selected"' : ''; ?>>
                                    <?php echo $i; ?>
                        </option>
                    <?php endfor; ?>
                </select>
            </li>
            <li class="expand"><label>Ngày tham gia (đến)</label> <select
                    id="created_date_day_to" name="created_date_day_to" class="dd">
                    <option value="">Ngày</option>
                    <?php for ($i = 1; $i < 32; $i++): ?>
                        <option value="<?php echo $i; ?>"
                                <?php echo ($i == (int) $this->defaultData['created_date_day_to']) ? 'selected="selected"' : ''; ?>>
                                    <?php echo $i; ?>
                        </option>
                    <?php endfor; ?>
                </select> <select id="created_date_month_to"
                                  name="created_date_month_to" class="mm">
                    <option value="">Tháng</option>
                    <?php for ($i = 1; $i < 13; $i++): ?>
                        <option value="<?php echo $i; ?>"
                                <?php echo ($i == (int) $this->defaultData['created_date_month_to']) ? 'selected="selected"' : ''; ?>>
                                    <?php echo $i; ?>
                        </option>
                    <?php endfor; ?>
                </select> <select id="created_date_year_to"
                                  name="created_date_year_to" class="yyyy">
                    <option value="">Năm</option>
                    <?php for ($i = 2010; $i < 2050; $i++): ?>
                        <option value="<?php echo $i; ?>"
                                <?php echo ($i == (int) $this->defaultData['created_date_year_to']) ? 'selected="selected"' : ''; ?>>
                                    <?php echo $i; ?>
                        </option>
                    <?php endfor; ?>
                </select>
            </li>
            <li class="expand clear">
                <label>UserID</label>
                <input id="user_id" name="user_id" value="<?php echo isset($params['user_id']) ? $params['user_id'] : ''; ?>"
                       class="large" type="text" />
            </li>
            <li class="clear"><input id="submit" name="submit" value="" class="button_search" type="submit" />
            </li>
        </ul>
    </form>
    <div class="clear"></div>
    <?php if (!isset($params['user_id'])) echo $this->paging; ?>
    <div class="table_member">
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tbody>
                <tr>
                    <td align="center" width="1%" class="secondRow"><input id="checkAll" type="checkbox" value=""></td>
                    <td width="5%" class="secondRow">ID</td>
                    <td width="20%" class="secondRow">Email</td>
                    <td width="7%" class="secondRow">Avatar</td>
                    <td width="10%" class="secondRow">Họ tên</td>
                    <td width="5%" class="secondRow">Trạng thái</td>
                    <td width="11%" class="secondRow">Ngày tham gia</td>
                    <td width="11%" class="secondRow">Last login</td>
                    <td width="8%" class="secondRow">Chức năng</td>
                </tr>
                <?php if (!empty($this->users)): ?>
                    <?php foreach ($this->users as $user): ?>
                        <tr>
                            <td align="center" class="ctn"><input type="checkbox"
                                                                  value="<?php echo $user['user_id']; ?>" name="user_id"></td>
                            <td class="ctn">
                                <p class="title">
                                    <?php echo $user['user_id']; ?>
                                </p></td>
                            <td class="ctn"><p class="title">
                                    <a class="tooltip" target="_blank"
                                       href="<?php echo User::userUrl($user); ?>"><?php echo $user['email']; ?></a>
                                </p></td>
                            <td class="ctn"><a href="<?php echo User::userUrl($user); ?>" target="_blank"><img src="https://graph.facebook.com/<?php echo $user['facebookid'];?>/picture?width=80&amp;height=80" width="50"/></a></td>
                            <td class="ctn"><?php echo $user['fullname']; ?></td>
                            <td class="ctn"><?php echo $user['status'] == 1 ? 'Hoạt động' : 'Khóa'; ?></td>
                            <td class="ctn"><?php echo date('H:i d/m/Y', $user['addtime']); ?></td>
                            <td class="ctn"><?php echo date('H:i d/m/Y', $user['lastlogin']); ?></td>
                            <td class="ctn">
                                <?php if (Role::isAllowed(Permission::USER_EDIT)): ?>
                                    <a title="Sửa thông tin thành viên" class="action" href="<?php echo $this->url(array('action' => 'edit', 'controller' => 'user', 'module' => 'adm', 'user_id' => $user['user_id']), null, true); ?>"><img src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/icon_edit.jpg" alt="Sửa thông tin thành viên" /></a>
                                <?php endif; ?>
                                <?php if (Role::isAllowed(Permission::USER_DELETE)): ?>
                                    <?php if($user['status'] ==0):?>
                                        <a title="Mở lại tài khoản" class="action" onclick="return confirm('Bạn có chắc là mở lại tài khoản này ?')" href="<?php echo $this->url(array('action' => 'lock', 'controller' => 'user', 'module' => 'adm', 'user_id' => $user['user_id'],'status'=>1), null, true); ?>">
                                            <img src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/icon_del.jpg" alt="Mở lại tài khoản" />
                                        </a>
                                    <?php else:?>
                                        <a title="Khóa tài khoản" class="action" onclick="return confirm('Bạn có chắc là khóa tài khoản này ?')" href="<?php echo $this->url(array('action' => 'lock', 'controller' => 'user', 'module' => 'adm', 'user_id' => $user['user_id'],'status'=>0), null, true); ?>">
                                            <img src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/icon_approve.jpg" alt="Khóa tài khoản" />
                                        </a>
                                    <?php endif;?>

                                <?php endif; ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                <?php else: ?>
                    <tr>
                        <td class="ctn nonSearch" colspan="9">Không tìm thấy kết quả phù hợp theo yêu cầu của bạn.</td>
                    </tr>
                <?php endif; ?>
            </tbody>
        </table>
    </div>
    <?php  if (!isset($params['user_id'])) echo $this->paging; ?>
</div>