<div class="profileContainer">
    <div id="leftCol">
        <?php echo $this->render('member/navbar.phtml', $this); ?>
        <div class="tabContent">
            <div class="followingList">
                <div class="userContainer">
                    <?php if (!empty($this->list)) : ?>
                        <?php foreach ($this->list as $user) : ?>
                            <div class="user" id="followshow_<?php echo $user['following_id']; ?>">
                                <div class="avatar fl-l">
                                    <a href="<?php echo User::userUrl($user); ?>">
                                        <img
                                            src="https://graph.facebook.com/<?php echo $user['facebookid']; ?>/picture?type=square"
                                            alt="<?php echo $user['fullname']; ?>'s avatar">
                                    </a>
                                </div>
                                <div class="fl-l">
                                    <a class="name"
                                       href="<?php echo User::userUrl($user); ?>"><?php echo $user['fullname']; ?></a>
                                    <br>

                                    <div class="smallInfo">Bài: <?php echo number_format($user['posts']); ?>,
                                        Like: <?php echo number_format($user['like_count']); ?></div>
                                    <div class="smallInfo">Hạng: <?php echo number_format($user['rank']); ?></div>
                                </div>
                                <div class="fl-r smallInfo" style="margin: 3px 5px 3px">
                                    <?php echo number_format($user['followed_number']); ?> người hóng
                                </div>
                                <div style="clear: right"></div>
                                <div class="fl-r" style="">
                                    <?php if (LOGIN_UID > 0) : ?>

                                        <?php if ($user['status_follow'] == 3) : ?>
                                            <span class="follow-button-homewho followinghomewho"
                                                  data-id="<?php echo $user['following_id']; ?>"
                                                  data-followed="<?php echo $user['follower_id']; ?>" data-op="remove"
                                                  title="Nhấn để hóng <?php echo $user['fullname']; ?>"><span
                                                    class="follow-icon"></span>Đang Hóng</span>
                                        <?php endif; ?>

                                        <?php if ($user['status_follow'] == 4) : ?>
                                            <span class="follow-button-homewho not-follow-homewho"
                                                  data-id="<?php echo $user['following_id']; ?>"
                                                  data-followed="<?php echo $user['follower_id']; ?>" data-op="add"
                                                  title="Nhấn để hóng <?php echo $user['fullname']; ?>"><span
                                                    class="follow-icon"></span>Hóng</span>
                                        <?php endif; ?>
                                    <?php else : ?>
                                        <span class="follow-button not-follow not-login"
                                              data-id="<?php echo $user['following_id']; ?>" data-op="remove"
                                              data-followed="<?php echo $user['followed_id']; ?>"
                                              title="Nhấn để hóng"><span class="follow-icon"></span>Hóng</span>
                                    <?php endif; ?>

                                </div>
                            </div>
                        <?php endforeach; ?>
                    <?php else : ?>
                        <div class="alert-box box-notice">Thành viên này chưa có ai Hóng cả</div>
                    <?php endif; ?>
                    <div class="clear"></div>
                </div>
            </div>
            <div id="listEnd"></div>
        </div>
        <div class="clear"></div>
        <?php echo $this->render('partials/footer.phtml', $this); ?>
        <div id="loginIsRequired" class="modalDialog" title="Bạn có biết là...">
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>

            <p style="margin-left: 25px">Chức năng này chỉ dành cho thành viên của Hay Nhức Nhói. Vui lòng Đăng nhập để
                sử dụng, và khám phá nhiều điều thú vị hơn nữa.<br><br>
                <span style="color: #6F6F6F">Tài khoản của bạn sẽ được tạo ở lần đăng nhập đầu tiên mà không cần đăng ký :)</span>
            </p>
        </div>
    </div>
    <div id="rightCol">
        <div class="sidebar">
            <?php echo $this->render('member/stats.phtml', $this); ?>
        </div>
    </div>
</div>
<?php echo $this->render('member/scripts.phtml', $this); ?>