<div class="userInfo">
    <div class="avatar">
        <img class="roundedAvatar"
             src="https://graph.facebook.com/<?php echo $this->profile['facebookid']; ?>/picture?height=100&type=normal&width=100"
             alt="<?php echo $this->profile['fullname']; ?>"/>
    </div>
    <div class="rightInfo">
        <div class="name"><?php echo $this->profile['fullname']; ?></div>
        <div class="point">Hiện đang đạt <strong><?php echo $this->profile['like_point'] ?></strong> điểm, xếp hạng
            <strong><?php echo number_format($this->profile['rank']); ?></strong> tại Hay Nhức Nhói.
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="tabBar">
    <div class="tabBlock">
        <div class="tab<?php echo $this->type == 'profile' ? ' active' : ''; ?>"><a
                href="<?php echo User::userUrl($this->profile); ?>">Thông tin</a></div>
        <div class="tab<?php echo $this->type == 'posts' ? ' active' : ''; ?>"><a
                href="<?php echo User::userUrl($this->profile); ?>/posts">Đã đăng</a></div>
        <div class="tab<?php echo $this->type == 'following' ? ' active' : ''; ?>"><a
                href="<?php echo User::userUrl($this->profile); ?>/following">Hóng ai</a></div>
        <div class="tab<?php echo $this->type == 'follower' ? ' active' : ''; ?>"><a
                href="<?php echo User::userUrl($this->profile); ?>/follower">Ai hóng</a></div>
    </div>
</div>