<div class="profileContainer">
    <div id="leftCol">
        <?php echo $this->render('member/navbar.phtml', $this); ?>
        <div class="tabContent">
            <?php if (!empty($this->posts)): ?>
                <?php foreach ($this->posts as $post): ?>
                    <div class="postWrap" id="post-<?php echo $post['post_id']; ?>">
                        <div class="photoWrap">
                            <a href="<?php echo Post::postUrl($post); ?>" target="_blank">
                                <?php if ($post['is_photo'] == 0): ?>
                                    <div class="photo"
                                         style="background: url(<?php echo My_Zend_Globals::getThumbImageVideo($post['picture']); ?>) center center / cover no-repeat"></div>
                                <?php else: ?>
                                    <div class="photo"
                                         style="background: url(<?php echo My_Zend_Globals::getThumbImage($post['picture'], 'thumb1'); ?>) center center / cover no-repeat"></div>
                                <?php endif; ?>
                            </a>
                            <a href="<?php echo Post::postUrl($post); ?>"
                               target="_blank"><?php if (!$post['is_photo']): ?>
                                    <div class="smallVideoIndicator"></div><?php endif; ?></a>

                            <div class="stats">
                                <span class="icon view"></span><?php echo $post['number_of_view']; ?>
                                <span class="icon like"></span><?php echo $post['number_of_like']; ?>
                                <span class="icon comment"></span><?php echo $post['number_of_comment']; ?>
                            </div>
                        </div>
                        <div class="info">
                            <a href="<?php echo Post::postUrl($post); ?>" target="_blank"
                               title="<?php echo $post['story']; ?>"><?php echo My_Zend_Globals::cutString($post['story'], 0, 50); ?></a>
                        </div>
                    </div>
                <?php endforeach; ?>
            <?php else: ?>
                <div class="alert-box box-notice">Thành viên này chưa đăng bài nào lên HayNhucNhoi</div>
            <?php endif; ?>
            <div class="clear"></div>
            <div id="listEnd"></div>
            <?php echo $this->paging; ?>
        </div>
        <div class="clear"></div>
        <?php echo $this->render('partials/footer.phtml', $this); ?>
        <div id="loginIsRequired" class="modalDialog" title="Bạn có biết là...">
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>

            <p style="margin-left: 25px">Chức năng này chỉ dành cho thành viên của Hay Nhức Nhói. Vui lòng Đăng nhập để
                sử dụng, và khám phá nhiều điều thú vị hơn nữa.<br/><br/>
                <span style="color: #6F6F6F">Tài khoản của bạn sẽ được tạo ở lần đăng nhập đầu tiên mà không cần đăng ký :)</span>
            </p>
        </div>
    </div>
    <div id="rightCol">
        <div class="sidebar">
            <?php echo $this->render('member/stats.phtml', $this); ?>
        </div>
    </div>
</div>
<?php echo $this->render('member/scripts.phtml', $this); ?>
