<div class="profileContainer">
    <div id="leftCol">
        <?php echo $this->render('member/navbar.phtml', $this); ?>
        <div class="tabContent">
            <div class="generalInfo">
                <div class="info">
                    <div class="leftCol">
                        <div class="field">
                            <i class="fa fa-calendar fa-fw"></i>&nbsp;<span class="label">Tham gia từ: </span>
                            <span class="label"><?php echo date('d/m/Y', $this->profile['addtime']); ?></span>
                        </div>
                        <div class="field">
                            <i class="fa fa-map-marker fa-fw"></i>&nbsp;<span class="label">Đến từ: </span>
                            <span class="value"><?php echo $this->profile['location']; ?></span>
                        </div>
                    </div>

                    <div class="rightCol">
                        <div class="field">
                            <i class="fa fa-users fa-fw"></i>&nbsp;<span class="label">Giới tính: </span>
                            <span class="value">
                                <?php
                                $gender = $this->profile['gender'] ? $this->profile['gender'] : 'unspecified';

                                if ($gender == 'male')
                                    echo 'Nam';
                                else if ($gender == 'female')
                                    echo 'Nữ';
                                else
                                    echo 'Khác';
                                ?>
                            </span>
                        </div>
                        <div class="field">
                            <i class="fa fa-link fa-fw"></i>&nbsp;<span class="label">Website:</span>
                            <?php if (!empty($this->profile['website'])):
                                $pos = strpos($this->profile['website'], 'http://');
                                $httos = strpos($this->profile['website'], 'https://');
                                if ($pos !== false) {
                                    $url = $this->profile['website'];
                                } else if ($httos !== false) {
                                    $url = $this->profile['website'];
                                } else {
                                    $url = 'http://' . $this->profile['website'];
                                }
                                ?>
                                <a href="<?php echo $url; ?>" target="_blank" rel="nofollow"><span
                                        class="icon homepage"></span></a>
                            <?php endif; ?>
                            <a href="http://www.facebook.com/<?php echo $this->profile['facebookid']; ?>"
                               target="_blank"><i class="fa fa-facebook-square"></i></a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="commentBox">
                    <h1 class="title">Đã ghé qua rồi thì để lại cho tui vài dòng đi</h1>
                    <fb:comments href="<?php echo User::userUrl($this->profile, true); ?>" width="710" num_posts="10"
                                 order_by="reverse_time"></fb:comments>
                </div>
            </div>
            <div id="listEnd"></div>
        </div>
        <div class="clear"></div>
        <?php echo $this->render('partials/footer.phtml', $this); ?>
        <div id="loginIsRequired" class="modalDialog" title="Bạn có biết là...">
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>

            <p style="margin-left: 25px">Chức năng này chỉ dành cho thành viên của Hay Nhức Nhói. Vui lòng Đăng nhập để
                sử dụng, và khám phá nhiều điều thú vị hơn nữa.<br/><br/>
                <span style="color: #6F6F6F">Tài khoản của bạn sẽ được tạo ở lần đăng nhập đầu tiên mà không cần đăng ký :)</span>
            </p>
        </div>
    </div>
    <div id="rightCol">
        <div class="sidebar">
            <?php echo $this->render('member/stats.phtml', $this); ?>
        </div>
    </div>
</div>
<?php echo $this->render('member/scripts.phtml', $this); ?>