<script type="text/javascript">
    Haynn.userProfile.init("<?php echo $this->profile['user_id'];?>", <?php echo LOGIN_UID;?>, false);

var $Core = {};
var $Behavior = {};

$Behavior.NotLoginHome = function()
{
  $(document).on('click',".not-login",function(event)
  {
    var url  ='<?php echo $this->currURL;?>';
    displayLoginIsRequiredDialog(url);
  });
}
$Behavior.NotFollowHome = function()
{
   $(document).on('click',".followinghome",function(event)
   {
   		 event.preventDefault();
      	var followed 	 = $(this).data('followed');
      	var op 			   = $(this).data("op");
      	var id			   = $(this).data('id');
      	var dataString ='op='+op+'&followed='+followed+'&id='+id;
        $(this).find(".follow-icon").addClass("loading");
      	$("#cancelConfirmation").dialog({
            resizable: false,
            modal: true,
            height: 130,
            buttons: {
                "Chắc chắn": function() {
                    $.ajax({
                    	type:'POST',
                    	url:'',
                    	dataType:'json',
                    	data:dataString,
                    	cache:false,
                    	success:function(msg){
                    		if(msg.errors==0){
                    			 if(msg.showhide==1) 
                           { 
                            $('#followshow_'+id).find(".follow-button-home").html("<span class='follow-icon'></span>Hóng");
                            $('#followshow_'+id).find(".follow-button-home").attr('title','Nhấn để hóng');
                            $('#followshow_'+id).find(".follow-button-home").removeClass("followinghome").addClass("not-follow-home");
                            $('#followshow_'+id).find(".follow-icon").removeClass("loading");
                            $("#cancelConfirmation").dialog("close"); 
                          } else {
                            $('#followshow_'+id).hide();
                            $('#followshow_'+id).find(".follow-icon").removeClass("loading");
                            $("#cancelConfirmation").dialog("close"); 
                          }
                    		}else
                    		{
                          $('#followshow_'+id).find(".follow-icon").removeClass("loading");
                    			$("#cancelConfirmation").dialog("close");
                    		}
                    	}
                    });
                },
                "Nhấn nhầm thôi": function() {
                  $('#followshow_'+id).find(".follow-icon").removeClass("loading");
                    $(this).dialog("close");
                },
            }
        });

   });
}


$Behavior.NotFollowHomeWho = function()
{
   $(document).on('click',".followinghomewho",function(event)
   {
       event.preventDefault();
        var followed   = $(this).data('followed');
        var op         = $(this).data("op");
        var id         = $(this).data('id')
        var dataString ='op='+op+'&followed='+followed+'&id='+id;
        $(this).find(".follow-icon").addClass("loading");
        $("#cancelConfirmation").dialog({
            resizable: false,
            modal: true,
            height: 130,
            buttons: {
                "Chắc chắn": function() {
                    $.ajax({
                      type:'POST',
                      url:'',
                      dataType:'json',
                      data:dataString,
                      cache:false,
                      success:function(msg){
                        if(msg.errors==0){
                           if(msg.showhide==1) 
                           {   
                            $('#followshow_'+id).find(".follow-button-homewho").html("<span class='follow-icon'></span>Hóng");
                            $('#followshow_'+id).find(".follow-button-homewho").attr('title','Nhấn để hóng');
                            $('#followshow_'+id).find(".follow-button-homewho").removeClass("followinghomewho").addClass("not-follow-homewho");
                            $("#cancelConfirmation").dialog("close");
                            $('#followshow_'+id).find(".follow-icon").removeClass("loading"); 
                          } else {
                            $('#followshow_'+id).hide();
                            $('#followshow_'+id).find(".follow-icon").removeClass("loading");
                            $("#cancelConfirmation").dialog("close"); 
                          }
                        }else
                        {
                          $('#followshow_'+id).find(".follow-icon").removeClass("loading");
                          $("#cancelConfirmation").dialog("close");
                        }
                      }
                    });
                },
                "Nhấn nhầm thôi": function() {
                  $('#followshow_'+id).find(".follow-icon").removeClass("loading");
                    $(this).dialog("close");
                },
            }
        });

   });
}


$Behavior.FollowHome = function()
{
   $(document).on('click',".not-follow-home",function(event)
   {
   		event.preventDefault();
        var followed   = $(this).data('followed');
        var op         = $(this).data("op");
        var id         = $(this).data('id');
        var dataString ='op='+op+'&followed='+followed+'&id='+id;
        $(this).find(".follow-icon").addClass("loading");
      	$.ajax({
          type:'POST',
          url:'',
          data:dataString,
          dataType:'json',
          cache:false,
          success:function (msg) {
            if(msg.errors==0)
            {
              $('#followshow_'+id).find(".follow-icon").removeClass("loading");
              $('#followshow_'+id).find(".follow-button-home").html("<span class='follow-icon'></span>Đang Hóng");
              $('#followshow_'+id).find(".follow-button-home").attr('title','Nhấp vào không hóng nữa');
              $('#followshow_'+id).find(".follow-button-home").removeClass("not-follow-home").addClass("followinghome");
            }
          }
        });


   });
}

$Behavior.FollowHomeWho = function()
{
   $(document).on('click',".not-follow-homewho",function(event)
   {
      event.preventDefault();
        var followed   = $(this).data('followed');
        var op         = $(this).data("op");
        var id         = $(this).data('id');
        var dataString ='op='+op+'&followed='+followed+'&id='+id;
        $(this).find(".follow-icon").addClass("loading");
        $.ajax({
          type:'POST',
          url:'',
          data:dataString,
          dataType:'json',
          cache:false,
          success:function (msg) {
            if(msg.errors==0)
            {
              $('#followshow_'+id).find(".follow-icon").removeClass("loading");
              $('#followshow_'+id).find(".follow-button-homewho").html("<span class='follow-icon'></span>Đang Hóng");
              $('#followshow_'+id).find(".follow-button-homewho").attr('title','Nhấp vào không hóng nữa');
              $('#followshow_'+id).find(".follow-button-homewho").removeClass("not-follow-homewho").addClass("followinghomewho");
            }
          }
        });


   });
}

$Core.init = function()
{
  
   jQuery(document).ready(function( $ )
   {
      $.each($Behavior, function()
      {
         this(this);
      });

   });

}
$Core.init();
</script>
<div id="cancelConfirmation" class="modalDialog" title="Xác nhận phát">
    <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
    <span id="followmsg">Có chắn chắn là bỏ không?</span>
</div>

<div id="loginIsRequired" class="modalDialog" title="Bạn có biết là...">
    <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
    <p style="margin-left: 25px">Chức năng này chỉ dành cho thành viên của Hay Nhức Nhói. Vui lòng Đăng nhập để sử dụng, và khám phá nhiều điều thú vị hơn nữa.<br/><br/>
        <span style="color: #6F6F6F">Tài khoản của bạn sẽ được tạo ở lần đăng nhập đầu tiên mà không cần đăng ký :)</span></p>
</div>
