<div class="block statsBlock">
    <div class="whiteBackground">
        <h4>Những điều ít người biết về <br/><span class="name"><?php echo $this->profile['fullname'];?></span></h4>
        <ul>
            <li>Số bài đã đăng: <span class="number"><?php echo number_format($this->profile['posts']);?></span></li>
            <li>Được like: <span class="number"><?php echo number_format($this->profile['like_count']);?></span> lần</li>
            <li>Được bình luận: <span class="number"><?php echo number_format($this->profile['comment_count']);?></span> lần</li>
            <li>Được xem: <span class="number"><?php echo number_format($this->profile['yourviewed']);?></span> lần</li>
            <li>Được <span class="number"><?php echo number_format($this->profile['followed_number']);?></span> người hóng</li>
            <li>Đang hóng <span class="number"><?php echo number_format($this->profile['follow_number']);?></span> người</li>
        </ul>
    </div>
</div>