<div id="header">
    <h1 class="logo"><a href="<?php echo BASE_URL; ?>" target="_blank">Hay Nhuc Nhoi</a></h1>
    <div class="box_welcome">Chào <strong><?php echo LOGIN_UNAME; ?></strong> (<a href="<?php echo $this->url(array('action' => 'changepass', 'controller' => 'admin'), null, true); ?>">Đổi mật khẩu</a>), <a href="<?php echo $this->url(array('action' => 'logout', 'controller' => 'index'), null, true); ?>">Thoát</a></div>
    <div id="menu">
        <ul class="topnav">
            <li class="active"><a href="<?php echo $this->url(array('action' => 'index', 'controller' => 'index', 'module' => 'adm'), null, true); ?>">Dashboard</a></li>
            <li><a href="javascript:void(0);">Post Management</a>
                <ul class="subnav">
                    <li><a href="<?php echo $this->url(array('action' => 'index', 'controller' => 'post', 'module' => 'adm'), null, true); ?>">Posts</a></li>
                    <?php if(Role::isAllowed(Permission::CATEGORY_DELETE)):?>
                    <li><a href="<?php echo $this->url(array('action' => 'index', 'controller' => 'category', 'module' => 'adm'), null, true); ?>">Categories</a></li>
                    <?php endif;?>
                    <li><a href="<?php echo $this->url(array('action' => 'index', 'controller' => 'tag', 'module' => 'adm'), null, true); ?>">Tags</a></li>
                    <li><a href="<?php echo $this->url(array('action' => 'report', 'controller' => 'post', 'module' => 'adm'), null, true); ?>">Reports</a></li>
                    <li><a href="<?php echo $this->url(array('action' => 'index', 'controller' => 'log', 'module' => 'adm'), null, true); ?>">Logs</a></li>
                </ul>
            </li>
            <?php if (SYSTEM_USER_ROLE == Role::ROLE_SUPER_ADMIN_ID): ?>
            <li><a href="javascript:void(0);">User Management</a>
                <ul class="subnav">
                    <li class="nonbg"><a href="<?php echo $this->url(array('action' => 'index', 'controller' => 'user', 'module' => 'adm'), null, true); ?>">All Users</a></li>
                </ul>
            </li>
            <?php endif; ?>

            <?php if (SYSTEM_USER_ROLE == Role::ROLE_SUPER_ADMIN_ID): ?>
            <li><a href="javascript:void(0);">Administrators</a>
                <ul class="subnav">
                    <li><a href="<?php echo $this->url(array('action' => 'list', 'controller' => 'admin', 'module' => 'adm'), null, true); ?>">All Admins</a></li>
                    <li class="nonbg"><a href="<?php echo $this->url(array('action' => 'roles', 'controller' => 'systemuser', 'module' => 'adm'), null, true); ?>">Roles</a></li>
                </ul>
            </li>
            <?php endif; ?>

             <?php if (SYSTEM_USER_ROLE == Role::ROLE_SUPER_ADMIN_ID): ?>
            <li><a href="javascript:void(0);">System Settings</a>
                <ul class="subnav">
                    <li><a href="<?php echo $this->url(array('action' => 'general', 'controller' => 'setting', 'module' => 'adm'), null, true); ?>">General</a></li>
                    <li><a href="<?php echo $this->url(array('action' => 'index', 'controller' => 'seo', 'module' => 'adm'), null, true); ?>">SEO</a></li>
                    <li><a href="<?php echo $this->url(array('action' => 'index', 'controller' => 'quote', 'module' => 'adm'), null, true); ?>">Quote</a></li>
                    <li><a href="<?php echo $this->url(array('action' => 'index', 'controller' => 'static-menu', 'module' => 'adm'), null, true); ?>">Static menu</a></li>
                    <li><a href="<?php echo $this->url(array('action' => 'index', 'controller' => 'scan-video', 'module' => 'adm'), null, true); ?>">Scan video</a></li>
                </ul>
            </li>
            <?php endif; ?>

            <?php if (SYSTEM_USER_ROLE == Role::ROLE_SUPER_ADMIN_ID): ?>
                <li><a href="javascript:void(0);">Advertisements</a>
                    <ul class="subnav">
                        <li><a href="<?php echo $this->url(array('action' => 'index', 'controller' => 'postsadvertisment', 'module' => 'adm'), null, true); ?>">Vechai</a></li>
                    </ul>
                </li>
            <?php endif; ?>

            <?php if (SYSTEM_USER_ROLE == Role::ROLE_SUPER_ADMIN_ID): ?>
                <li><a href="javascript:void(0);">Blog</a>
                    <ul class="subnav">
                        <li><a href="<?php echo $this->url(array('action' => 'index-posts', 'controller' => 'blog', 'module' => 'adm'), null, true); ?>">Posts</a></li>
                        <li><a href="<?php echo $this->url(array('action' => 'index-categories', 'controller' => 'blog', 'module' => 'adm'), null, true); ?>">Category</a></li>
                    </ul>
                </li>
            <?php endif; ?>

        </ul>
    </div>
</div>