<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="robots" content="noindex, nofollow" />	
    <?php echo $this->headMeta(); ?>
    <?php echo $this->headTitle(); ?>
    <link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->layout()->_general['server']['img']['path'];?>/favicon.ico" />
    <?php
    echo $this->headLink()    	
		->prependStylesheet($this->layout()->_general['server']['css']['path'].'/backend.css?v=3')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/boxy.css')
    	->appendStylesheet($this->layout()->_general['server']['css']['path'].'/boxy.classic.css');

	echo $this->headScript()
    	->prependFile($this->layout()->_general['server']['js']['path'].'/jquery.js')
    	->appendFile($this->layout()->_general['server']['js']['path'].'/jquery-migrate.js')
    	->appendFile($this->layout()->_general['server']['js']['path'].'/jquery.plus.js')
    	->appendFile($this->layout()->_general['server']['js']['path'].'/jquery.boxy.js')
    	->appendFile($this->layout()->_general['server']['js']['path'].'/jquery.treeview.js')
    	->appendFile($this->layout()->_general['server']['js']['path'].'/myboxy.1.0.4.js')
    	->appendFile($this->layout()->_general['server']['js']['path'].'/utility.js')
    	->appendFile($this->layout()->_general['server']['js']['path'].'/jquery.lazyload.mini.js')
        ->appendFile(BASE_URL . '/cdn/a/ckeditor/ckeditor.js')
        ->appendFile(BASE_URL . '/cdn/a/ckeditor/ckfinder/ckfinder.js')
        ->appendFile(BASE_URL . '/cdn/a/ckeditor/samples/js/sample.js');
    ?>
    <script type="text/javascript">
        var Settings = {domain: "<?php echo DOMAIN; ?>", baseurl: "<?php echo BASE_URL; ?>", imgurl: "<?php echo $this->layout()->_general['server']['img']['path']; ?>", jsurl: "<?php echo $this->layout()->_general['server']['js']['path']; ?>",admin:"<?php echo ADM_FOLDER;?>"};

    	$(document).ready(function(){
    		$("ul.subnav").parent().append("<span></span>");
    		$("ul.topnav li span").hover(function() {
    			$(this).parent().find("ul.subnav").slideDown('fast').show();
    			$(this).parent().hover(function() {
    			}, function(){
    				$(this).parent().find("ul.subnav").slideUp('fast');
    			});
    			}).hover(function() {
    				$(this).addClass("subhover");
    			}, function(){
    				$(this).removeClass("subhover");
    		});
    	});
	</script>
</head>
<body>
<div id="wrapper">	
  <!--Start Header-->
  <?php echo $this->render('header.phtml'); ?>
  <!--End Header-->
  <!--Start Content-->
  <?php echo $this->layout()->content; ?>
  <!--End Content-->  
</div>
</body>
</html>