/* Common */
body{background:#31394A;color:#333333}
.fl-l {float: left}
.fl-r {float: right}
.clear {clear: both}
.clear-l {clear: left}
.clear-r {clear: both}
.rounded {border-radius: 2px}
.roundedAvatar {border-radius: 50%}

/* Slider menu */

#sliderMenu
{
	position: absolute;
	z-index: 0;
	width: 256px;
	color: #C4CCDA;
	font-weight: bold;
	font-size: 16px;
	overflow:hidden;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .6);
}

#sliderMenu .header
{
	height: 44px;
	width: 100%;
	border-bottom: 1px solid #161B25;
	background: #424a5a;
	background: -moz-linear-gradient(top, #424a5a 0%, #242b39 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424a5a), color-stop(100%,#242b39));
	background: -webkit-linear-gradient(top, #424a5a 0%,#242b39 100%);
	background: -o-linear-gradient(top, #424a5a 0%,#242b39 100%);
	background: -ms-linear-gradient(top, #424a5a 0%,#242b39 100%);
	background: linear-gradient(to bottom, #424a5a 0%,#242b39 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424a5a', endColorstr='#242b39',GradientType=0 );	
}

#sliderMenu .header .login
{
	padding: 10px;
}

#sliderMenu .header .account
{
	padding: 5px;
}

#sliderMenu .header .account .avatar img
{
	border: 2px solid #555A6C;
}

#sliderMenu .header .account .name
{
	padding: 5px;
	padding-left: 10px;
	width: 190px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}


/* Header */
#mainContent 
{
	position: absolute;
	z-index: 10;
	left: 256px;
	background: #EDF2FF;
}

#header 
{
	width:100%;height:45px;background: #4e69a2;
	background: -moz-linear-gradient(top, #4e69a2 0%, #3b5998 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e69a2), color-stop(100%,#3b5998));
	background: -webkit-linear-gradient(top, #4e69a2 0%,#3b5998 100%);
	background: -o-linear-gradient(top, #4e69a2 0%,#3b5998 100%);
	background: -ms-linear-gradient(top, #4e69a2 0%,#3b5998 100%);
	background: linear-gradient(to bottom, #4e69a2 0%,#3b5998 100%)
}
#header .left 
{

}
#header .left .logo
{
	width:100px;
	height:40px;
	padding:5px;
	overflow:hidden
}
#header .logo img
{
	padding-top:0
}
#header .middle {
	margin-left: auto;
	margin-right: auto;
	width: 200px
}
#header .middle .notiIcon
{
	background: url("../../images/mobile-sprites.png") no-repeat;
	width: 30px;
	height: 30px;
	padding: 5px;
	display: inline-block;
}
#header .middle .follow
{
	background-position: 10px 10px 
}
#header .middle .message
{
	background-position: -26px 10px
}
#header .middle .other 
{
	background-position: -62px 10px
}
#header .right {}