<?php $params = $this->params; ?>
<div id="content">
	<div class="breadcrumb clearfix">
		<div class="title k2">Log</div>
	</div>
	<form action="" method="post" name="frm" id="frm">
		<ul class="filter clearfix">
			<li class="expand">
				<label for="post_id">Post ID: </label>
				<input type="text" name="post_id" id="post_id" value="<?php echo isset($params['post_id']) ? $params['post_id'] : ''; ?>"/>
			</li>
			<li class="expand">
				<label for="user_id">User ID: </label>
				<input type="text" name="user_id" id="user_id" value="<?php echo isset($params['user_id']) ? $params['user_id'] : ''; ?>"/>
			</li>
			<li class="expand">
				<label for="ip">IP: </label>
				<input type="text" name="ip" id="ip" value="<?php echo isset($params['ip']) ? $params['ip'] : ''; ?>"/>
			</li>
			<li class="expand">
				<label for="type">Action</label>
				<select id="type" name="type" class="cat">
					<option value="">Tất cả</option>
					<option value="like" class="second" <?php echo (isset($params['type']) && $params['type'] == 'like') ? 'selected="selected"' : ''; ?>>Like</option>
					<option value="unlike" class="second" <?php echo (isset($params['type']) && $params['type'] == 'unlike') ? 'selected="selected"' : ''; ?>>Unlike</option>
					<option value="comment" class="second" <?php echo (isset($params['type']) && $params['type'] == 'comment') ? 'selected="selected"' : ''; ?>>Comment</option>
					<option value="uncomment" class="second" <?php echo (isset($params['type']) && $params['type'] == 'uncomment') ? 'selected="selected"' : ''; ?>>Uncomment</option>
					<option value="share" class="second" <?php echo (isset($params['type']) && $params['type'] == 'share') ? 'selected="selected"' : ''; ?>>Share</option>
				</select>
			</li>
			<li class="expand">
				<label for="location">Location</label>
				<select id="location" name="location" class="cat">
					<option value="">Tất cả</option>
					<option value="index" class="second" <?php echo (isset($params['location']) && $params['location'] == 'index') ? 'selected="selected"' : ''; ?>>Home</option>
					<option value="new" class="second" <?php echo (isset($params['location']) && $params['location'] == 'new') ? 'selected="selected"' : ''; ?>>New</option>
					<option value="hot" class="second" <?php echo (isset($params['location']) && $params['location'] == 'hot') ? 'selected="selected"' : ''; ?>>Hot</option>
					<option value="detail" class="second" <?php echo (isset($params['location']) && $params['location'] == 'detail') ? 'selected="selected"' : ''; ?>>Detail</option>
				</select>
			</li>
			<li class="expand">
				<label for="platform">Platform</label>
				<select id="platform" name="platform" class="cat">
					<option value="">Tất cả</option>
					<option value="desktop" class="second" <?php echo (isset($params['platform']) && $params['platform'] == 'desktop') ? 'selected="selected"' : ''; ?>>Desktop</option>
					<option value="mobile" class="second" <?php echo (isset($params['platform']) && $params['platform'] == 'mobile') ? 'selected="selected"' : ''; ?>>Mobile</option>
				</select>
			</li>
			<li class="expand">
				<label for="limit">Limit: </label>
				<input type="text" name="limit" id="limit" value="<?php echo isset($params['limit']) ? $params['limit'] : '50'; ?>"/>
			</li>
			<li class="clear">
				<input type="submit" class="button_search" value="" name="submit" id="submit">
			</li>
		</ul>
	</form>
	<?php

	$logs = $this->logs;

	if (!empty($logs)) {
		?>
		<?php echo "Total: <strong>" . count($logs) . "</strong>" ?>
		<div class="table_member">
			<table>
				<tbody>
				<tr>
					<td class="secondRow">Time</td>
					<td class="secondRow">Action</td>
					<td class="secondRow">User ID</td>
					<td class="secondRow">Post ID</td>
					<td class="secondRow">IP</td>
					<td class="secondRow">Location</td>
					<td class="secondRow">User Agent</td>
					<td class="secondRow">Platform</td>
				</tr>
				<?php foreach ($logs as $log) : ?>
					<tr>
						<td class="ctn"><?php echo $log['time'] ?></td>
						<td class="ctn"><?php echo $log['type'] ?></td>
						<td class="ctn"><?php echo $log['user_id'] > 0 ? $log['user_id'] : 'Guest' ?></td>
						<td class="ctn"><?php echo $log['post_id'] ?></td>
						<td class="ctn"><?php echo $log['ip'] ?></td>
						<td class="ctn"><?php echo $log['location'] ?></td>
						<td class="ctn"><?php echo $log['user_agent'] ?></td>
						<td class="ctn"><?php echo $log['platform'] ?></td>
					</tr>
				<?php endforeach; ?>
				</tbody>
			</table>
		</div>
	<?php } else { ?>
		<?php echo $this->error ?>
	<?php } ?>
</div>
