<div id="popup" style="width:400px;margin:0 auto">
    <div class="title">
        <div class="l_title"></div>
        <div class="r_title"></div>
        <h2>Các quyền của <?php echo $this->escape($this->roleInfo['role_name']); ?></h2>
        <a class="close b_close"><img src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/icon_close.jpg" alt="123mua" /></a> </div>
    <form>
        <div class="wrapOption">
            <?php
            foreach ($this->permissionDetails as $parent => $sub):
            ?>
                <p style="color:#aaa;border-bottom:1px solid #ccc;margin:5px 10px 5px 4px;padding-bottom:2px"><?php echo $parent; ?></p>
            <?php foreach ($sub as $permissionId => $permissionName): ?>
                    <p class="option"><input <?php echo (in_array($permissionId, $this->permissions))?'checked="checked"':''; ?> class="nonbdr" name="permissions" type="checkbox" value="<?php echo $permissionId; ?>" id="per<?php echo $permissionId; ?>" /><label for="per<?php echo $permissionId; ?>"> <?php echo $permissionName; ?> </label></p>
            <?php endforeach; ?>
            <?php
                    endforeach;
            ?>
        </div>
    </form>
    <div class="footer">
        <div class="l_footer"></div>
        <input class="b_accept" type="button" value="Đồng ý" />
        <input class="close b_cancel" type="button" value="Bỏ qua" />
        <div class="r_footer"></div>
    </div>
</div>