<div id="popup" style="width:400px;margin:0 auto">
    <div class="title">
        <div class="l_title"></div>
        <div class="r_title"></div>
        <h2>Thêm quản trị viên</h2>
        <a class="close b_close"><img src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/icon_close.jpg" alt="123mua" /></a>
    </div>
    <div class="group_listing_input">
        <div class="listing_input">
            <div class="post_label_container">
                <label class="postLabel">Họ và tên:</label>
            </div>
            <input id="full_name" type="text" value="<?php echo $this->escape($this->user['full_name']);?>" class="wide_text_input" />
        </div>
        <div class="listing_input">
            <div class="post_label_container">
                <label class="postLabel">Giới tính:</label>
            </div>
            <select id="gender" class="post_select">
                <option value="0" <?php echo ($this->user['gender'] == 0)?'selected':'';?>>Nữ</option>
                <option value="1" <?php echo ($this->user['gender'] == 1)?'selected':'';?>>Nam</option>
            </select>
        </div>
        <div class="listing_input">
            <div class="post_label_container">
                <label class="postLabel">Cấp quản lý:</label>
            </div>
            <select id="role_id" class="post_select">
                <?php foreach ($this->roleList as $roleId => $roleName): ?>
                    <option value="<?php echo $roleId; ?>" <?php echo ($roleId == $this->user['role_id'])?'selected':'';?>><?php echo $roleName; ?></option>
                <?php endforeach; ?>
            </select>
        </div>
        <div class="listing_input">
            <div class="post_label_container">
                <label class="postLabel">Email:</label>
            </div>
            <input id="contact_email" type="text" value="<?php echo $this->user['contact_email'];?>" class="wide_text_input" />
        </div>
        <div class="listing_input">
            <div class="post_label_container">
                <label class="postLabel">Cell Phone:</label>
            </div>
            <input id="cell_phone" type="text" value="<?php echo $this->user['cell_phone'];?>" class="wide_text_input" />
        </div>
        <div class="listing_input">
            <div class="post_label_container">
                <label class="postLabel">Address:</label>
            </div>
            <textarea rows="5" cols="" id="address" style="width: 195px; height: 70px;"><?php echo $this->user['address'];?></textarea>
        </div>
    </div>
    <div class="footer clear">
        <div class="l_footer"></div>
        <input class="b_accept" type="button" value="Đồng ý" />
        <input class="close b_cancel" type="button" value="Bỏ qua" />
        <div class="r_footer"></div>
    </div>
</div>