<div id="popup" style="width:400px;margin:0 auto">
    <div class="title">
        <div class="l_title"></div>
        <div class="r_title"></div>
        <h2>Thay đổi quyền hạn</h2>
        <a class="close b_close"><img src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/icon_close.jpg" alt="123mua" /></a> </div>
    <form>
        <div class="row_field"><span class="label">Chọn quyền hạn:</span>
            <select id="sltRole" class="field" style="width:250px">
                <?php foreach ($this->roleList as $roleId => $roleName): ?>
                    <option <?php echo ($this->userRole == $roleId)?'selected="selected"':''; ?> value="<?php echo $roleId; ?>"><?php echo $roleName; ?></option>
                <?php endforeach; ?>
            </select>
        </div>
    </form>
    <div class="footer">
        <div class="l_footer"></div>
        <input class="b_accept" type="button" value="Đồng ý" />
        <input class="close b_cancel" type="button" value="Bỏ qua" />
        <div class="r_footer"></div>
    </div>
</div>