<div id="content">
    <div class="breadcrumb clearfix">
        <div class="title k1">Quản lý người dùng</div>
        <div class="addLink">
            <span class="action"><a id="addUser" class="add" title="Thêm quản trị viên" href="#">Thêm quản trị viên</a></span>
        </div>
    </div>
    <div class="paging grey">
        <div class="wrap">
            <div class="total">Có <strong><?php echo count($this->userList); ?></strong> kết quả thích hợp</div>
        </div>
    </div>
    <div class="table_member">
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tbody>
                <tr>
                    <?php //<td width="1%" class="secondRow"><input id="checkAll" type="checkbox" value="" name="upid"></td> ?>
                    <td width="7%" class="secondRow">ID</td>
                    <td width="25%" class="secondRow">Tên tài khoản</td>
                    <td width="25%" class="secondRow">Họ tên</td>
                    <td width="10%" class="secondRow">Cấp quản lý</td>
                    <td width="18%" class="secondRow">Email</td>
                    <td width="14%" class="secondRow">Chức năng</td>
                </tr>
                <?php foreach ($this->userList as $user): ?>
                <?php
                        $roleName = $this->roleList[$user['role_id']];
                ?>
                        <tr>
                    <?php //<td align="center" class="ctn"><input type="checkbox" value="" name="upid"></td> ?>
                        <td class="ctn"><?php echo $user['me_id']; ?></td>
                        <td class="ctn"><?php echo $user['username']; ?></td>
                        <td class="ctn"><?php echo $user['full_name']; ?></td>
                        <td class="ctn"><a href="#" class="role" rel="<?php echo $user['me_id']; ?>"><?php echo $roleName; ?></a></td>
                        <td class="ctn"><?php echo $user['contact_email']; ?></td>
                        <td class="ctn">
                        <?php /*
                          <a onclick='Boxy.load("popup_status.html");' class="action" title="Khóa" href="#"><img src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/icon_unlock.jpg" alt="Khóa shop" /></a>
                          <a class="action" title="Xem trước shop" href="#"><img src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/icon_view.jpg" alt="Xem trước shop" /></a>
                          <a title="Sửa shop" class="action" href="#"><img src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/icon_edit.jpg" alt="Sửa shop" /></a>
                         *
                         * */ ?>
                        <a rel="<?php echo $user['me_id']; ?>" title="Xóa user" class="action deleteuser" href="#"><img src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/icon_del.jpg" alt="Xóa user" /></a>
                        <a rel="<?php echo $user['me_id']; ?>" title="Sửa user" class="action edituser" href="#"><img src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/icon_edit.jpg" alt="Sửa user" /></a>
                    </td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(function(){

        $("a.deleteuser").click(function(){
            var meId = $(this).attr('rel');
            $(this).myBoxy (Boxy,{
                type: 'confirm',
                message: 'Bạn muốn xóa quản trị viên này không?',
                meId : meId,
                callback: function(){
                    var boxy = Boxy.get(this);
                    if (!boxy)
                    {
                        return;
                    }

                    var options = boxy.options;
                    boxy.hideAndUnload();

                    $.getJSON(baseurl+'/<?php echo ADM_FOLDER ;?>/systemuser/deletesystemuser', {
                        me_id: options.meId
                    }, function(data){
                        if (data.status == 1)
                        {
                            $(this).myBoxy (Boxy,{
                                type: 'success',
                                message: 'Xóa quản trị viên thành công!'
                            });
                            setTimeout('location.reload()', 250);
                        }
                        else
                        {
                            $(this).myBoxy (Boxy,{
                                type: 'alert',
                                message: 'Có lỗi khi xóa!'
                            });
                        }
                    });
                }
            });

        });

        $("#addUser").click(function(){
            Boxy.load(baseurl+'/<?php echo ADM_FOLDER ;?>/systemuser/adduser', {
                afterShow : function(){
                    $("#popup .b_accept").click(function(){
                        var user_name =  $('#user_name').val().trim();
                        var role_id = $("#role_id option:selected").val();
                        var full_name = $('#full_name').val().trim();
                        var gender = $("#gender option:selected").val();
                        var cell_phone = $('#cell_phone').val().trim();
                        var address = $('#address').val().trim();
                        var contact_email = $('#contact_email').val().trim();

                        if (!user_name.length)
                        {
                            alert("Vui lòng nhập tên tài khoản");
                            $("#user_name").focus();
                            return false;
                        }

                        if (!full_name.length)
                        {
                            alert("Vui lòng nhập họ tên");
                            $("#full_name").focus();
                            return false;
                        }

                        if (!contact_email.length)
                        {
                            alert("Vui lòng nhập email");
                            $("#contact_email").focus();
                            return false;
                        }
                        Boxy.get($("#popup")).hide();
                        $.post(baseurl+'/<?php echo ADM_FOLDER ;?>/systemuser/submitadduser', {
							user_name: user_name,
                        	role_id: role_id,
                            full_name: full_name,
                            contact_email: contact_email,
                            gender: gender,
                            cell_phone: cell_phone,
                            address: address
                        }, function(data){
                            if (data.status == 1)
                            {
                                $(this).myBoxy (Boxy,{
                                    type: 'success',
                                    message: 'Đã thêm quản trị viên thành công!'
                                });
                                setTimeout('location.reload()', 500);
                            }
                            else
                            {
                                $(this).myBoxy (Boxy,{
                                    type: 'alert',
                                    message: 'Có lỗi khi thêm quản trị viên!'
                                });
                            }
                        }, 'json');
                    });
                }
            });
            return false;
        });
        $("a.role").click(function(){
            var meId = $(this).attr("rel");

            Boxy.load(baseurl+'/<?php echo ADM_FOLDER ;?>/systemuser/setrole/me_id/'+meId, {
                afterShow : function(){
                    $("#popup .b_accept").click(function(){
                        var roleId = $("#sltRole option:selected").val();
                        Boxy.get($("#popup")).hide();

                        $.post(baseurl+'/<?php echo ADM_FOLDER ;?>/systemuser/submitsetrole', {
                            role_id: roleId,
                            me_id: meId
                        }, function(data){
                            if (data.status == 1)
                            {
                                $(this).myBoxy (Boxy,{
                                    type: 'success',
                                    message: 'Đã thay đổi cấp thành công!'
                                });
                                setTimeout('location.reload()', 500);
                            }
                            else
                            {
                                $(this).myBoxy (Boxy,{
                                    type: 'alert',
                                    message: 'Có lỗi khi thay đổi cấp!'
                                });
                            }
                        }, 'json');
                    });
                }
            });
            return false;
        });

        $("a.edituser").click(function(){
            var me_id = $(this).attr("rel");

            Boxy.load(baseurl+'/<?php echo ADM_FOLDER ;?>/systemuser/edituser/me_id/'+ me_id, {
                afterShow : function(){
                    $("#popup .b_accept").click(function(){
                        var role_id = $("#role_id option:selected").val();
                        var full_name = $('#full_name').val().trim();
                        var gender = $("#gender option:selected").val();
                        var cell_phone = $('#cell_phone').val().trim();
                        var address = $('#address').val().trim();
                        var contact_email = $('#contact_email').val().trim();
						if(!full_name) {
							alert('Bạn chưa nhập họ tên !');
							return false;
						}
						if(!cell_phone) {
							alert('Bạn chưa nhập số điện thoại !');
							return false;
						}
						if(!contact_email) {
							alert('Bạn chưa nhập email !');
							return false;
						}

                        Boxy.get($("#popup")).hide();
                        $.post(baseurl+'/<?php echo ADM_FOLDER ;?>/systemuser/edituser/' + me_id, {
                            role_id: role_id,
                            me_id: me_id,
                            full_name: full_name,
                            contact_email: contact_email,
                            gender: gender,
                            cell_phone: cell_phone,
                            address: address
                        }, function(data){
                            if (data.status == 1)
                            {
                                $(this).myBoxy (Boxy,{
                                    type: 'success',
                                    message: 'Đã cập nhật thành công!'
                                });
                                setTimeout('location.reload()', 500);
                            }
                            else
                            {
                                $(this).myBoxy (Boxy,{
                                    type: 'alert',
                                    message: 'Có lỗi khi cập nhật!'
                                });
                            }
                        }, 'json');
                    });
                }
            });
            return false;
        });
    });
</script>