<div id="content">
    <div class="breadcrumb clearfix">
        <div class="title k2">Add new static page</div>
    </div>
    <div class="clear"></div>
    <div class="">
        <div class="fdefault posting">
            <form action="" method="post">
                <?php if ($this->message): ?>
                <div class="<?php echo $this->message['type']; ?>"><p><?php echo $this->message['msg']; ?></p></div>
                <?php endif; ?>
                <div class="group_listing_input">
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">Page name:</label>
                        </div>
                        <input name="page_name" type="text" value="<?php echo $this->escape($this->page['page_name']); ?>" class="title_text_input" />
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">File name:</label>
                        </div>
                        <input name="file_name" type="text" value="<?php echo $this->escape($this->page['file_name']); ?>" class="title_text_input" />
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">URI:</label>
                        </div>
                        <input name="uri" type="text" value="<?php echo $this->escape($this->page['uri']); ?>" class="title_text_input" />
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">Post ID:</label>
                        </div>
                        <input name="post_id" type="text" value="<?php echo $this->escape($this->page['post_id']); ?>" class="title_text_input" />
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">TTL (minutes):</label>
                        </div>
                        <input name="ttl" type="text" value="<?php echo $this->escape($this->page['ttl']); ?>" class="title_text_input" />
                    </div>

                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">Status:</label>
                        </div>
                        <select class="medium_text_input" name="status" id="status">
                            <option value="1"<?php echo $this->page['status'] ? ' selected="selected" ' : '';?>>Active</option>
                            <option value="0"<?php echo !$this->page['status'] ? ' selected="selected" ' : '';?>>Inactive</option>
                        </select>
                    </div>
                    <div class="button_listing_input">
                        <div class="post_label_container"></div>
                        <input id="btn_submit" type="submit" class="button_update" value="" name="btn_submit" />
                    </div>
                </div>
                <div class="line clear"></div>
            </form>
        </div>
    </div>
</div>