<div id="content">
    <div class="breadcrumb clearfix">
        <div class="title k2">Quản lý static pages</div>
        <div class="addLink">
            <span class="action"><a class="add" id="btnAdd" title="Thêm cấp page" href="/<?php echo ADM_FOLDER ;?>/staticpage/add/">Thêm cấp page</a></span>
        </div>
    </div>
    <div class="clear"></div>
    <div class="table_member">
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tbody>
                <tr>
                    <td width="20%" class="secondRow">Page name</td>
                    <td width="10%" class="secondRow">File name</td>
                    <td width="20%" class="secondRow">URI</td>
                    <td width="10%" class="secondRow">TTL (minute)</td>
                    <td width="15%" class="secondRow">Last updated</td>
                    <td width="5%" class="secondRow">Status</td>
                    <td width="10%" class="secondRow">Update date</td>
                    <td width="10%" class="secondRow"></td>
                </tr>
                <?php foreach ($this->listPages as $page): ?>
                    <tr>
                        <td class="ctn"><?php echo $page['page_name']; ?></td>
                        <td class="ctn"><?php echo $page['file_name']; ?></td>
                        <td class="ctn"><?php echo $page['uri']; ?></td>
                        <td class="ctn"><?php echo $page['ttl']; ?></td>
                        <td class="ctn"><?php echo $page['last_updated'] > 0 ? date('H:i d/m/Y', $page['last_updated']) : ''; ?></td>
                        <td class="ctn"><?php echo $page['status'] == 1 ? 'active' : 'inactive'; ?></td>
                        <td class="ctn"><?php echo $page['updated_at'] > 0 ? date('H:i d/m/Y', $page['updated_at']) : ''; ?></td>
                        <td class="ctn"><a class="editrole" rel="<?php echo $page['id']; ?>" href="/<?php echo ADM_FOLDER ;?>/staticpage/edit/id/<?php echo $page['id']; ?>/">Edit</a>
                           | <a onclick="return confirm('are you sure?');" href="/<?php echo ADM_FOLDER ;?>/staticpage/delete/id/<?php echo $page['id']; ?>/">Delete</a>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(function(){

        $("a.deleterole").click(function(){
            var roleId = $(this).attr('rel');
            $(this).myBoxy (Boxy,{
                type: 'confirm',
                message: 'Bạn muốn xóa cấp này không?',
                roleId : roleId,
                callback: function(){
                    var boxy = Boxy.get(this);
                    if (!boxy)
                    {
                        return;
                    }

                    var options = boxy.options;
                    boxy.hideAndUnload();

                    $.getJSON(baseurl+'/<?php echo ADM_FOLDER ;?>/systemuser/deleterole', {
                        role_id: options.roleId
                    }, function(data){
                        if (data.status == 1)
                        {
                            $(this).myBoxy (Boxy,{
                                type: 'alert',
                                message: 'Xóa cấp quản lý thành công!'
                            });
                            setTimeout('location.reload()', 250);
                        }
                        else
                        {
                            $(this).myBoxy (Boxy,{
                                type: 'alert',
                                message: 'Lỗi: Cấp này vẫn còn người sử dụng!'
                            });
                        }
                    });
                }
            });

        });

        $("a.editrole").click(function(){
            var roleId = $(this).attr('rel');
            Boxy.load(baseurl+'/<?php echo ADM_FOLDER ;?>/systemuser/editrole/role_id/'+roleId, {
                afterShow : function(){
                    $("#popup .b_accept").click(function(){
                        var permissions = $("input[name='permissions']:checked");
                        if (!permissions.length)
                        {
                            alert("Bạn phải chọn ít nhất một quyền");
                            return false;
                        }

                        Boxy.get($("#popup")).hide();

                        var permissionsArr = new Array();
                        $(permissions).each(function(){
                            permissionsArr.push($(this).val());
                        });

                        $.post(baseurl+'/<?php echo ADM_FOLDER ;?>/systemuser/submiteditrole', {
                            role_id: roleId,
                            permissions: permissionsArr
                        }, function(data){
                            if (data.status == 1)
                            {
                                $(this).myBoxy (Boxy,{
                                    type: 'success',
                                    message: 'Đã sửa quyền thành công!'
                                });
                                setTimeout('location.reload()', 500);
                            }
                            else
                            {
                                $(this).myBoxy (Boxy,{
                                    type: 'alert',
                                    message: 'Có lỗi khi sửa quyền!'
                                });
                            }
                        }, 'json');
                    });
                }
            });
            return false;
        });

        $("#btnAdd").click(function(){
            Boxy.load(baseurl+'/<?php echo ADM_FOLDER ;?>/systemuser/addrole', {
                afterShow : function(){
                    $("#roleName").focus();

                    $("#popup .b_accept").click(function(){
                        var roleName = $("#roleName").val().trim();
                        if (!roleName.length)
                        {
                            alert("Bạn chưa nhập tên cấp quản lý");
                            $("#roleName").focus();
                            return false;
                        }

                        var permissions = $("input[name='permissions']:checked");
                        if (!permissions.length)
                        {
                            alert("Bạn phải chọn ít nhất một quyền");
                            return false;
                        }

                        Boxy.get($("#popup")).hide();

                        var permissionsArr = new Array();
                        $(permissions).each(function(){
                            permissionsArr.push($(this).val());
                        });

                        $.post(baseurl+'/<?php echo ADM_FOLDER ;?>/systemuser/submitaddrole', {
                            role_name: roleName,
                            permissions: permissionsArr
                        }, function(data){
                            if (data.status == 1)
                            {
                                $(this).myBoxy (Boxy,{
                                    type: 'success',
                                    message: 'Đã thêm cấp quản lý thành công!'
                                });
                                setTimeout('location.reload()', 500);
                            }
                            else
                            {
                                $(this).myBoxy (Boxy,{
                                    type: 'alert',
                                    message: 'Có lỗi khi thêm cấp quản lý!'
                                });
                            }
                        }, 'json');
                    });
                }
            });
        });
    });
</script>