<!-- Page -->
<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title">Setting</h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo BASE_URL . '/adm_reborn' ?>">Home</a></li>
            <li class="active">Scan video</li>
        </ol>
    </div>
    <div class="page-content container-fluid row">
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Scan Video Management</h3>
                </div>
                <div class="panel-body container-fluid">
                    <form autocomplete="off" method="post" enctype="multipart/form-data">
                        <div class="form-group form-material floating row">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="fromid" name="fromid"
                                       value=""/>
                                <label class="floating-label" for="fromid">From ID</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="toid" name="toid"
                                       value=""/>
                                <label class="floating-label" for="toid">To</label>
                            </div>
                        </div>
                        <button type="submit" name="btn_submit" class="btn btn-primary pull-right margin-top-30"
                                id="btn_submit">Scan
                        </button>
                    </form>
                </div>
            </div>
            <?php if (!empty($this->errorPosts)): ?>
                <div class="panel">
                    <div class="panel-body container-fluid">
                        <table class="table table-hover dataTable table-striped width-full">
                            <thead>
                            <tr>
                                <th width="15%">Link</th>
                                <th width="3%">Action</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th width="15%">Link</th>
                                <th width="3%">Action</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <?php foreach ($this->errorPosts as $post) : ?>
                                <tr>
                                    <td><a target="_blank" href="<?php echo BASE_URL . '/photo/' . $post; ?>">
                                            http://haynhucnhoi.tv/photo/<?php echo $post; ?>
                                        </a>
                                    </td>
                                    <td><a target="_blank" class="btn btn-sm btn-icon btn-flat btn-default"
                                           href="<?php echo BASE_URL . '/' . ADM_REBORN_FOLDER . '/post/edit/post_id/' . $post; ?>">
                                            <i class="icon wb-wrench" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            <?php endif; ?>
        </div>
    </div>
</div>
<!-- End Page -->