<?php
if (!empty($this->topUsers)):
    $i_rank  = 1;
    ?>
<?php foreach ($this->topUsers as $key => $user): ?>
    <div class="user">
        <div class="rank"><?php echo $i_rank;?></div>
        <div class="avatar">
            <a class="avatar align-left" title="Đến trang cá nhân của <?php echo $user['fullname'];?>" href="<?php echo User::userUrl($user);?>">
                <img alt="<?php echo $user['fullname'];?>'s avatar" src="https://graph.facebook.com/<?php echo $user['facebookid'];?>/picture?type=square" border="0">
            </a>
        </div>
        <div class="info">
            <a class="name" title="Đến trang cá nhân của <?php echo $user['fullname'];?>" href="<?php echo User::userUrl($user);?>"><?php echo $user['fullname'];?></a>
            <?php if($this->type=='week'):?><div class="like"><i class="fa fa-star"></i> <?php echo !empty($user['week_point'])? $user['week_point'] : 0;?></div><?php endif;?>
            <?php if($this->type=='month'):?><div class="like"><i class="fa fa-star"></i> <?php echo !empty($user['month_point'])? $user['month_point'] : 0;?></div><?php endif;?>
            <?php if($this->type=='all'):?><div class="like"><i class="fa fa-star"></i> <?php echo !empty($user['all_point'])? $user['all_point'] : 0;?></div><?php endif;?>
        </div>
        <div class="clear"></div>
    </div>

<?php
    $i_rank++;
endforeach;?>
<?php endif; ?>