<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">
    <?php echo $this->headMeta(); ?>
    <?php echo $this->headTitle(); ?>
    <link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->layout()->_general['server']['img']['path'];?>/favicon_hnn.ico" />
    <?php
    echo $this->headLink()
        // Stylesheets
        ->prependStylesheet($this->layout()->_general['server']['css']['path'].'/backend.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/bootstrap.min.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/bootstrap-extend.min.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/site.min.css')
        // Plugins
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/plugins/animsition.min.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/plugins/asScrollable.min.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/plugins/switchery.min.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/plugins/introjs.min.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/plugins/slidePanel.min.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/plugins/flag-icon.min.css')
        // Upload file
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/upload/jquery.fileupload.min.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/upload/dropify.min.css')
        // Alertify
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/alertify/alertify.min.css')
        // Labeled radio
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/labeled/jquery-labelauty.min.css')
        // Data table
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/table/dataTables.bootstrap.min.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/table/dataTables.fixedHeader.min.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/table/dataTables.responsive.min.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/table/datatable.min.css')
        // Select picker
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/form/bootstrap-select.min.css')
        // Editor
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/editor/summernote.min.css')
        // Fonts
        ->appendStylesheet($this->layout()->_general['server']['fonts']['path'].'/font-awesome/font-awesome.min.css')
        ->appendStylesheet($this->layout()->_general['server']['fonts']['path'].'/web-icons/web-icons.min.css')
        ->appendStylesheet($this->layout()->_general['server']['fonts']['path'].'/brand-icons/brand-icons.min.css')
        ->appendStylesheet('http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic');

    echo $this->headScript()
        ->appendFile($this->layout()->_general['server']['js']['path'].'/modernizr.min.js')
        ->appendFile($this->layout()->_general['server']['js']['path'].'/breakpoints.min.js')
        ->appendFile($this->layout()->_general['server']['js']['path'].'/core/jquery.min.js')
    ;
    ?>
</head>
<body class="site-menubar-unfold" data-auto-menubar="false">
<!--Start navigation-->
<?php echo $this->render('navigation.phtml'); ?>
<!--End navigation-->

<!--Start navigation-->
<?php echo $this->render('menu.phtml'); ?>
<!--End navigation-->

<!--Start Content-->
<?php echo $this->layout()->content; ?>
<!--End Content-->

<!--Start Footer-->
<?php echo $this->render('footer.phtml'); ?>
<!--End Footer-->
<?php
echo $this->headScript()
//  Core
    ->appendFile($this->layout()->_general['server']['js']['path'].'/core/bootstrap.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/core/jquery.animsition.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/core/jquery-asScroll.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/core/jquery.mousewheel.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/core/jquery.asScrollable.all.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/core/jquery-asHoverScroll.min.js')
//  Plugin
    ->appendFile($this->layout()->_general['server']['js']['path'].'/plugins/switchery.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/plugins/intro.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/plugins/screenfull.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/plugins/jquery-slidePanel.min.js')
//  Data table
    ->appendFile($this->layout()->_general['server']['js']['path'].'/table/jquery.dataTables.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/table/dataTables.bootstrap.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/table/dataTables.responsive.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/table/dataTables.tableTools.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/table/jquery-asRange.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/table/bootbox.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/table/selectable.min.js')
//  Form
    ->appendFile($this->layout()->_general['server']['js']['path'].'/form/jquery.placeholder.min.js')
//  Alertify
    ->appendFile($this->layout()->_general['server']['js']['path'].'/alertify/alertify.js')
//  Labeled raido
    ->appendFile($this->layout()->_general['server']['js']['path'].'/labeled/jquery-labelauty.js')
//  Upload file
    ->appendFile($this->layout()->_general['server']['js']['path'].'/upload/jquery-ui.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/upload/tmpl.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/upload/canvas-to-blob.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/upload/load-image.all.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/upload/jquery.fileupload.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/upload/jquery.fileupload-process.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/upload/jquery.fileupload-image.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/upload/jquery.fileupload-audio.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/upload/jquery.fileupload-video.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/upload/jquery.fileupload-validate.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/upload/jquery.fileupload-ui.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/upload/dropify.min.js')
//  Editor
    ->appendFile($this->layout()->_general['server']['js']['path'].'/editor/summernote.min.js')

//  Scripts
    ->appendFile($this->layout()->_general['server']['js']['path'].'/scripts/core.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/scripts/site.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/scripts/menu.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/scripts/menubar.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/scripts/gridmenu.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/scripts/sidebar.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/scripts/config-colors.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/scripts/config-tour.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/scripts/asscrollable.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/scripts/animsition.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/scripts/slidepanel.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/scripts/switchery.min.js')
//  Alertify
    ->appendFile($this->layout()->_general['server']['js']['path'].'/alertify/alertify-js.min.js')
//  Form
    ->appendFile($this->layout()->_general['server']['js']['path'].'/form/jquery.placeholder.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/form/material.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/upload/components/dropify.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/form/bootstrap-select.min.js')
//  Labeled radio
    ->appendFile($this->layout()->_general['server']['js']['path'].'/labeled/jquery-labelauty.min.js')
//  Data table
    ->appendFile($this->layout()->_general['server']['js']['path'].'/table/datatables.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/table/icon.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/table/components/selectable.min.js')
//  Editor
    ->appendFile($this->layout()->_general['server']['js']['path'].'/editor/script/summernote.min.js')
;
?>
<script type="text/javascript">
    Breakpoints();
    (function(document, window, $) {
        'use strict';

        var Site = window.Site;
        $(document).ready(function() {
            Site.run();
        });
    })(document, window, jQuery);
</script>
</body>
</html>