<div class="site-menubar">
    <div class="site-menubar-body">
        <div>
            <div>
                <ul class="site-menu">
                    <li class="site-menu-category">General</li>
                    <li class="site-menu-item <?php echo (CURRENT_CONTROLLER == 'index' && CURRENT_ACTION == 'index') ? 'active' : '';?>">
                        <a href="<?php echo $this->url(array('action' => 'index', 'controller' => 'index', 'module' => 'adm_reborn'), null, true); ?>" data-slug="dashboard">
                            <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                            <span class="site-menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="site-menu-category">Management</li>
                    <li class="site-menu-item <?php echo CURRENT_CONTROLLER == 'post' && (CURRENT_ACTION == 'edit' || CURRENT_ACTION == 'index') ? 'active' : '';?>">
                        <a class="animsition-link" href="<?php echo $this->url(array('action' => 'index', 'controller' => 'post', 'module' => 'adm_reborn'), null, true); ?>">
                            <i class="site-menu-icon wb-inbox" aria-hidden="true"></i>
                            <span class="site-menu-title">Posts</span>
                        </a>
                    </li>
                    <!-- End Posts -->
                    <li class="site-menu-item <?php echo CURRENT_CONTROLLER == 'category' ? 'active' : '';?>">
                        <a class="animsition-link" href="<?php echo $this->url(array('action' => 'index', 'controller' => 'category', 'module' => 'adm_reborn'), null, true); ?>">
                            <i class="site-menu-icon wb-order" aria-hidden="true"></i>
                            <span class="site-menu-title">Categories</span>
                        </a>
                    </li>
                    <!-- End Categories -->
                    <li class="site-menu-item <?php echo CURRENT_CONTROLLER == 'tag' ? 'active' : '';?>">
                        <a class="animsition-link" href="<?php echo $this->url(array('action' => 'index', 'controller' => 'tag', 'module' => 'adm_reborn'), null, true); ?>">
                            <i class="site-menu-icon wb-tag" aria-hidden="true"></i>
                            <span class="site-menu-title">Tags</span>
                        </a>
                    </li>
                    <!-- End Tags -->
                    <li class="site-menu-item <?php echo CURRENT_CONTROLLER == 'log' ? 'active' : '';?>">
                        <a class="animsition-link" href="<?php echo $this->url(array('action' => 'index', 'controller' => 'log', 'module' => 'adm_reborn'), null, true); ?>">
                            <i class="site-menu-icon wb-library" aria-hidden="true"></i>
                            <span class="site-menu-title">Logs</span>
                        </a>
                    </li>
                    <!-- End Logs -->
                    <li class="site-menu-item <?php echo (CURRENT_CONTROLLER == 'post' && CURRENT_ACTION == 'report') ? 'active' : '';?>">
                        <a class="animsition-link" href="<?php echo $this->url(array('action' => 'report', 'controller' => 'post', 'module' => 'adm_reborn'), null, true); ?>">
                            <i class="site-menu-icon wb-minus-circle" aria-hidden="true"></i>
                            <span class="site-menu-title">Reports</span>
                        </a>
                    </li>
                    <!-- End Reports -->
                    <li class="site-menu-item has-sub <?php echo (CURRENT_CONTROLLER == 'user' || CURRENT_CONTROLLER == 'admin' || CURRENT_CONTROLLER == 'systemuser') ? 'open active' : '';?>">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon wb-user" aria-hidden="true"></i>
                            <span class="site-menu-title">User</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item <?php echo (CURRENT_CONTROLLER == 'user' && CURRENT_ACTION == 'index') ? 'active' : '';?>">
                                <a class="animsition-link" href="<?php echo $this->url(array('action' => 'index', 'controller' => 'user', 'module' => 'adm_reborn'), null, true); ?>">
                                    <i class="site-menu-icon" aria-hidden="true"></i>
                                    <span class="site-menu-title">Users</span>
                                </a>
                            </li>
                            <li class="site-menu-item <?php echo (CURRENT_CONTROLLER == 'admin') ? 'active' : '';?>">
                                <a class="animsition-link" href="<?php echo $this->url(array('action' => 'list', 'controller' => 'admin', 'module' => 'adm_reborn'), null, true); ?>">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Admins</span>
                                </a>
                            </li>
                            <li class="site-menu-item <?php echo (CURRENT_CONTROLLER == 'systemuser' && CURRENT_ACTION == 'roles') ? 'active' : '';?>">
                                <a class="animsition-link" href="<?php echo $this->url(array('action' => 'roles', 'controller' => 'systemuser', 'module' => 'adm_reborn'), null, true); ?>">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Roles</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- End User -->
                    <li class="site-menu-category">Blog</li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="<?php echo $this->url(array('action' => 'index-posts', 'controller' => 'blog', 'module' => 'adm_reborn'), null, true); ?>">
                            <i class="site-menu-icon wb-inbox" aria-hidden="true"></i>
                            <span class="site-menu-title">Posts</span>
                        </a>
                    </li>
                    <!-- End Posts -->
                    <li class="site-menu-item">
                        <a class="animsition-link" href="<?php echo $this->url(array('action' => 'index-categories', 'controller' => 'blog', 'module' => 'adm_reborn'), null, true); ?>">
                            <i class="site-menu-icon wb-order" aria-hidden="true"></i>
                            <span class="site-menu-title">Categories</span>
                        </a>
                    </li>
                    <!-- End Categories -->
                    <li class="site-menu-category">Setting</li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="<?php echo $this->url(array('action' => 'index', 'controller' => 'seo', 'module' => 'adm_reborn'), null, true); ?>">
                            <i class="site-menu-icon wb-graph-up" aria-hidden="true"></i>
                            <span class="site-menu-title">SEO</span>
                        </a>
                    </li>
                    <!-- End SEO -->
<!--                    <li class="site-menu-item">-->
<!--                        <a class="animsition-link" href="--><?php //echo $this->url(array('action' => 'index', 'controller' => 'quote', 'module' => 'adm_reborn'), null, true); ?><!--">-->
<!--                            <i class="site-menu-icon wb-quote-right" aria-hidden="true"></i>-->
<!--                            <span class="site-menu-title">Quote</span>-->
<!--                        </a>-->
<!--                    </li>-->
                    <!-- End Quote -->
                    <li class="site-menu-item">
                        <a class="animsition-link" href="<?php echo $this->url(array('action' => 'index', 'controller' => 'static-menu', 'module' => 'adm_reborn'), null, true); ?>">
                            <i class="site-menu-icon wb-menu" aria-hidden="true"></i>
                            <span class="site-menu-title">Static menu</span>
                        </a>
                    </li>
                    <!-- End Static menu -->
                    <li class="site-menu-item">
                        <a class="animsition-link" href="<?php echo $this->url(array('action' => 'index', 'controller' => 'scan-video', 'module' => 'adm_reborn'), null, true); ?>">
                            <i class="site-menu-icon wb-video" aria-hidden="true"></i>
                            <span class="site-menu-title">Scan video</span>
                        </a>
                    </li>
                    <!-- End Scan video -->
                    <li class="site-menu-item">
                        <a class="animsition-link" href="<?php echo $this->url(array('action' => 'index', 'controller' => 'scan-post', 'module' => 'adm_reborn'), null, true); ?>">
                            <i class="site-menu-icon wb-video" aria-hidden="true"></i>
                            <span class="site-menu-title">Scan post</span>
                        </a>
                    </li>
                    <!-- End Scan Post -->
<!--                    <li class="site-menu-item has-sub">-->
<!--                        <a class="animsition-link" href="">-->
<!--                            <i class="site-menu-icon wb-bookmark" aria-hidden="true"></i>-->
<!--                            <span class="site-menu-title">Advertisements</span>-->
<!--                            <span class="site-menu-arrow"></span>-->
<!--                        </a>-->
<!--                        <ul class="site-menu-sub">-->
<!--                            <li class="site-menu-item">-->
<!--                                <a class="animsition-link" href="--><?php //echo $this->url(array('action' => 'index', 'controller' => 'postsadvertisment', 'module' => 'adm_reborn'), null, true); ?><!--">-->
<!--                                    <i class="site-menu-icon " aria-hidden="true"></i>-->
<!--                                    <span class="site-menu-title">Ve chai</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->
                    <!-- End Advertisements -->
                </ul>
                <!-- End site-menu -->
                <div class="site-menubar-section">
                    <h5>
                        Milestone
                        <span class="pull-right">30%</span>
                    </h5>

                    <div class="progress progress-xs">
                        <div class="progress-bar active" style="width: 30%;" role="progressbar"></div>
                    </div>
                    <h5>
                        Release
                        <span class="pull-right">60%</span>
                    </h5>

                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-warning" style="width: 60%;" role="progressbar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-menubar-footer">
        <a href="javascript: void(0);" class="fold-show" data-placement="top" data-toggle="tooltip"
           data-original-title="Settings">
            <span class="icon wb-settings" aria-hidden="true"></span>
        </a>
        <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Lock">
            <span class="icon wb-eye-close" aria-hidden="true"></span>
        </a>
        <a href="<?php echo $this->url(array('action' => 'logout', 'controller' => 'index'), null, true); ?>" data-placement="top" data-toggle="tooltip" data-original-title="Logout">
            <span class="icon wb-power" aria-hidden="true"></span>
        </a>
    </div>
</div>