<div>
	<div class="whiteBackground">
		<div class="content">
			Chức năng "Giao lưu trực tuyến cùng hot girl CCTalk" hiện chỉ hỗ trợ phiên bản desktop, vì thiết bị di động của bạn không hỗ trợ Flash. Hãy truy cập <<strong>haynhucnhoi.tv/cctalk</strong> bằng máy tính để đắm chìm trong những giai điệu và điệu nhảy nóng bỏng của những cô nàng idol cực xinh nhé!
		</div>
	</div>
</div>