<div class="whiteBackground" style="line-height:1.5; font-size: 14px;">
	<div class="content">
		<h1 style="text-align: center; color: #FF6B00" >Danh sách thành viên nhận quà Tri ân tháng 9</h1>
		<p>Tròn 3 tháng kể từ ngày triển khai, chương trình đã nhận được những sự đóng góp tích cực ngày càng sôi nổi từ các thành viên.
		Hôm nay, 01/10/2015, Hay Nhức Nhói rất vui khi công bố danh sách 50 HayNhucNhoi-er được nhận quà Tri ân tháng 9, là đợt trao quà thứ 3. Hi vọng những món quà nhỏ này sẽ tiếp sức cho bạn trên con đường mang lại nhiều niềm vui cho mọi người.</p>
		<p style="text-align: center; margin-left: -5px;"><img style="width: 100%" src="<?php echo $this->image; ?>" /></p>
		<p><strong>Cách thức trao giải:</strong></p>
		<p>Các bạn có tên trong danh sách nhắn tin vào hộp thư của fanpage <strong><a href="http://facebook.com/haynhucnhoi" target="_blank">Những Câu Nói Hay Nhức Nhói</a></strong> với thông tin gồm:<br /><br />1. Họ tên</p>
		<p>2. Số điện thoại</p>
		<p>3. Email</p>
		<p>4. Link trang cá nhân trên haynhucnhoi.tv</p>
		<p>Sau khi xác nhận thông tin, BQT chúng tôi sẽ trao quà đến bạn. Tất cả quà tri ân đều sẽ quy đổi ra thẻ cào điện thoại đúng với nhà mạng bạn mong muốn. Các thành viên sẽ nhận được quà trước ngày 10/10/2015.</p>
		<p>Top tháng 10 cũng đã bắt đầu tính từ 0h ngày 01/10 đến 23h59 ngày 31/10/2015. Hãy nghỉ ngơi một lát rồi lại bước vào cuộc đua “không khoan nhượng” này nhé.</p>
		<p>Hay Nhức Nhói chân thành cảm ơn sự ủng hộ của các bạn!</p>
		<p style="text-align: right; font-weight: bold">BQT HayNhucNhoi.tv</p>
	</div>
	<div class="fb-like" data-href="<?php echo BASE_URL. '/tri-an-thang-9.html'; ?>" data-width="100%" data-layout="button_count" data-show-faces="false" data-send="false" data-share="true"></div>
	<div class="fb-comments" data-href="<?php echo BASE_URL. '/tri-an-thang-9.html'; ?>" data-numposts="10" data-width="700" data-colorscheme="light" data-order-by="reverse_time"></div>
</div>