<div class="whiteBackground" style="line-height:1.5; font-size: 14px;">
	<div class="content">
		<h1 style="text-align: center">“Hay Nhức Nhói tri ân thành viên”</h1>
		<p>Các bạn thành viên Hay Nhức Nhói thân mến,</p>
		<p>Trải qua hơn một năm thành lập, tính đến nay, HayNhucNhoi.tv đã trở thành một website chia sẻ nội dung với nhiều hình ảnh chất, nhiều video clip hay, từng bước khẳng định vị trí của mình.</p>
		<p>Để có được thành quả như hiện tại, không thể không kể đến sự đóng góp nhiệt thành và liên tục của các thành viên gần xa, cả trong lẫn ngoài nước. Nhằm tri ân những gì mà cộng đồng đã đóng góp cũng như tạo động lực để nội dung trên Hay Nhức Nhói ngày càng hay hơn, nhức nhói hơn, BQT xin thông báo chương trình <strong>“Hay Nhức Nhói tri ân thành viên: Đăng bài Nhức Nhói, không lo dế đói”</strong>. Những lượt Like / Share / Comment trên các bài đăng của bạn sẽ không còn là con số vô nghĩa.</p>
		<p><strong>Nội dung chương trình:</strong></p>
		<p>Mỗi hành động của bạn trên Hay Nhức Nhói đều mang về cho bạn một số điểm nhất định. Đến cuối mỗi tháng, các thành viên đạt được số điểm cao nhất sẽ nhận được những phần quà tri ân hấp dẫn từ Hay Nhức Nhói.</p>
		<p style="text-align: center"><img src="<?php echo $this->image; ?>" style="max-width: 100%"/></p>
		<p><strong>Thể lệ chương trình:</strong></p>
		<ul>
			<li>Các thành viên có tài khoản hợp lệ trên Hay Nhức Nhói đều có thể tham gia.</li>
			<li>Những hoạt động của các bạn trên Hay Nhức Nhói sẽ được quy ra một số điểm tương ứng. Bảng điểm sẽ được cập nhật 3 lần mỗi ngày.</li>
			<li>Mốc thời gian trong một tháng được tính từ 0h00 ngày đầu tiên đến 23h59 ngày cuối cùng. Số điểm được dựa vào để trao thưởng là số điểm tổng kết vào lúc 23h59 ngày cuối cùng. Những điểm phát sinh sau thời điểm đó sẽ không được tính.</li>
			<li>Bài viết được duyệt trong tháng nào thì sẽ chỉ tính điểm cho tháng đó. Ví dụ: Bạn đăng bài vào ngày 30/01 nhưng được duyệt vào ngày 01/02 thì số điểm phát sinh từ bài đó sẽ tính vào tháng 2.</li>
			<li>Nếu vì lý do vi phạm nào đó, bài của bạn bị xóa thì toàn bộ số điểm có được từ bài đó cũng sẽ mất.</li>
			<li>Khi tổng kết, các thành viên sẽ được sắp xếp theo số điểm từ cao xuống thấp và lấy cho đến lúc đủ số lượng tri ân.</li>
			<li>Quyết định của BQT Hay Nhức Nhói sẽ là quyết định cuối cùng.</li>
		</ul>
		<p><strong>Thời gian:</strong></p>
		<ul>
			<li>Thời gian bắt đầu chương trình: 0h ngày 13/07/2015. Tất cả những bài đăng trước thời điểm này đều không được tính điểm.</li>
			<li>Thời gian tổng kết điểm: 23h59 ngày cuối cùng mỗi tháng tháng.</li>
			<li>Thời gian công bố danh sách: ngày 01 tháng kế tiếp.</li>
			<li>Thời gian nhận quà tri ân thực tế: trễ nhất là ngày 10 tháng kế tiếp.</li>
		</ul>
		<p>Hi vọng với chương trình này, Hay Nhức Nhói tiếp tục nhận được sự cộng tác ngày một chất lượng hơn của các bạn.</p>
		<p style="text-align: right">BQT trân trọng thông báo đến thành viên.</p>
		<div class="fb-like" data-href="<?php echo BASE_URL. '/trian'; ?>" data-width="100%" data-layout="button_count" data-show-faces="false" data-send="false" data-share="true"></div>
		<div class="fb-comments" data-href="<?php echo BASE_URL. '/trian'; ?>" data-numposts="10" data-width="100%" data-colorscheme="light"></div>
	</div>
</div>