<div class="loginContainer">
    <div class="whiteBackground">
        <h1 class="title">Đăng nhập</h1>

        <div id="checkingStatus">
            <img src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/hnnloading.gif"
                 style="vertical-align: middle"/> Đang kết nối với Facebook. Nhấn F5 nếu tụi này thực hiện quá lâu...
        </div>
        <div id="fbLoginContainer" style="height: 80px">
            <h4>Click vào nút dưới đây để đăng nhập với tài khoản Facebook của bạn. Tài khoản của bạn trên Hay Nhức Nhói
                sẽ tự động được tạo sau lần đăng nhập đầu tiên mà không cần đăng ký.</h4>

            <fb:login-button
                scope="public_profile,email,user_birthday,user_relationships,user_relationship_details,user_location"
                onlogin="checkLoginState();">
            </fb:login-button>

        </div>
        <div class="passwordLogin">
            Hoặc <a href="login-password">đăng nhập bằng mật khẩu</a> nếu bạn đã có tài khoản trên Hay Nhức Nhói.
        </div>
        <div class="notice">
            Chú ý: Bằng việc đăng nhập, bạn đã đồng ý với <a href="/tos">Điều khoản sử dụng</a> của Hay Nhức Nhói.
        </div>
        <form action="<?php echo BASE_URL; ?>/user/login" id="loginForm" method="post">
            <input type="hidden" name="do" value="process"/>
            <input type="hidden" name="signed_request" id="signedRequest"/>
            <input type="hidden" name="access_token" id="accessToken"/>
            <input type="hidden" name="url" id="url" value="<?php echo $this->redirectUrl; ?>"/>
        </form>
    </div>
    <?php echo $this->render('partials/footer.phtml'); ?>
</div>
<script type="text/javascript">
    function statusChangeCallback(response) {
        if (response.status === 'connected') {
            $("#checkingStatus").show();
            $("#fbLoginContainer").hide();
            var token = response.authResponse.accessToken;
            var rq = response.authResponse.signedRequest;

            if (token != '') {
                submitAPIFacebook(token, rq);
            }
        } else if (response.status === 'not_authorized') {
            console.log(response);
        } else {
            console.log(response);
        }
    }

    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function () {
        $("#checkingStatus").hide();
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    };

    function submitAPIFacebook(paccessToken, pignedRequest) {
        FB.api('/me', function (response) {
            //var dataString ='accessToken='+paccessToken+'&url='+url;
            $("#signedRequest").val(pignedRequest);
            $("#accessToken").val(paccessToken);
            $("#loginForm").submit();
        });
    }
</script>