<div class="loginContainer">
    <div class="whiteBackground">
        <?php if (!empty($this->messages)): ?>
        <div class="alert-box box-error"><?php echo implode('<br/>', $this->messages)?></div>
	<?php endif;?>
        <h1 class="title">Đăng nhập bằng mật khẩu</h1>
        <form action="" id="loginForm" method="post" class="modal">
            <div id="login-email-block" class="field">
                <div class="left">
                    <label for="login-email">Email</label>
                </div>
                <div class="right">
                    <input id="login-email" type="text" class="text" name="email" placeholder="Email" tabindex="2" maxlength="200" value=""/>
                </div>
                <div class="clear"></div>
            </div>
            <div id="login-password-block" class="field">
                <div class="left">
                    <label for="login-password">Mật khẩu</label>
                </div>
                <div class="right">
                    <input id="login-password" type="password" class="text" name="password" placeholder="Mật khẩu" tabindex="3" maxlength="32"/>
                </div>
                <div class="clear"></div>
            </div>

            <div class="action">
                <input id="logsub" type="hidden" name="logsub" value="1" />
                <button id="login-submit" type="submit" class="button blue-button" value="Đăng nhập">Đăng nhập</button>
                <input type="hidden" name="redirect" id="redirect" value="<?php echo $this->redirectUrl;?>"/>
            </div>
        </form>
        <div class="notice">Lưu ý: Đăng nhập tức là bạn đã đồng ý với <a href="/tos">Điều khoản sử dụng</a> của Hay Nhức Nhói.</div>
    </div>
    <?php echo $this->render('partials/footer.phtml', $this); ?>
</div>