<?php
echo $this->headLink()
		->appendStylesheet($this->layout()->_general['server']['css']['path'] .'/register.css');

//echo $this->headScript()->appendFile($this->layout()->_general['server']['js']['path'].'/sns.js');
?>
<div id="mainwrap" class="wrap ">
				<div class="container">
					<div class="container-inner">
						<div id="mainwrap" class="clearfix layout-lcr">

							<div id="content">
								<div id="content-inner">
	<form name="tf" method="post" action="<?php echo BASE_URL ;?>/user/register">
	<?php if(isset($this->msg)):?>
	<p><?php echo implode('<br/>', $this->msg)?></p>
	<?php endif;?>
	<fieldset class="fieldsCollection" id="personalFieldsCollection">
	     <legend>Thông tin tài khoản</legend>
	     <div class="dotline"></div>         	 
	     <div class="notice">Cung cấp thông tin chính xác để hệ thống có thể đưa ra những gợi ý và chương trình phù hợp cho bạn.</div>     
	      <div class="row  " id="yahooIdFld">
	          <label class="label" for="yahooid">Email</label> 
	          <div class="collection">          
	               <input type="text" name="email" id="email" <?php echo $this->params['email'] != 'disabled' ? '' : ''?> value="<?php echo $this->params['email']?>" size="32" maxlength="32" class="">              
	           </div>
	      </div>
	   		<div class="row " id="fullnameFld">
	          <label class="label" for="name">Tên của bạn là</label>
	           <div class="collection">
	               <input type="text" name="display_name" id="display_name" value="<?php echo $this->params['display_name'] != '' ? $this->params['display_name'] : ''?>" size="32" maxlength="32">              
	           </div>
	           <div class="msgContainer">
	               <div class="icon"></div>
	               <p id="fullnameFldMsg" role="alert">This information is required</p>
	           </div>
	      </div>
	      <div class="row " id="passwordFld">
	          <!---->
	          <label class="label" for="password">Mật khẩu</label> 
	          <div class="collection">
	               <input type="password" name="password" id="password" value="" size="32" maxlength="32" class="" aria-required="true">               
	          </div>
	           <div class="msgContainer">
	               <div class="icon"></div>
	               <p id="passwordFldMsg" role="alert"></p>
	           </div>
	          <div class="example hidden" id="password_example" role="alert">Capitalization matters. Use 8 to 32 characters, and don't use your name or Yahoo! ID.</div>
	      </div>
	      <div class="row " id="confPasswordFld">
	          <label class="label" for="passwordconfirm">Nhập lại mật khẩu</label> 
	          <div class="collection">
	               <input type="password" name="passwordconfirm" id="passwordconfirm" value="" size="32" maxlength="32">
	          </div>
	           <div class="msgContainer">
	               <div class="icon"></div>
	               <p id="confPasswordFldMsg" role="alert"></p>
	           </div>
	      </div>
	
		  <div class="row " id="dobFld">
	          <label class="label" for="birthdategroup">Ngày sinh</label> 
	          <div class="collection" id="birthdategroup" title="I was born on">
						<input title="Day" type="text" name="dd" id="dd" value="<?php echo $this->params['birthday'] ? date('d', $this->params['birthday']) : ''?>" maxlength="2" class="dateInput"> 
						<select title="Select month" name="mm" id="mm" class="">
						<option value="">Tháng sinh</option>
						<?php $month = $this->params['birthday'] ? date('m', $this->params['birthday']) : 0; for($i = 1; $i <= 12; $i++):?>
						<option value="<?php echo $i;?>" <?php echo $i == $month ? 'selected' : '';?>>Tháng <?php echo $i?></option>
						<?php endfor;?>						
						</select>					
						<input title="Year" type="text" name="yyyy" id="yyyy" value="<?php echo $this->params['birthday'] ? date('Y', $this->params['birthday']) : ''?>"  maxlength="4" class="dateInput">
			</div>
	           <div class="msgContainer">
	               <div class="icon"></div>
	               <p id="dobFldMsg" role="alert"></p>
	           </div>
	      </div>
	      <div class="row " id="genderFld">
	          <label class="label" for="gendercollection">Giới tính</label>
	          <div class="collection" id="gendercollection">
	               <select title="Giới tính" class="" id="gender" name="gender">
	                    <option value="" >---</option>
	                    <option title="Male" <?php echo $this->params['gender'] === 0 ? 'selected' : ''?> value="0">Nữ</option>
	                    <option title="Female" <?php echo $this->params['gender'] === 1 ? 'selected' : ''?> value="1">Nam</option>
	               </select>
	          </div>
	           <div class="msgContainer">
	               <div class="icon"></div>
	               <p id="genderFldMsg" role="alert"></p>
	           </div>
	      </div>
	      <div class="row " id="genderFld">
	          <label class="label" for="marriedcollection">Bạn đã kết hôn?</label>
	          <div class="collection" id="marriedcollection">
	               <select title="Bạn đã kết hôn?" class="" id="relationship_status" name="relationship_status" aria-required="true">
	                    <option value="" SELECTED >---</option>
	                    <option title="no" value="m">Chưa, tôi còn độc thân</option>
	                    <option title="yes" value="f">Tôi đã lập gia đình</option>
	               </select>
	          </div>
	           <div class="msgContainer">
	               <div class="icon"></div>
	               <p id="genderFldMsg" role="alert"></p>
	           </div>
	      </div>
	</fieldset>
	
	<fieldset id="fldsetCaptchaTos" class="fieldsCollection">
	          <input type="hidden" name="tos_agreed" id="tos_agreed_o_0" value="y"> 
	          <div class="multipleRows">         	                	
	               <input type="submit" name="IAgreeBtn" id="IAgreeBtn" value="Cập nhật thông tin" title="" border="0">
	          </div>
	</fieldset>
	<input type="hidden" name="user_id" value="<?php echo $this->params['user_id']?>" />
	<input type="hidden" name="email" value="<?php echo $this->params['email']?>" />
	<input type="hidden" name="seckey" value="<?php echo $this->seckey?>" />
	</form>
	<div class="clear"></div>
</div>
							
						</div>
					</div>
				</div>