<?php
$this->headScript()->appendFile($this->layout()->_general['server']['js']['path'] . '/jquery.jscrollpane.js');
?>
<?php if (!empty($this->arrErrors)): ?>
    <?php if($this->arrErrors['error']==1):?>
        <div class="alert-box box-error"><?php echo $this->arrErrors['msg']; ?></div>
    <?php endif;?>

    <?php if($this->arrErrors['error']==2):?>
        <div class="alert-box box-success"><?php echo $this->arrErrors['msg']; ?></div>
    <?php endif;?>

<?php endif; ?>
<div class="settingContainer">
    <div id="leftCol">
        <div class="whiteBackground">
            <h1 class="title">Chỉnh sửa thông tin cá nhân</h1>
            <form id="form-settings" class="page-profile" action="<?php echo $this->currURL;?>" method="post" name="formsettings">
                <div class="field">
                    <div class="left">
                        <label for="email">E-mail:<i class="required">*</i></label>
                    </div>
                    <div class="right">
                        <input type="text" class="text" name="email" value="<?php echo $this->userInfo['email']; ?>" tabindex="1" maxlength="200" value="" disabled="disabled" />
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="field">
                    <div class="left">
                        <label for="fullname">Tên hiển thị:<i class="required">*</i></label>
                    </div>
                    <div class="right">
                        <input type="text" class="text" name="fullname" id="fullname" value="<?php echo $this->userInfo['fullname']; ?>" tabindex="2" maxlength="200" />
                        <span class="error" id="nameError">Tên không được để trống</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="field">
                    <div class="left">
                        <label for="gender">Giới tính:</label>
                    </div>
                    <div class="right">
                        <select name="gender">
                            <option value="">-- Giới tính của bạn --</option>
                            <option value="male" <?php echo $this->userInfo['gender'] == 'male' ? 'selected' : ''; ?>>Nam</option>
                            <option value="female" <?php echo $this->userInfo['gender'] == 'female' ? 'selected' : ''; ?>>Nữ</option>
                            <option value="unspecified" <?php echo $this->userInfo['gender'] == 'unspecified' ? 'selected' : ''; ?>>Khác</option>
                        </select>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="field">
                    <div class="left">
                        <label for="birthday">Ngày sinh:</label>
                    </div>
                    <div class="right">
                        <input type="text" class="text" name="birth_day" id="birth_day" style="width:35px" value="<?php echo $this->birthday['day']; ?>" placeholder="Ngày" maxlength="2"/>
                        <input type="text" class="text" name="birth_month" id="birth_month" style="width:35px" value="<?php echo $this->birthday['month']; ?>" placeholder="Tháng" maxlength="2" />
                        <input type="text" class="text" name="birth_year"  id="birth_year" style="width:98px" value="<?php echo $this->birthday['year']; ?>" placeholder="Năm"  maxlength="4"/>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="field">
                    <div class="left">
                        <label for="description">Vài dòng tự giới thiệu:</label>
                    </div>
                    <div class="right">
                        <textarea class="text" name="description" maxlength="200" tabindex="3"><?php echo $this->userInfo['description']; ?></textarea>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="field">
                    <div class="left">
                        <label for="location">Đến từ:</label>
                    </div>
                    <div class="right">
                        <input type="text" class="text" name="location" value="<?php echo $this->userInfo['location']; ?>" tabindex="2" maxlength="200" />
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="field">
                    <div class="left">
                        <label for="website">Website:</label>
                    </div>
                    <div class="right">
                        <input type="text" class="text" name="website" value="<?php echo $this->userInfo['website']; ?>" tabindex="4" maxlength="200"/>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="gray-line"></div>
                <h1 class="title" style="display: inline">Tạo mới mật khẩu</h1> <span class="subInfo">(Dùng để đăng nhập khi kết nối đến Facebook bị lỗi hoặc bạn mất account Facebook)</span>
                <br/>
                <div class="field">
                    <div class="left">
                        <label for="new-password">Mật khẩu mới:<i class="required">*</i></label>
                    </div>
                    <div class="right">
                        <input type="password" class="text" name="new-password" id="new-password"  value="" tabindex="1" maxlength="200" value="" />
                        
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="field">
                    <div class="left">
                        <label for="verify-password">Nhập lại:<i class="required">*</i></label>
                    </div>
                    <div class="right">
                        <input type="password" class="text" name="verify-password"  id="verify-password" value="" tabindex="1" maxlength="200" value="" />
                        <span class="error" id="passwordNotMatch">Hai lần nhập mật khẩu không giống nhau.</span>
                        
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="gray-line"></div>
                <div class="action">
                    <button id="settings_submit_home" type="button" class="button blue-button" value="Lưu lại">Lưu lại</button>
                    <button id="settings_cancel" type="button" class="button white-button" value="Bỏ qua">Bỏ qua</button>
                </div>
                <input type="hidden" name="subform" value="1" />
                <input type="hidden" name="createPassword" value="1" />
            </form>
            <div class="clear"></div>
        </div>
        <?php echo $this->render('partials/footer.phtml', $this);?>
    </div>
    <div id="rightCol">
        <div class="settingBox sidebarBlock">
            <div class="blockTitle">Tùy chỉnh giao diện<div class="gearIcon"></div></div>
            <div class="settingContent">
                <form action="<?php echo BASE_URL;?>/user/ajaxsavesettings">
                    <div class="titleSeparator">Loại nội dung</div>
                    <div class="settingItem">
                        <span class="label">Hình</span>
                        <div id="settingTogglePhoto" class="toggle <?php echo (isset($this->userInfo['filter']['photo']) &&  $this->userInfo['filter']['photo'])? 'on' : 'off';?>">
                            <div class="switch"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="settingItem">
                        <span class="label">Nhạc</span>
                        <!--<a href="#" class="go-to">Xem</a>-->
                        <div id="settingToggleMusic" class="toggle <?php echo (isset($this->userInfo['filter']['music']) &&  $this->userInfo['filter']['music'])? 'on' : 'off';?>">
                            <div class="switch"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="settingItem">
                        <span class="label">Clip</span>
                        <div id="settingToggleClip" class="toggle <?php echo (isset($this->userInfo['filter']['clip']) &&  $this->userInfo['filter']['clip'])? 'on' : 'off';?>">
                            <div class="switch"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <?php /*<div class="titleSeparator">Hiển thị</div>
                    <div class="settingItem">
                        <span class="label">Giao diện</span>
                        <div class="select" id="themeSettingToggle">
                            <div id="1ColThemeSwitch" class="switch left ">1 cột</div>
                            <div id="2ColThemeSwitch" class="switch right off">2 cột</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="settingItem">
                        <span class="label">Tông màu</span>
                        <div class="select" id="colorSettingToggle">
                            <div id="blueThemeSwitch" class="switch left ">Xanh</div>
                            <div id="blackThemeSwitch" class="switch right off">Đen</div>
                        </div>
                        <div class="clear"></div>
                    </div><?php */?>
                    <div class="actionButtons">
                        <div id="btnSaveSetting" class="button blue-button">LƯU</div>
                        <a id="resetSetting" href="#">Mặc định</a>
                        <div class="clear"></div>
                    </div>
                    <input type="hidden" name="enablePhoto" value="<?php echo isset($this->userInfo['filter']['photo']) ? $this->userInfo['filter']['photo'] : 0;?>" />
                    <input type="hidden" name="enableMusic" value="<?php echo isset($this->userInfo['filter']['music']) ? $this->userInfo['filter']['music'] : 0;?>" />
                    <input type="hidden" name="enableClip" value="<?php echo isset($this->userInfo['filter']['clip']) ? $this->userInfo['filter']['clip'] : 0;?>" />
                    <input type="hidden" name="themeStyle" value="" />
                    <input type="hidden" name="colorStyle" value="<?php echo isset($this->userInfo['filter']['theme']) ? $this->userInfo['filter']['theme'] : '';?>" />
                </form>
            </div>
        </div>
    </div>
</div>

<div id="titleSettingAlert" style="display: none" title="Thông báo">
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        <span id="titlememe">Đặt tiêu đề cho ảnh đi đã chứ =.=</span>
        </p>
</div>

<script type="text/javascript">
Haynn.settings.init();

var $Core = {};
var $Behavior = {};

$Behavior.UpdateSettingUsers = function()
{

   $("#birth_day,#birth_month,#birth_year").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
             // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) || 
             // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
    
  $(document).on('click',"button#settings_submit_home",function(event)
  {
        var fullname       = $('#fullname').val(); 
        var newpassword    = $('#new-password').val(); 
        var verifypassword = $('#verify-password').val(); 
        if(fullname.trim().length==0)
        {
            $('#titlememe').text('Tên hiển thị không được để trống!');
            displayMessageDialog('#titleSettingAlert');
            $('#fullname').focus();
            return false;
        }else if(fullname.trim().length < 10)
        {
            $('#titlememe').text('Tên hiển thị phải lớn hơn 10 ký tự!');
            displayMessageDialog('#titleSettingAlert');
            $('#fullname').focus();
            return false;
        }
        else if(fullname.match(/([\<])([^\>]{1,})*([\>])/i)!=null)
        {
            $('#titlememe').text('Tiêu đề không chứa các script!');
            displayMessageDialog('#titleSettingAlert');
            $('#fullname').focus();
            return false;
        }else if(newpassword.trim().length != 0 || verifypassword.trim().length != 0 )
        {
            if(newpassword.trim().length==0)
            {
                $('#titlememe').text('Vui lòng nhập mật khẩu mới!');
                displayMessageDialog('#titleSettingAlert');
                $('#new-password').focus();
                return false;
            }else if(newpassword.trim().length < 7 )
            {
                $('#titlememe').text('Mật khẩu mới phải lớn hơn 7 ký tự !');
                displayMessageDialog('#titleSettingAlert');
                $('#new-password').focus();
                return false;
            }else if(verifypassword.trim().length==0)
            {
                $('#titlememe').text('Vui lòng nhập lại mật khẩu mới!');
                displayMessageDialog('#titleSettingAlert');
                $('#verify-password').focus();
                return false;
            }else if(verifypassword.trim().length < 7 )
            {
                $('#titlememe').text('Mật khẩu mới phải lớn hơn 7 ký tự !');
                displayMessageDialog('#titleSettingAlert');
                $('#verify-password').focus();
                return false;
            }else if (!newpassword.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/))
            {
                $('#titlememe').text('Mật khẩu mới phải có chữ in Hoa và chữ Thường !');
                displayMessageDialog('#titleSettingAlert');
                $('#new-password').focus();
                return false;
            }
            else if(newpassword != verifypassword)
            {
                $('#titlememe').text('Mật khẩu mới và nhập lại mật khẩu phải giống nhau!');
                displayMessageDialog('#titleSettingAlert');
                $('#verify-password').focus();
                return false;
            }else
            {
                $('#form-settings').submit();
                return true;
            }
        }
       else
        {
            $('#form-settings').submit();
            return true;
        }
        
  });

    $(document).on('click',"button#settings_cancel",function(event)
    {
        window.location.href=Settings.baseurl;
    });

}

$Core.init = function()
{
  
   jQuery(document).ready(function( $ )
   {
      $.each($Behavior, function()
      {
         this(this);
      });

   });

}

$Core.init();

</script>