<form name="tf" method="post" action="">
    <div id="content">
        <div class="breadcrumb clearfix">
            <div class="title k2">Admin</div>
        </div>
        <div class="">
            <?php
            if (isset($this->error) && $this->error) {
                ?>
                <div class="warning">Error !!! <?php echo isset($this->msg) ? $this->msg : ''; ?></div>
            <?php
            }
            ?>
            <div class="module clearfix">
                <div class="lstitle">Tạo Mới Một Admint</div>
                <div class="group_listing_input">
                    <div class="listing_input">
                        <div class="post_label_container">
                            <label class="postLabel">User Name:</label>
                        </div>
                        <input id="user_name" name="user_name" type="text" value="" class="wide_text_input"/>
                    </div>
                    <div class="listing_input">
                        <div class="post_label_container">
                            <label class="postLabel">Password:</label>
                        </div>
                        <input id="password" name="password" type="text" value="" class="wide_text_input"/>
                    </div>
                    <div class="listing_input">
                        <div class="post_label_container">
                            <label class="postLabel">Họ và tên:</label>
                        </div>
                        <input id="fullname" name="fullname" type="text" value="" class="wide_text_input"/>
                    </div>
                    <div class="listing_input">
                        <div class="post_label_container">
                            <label class="postLabel">Cấp quản lý:</label>
                        </div>
                        <select id="role_id" name="role_id" class="post_select">
                            <?php foreach ($this->roleList as $roleId => $role): ?>
                                <option value="<?php echo $roleId; ?>"><?php echo $role; ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                    <div class="listing_input">
                        <div class="post_label_container">
                            <label class="postLabel">Email:</label>
                        </div>
                        <input id="email" name="email" type="text" value="" class="wide_text_input"/>
                    </div>
                    <div class="listing_input" style="margin-top:50px">
                        <div class="post_label_container">
                            <label class="postLabel"></label>
                        </div>
                        <input type="submit" name="submit" value="Thêm Admin"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</form>