	<form name="tf" method="post" action="">
	<div id="content">
		<div class="breadcrumb clearfix">
			<div class="title k2">Admin</div>			
		</div>		
		<div class="">
		<?php
		   if(isset($this->error))
		   {
		   	if($this->error)
		   	{
		   	$msg = 'Có lỗi xảy ra';
		   	switch ($this->error)
		   	{
		   		case 0:
		   			$msg = 'Thay đổi mật khẩu thành công';
		   			break;
		   		case 1:
		   			$msg = '2 mật khẩu nhập vào không giống nhau';
		   			break;
	   			case 2:
	   				$msg = 'Mật khẩu quá ngắn';
	   				break;
		   	}
		   ?>
			<div class="error"><?php echo $msg?></div>
			<?php
			}
			else 
			{
				echo '<div class="warning">Thay đổi mật khẩu thành công</div>';
			}
		   }
			?>
			<div class="module clearfix">
				<div class="lstitle">Thay đổi mật khẩu tài khoản:</div>
				 <div class="group_listing_input">
        <div class="listing_input">
            <div class="post_label_container">
                <label class="postLabel">Tài khoản đăng nhập:</label>
            </div>
            <input id="user_id" disabled="disabled" name="user_id" type="text" value="<?php echo LOGIN_UNAME?>" class="wide_text_input" />
        </div>
        <div class="listing_input">
            <div class="post_label_container">
                <label class="postLabel">Mật khẩu:</label>
            </div>
            <input id="password" name="password" type="password" value="" class="wide_text_input" />
        </div>  
        <div class="listing_input">
            <div class="post_label_container">
                <label class="postLabel">Xác nhận mật khẩu:</label>
            </div>
            <input id="confirm_password" name="confirm_password" type="password" value="" class="wide_text_input" />
        </div>        
        <div class="listing_input">		
			<div class="post_label_container">
				<label class="postLabel"></label>
			</div>				
			<input type="submit" name="submit" value="Đổi mật khẩu"/>						
		</div>
    </div>
			</div>			
		</div>
		<div class="clear"></div>
	</div>
	</form>	