<?php 
//echo "<pre>";print_r($this->listAdmin);die;
?>
<style type="text/css">
.pageOn {
	float: left;
}
.pageOn ul li{
	float: left; display: block; margin-left:10px;
}
.pageOn ul li.active a{
	color:#f15922; font-weight:bold;
}
</style>
<div id="content">
    <div class="breadcrumb clearfix">
        <div class="title k1">Quản lý người dùng</div>
        <div class="addLink">
            <span class="action"><a id="addUser" class="add" title="Thêm quản trị viên" href="<?php echo $this->url(array('action' => 'add', 'controller' => 'admin', 'module' => 'default'), null, true); ?>">Thêm quản trị viên</a></span>
        </div>
    </div>
    <div class="table_member">
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tbody>
                <tr>
                    <?php //<td width="1%" class="secondRow"><input id="checkAll" type="checkbox" value="" name="upid"></td> ?>
                    <td width="7%" class="secondRow">ID</td>
                    <td width="13%" class="secondRow">UserName</td>
                    <td width="25%" class="secondRow">Họ tên</td>
                    <td width="10%" class="secondRow">Cấp quản lý</td>
                    <td width="20%" class="secondRow">Email</td>
                     <td width="15%" class="secondRow">Khóa</td>
                    <td width="10%" class="secondRow">Chức năng</td>
                </tr>
                <?php 
                echo $this->paging;
                foreach ($this->listAdmin as $user): ?>
                <?php
                        $roleName = $this->listRole[$user['role_id']]['name'];
                        $roleName = ($user['role_id'] == -1) ? 'Super Admin' : $roleName;
                        $isLocked = ($user['is_locked'] == 1) ? "Đã bị khóa" : "Chưa bị khóa";
                        $image = ($user['is_locked'] == 1) ? "/icon_unlock.jpg" : "/icon_lock.jpg";
                        $title = ($user['is_locked'] == 1) ? "Mở khóa cho admin này" : "Khóa quyền admin người này";
                ?>
                        <tr>
                    <?php //<td align="center" class="ctn"><input type="checkbox" value="" name="upid"></td> ?>
                        <td class="ctn"><?php echo $user['user_id']; ?></td>
                        <td class="ctn"><?php echo $user['user_name']; ?></td>
                        <td class="ctn"><?php echo $user['fullname']; ?></td>
                        <td class="ctn"><a href="#" class="role" rel="<?php echo $user['user_id']; ?>"><?php echo $roleName; ?></a></td>
                        <td class="ctn"><?php echo $user['email']; ?></td>
                        <td class="ctn"><?php echo $isLocked; ?></td>
                        <td class="ctn">
                       
                        <a href="<?php echo $this->url(array('action' => 'delete', 'controller' => 'admin', 'module' => 'adm', 'user_id' => $user['user_id']), null, true); ?>" class="action delete_category" onClick="return confirm('<?php echo $title?>');" title="<?php echo $title?>" style="cursor:pointer"><img src="<?php echo $this->layout()->_general['server']['img']['path'].$image; ?>" alt="Xóa admin" /></a>
                        <a rel="<?php echo $user['user_id']; ?>" title="Sửa user" class="action edituser" href="<?php echo $this->url(array('action' => 'edit', 'controller' => 'admin', 'module' => 'adm', 'user_id' => $user['user_id']), null, true); ?>"><img src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/icon_edit.jpg" alt="Sửa user" /></a>
                    </td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>