<div class="ad-title">Quảng cáo</div>
<div id='div-gpt-ad-1433401836046-0' style='height:280px; width:336px;margin: 0 auto;display: none'>
    <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1433401836046-0'); });
    </script>
</div>