<?php /*<article id="post-id">
    <div class="banner" style="text-align: center;">
        <script type="text/javascript" src="http://api.adflex.vn/web.php?refcode=bcbc&banner_type=medium_banner&text=1"></script>
    </div>
</article>*/?>