<?php if(!empty($this->ChapPost)):?>
    <div class="chap-navigation">
        Bạn đang xem:
        <a href="<?php echo Post::postUrl($this->post, true)?>;" <?php if($this->video==''):?> class="active" <?php endif;?>> Tập 1 </a>
        <?php foreach($this->ChapPost as $key=>$value):
            $chap_name = isset($value['chap_name']) ? $value['chap_name'] : '';
            $youtube_id = isset($value['youtube_id']) ? $value['youtube_id'] : '';
            $url  = Post::postUrl($this->post, true) . '?video='.$value['id'];
            ?>
            <?php if($youtube_id !=''): ?>
            <a href="<?php echo $url;?>" <?php if($this->video==$value['id']):?> class="active" <?php endif;?>> <?php echo $chap_name;?> </a>
        <?php endif;?>
        <?php endforeach;?>
    </div>
<?php endif;?>