<?php
$videoType = 'none';
if (isset($this->post['youtube_key']) && $this->post['youtube_key'] != '') {
    $videoType = 'youtube';
}
elseif (isset($this->post['vimeo_key']) && $this->post['vimeo_key'] != '') {
    $videoType = 'vimeo';
}
$lsCatogory = $this->lsCatogory;
$search     = array('&amp;quot;','&amp;amp;quot;');
$replace    =  array('&quot;','&quot;');
$post = $this->post;
?>
<?php echo $this->partial('index/box_hot_category.phtml',array('lsCatogory'=>$lsCatogory));?>
    <?php echo $this->partial('index/ad_2.phtml');?>
    <?php if ($this->post['is_approved'] == 1 && $this->post['is_actived'] == 1) { ?>
<div id="abdf">
        <article id="<?php echo $this->post['post_id']; ?>">
            <div class="header">
                <h2>
                    <?php
                    if ($this->ChapVideo) {
                        if ($this->ChapVideo['chap_title']) {
                            echo $this->ChapVideo['chap_title'];
                        } else {
                            echo '[' . $this->ChapVideo['chap_name'] . '] ' . $this->post['story'];
                        }
                    } else {
                        echo $this->post['story'];
                    }
                    ?>
                </h2>
            </div>
            <div class="info-container">
                <div class="by">Đăng bởi <a href="#"><?php echo $this->profile['fullname'];?></a></div>
                <div class="info">
                        <div class="meta"><i class="fa fa-eye"></i> <?php echo My_Zend_Globals::shortenNumber($this->post['number_of_view'] + 1);?></div>
                        <div class="meta"><i class="fa fa-thumbs-up"></i> <?php echo My_Zend_Globals::shortenNumber($this->post['number_of_like']);?></div>
                        <div class="meta"><i class="fa fa-comments"></i> <?php echo My_Zend_Globals::shortenNumber($this->post['number_of_comment']);?></div>
                </div>
            </div>
            <?php /*if ($this->ChapVideo['chap_description']) { ?>
                <div class="description">
                    <?php echo My_Zend_Globals::cutString($this->ChapVideo['chap_description'], 0, 300); ?>
                </div>
            <?php } elseif ($this->post['description']) { ?>
                <div class="description">
                    <?php echo My_Zend_Globals::cutString($this->post['description'], 0, 300); ?>
                </div>
            <?php } */ ?>
            <div class="content">
                <a id="toNext" href="<?php echo Post::postUrl($this->prevPost); ?>" title="Bài tiếp theo"><i></i></a>
                <a id="toPrev" href="<?php echo Post::postUrl($this->nextPost); ?>" title="Bài trước"><i></i></a>
                <?php if (!empty($this->newVideos)&& !$this->post['is_photo']): ?>
                    <div id="hot-videos">
                        <div id="replay-btn" title="Xem lại clip này"><i class="fa fa-repeat"></i></div>
                        <?php
                            if(!empty($this->post['mecloud_key']) || !empty($this->ChapVideo['mecloud_key'])){
                                $new_video = $this->newVideos;
                            } else{
                                $new_video =   array_slice($this->newVideos,0,4);
                            }
                        ?>
                        <?php foreach($new_video as $p): $thumb = $p['post_id'] > 19600 ? 'thumb' : 'thumb1' ?>
                            <div class="hot-video-item">
                                <a href="<?php echo Post::postUrl($p);?>">
                                    <div class="thumbnail-container">
                                        <?php if($p['is_photo'] == 0):?>
                                            <?php if ($p['nsfw']) : ?>
                                                <div class="photo" style="background: url(<?php echo $this->layout()->_general['server']['img']['path'] . '/' . Post::getNsfwThumb(); ?>) center center / cover no-repeat"></div>
                                            <?php else:?>
                                                <div class="photo" style="background: url(<?php echo My_Zend_Globals::getThumbImageVideo($p['picture']); ?>) center center / cover no-repeat"></div>
                                            <?php endif;?>
                                        <?php else :?>
                                            <?php if ($p['nsfw']) : ?>
                                                <div class="photo" style="background: url(<?php echo $this->layout()->_general['server']['img']['path'] . '/' . Post::getNsfwThumb(); ?>) center center / cover no-repeat"></div>
                                            <?php else:?>
                                                <div class="photo" style="background: url(<?php echo My_Zend_Globals::getThumbImage($p['picture'], 'thumb1'); ?>) center center / cover no-repeat"></div>
                                            <?php endif;?>
                                        <?php endif; ?>
                                        <div class="item-info">
                                            <i class="fa fa-eye"></i> <?php echo number_format($p['number_of_view'], 0, ',', '.'); ?>&nbsp;&nbsp;
                                        </div>
                                    </div>
                                    <div>
                                        <p class="" title="<?php echo $p['story'];?>"><?php echo My_Zend_Globals::cutString($p['story'], 0, 60);?></p>
                                    </div>
                                </a>
                            </div>
                        <?php endforeach; ?>

                    </div>
                <?php endif; ?>

            <?php
                if ($this->post['is_photo']) {
                    echo '<img class="postImg" src="' . My_Zend_Globals::getThumbImage($this->post['picture'], 'thumb2') . '" alt="' . $this->post['story'] . '" />';
                } else {
                    $class = '';
                    if (empty($this->post['mecloud_key'])) {
                        if ($this->post['youtube_key'] && (strpos($this->ChapVideo['youtube_id'], '[mecloud]') === false) && (strpos($this->ChapVideo['youtube_id'], '[/mecloud]') === false)) {
                            $class = "youtube";
                        }
                    }
                    echo '<div class="video-container ' . $class . '">';
                    if ( ! empty($this->ChapVideo)) {
                        if ($this->ChapVideo['mecloud_key']) {
                            $videoKey = $this->ChapVideo['mecloud_key'];
                        } else {
                            $videoKey = $this->ChapVideo['youtube_id'];
                        }
                        if ((strpos($videoKey, '[mecloud]') !== false) && (strpos($videoKey, '[/mecloud]') !== false)) {
                            echo My_Zend_Media::generateEmbedScript('mecloud', My_Zend_Media::getMeCloudIDFromUrl($videoKey));
                        } else {
                            echo My_Zend_Media::generateEmbedScript('youtube', $videoKey);
                        }
                    }  elseif ($post['mecloud_key']) {
                        echo My_Zend_Media::generateEmbedScript('mecloud', $post['mecloud_key']);
                    } elseif ($post['youtube_key']) {
                    ?>
                        <div id="player"></div>

                        <script>
                            // 2. This code loads the IFrame Player API code asynchronously.
                            var tag = document.createElement('script');

                            tag.src = "https://www.youtube.com/iframe_api";
                            var firstScriptTag = document.getElementsByTagName('script')[0];
                            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                            // 3. This function creates an <iframe> (and YouTube player)
                            //    after the API code downloads.
                            var player;
                            function onYouTubeIframeAPIReady() {
                                player = new YT.Player('player', {
                                    height: '410',
                                    width: '728',
                                    videoId: '<?php echo $post['youtube_key']; ?>',
                                    events: {
                                        'onReady': onPlayerReady,
                                        'onStateChange': onPlayerStateChange
                                    }
                                });
                            }

                            // 4. The API will call this function when the video player is ready.
                            function onPlayerReady(event) {

                            }

                            // 5. The API calls this function when the player's state changes.
                            //    The function indicates that when playing a video (state=1),
                            //    the player should play for six seconds and then stop.
                            var done = false;
                            function onPlayerStateChange(event) {

                                if(event.data === 0){
                                    player.stopVideo();
                                    $("#hot-videos").fadeIn("slow");
                                }

                            }
                            function stopVideo() {
                                player.stopVideo();
                            }
                            $('#replay-btn').click(function() {
                                player.playVideo();
                                $("#hot-videos").fadeOut("fast");
                            });
                        </script>
                    <?php

                        //echo My_Zend_Media::generateEmbedScript('youtube', );
                    } elseif ($post['vmo_key']) {
                        echo My_Zend_Media::generateEmbedScript('vimeo', $post['vmo_key']);
                    } elseif ($post['zingtv_key']) {
                        echo My_Zend_Media::generateEmbedScript('zing_tv', $post['zingtv_key']);
                    } elseif ($post['nct_video']) {
                        echo My_Zend_Media::generateNctMobileEmbed('nct_video', $post['url'], $post['picture']);
                    } elseif ($post['nct_mp3']) {
                        echo My_Zend_Media::generateNctMobileEmbed('nct_mp3', $post['url']);
                    } elseif ($post['mecloud_key']) {
                        echo My_Zend_Media::generateEmbedScript('mecloud', $post['mecloud_key']);
                    }
                    echo '</div>';
                }
            ?>

            </div>
            <div class="fb-like" data-href="<?php echo Post::postUrl($this->post, true, false);?>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
            <div class="g-plusone" data-href="<?php echo Post::postUrl($this->post, true, false);?>" data-size="medium"></div>
        </article>
        <div class="btn-social clearfix" >
            <a onclick="ga('send', 'event', 'Share Mobile', 'Facebook Share', 'Social Share');" href="http://www.facebook.com/sharer/sharer.php?u=<?php echo Post::postUrl($this->post, true, false);?>" title="Share Facebook" target="_blank">
                <div class="btn-facebook">Share Facebook <?php echo $this->post['number_of_share'] ? '(' . $this->post['number_of_share'] . ')' : ''; ?></div>
            </a>
            <a onclick="ga('send', 'event', 'Share Mobile', 'Google Share', 'Social Share');" href="https://plus.google.com/share?url=<?php echo Post::postUrl($this->post, true, false);?>" title="Share on Google+" target="_blank">
                <div class="btn-google-plus">Share Google+</div>
            </a>
        </div>
</div>
<div id="abde"></div>

<?php echo $this->render('index/chap-navigation.phtml', $this); ?>
<div class="navigation">
    <a href="<?php echo Post::postUrl($this->prevPost); ?>" class="prev blue-button"><i class="fa fa-angle-left"></i> Trước</a>
    <a href="<?php echo Post::postUrl($this->nextPost); ?>" class="next blue-button">Sau <i class="fa fa-angle-right"></i></a>
    <div style="clear:both"></div>
</div>
<?php echo $this->partial('index/ad_5.phtml');?>
<div class="comment" style="margin-bottom: 10px">
    <h2>Bình luận</h2>
    <div class="fb-comments" data-href="<?php echo Post::postUrl($this->post, true, false);?>" data-numposts="5" data-colorscheme="light"></div>
</div>
<?php } else { ?>
    <div style="background:yellow; padding:10px; border: 1px solid #cccccc; margin:10px 0; width:100%; box-sizing: border-box">
            Bài này chưa được Duyệt nên bạn không thể xem.
    </div>
<?php } ?>
<?php /*
<div id="InPage_1447217570" style="text-align:center; width: 300px; height: 250px; margin: 10px auto;"> </div>
<script type="text/javascript">
    var _abdm = _abdm || [];
    /* load placement for account: haynhucnhoi, site: http://haynhucnhoi.tv, size: 300x250 - mobile, zone: in_page
    _abdm.push(["1435823768","InPage","1447217570","InPage_1447217570"]);
</script>
<script src="http://media.m.ambientplatform.vn/js/m_adnetwork.js" type="text/javascript"></script>
*/?>
<noscript><a href="http://click.m.ambientplatform.vn/247/admServerNs/zid_1447217570/wid_1435823768/" target="_blank"><img src="http://delivery.m.ambientplatform.vn/247/mnoscript/zid_1447217570/wid_1435823768/" /></a></noscript>
<?php if (!empty($this->recommendPosts)): ?>
    <div class="more">
        <h2>Có thể bạn chưa thèm xem</h2>
        <?php
        $config       = My_Zend_Globals::getConfiguration();
        $pictureSharePhoto = '';
        $pictureShare = '';
        $i = 0;
        foreach($this->recommendPosts as $post) {
            $i++;
            if ($post['is_photo']) {
                if (!empty($post['picture_share'])) {
                    $pictureSharePhoto = $config->photo->domain . $post['picture_share'];
                } else {
                    $pictureSharePhoto = $config->photo->domain . $post['picture'];
                }
            } else {
                if (!empty($post['picture_upload'])) {
                    $pictureShare = My_Zend_Globals::getThumbImage($post['picture_upload']);
                } else {
                    $pictureShare = My_Zend_Globals::getThumbImageVideo($post['picture']);
                }
            }
            echo $this->partial('blocks/post_layout_2.phtml', array(
                    'post' => $post,
                    'pictureShare' => $pictureShare,
                    'pictureSharePhoto' => $pictureSharePhoto)
            );
        }
        ?>
    </div>
<?php endif; ?>
<a href="http://haynhucnhoi.tv" id="nextPageLink"><div id="btnLoadMoreContainer"><div id="btnLoadMore">TRỞ VỀ TRANG CHỦ</div></div></a>
<script type="text/javascript">
    $(document).ready(function() {
        <?php if($post['mecloud_key']): ?>
            MeCloudVideoPlayer.addEventListener('complete',function(eventData){
                console.log(eventData);
                $("#hot-videos").fadeIn("slow");
            });
        <?php endif; ?>
        window.fbAsyncInit = function () {
            FB.Event.subscribe('edge.create', function(url) {
                mobileRecount(url);
                mobileLog(url, 'like', 'detail');
            });
            FB.Event.subscribe('edge.remove',  function(url) {
                mobileRecount(url);
                mobileLog(url, 'unlike', 'detail');
            });
            FB.Event.subscribe('comment.remove',  function(url) {
                mobileRecount(url);
                mobileLog(url.href, 'uncomment', 'detail');
            });
            FB.Event.subscribe('comment.create',  function(url) {
                mobileRecount(url);
                mobileLog(url.href, 'comment', 'detail');
            });
        };
        mobileRecount = function() {
            $.post("<?php echo BASE_URL;?>/ajax/updatestats/id/<?php echo $this->post['post_id'];?>");
        };
        mobileLog = function (url, action, location) {
            $.post(
                '<?php echo BASE_URL;?>' + "/ajax/log", {
                    url: url,
                    location: location,
                    user_id: Account.UID,
                    type: action,
                    platform: 'mobile'
                }
            )
        };
    });

</script>
<?php if(!empty($this->post['mecloud_key'])): ?>
    <script src="http://sdk.mecloud.vn/loader" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            MeCloudVideoPlayer.addEventListener('complete',function(eventData){
                console.log(eventData);
                $("#hot-videos").fadeIn("slow");
            });
            $('#replay-btn').click(function() {
                $('#relate-video').hide();
                $("#hot-videos").fadeOut("fast");
            });
        });

    </script>
<?php endif; ?>
