<?php
$posts = $this->posts;
$lsCatogory = $this->lsCatogory;
echo $this->partial('index/box_hot_category.phtml',array('lsCatogory'=>$lsCatogory));
if (!empty($posts))
{
    $count = 0;
    foreach($posts as $key => $post)
    {
        echo $this->partial('index/postbit.phtml', array('post' => $post));
//        if ($count == 0)
//            echo $this->partial('index/ad_1.phtml');
//        elseif ($count == 3)
//            echo $this->partial('index/ad_3.phtml');
//        $count++;
    }
}
//echo $this->partial('index/ad_4.phtml');
?>
<a href="<?php echo $this->nextPage;?>" id="nextPageLink"><div id="btnLoadMoreContainer"><div id="btnLoadMore">NỮA ĐI, ĐỪNG DỪNG LẠI...</div></div></a>
<script type="text/javascript">
    $(document).ready(function() {
        window.fbAsyncInit = function () {
            FB.Event.subscribe('edge.create', mobileRecount);
            FB.Event.subscribe('edge.remove', mobileRecount);
        };
        mobileRecount = function(response) {
            if (response.toString().indexOf('/photo/') > 0) {
                $.post("<?php echo BASE_URL ?>/ajax/updatestats/?url=" + response);
            }
        };
    });
</script>