<?php
$posts = $this->posts;
$lsCatogory = $this->lsCatogory;
echo $this->partial('index/box_hot_category.phtml',array('lsCatogory'=>$lsCatogory));
if (!empty($posts))
{
    $count = 0;
    foreach($posts as $key => $post)
    {
        echo $this->partial('index/postbit.phtml', array('post' => $post));
//        if ($count == 0) {
//            echo $this->partial('index/ad_1.phtml');
//        } elseif ($count == 4) {
//            echo $this->partial('index/ad_3.phtml');
//        } elseif ($count == 8) {
//            echo $this->partial('index/ad_8.phtml');
//        }
        $count++;
    }
}
//echo $this->partial('index/ad_4.phtml');
?>
<a href="<?php echo $this->nextPage;?>" id="nextPageLink"><div id="btnLoadMoreContainer"><div id="btnLoadMore">NỮA ĐI, ĐỪNG DỪNG LẠI...</div></div></a>
<script type="text/javascript">
    $(document).ready(function() {
        window.fbAsyncInit = function () {
            FB.Event.subscribe('edge.create', function($url) {
                mobileRecount($url);
                mobileLog($url, 'like', 'index');
            });
            FB.Event.subscribe('edge.remove',  function($url) {
                mobileRecount($url);
                mobileLog($url, 'unlike', 'index');
            });
        };
        mobileRecount = function(response) {
            if (response.toString().indexOf('/photo/') > 0) {
                $.post("<?php echo BASE_URL ?>/ajax/updatestats/?url=" + response);
            }
        };
        mobileLog = function ($url, $action, $location) {
            $.post(
                '<?php echo BASE_URL;?>' + "/ajax/log", {
                    url: $url,
                    location: $location,
                    user_id: Account.UID,
                    type: $action,
                    platform: 'mobile'
                }
            )
        };
    });
</script>