<?php
$post = $this->post;
$search     = array('&amp;quot;');
$replace    =  array('&quot;');
?>
<article id="post-id">
    <div class="header">
        <a href="<?php echo Post::postUrl($post);?>" title="<?php echo $post['story'];?>"><h2><?php echo str_replace($search,$replace,$post['story']); ?></h2></a>
    </div>
    <div class="info-container">
        <div class="by">Bởi <a href="<?php echo BASE_URL;?>/user/<?php echo $post['user_id'];?>"><?php echo $post['fullname'];?></a></div>
        <div class="info">
            <div class="meta"><i class="fa fa-eye"></i> <?php echo My_Zend_Globals::shortenNumber($post['number_of_view']);?></div>
            <div class="meta"><i class="fa fa-thumbs-up"></i> <?php echo My_Zend_Globals::shortenNumber($post['number_of_like']);?></div>
            <div class="meta"><i class="fa fa-comments"></i> <?php echo My_Zend_Globals::shortenNumber($post['number_of_comment']);?></div>
        </div>
    </div>
    <div class="content <?php if ($post['is_photo'] == 0) echo "video";?>">
        <?php if($post['is_photo'] == 0):?>
            <a href="<?php echo Post::postUrl($post);?>" style="display: block" title="<?php echo $post['story'];?>">
                <?php if ($post['nsfw']) : ?>
                    <img src="<?php echo $this->layout()->_general['server']['img']['path'] . '/' . Post::getNsfwThumb(); ?>" alt="<?php echo $post['story'];?>" />
                <?php endif;?>
                <?php if(empty($post['picture_upload'])) : ?>
                    <img src="<?php echo My_Zend_Globals::getThumbImageVideo($post['picture']); ?>" alt="<?php echo $post['story'];?>" />
                <?php else : ?>
                    <img src="<?php echo My_Zend_Globals::getThumbImage($post['picture_upload']); ?>" alt="<?php echo $post['story'];?>" />
                <?php endif; ?>
            <div class="videoIndicator"></div>
            </a>
        <?php else :?>
            <a href="<?php echo Post::postUrl($post);?>" title="<?php echo $post['story'];?>">
                <?php if ($post['nsfw']) : ?>
                    <img src="<?php echo $this->layout()->_general['server']['img']['path'] . '/' . Post::getNsfwThumb(); ?>" alt="<?php echo $post['story'];?>" />
                <?php else:?>
                    <img src="<?php echo My_Zend_Globals::getThumbImage($post['picture'], 'thumb1'); ?>" alt="<?php echo $post['story'];?>" />
                <?php endif;?>
                <?php if ($post['is_gif']==1) : ?>
                    <div class="home-gif">GIF</div>
                <?php endif;?>
            </a>
        <?php endif; ?>
    </div>
    <br/>
<!--    <div class="fl-l" style="margin-left: 5px">-->
<!--        <table style="float: left">-->
<!--            <tr>-->
<!--                <td>-->
<!--                    <a target="_blank" id="like-button" title="--><?php //echo $this->likeButtonTooltip; ?><!--" data-token="--><?php //echo Like::getToken(LOGIN_UID, $post['post_id'], $this->timeToken); ?><!--">-->
<!--                        <div class="vote-btn facebook-button facebook-button-small --><?php //echo ($this->userLiked) ? 'liked' : '' ?><!--">-->
<!--                            <span>Bình chọn</span>-->
<!--                        </div>-->
<!--                        <script type="text/javascript">-->
<!--                            $('#like-button').tipsy({fade: true, gravity: 's'});-->
<!--                        </script>-->
<!--                    </a>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <div class="facebook-count-button" id="like-button-count">--><?php //echo My_Zend_Globals::number_format($this->post['favclicks']);?><!--</div>-->
<!--                    <div class="facebook-count-nub">-->
<!--                        <s></s><i></i>-->
<!--                    </div>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->
    <?php if ($post['phase'] > Post::_PHASE_NEW_POST) { ?>
        <div id="likebutton-<?php echo $post['post_id'];?>" class="fb-like" data-href="<?php echo Post::postUrl($post, true, false);?>" data-width="100" data-layout="button_count" data-show-faces="false" data-send="false" data-share="true"></div>
    <?php } ?>
</article>