<style>
    .htitle {margin-bottom: 20px;}
    .htitle h1 {font-size: 16px; font-weight: bold; display: inline-block}
</style>
<div class="htitle">Chủ đề: <h1><?php echo $this->tag['tag_name'];?></h1></div>
<?php
$posts = $this->posts;
?>
<?php if (!empty($posts)): $count = 0;?>
<?php foreach($posts as $key => $post):?>
<?php echo $this->partial('index/postbit.phtml', array('post' => $post));?>
    <?php if ($count == 0): ?>
    <?php echo $this->partial('index/ad_1.phtml');?>
    <?php elseif ($count == 3): ?>
    <?php echo $this->partial('index/ad_3.phtml');?>
    <?php elseif ($count == 6): ?>
    <?php endif; ?>
<?php $count++; endforeach;?>
<?php endif; ?>
<?php echo $this->partial('index/ad_4.phtml');?>
<?php if ($this->nextPage != ''): ?>
<a href="<?php echo $this->nextPage;?>" id="nextPageLink"><div id="btnLoadMoreContainer"><div id="btnLoadMore">NỮA ĐI, ĐỪNG DỪNG LẠI...</div></div></a>
<?php endif; ?>