<?php
$videoType = 'none';
if (isset($this->post['youtube_key']) && $this->post['youtube_key'] != '') {
    $videoType = 'youtube';
}
elseif (isset($this->post['vimeo_key']) && $this->post['vimeo_key'] != '') {
    $videoType = 'vimeo';
}
?>
<?php echo $this->partial('index/ad_2.phtml');?>
<article id="post-id">
    <div class="header">
        <h2><?php echo $this->post['story']; ?></h2>
    </div>
    <div class="by">Đăng bởi <a href="#"><?php echo $this->profile['fullname'];?></a></div>
    <div class="info">
            <div class="meta"><i class="fa fa-eye"></i> <?php echo number_format($this->post['number_of_view']);?></div>
            <div class="meta"><i class="fa fa-thumbs-up"></i> <?php echo number_format($this->post['number_of_like']);?></div>
            <div class="meta"><i class="fa fa-comments"></i> <?php echo number_format($this->post['number_of_comment']);?></div>
            <div class="meta ago"><?php echo My_Zend_Globals::distanceOfTimeInWords($this->post['created_at']);?></div>
    </div>
    <div class="navigation">
            <a href="<?php echo Post::postUrl($this->nextPost); ?>" class="prev blue-button"><i class="fa fa-angle-left"></i> Trước</a>
            <a href="<?php echo Post::postUrl($this->prevPost); ?>" class="next blue-button">Sau <i class="fa fa-angle-right"></i></a>
            <div style="clear:both"></div>
    </div>
    <div class="content">
        <?php if ($this->post['is_photo']): ?>
        <img class="postImg" src="<?php echo My_Zend_Globals::getThumbImage($this->post['picture'], 'thumb2'); ?>" alt="<?php echo $this->post['story']; ?>" />
        <div style="background: none repeat scroll 0% 0% rgb(255, 255, 255); height: 5px; position: absolute; left: 0px; right: 0px; bottom: 0px;"></div>
        <a id="toNext" href="<?php echo Post::postUrl($this->prevPost); ?>" title="Bài tiếp theo"><i></i></a>
        <a id="toPrev" href="<?php echo Post::postUrl($this->nextPost); ?>" title="Bài trước"><i></i></a>
        <?php elseif ($this->post['youtube_key'] != ''): ?>
        <div class="video-container"><iframe id="ytPlayer" width="650" height="366" src="http://www.youtube.com/embed/<?php echo $this->post['youtube_key']; ?>?rel=0&showinfo=0&vq=large&iv_load_policy=3&modestbranding=1&nologo=1" frameborder="0" allowfullscreen="1"></iframe></div>
        <?php elseif ($this->post['vmo_key'] != ''): ?>
        <div class="video-container"><iframe src="//player.vimeo.com/video/<?php echo $this->post['vmo_key']; ?>" width="728" height="410" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <?php endif; ?>
    </div>
</article>
<article>
    <div class="banner" style="text-align: center;">
<script type="text/javascript" src="http://api.adflex.vn/web.php?refcode=bcbc&banner_type=medium_banner&text=1"></script>
    </div>
</article>
<div class="navigation">
    <a href="<?php echo Post::postUrl($this->nextPost); ?>" class="prev blue-button"><i class="fa fa-angle-left"></i> Trước</a>
    <a href="<?php echo Post::postUrl($this->prevPost); ?>" class="next blue-button">Sau <i class="fa fa-angle-right"></i></a>
    <div style="clear:both"></div>
</div>
<article>
    <div class="banner" style="text-align: center;">
<script type="text/javascript" src="http://api.adflex.vn/web.php?refcode=bcbc&banner_type=medium_banner&text=1"></script>
    </div>
</article>
<div class="comment">
    <h2>Bình luận</h2>
    <div class="fb-comments" data-href="<?php echo Post::postUrl($this->post, true);?>" data-numposts="5" data-colorscheme="light"></div>
</div>
<?php if (!empty($this->recommendPosts)): ?>
    <div class="more">
        <h2>Có thể bạn chưa thèm xem</h2>
        <?php foreach($this->recommendPosts as $post): ?>
            <div class="item">
                <div class="thumbnail" style="background-image: url('<?php echo My_Zend_Globals::getThumbImage($post['picture'], 'thumb1'); ?>')">
                    <a href="<?php echo Post::postUrl($post);?>"></a>
                </div>
                <div class="info">
                    <h3><a href="<?php echo Post::postUrl($post);?>"><?php echo $post['story'];?></a></h3>
                    <span class="by">Đăng bởi <a href="#"><?php echo $post['fullname'];?></a></span>
                </div>
                <div class="clear"></div>
            </div>
        <?php endforeach; ?>
    </div>
<?php endif; ?>
<script>
    $(document).ready(function() {
        $.post("<?php echo BASE_URL;?>/ajax/ajxups/id/<?php echo $this->post['post_id'];?>");
    });
</script>