<?php $params = $this->params; ?>
<!-- Page -->
<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title">Log Management</h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo BASE_URL . '/adm_reborn' ?>">Home</a></li>
            <li class="active">Log</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-xlg-12 col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Search Log</h3>
                    </div>
                    <div class="panel-body container-fluid">
                        <form autocomplete="off" method="post" enctype="multipart/form-data" name="frm"
                              id="frm">
                            <div class="form-group form-material row">
                                <div class="col-sm-3">
                                    <label class="control-label" for="post_id">Post ID</label>
                                    <input type="text" class="form-control" id="post_id" name="post_id"
                                           value="<?php echo isset($params['post_id']) ? $params['post_id'] : ''; ?>"/>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="user_id">User ID</label>
                                    <input type="text" class="form-control" id="user_id" name="user_id"
                                           value="<?php echo isset($params['user_id']) ? $params['user_id'] : ''; ?>"/>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="ip">IP</label>
                                    <input type="text" class="form-control" id="ip" name="ip"
                                           value="<?php echo isset($params['ip']) ? $params['ip'] : ''; ?>"/>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="type">Action</label>
                                    <select class="form-control" id="type" name="type">
                                        <option value="">Tất cả</option>
                                        <option value="like"
                                                class="second" <?php echo (isset($params['type']) && $params['type'] == 'like') ? 'selected="selected"' : ''; ?>>
                                            Like
                                        </option>
                                        <option value="unlike"
                                                class="second" <?php echo (isset($params['type']) && $params['type'] == 'unlike') ? 'selected="selected"' : ''; ?>>
                                            Unlike
                                        </option>
                                        <option value="comment"
                                                class="second" <?php echo (isset($params['type']) && $params['type'] == 'comment') ? 'selected="selected"' : ''; ?>>
                                            Comment
                                        </option>
                                        <option value="uncomment"
                                                class="second" <?php echo (isset($params['type']) && $params['type'] == 'uncomment') ? 'selected="selected"' : ''; ?>>
                                            Uncomment
                                        </option>
                                        <option value="share"
                                                class="second" <?php echo (isset($params['type']) && $params['type'] == 'share') ? 'selected="selected"' : ''; ?>>
                                            Share
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-material row">
                                <div class="col-sm-3">
                                    <label class="control-label" for="location">Location</label>
                                    <select class="form-control" id="location" name="location">
                                        <option value="">Tất cả</option>
                                        <option value="index"
                                                class="second" <?php echo (isset($params['location']) && $params['location'] == 'index') ? 'selected="selected"' : ''; ?>>
                                            Home
                                        </option>
                                        <option value="new"
                                                class="second" <?php echo (isset($params['location']) && $params['location'] == 'new') ? 'selected="selected"' : ''; ?>>
                                            New
                                        </option>
                                        <option value="hot"
                                                class="second" <?php echo (isset($params['location']) && $params['location'] == 'hot') ? 'selected="selected"' : ''; ?>>
                                            Hot
                                        </option>
                                        <option value="detail"
                                                class="second" <?php echo (isset($params['location']) && $params['location'] == 'detail') ? 'selected="selected"' : ''; ?>>
                                            Detail
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="platform">Platform</label>
                                    <select class="form-control" id="platform" name="platform">
                                        <option value="">Tất cả</option>
                                        <option value="desktop"
                                                class="second" <?php echo (isset($params['platform']) && $params['platform'] == 'desktop') ? 'selected="selected"' : ''; ?>>
                                            Desktop
                                        </option>
                                        <option value="mobile"
                                                class="second" <?php echo (isset($params['platform']) && $params['platform'] == 'mobile') ? 'selected="selected"' : ''; ?>>
                                            Mobile
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="limit">Limit</label>
                                    <input type="text" class="form-control" id="limit" name="limit"
                                           value="<?php echo isset($params['limit']) ? $params['limit'] : '50'; ?>"/>
                                </div>
                            </div>
                            <button type="submit" name="btn_submit" class="btn btn-primary"
                                    id="btn_submit">
                                Search
                            </button>
                        </form>
                    </div>
                </div>
                <?php
                $logs = $this->logs;
                if (!empty($logs)) : ?>
                    <div class="panel">
                        <div class="panel-body container-fluid">
                            <?php echo "Total: <strong>" . count($logs) . "</strong>" ?>
                            <table class="table table-hover dataTable table-striped width-full">
                                <thead>
                                <tr>
                                    <th width="15%">Time</th>
                                    <th width="3%">Action</th>
                                    <th width="10%">User ID</th>
                                    <th width="10%">Post ID</th>
                                    <th width="10%">IP</th>
                                    <th width="5%">Location</th>
                                    <th width="">User Agent</th>
                                    <th width="5%">Platform</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th width="15%">Time</th>
                                    <th width="3%">Action</th>
                                    <th width="10%">User ID</th>
                                    <th width="10%">Post ID</th>
                                    <th width="10%">IP</th>
                                    <th width="5%">Location</th>
                                    <th width="">User Agent</th>
                                    <th width="5%">Platform</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <?php foreach ($logs as $log) : ?>
                                    <tr>
                                        <td><?php echo $log['time'] ?></td>
                                        <td><?php echo $log['type'] ?></td>
                                        <td><?php echo $log['user_id'] > 0 ? $log['user_id'] : 'Guest' ?></td>
                                        <td><?php echo $log['post_id'] ?></td>
                                        <td><?php echo $log['ip'] ?></td>
                                        <td><?php echo $log['location'] ?></td>
                                        <td><?php echo $log['user_agent'] ?></td>
                                        <td><?php echo $log['platform'] ?></td>
                                    </tr>
                                <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <?php else : ?>
                    <?php echo $this->error ?>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>