<!-- Page -->
<div class="page animsition">
<div class="page-header">
    <h1 class="page-title">User Management</h1>
    <ol class="breadcrumb">
        <li><a href="<?php echo BASE_URL . '/adm_reborn' ?>">Home</a></li>
        <li><a href="<?php echo BASE_URL . '/adm_reborn/user' ?>">User</a></li>
        <li class="active"><?php echo $this->user['fullname']?></li>
    </ol>
</div>
<div class="page-content container-fluid">
<div class="row">
<div class="col-sm-12">
<!-- Panel Static Lables -->
<div class="panel">
<div class="panel-heading">
    <h3 class="panel-title"><?php echo $this->user['fullname']?></h3>
</div>
<div class="panel-body container-fluid">
    <form autocomplete="off" method="post" enctype="multipart/form-data">
        <?php if(!empty($this->messages)):?>
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <?php foreach ($this->messages as $key => $value)
                    echo $this->messages[$key];?>
            </div>
        <?php endif; ?>
        <div class="form-group form-material row">
            <div class="col-sm-3">
                <label class="control-label" for="rank">Rank</label>
                <input type="text" class="form-control focus" id="rank"
                       value="<?php echo $this->user['rank'];?>" disabled>
            </div>
            <div class="col-sm-3">
                <label class="control-label" for="totalPost">Total post</label>
                <input type="text" class="form-control" id="totalPost"
                       value="<?php echo $this->user['posts'];?>"
                       disabled>
            </div>
            <div class="col-sm-3">
                <label class="control-label" for="totalView">Total view</label>
                <input type="text" class="form-control" id="totalView"
                       value="<?php echo $this->user['yourviewed'];?>" disabled>
            </div>
            <div class="col-sm-3">
                <label class="control-label" for="viewProfile">Total view profile</label>
                <input type="text" class="form-control" id="viewProfile"
                       value="<?php echo $this->user['profileviews'];?>" disabled>
            </div>
        </div>
        <div class="form-group form-material row">
            <div class="col-sm-3">
                <label class="control-label" for="likeProfile">Total like profile</label>
                <input type="text" class="form-control focus" id="likeProfile"
                       value="<?php echo $this->user['like_count'];?>" disabled>
            </div>
            <div class="col-sm-3">
                <label class="control-label" for="commentProfile">Total comment profile</label>
                <input type="text" class="form-control" id="commentProfile"
                       value="<?php echo $this->user['comment_count'];?>"
                       disabled>
            </div>
            <div class="col-sm-3">
                <label class="control-label" for="followed">Followed</label>
                <input type="text" class="form-control" id="followed"
                       value="<?php echo $this->user['follow_number'];?>" disabled>
            </div>
            <div class="col-sm-3">
                <label class="control-label" for="following">Following</label>
                <input type="text" class="form-control" id="following"
                       value="<?php echo $this->user['followed_number'];?>" disabled>
            </div>
        </div>
        <div class="form-group form-material has-warning row">
            <div class="col-sm-6">
                <label class="control-label" for="email">Email</label>
                <input type="text" class="form-control focus" id="email" name="email"
                       value="<?php echo $this->escape($this->user['email']); ?>"/>
            </div>
            <div class="col-sm-6">
                <label class="control-label" for="password">Password (only input when change)</label>
                <input type="text" class="form-control focus" id="password" name="password"
                       value="<?php echo $this->post['story'] ?>"/>
            </div>
        </div>
        <div class="form-group form-material row">
            <div class="col-sm-3">
                <label class="control-label" for="fullname">Name</label>
                <input type="text" class="form-control"
                       name="fullname" id="fullname"
                       value="<?php echo $this->escape($this->user['fullname']); ?>"/>
            </div>
            <div class="col-sm-3">
                <label class="control-label" for="source">DoB</label>
                <input type="text" class="form-control"
                       name="source" id="source"
                       value=""/>
            </div>
            <div class="col-sm-3">
                <label class="control-label" for="gender">Gender</label>
                <select class="form-control" id="gender" name="gender">
                    <option value="male"<?php echo $this->user['gender'] ? ' selected="selected" ' : '';?>>Male</option>
                    <option value="female"<?php echo !$this->user['gender'] ? ' selected="selected" ' : '';?>>Female</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label class="control-label" for="location">Location</label>
                <input type="text" class="form-control"
                       name="location" id="location"
                       value="<?php echo $this->escape($this->user['location']); ?>"/>
            </div>
        </div>
        <div class="form-group form-material row">
            <div class="col-sm-6">
                <label class="control-label" for="description">Description</label>
                <input type="text" class="form-control"
                       name="description" id="description"
                       value="<?php echo $this->post['description'] ?>"/>
            </div>
            <div class="col-sm-6">
                <label class="control-label" for="website">Website</label>
                <input type="text" class="form-control"
                       name="website" id="website"
                       value="<?php echo $this->escape($this->user['website']); ?>"/>
            </div>
        </div>
        <div class="form-group form-material row">
            <div class="col-sm-3">
                <label class="control-label margin-right-20" for="status">Status</label>
                <input type="checkbox" id="status" name="status" data-plugin="switchery"
                    <?php echo $this->user['status'] ? ' checked="checked" value="1" ' : ' ';?> />
            </div>
            <div class="col-sm-3">
                <label class="control-label margin-right-20" for="approved_new_post">Approve new post</label>
                <input type="checkbox" id="approved_new_post" name="approved_new_post" data-plugin="switchery"
                    <?php echo $this->user['approved_new_post'] == 1 ? ' checked="checked" value="1" ' : ' ';?> />
            </div>
            <div class="col-sm-3">
                <label class="control-label margin-right-20" for="new_post_to_home">New post to Home</label>
                <input type="checkbox" id="new_post_to_home" name="new_post_to_home" data-plugin="switchery"
                    <?php echo $this->user['new_post_to_home'] == 1 ? ' checked="checked" value="1" ' : ' ';?> />
            </div>
        </div>
        <button type="submit" name="btn_submit" class="btn btn-primary pull-right margin-top-30" id="btn_submit">Update</button>
    </form>
</div>
</div>
<!-- End Panel Static Lables -->
</div>
</div>
</div>
</div>
<!-- End Page -->