<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title">List Users</h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo BASE_URL . '/adm_reborn' ?>">Home</a></li>
            <li class="active">User</li>
        </ol>
    </div>
    <div class="page-content">
        <!-- Panel Basic -->
        <div class="panel">
            <div class="panel-body">
                <div class="margin-bottom-30">
                    <form autocomplete="off" method="get" enctype="multipart/form-data"
                          action="<?php echo $this->url(array('action' => 'index', 'controller' => 'user', 'module' => 'adm'), null, true); ?>">
                        <div class="form-group form-material row">
                            <div class="col-sm-4">
                                <label class="control-label" for="user_id">User ID</label>
                                <input type="text" class="form-control" id="user_id" name="user_id"
                                       value="<?php echo isset($params['user_id']) ? $params['user_id'] : ''; ?>"/>
                            </div>
                            <div class="col-sm-4">
                                <label class="control-label" for="email">Email</label>
                                <input type="text" class="form-control" id="email" name="email"
                                       value="<?php echo isset($params['email']) ? $params['email'] : ''; ?>"/>
                            </div>
                            <div class="col-sm-4">
                                <label class="control-label" for="status">Status</label>
                                <select class="form-control" id="status" name="status">
                                    <option value="-1">Tất cả</option>
                                    <option value="1"
                                            class="second" <?php echo (isset($params['status']) && $params['status'] == 1) ? 'selected="selected"' : ''; ?>>
                                        Có
                                    </option>
                                    <option value="0"
                                            class="second" <?php echo (isset($params['status']) && $params['status'] == 0) ? 'selected="selected"' : ''; ?>>
                                        Không
                                    </option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" name="btn_submit" class="btn btn-primary" id="btn_submit">
                            Search
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <table class="table table-hover dataTable table-striped width-full">
                    <thead>
                    <tr>
                        <th width="5%">ID</th>
                        <th width="30">Email</th>
                        <th width="10%">Avatar</th>
                        <th width="15%">Name</th>
                        <th width="5%">Status</th>
                        <th width="15%">Create at</th>
                        <th width="15%">Last login</th>
                        <th width="10%" class="text-nowrap">Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th width="5%">ID</th>
                        <th width="30">Email</th>
                        <th width="10%">Avatar</th>
                        <th width="15%">Name</th>
                        <th width="5%">Status</th>
                        <th width="15%">Create at</th>
                        <th width="15%">Last login</th>
                        <th width="10%" class="text-nowrap">Action</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <?php if (!empty($this->users)): ?>
                        <?php foreach ($this->users as $user): ?>
                            <tr>
                                <td>
                                    <?php echo $user['user_id']; ?>
                                </td>
                                <td>
                                    <a target="_blank"
                                       href="<?php echo User::userUrl($user); ?>"><?php echo $user['email']; ?></a>
                                </td>
                                <td>
                                    <a href="<?php echo User::userUrl($user); ?>" target="_blank">
                                        <img
                                            src="https://graph.facebook.com/<?php echo $user['facebookid']; ?>/picture?width=80&amp;height=80"
                                            width="50"/>
                                    </a>
                                </td>
                                <td>
                                    <?php echo $user['fullname']; ?>
                                </td>
                                <td>
                                    <?php echo $user['status'] == 1 ? 'Active' : 'Lock'; ?>
                                </td>
                                <td>
                                    <?php echo date('H:i d/m/Y', $user['addtime']); ?>
                                </td>
                                <td>
                                    <?php echo date('H:i d/m/Y', $user['lastlogin']); ?>
                                </td>
                                <td class="text-nowrap">
                                    <?php if (Role::isAllowed(Permission::USER_EDIT)): ?>
                                        <a title="Edit"
                                           class="btn btn-sm btn-icon btn-flat btn-default"
                                           href="<?php echo $this->url(array('action' => 'edit', 'controller' => 'user', 'module' => 'adm', 'user_id' => $user['user_id']), null, true); ?>">
                                            <i class="icon wb-wrench" aria-hidden="true"></i>
                                        </a>
                                    <?php endif; ?>
                                    <?php if (Role::isAllowed(Permission::USER_DELETE)): ?>
                                        <?php if ($user['status'] == 0): ?>
                                            <a title="Unlock User"
                                               class="btn btn-sm btn-icon btn-flat btn-default"
                                               onclick="return confirm('Are you sure to unlock this user ?')"
                                               href="<?php echo $this->url(array('action' => 'lock', 'controller' => 'user', 'module' => 'adm', 'user_id' => $user['user_id'], 'status' => 1), null, true); ?>">
                                                <i class="icon wb-unlock" aria-hidden="true"></i>
                                            </a>
                                        <?php else: ?>
                                            <a title="Lock User"
                                               class="btn btn-sm btn-icon btn-flat btn-default"
                                               onclick="return confirm('Are you sure to lock this user ?')"
                                               href="<?php echo $this->url(array('action' => 'lock', 'controller' => 'user', 'module' => 'adm', 'user_id' => $user['user_id'], 'status' => 0), null, true); ?>">
                                                <i class="icon wb-lock" aria-hidden="true"></i>
                                            </a>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    <?php else: ?>
                        <tr>
                            <td>Missing data</td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                </table>
                <?php if (!isset($params['user_id'])) echo $this->paging; ?>
            </div>
            <!-- End Panel Basic -->
        </div>
        <!-- End Panel -->
    </div>
</div>
