<div id="content">
	<div class="breadcrumb clearfix">
		<div class="title k2">Desktop Settings</div>
	</div>
	<div class="clear"></div>
	<div class="">
		<div class="fdefault posting">
			<form action="" method="post">
				<?php if ($this->messages): ?>
					<div class="success"><?php echo implode('<br/>', $this->messages); ?></div>
				<?php endif; ?>
				<h3 class="n1">Homepage</h3>
				<div class="group_listing_input">
					<div class="listing_input hgauto">
						<div class="post_label_container">
							<label class="postLabel" for="homepage_pinned_posts">Pinned Posts: </label>
						</div>
						<input id="homepage_pinned_posts" name="homepage[pinned_posts]" type="text" value="<?php echo $this->configs->homepage->pinned_posts; ?>" class="title_text_input" />
					</div>
					<div class="button_listing_input">
						<div class="post_label_container"></div>
						<button id="btn_submit" type="submit" class="button_update"></button>
					</div>
				</div>
			</form>
			<div class="line clear"></div>
		</div>
	</div>
</div>