<?php
$posts = $this->posts;
$lsCatogory = $this->lsCatogory;
$categoryID = $posts[0]['category_id'];
$category = BlogCategory::get(array('category_id'=>$categoryID));
echo $this->partial('index/box_hot_category.phtml',array('lsCatogory'=>$lsCatogory));
?>
<div class="blog-category-name">
    <h2><?php echo $category['category_name']; ?></h2>
</div>
<?php
if (!empty($posts))
{
    foreach($posts as $key => $post)
    {
        echo $this->partial('blog/blog-postbit.phtml', array('post' => $post));
    }
}
?>
<?php echo $this->paging; ?>
<script type="text/javascript">
    $(document).ready(function() {
        window.fbAsyncInit = function () {
            FB.Event.subscribe('edge.create', mobileRecount);
            FB.Event.subscribe('edge.remove', mobileRecount);
        };
        mobileRecount = function(response) {
            if (response.toString().indexOf('/photo/') > 0) {
                $.post("<?php echo BASE_URL ?>/ajax/updatestats/?url=" + response);
            }
        };
    });
</script>