<?php
$post = $this->post;
$search     = array('&amp;quot;');
$replace    =  array('&quot;');
$category = BlogCategory::get(array('category_id'=>$post['category_id']));
$d = $post['post_created'];
$date = date('H:i - d/m/Y', strtotime($d));
?>
<article id="post-id">
    <div class="header">
        <a href="<?php echo BlogPost::postUrl($post);?>" title="<?php echo $post['post_title'];?>"><h2><?php echo str_replace($search,$replace,$post['post_title']); ?></h2></a>
    </div>
    <div class="info-container">
        <div class="by">Bởi <a href="<?php echo BASE_URL . '/blog';?>">HayNhucNhoi.tv</a></div>
        <span class="category"><i class="fa fa-tag"></i><a href="<?php echo BASE_URL . '/blog/chu-de/' . $category['category_alias'] ?>"> <?php echo $category['category_name'] ?></a></span>
        <span class="date"><i class="fa fa-calendar"></i> <?php echo $date ?></span>
    </div>
    <div class="content video">
        <a href="<?php echo BlogPost::postUrl($post);?>" title="<?php echo $post['post_title'];?>">
            <img src="<?php echo My_Zend_Globals::getThumbImage($post['post_image']); ?>" />
        </a>
    </div>
    <div class="blog-summary">
        <?php echo $post['post_summary'];?>
    </div>
    <br/>
    <div id="likebutton-<?php echo $post['post_id'];?>" class="fb-like" data-href="<?php echo BlogPost::postUrl($post, true, false);?>" data-width="100" data-layout="button_count" data-show-faces="false" data-send="false" data-share="true"></div>
</article>