<?php
$lsCatogory = $this->lsCatogory;
$search     = array('&amp;quot;','&amp;amp;quot;');
$replace    =  array('&quot;','&quot;');
$post = $this->post;
$category = BlogCategory::get(array('category_id'=>$post['category_id']));
$d = $post['post_created'];
$date = date('H:i - d/m/Y', strtotime($d));
?>
<?php echo $this->partial('index/box_hot_category.phtml',array('lsCatogory'=>$lsCatogory));?>
<div id="abdf">
    <?php echo $this->partial('index/ad_2.phtml');?>
    <article id="<?php echo $this->post['post_id']; ?>">
        <div class="header">
            <h2>
                <?php echo $post['post_title'] ?>
            </h2>
        </div>
        <div class="info-container">
            <div class="by">Đăng bởi <a href="<?php echo BASE_URL . '/blog'; ?>">HayNhucNhoi.tv</a></div>
            <span class="category"><i class="fa fa-tag"></i><a href="<?php echo BASE_URL . '/blog/chu-de/' . $category['category_alias'] ?>"> <?php echo $category['category_name'] ?></a></span>
            <span class="date"><i class="fa fa-calendar"></i> <?php echo $date ?></span>
        </div>
        <div class="content">
            <?php echo $post['post_content'] ?>
        </div>
        <div class="fb-like" data-href="<?php echo BASE_URL . '/blog/' . $post['post_id']?>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
        <div class="g-plusone" data-href="<?php echo BASE_URL . '/blog/' . $post['post_id']?>" data-size="medium"></div>
    </article>
    <div class="btn-social clearfix" >
        <a onclick="ga('send', 'event', 'Share Mobile', 'Facebook Share', 'Social Share');" href="http://www.facebook.com/sharer/sharer.php?u=<?php echo BASE_URL . '/blog/' . $post['post_id'];?>" title="Share on Facebook" target="_blank">
            <div class="btn-facebook">Share on Facebook</div>
        </a>
        <a onclick="ga('send', 'event', 'Share Mobile', 'Google Share', 'Social Share');" href="https://plus.google.com/share?url=<?php echo BASE_URL . '/blog/' . $post['post_id']?>" title="Share on Google+" target="_blank">
            <div class="btn-google-plus">Share on Google+</div>
        </a>
    </div>
</div>
<div id="abde"></div>
<div class="navigation">
    <a href="<?php echo BlogPost::postUrl($this->prevPost); ?>" class="prev blue-button"><i class="fa fa-angle-left"></i> Trước</a>
    <a href="<?php echo BlogPost::postUrl($this->nextPost); ?>" class="next blue-button">Sau <i class="fa fa-angle-right"></i></a>
    <div style="clear:both"></div>
</div>
<?php echo $this->partial('index/ad_5.phtml');?>
<div class="comment" style="margin-bottom: 10px">
    <h2>Bình luận</h2>
    <div class="fb-comments" data-href="<?php echo BASE_URL . '/blog/' . $post['post_id']?>" data-numposts="5" data-colorscheme="light"></div>
</div>
<div id="InPage_1447217570" style="text-align:center"> </div>
<script type="text/javascript">
    var _abdm = _abdm || [];
    /* load placement for account: haynhucnhoi, site: http://haynhucnhoi.tv, size: 300x250 - mobile, zone: in_page */
    _abdm.push(["1435823768","InPage","1447217570","InPage_1447217570"]);
</script>
<script src="http://media.m.ambientplatform.vn/js/m_adnetwork.js" type="text/javascript"></script>
<noscript><a href="http://click.m.ambientplatform.vn/247/admServerNs/zid_1447217570/wid_1435823768/" target="_blank"><img src="http://delivery.m.ambientplatform.vn/247/mnoscript/zid_1447217570/wid_1435823768/" /></a></noscript>
<?php if (!empty($this->recommendPosts)): ?>
    <div class="more">
        <h2>Có thể bạn chưa thèm xem</h2>
        <?php
        $config       = My_Zend_Globals::getConfiguration();
        $pictureSharePhoto = '';
        $pictureShare = '';
        $i = 0;
        foreach($this->recommendPosts as $post):
            $i++;
            if($post['is_photo'] != 0) {
                if(!empty($post['picture_share'])) {
                    $pictureSharePhoto = $config->photo->domain.$post['picture_share'];
                } else {
                    $pictureSharePhoto = $config->photo->domain.$post['picture'];
                }
            } else {
                if(!empty($post['picture_upload'])) {
                    $pictureShare = My_Zend_Globals::getThumbImage($post['picture_upload']);
                } elseif (!empty($post['picture_share'])) {
                    $pictureShare = $config->photo->domain.$post['picture_share'];
                } else {
                    $pictureShare = My_Zend_Globals::getThumbImageVideo($post['picture']);
                }
            }
            ?>
            <article class="item">
                <div class="info">
                    <h3><a href="<?php echo Post::postUrl($post);?>" title="<?php echo $post['story'];?>"><?php echo str_replace($search,$replace,$post['story']); ?></a></h3>
                    <span class="by">Đăng bởi <a href="#"><?php echo $post['fullname'];?></a></span>
                </div>
                <div class="info">
                    <div class="meta"><i class="fa fa-eye"></i> <?php echo My_Zend_Globals::number_format($post['number_of_view']);?></div>
                    <div class="meta"><i class="fa fa-thumbs-up"></i> <?php echo My_Zend_Globals::number_format($post['number_of_like']);?></div>
                    <div class="meta"><i class="fa fa-comments"></i> <?php echo My_Zend_Globals::number_format($post['number_of_comment']);?></div>
                    <div class="meta ago">
                        <?php if ($post['phase'] == 0)
                            echo My_Zend_Globals::distanceOfTimeInWords($post['approved_at']);
                        elseif ($post['phase'] == 1 || $post['phase'] == 2)
                            echo My_Zend_Globals::distanceOfTimeInWords($post['updated_at']);
                        ?>
                    </div>
                </div>
                <div class="thumbnail-container">
                    <a href="<?php echo Post::postUrl($post);?>" title="<?php echo $post['story'];?>">
                        <?php if ($post['is_photo'] == 0) : ?>
                            <?php if ($post['nsfw']) : ?>
                                <img src="<?php echo $this->layout()->_general['server']['img']['path'] . '/' . Post::getNsfwThumb(); ?>" alt="<?php echo $post['story']; ?>" class="thumbnail" />
                            <?php else:?>
                                <img src="<?php echo $pictureShare; ?>" alt="<?php echo $post['story']; ?>" class="thumbnail" />
                            <?php endif;?>

                            <?php if(empty($post['picture_share'])) :?>
                                <div class="videoIndicatorDetail"></div>
                            <?php endif;?>
                        <?php else :?>
                            <?php if ($post['nsfw']) : ?>
                                <img src="<?php echo $this->layout()->_general['server']['img']['path'] . '/' . Post::getNsfwThumb(); ?>" alt="<?php echo $post['story']; ?>" class="thumbnail"/>
                            <?php else:?>
                                <img src="<?php echo $pictureSharePhoto; ?>" alt="<?php echo $post['story']; ?>" class="thumbnail"/>
                            <?php endif;?>

                            <?php if ($post['is_gif']==1) : ?>
                                <div class="co-the-ban-them-xem-gif">GIF</div>
                            <?php endif;?>

                        <?php endif;?>
                    </a>
                </div>
                <div class="clear"></div>
            </article>
        <?php endforeach; ?>
    </div>
<?php endif; ?>
<a href="<?php echo BASE_URL; ?>" id="nextPageLink"><div id="btnLoadMoreContainer"><div id="btnLoadMore">TRỞ VỀ TRANG CHỦ</div></div></a>
<script type="text/javascript">
    $(document).ready(function() {
        window.fbAsyncInit = function () {
            FB.Event.subscribe('edge.create', function(url) {
                mobileRecount(url);
                mobileLog(url, 'like', 'detail');
            });
            FB.Event.subscribe('edge.remove',  function(url) {
                mobileRecount(url);
                mobileLog(url, 'unlike', 'detail');
            });
            FB.Event.subscribe('comment.remove',  function(url) {
                mobileRecount(url);
                mobileLog(url.href, 'uncomment', 'detail');
            });
            FB.Event.subscribe('comment.create',  function(url) {
                mobileRecount(url);
                mobileLog(url.href, 'comment', 'detail');
            });
        };
        mobileRecount = function() {
            $.post("<?php echo BASE_URL;?>/ajax/updatestats/id/<?php echo $this->post['post_id'];?>");
        };
        mobileLog = function (url, action, location) {
            $.post(
                '<?php echo BASE_URL;?>' + "/ajax/log", {
                    url: url,
                    location: location,
                    user_id: Account.UID,
                    type: action,
                    platform: 'mobile'
                }
            )
        };
    });
</script>
<script type="text/javascript">
    var _abdm = _abdm || [];
    /* load placement for account: haynhucnhoi, site: http://haynhucnhoi.tv, size: 1x1 - mobile, zone: popup */
    _abdm.push(["1435823768","Popup","1443436797"]);
</script>
<script src="http://media.m.ambientplatform.vn/js/m_adnetwork.js" type="text/javascript"></script>
<noscript>
    <div style="bottom:0;position:absolute;margin-left:auto;margin-right:auto;left:0;right:0;">
        <a href="http://click.m.ambientplatform.vn/247/admServerNs/zid_1443436797/wid_1435823768/" target="_blank">
            <img src="http://delivery.m.ambientplatform.vn/247/mnoscript/zid_1443436797/wid_1435823768/" />
        </a>
    </div>
</noscript>
