<!-- Page -->
<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title">Setting</h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo BASE_URL . '/adm_reborn' ?>">Home</a></li>
            <li class="active">SEO</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form autocomplete="off" method="post" enctype="multipart/form-data">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">SEO Management</h3>
                        </div>
                        <div class="panel-body container-fluid">
                            <?php if (!empty($this->succes)): ?>
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <?php echo $this->succes;?>
                                </div>
                            <?php endif; ?>
                            <div class="form-group form-material row">
                                <div class="col-sm-6">
                                    <label class="control-label" for="title">Title</label>
                                    <input type="text" class="form-control"
                                           name="title" id="title"
                                           value="<?php echo $this->dataDefault['title'];?>"/>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label" for="metatitle">Meta Title</label>
                                    <input type="text" class="form-control"
                                           name="metatitle" id="metatitle"
                                           value="<?php echo $this->dataDefault['metatitle'];?>"/>
                                </div>
                            </div>
                            <div class="form-group form-material row">
                                <div class="col-sm-6">
                                    <label class="control-label" for="keyword">Meta Keywords</label>
                                    <textarea class="form-control focus" id="keyword" name="keyword"><?php echo $this->dataDefault['keyword'];?>
                                    </textarea>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label" for="description">Meta Description</label>
                                    <textarea class="form-control focus" id="description" name="description"><?php echo $this->dataDefault['description'];?>
                                    </textarea>
                                </div>
                            </div>
                            <button type="submit" name="btn_submit" class="btn btn-primary pull-right margin-top-30"
                                    id="btn_submit">Update
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Page -->