<?php
$posts = $this->posts;
$is_grid = isset($this->category['is_grid']) ? $this->category['is_grid'] : '';
$this->lsCatogoryNavBar = $this->lsCatogory;
?>
<?php if ($this->isAjax) : ?>
    <?php
    if (!empty($post)) {
        foreach ($posts as $post) {
            if ($is_grid == 1)
                echo $this->partial('index/postbit_grid.phtml', array('post' => $post));
            else
                echo $this->partial('index/postbit.phtml', array('post' => $post));
        }
    } ?>
<?php else : ?>
    <div class="fl-l" style="width: 728px;position: relative;">
        <div class="catogory-name">
            <h1>
                <?php echo isset($this->category['category_name']) ? $this->category['category_name'] : ''; ?>
            </h1>
        </div>
        <?php if (!empty($this->category['description'])) : ?>
            <p class="category-description">
                <?php echo $this->category['description']; ?>
            </p>
        <?php endif; ?>
        <?php if (!empty($posts)) : ?>
            <div class="singleCol">
                <div id="post-container">
                    <?php foreach ($posts as $key => $post) {
                        if ($is_grid)
                            echo $this->partial('index/postbit_grid.phtml', array('post' => $post, 'key' => $key));
                        else
                            echo $this->partial('index/postbit.phtml', array('post' => $post));
                    }
                    ?>
                    <div id="listEnd" style="clear: both"></div>
                </div>
                <a href="<?php echo $this->nextPage; ?>" id="nextPageLink">
                    <div id="btnLoadMoreContainer">
                        <div id="btnLoadMore">NỮA ĐI, ĐỪNG DỪNG LẠI...</div>
                    </div>
                </a>
            </div>
        <?php else : ?>
            <div id="noMorePost" class="alert-box box-notice" style="text-align:center">Hiện không có chủ đề nào</div>
        <?php endif; ?>
    </div>
    <div class="fl-l sidebar" style="width: 300px">
        <?php echo $this->render('partials/box_top_member.phtml', $this); ?>
        <div class="fixedScrollDetector"></div>
        <div class="fixedScroll">
            <?php echo $this->render('partials/box_top_clips_home.phtml', $this); ?>
            <?php echo $this->render('partials/box_ads_sidebar_bottom_index.phtml', $this); ?>
        </div>
    </div>
    <div class="clear"></div>
    <script type="text/javascript">
        var categorySlug = false;
        Haynn.indexPage.init("<?php echo $this->category['alias'];?>", <?php echo $this->page;?>);
    </script>
    <div id="videoLoadingMessage"><img
            src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/videoloading.gif" alt=""/>&nbsp;&nbsp;Đang
        tải video clip...
    </div>
    <div id="lastPostsLoader"></div>
    <div id="loadimageContainer">
        <div id="load_image"><img
                src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/videoloading.gif" alt=""/>&nbsp;&nbsp;Đang
            tải thêm bài...
        </div>
    </div>
    <div id="noMorePost" class="alert-box box-notice" style="text-align:center; display:none">Oops! Hết rồi.</div>
    <div class="clear"></div>
    <?php echo $this->render('partials/footer.phtml', $this); ?>
    <div id="loginIsRequired" class="modalDialog" title="Bạn có biết là...">
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>

        <p style="margin-left: 25px">Chức năng này chỉ dành cho thành viên của Hay Nhức Nhói. Vui lòng Đăng nhập để sử
            dụng, và khám phá nhiều điều thú vị hơn nữa.<br/><br/>
            <span
                style="color: #6F6F6F">Tài khoản của bạn sẽ được tạo ở lần đăng nhập đầu tiên mà không cần đăng ký :)</span>
        </p>
    </div>
<?php endif; ?>