<?php
$pageType = $this->pageType;
$isLoginRequired = $this->isLoginRequired;
if ($isLoginRequired) {
    $url_view = BASE_URL . '/user/login?url=' . BASE_URL . '/' . $pageType;
    $str = <<<EOF
	jQuery( document ).ready(function( $ )
		{
			setTimeout(function(){ window.location.href='$url_view'}, 3000);
		});
EOF;
}
?>
<?php
if (($isLoginRequired == false) || ($isLoginRequired && LOGIN_UID > 0)) :

    $posts = array_values($this->posts);
    $this->lsCatogoryNavBar = $this->lsCatogory;
    ?>

    <?php if ($this->isAjax): ?>
    <?php if (!empty($posts)): ?>
        <?php foreach ($posts as $key => $post): ?>
            <?php echo $this->partial('index/postbit_grid.phtml', array('post' => $post)); ?>
        <?php endforeach; ?>
    <?php endif; ?>
<?php else: ?>
    <div class="fl-l" style="width: 728px;position: relative">
        <?php if (!empty($posts)): ?>
            <?php echo $this->render('partials/box_quickupload.phtml'); ?>
            <div class="singleCol">
                <div id="post-container">
                    <?php
                    foreach ($posts as $key => $post) :
                        if ($post['is_actived']) {
                            echo $this->partial('index/postbit.phtml', array(
                                'post' => $post,
                                'likeButtonTooltip' => $this->likeButtonTooltip[$post['post_id']],
                                'userLiked' => $this->doesUserLikeThisPost[$post['post_id']],
                                'tokenTime' => $this->tokenTime
                            ));
                        }
                        ?>
                    <?php endforeach; ?>
                    <div class="clear"></div>
                    <div id="listEnd"></div>

                </div>
                <?php if ($this->nextPage) : ?>
                    <a href="<?php echo $this->nextPage; ?>" id="nextPageLink">
                        <div id="btnLoadMoreContainer">
                            <div id="btnLoadMore">NỮA ĐI, ĐỪNG DỪNG LẠI...</div>
                        </div>
                    </a>
                <?php endif; ?>
            </div>
        <?php else: ?>
            <div id="noMorePost" class="alert-box box-notice" style="text-align:center">Hiện không có chủ đề nào có thể
                Hóng.!
            </div>
        <?php endif; ?>
    </div>
    <div class="fl-l sidebar" style="width: 300px">
        <?php if (time() < 1436806800) echo $this->render('partials/box_trian.phtml', $this); ?>
        <?php if (time() > 1436835660) echo $this->render('partials/box_top_member.phtml', $this); ?>
        <div class="fixedScrollDetector"></div>
        <div class="fixedScroll">
            <?php echo $this->render('partials/box_top_clips_home.phtml', $this); ?>
            <?php echo $this->render('partials/box_ads_sidebar_bottom_index.phtml', $this); ?>
        </div>
    </div>

    <div class="clear"></div>
    <script type="text/javascript">
        var categorySlug = false;
        Haynn.indexPage.init("<?php echo $pageType; ?>", <?php echo $this->page;?>);
    </script>
    <div id="videoLoadingMessage"><img
            src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/videoloading.gif" alt=""/>&nbsp;&nbsp;Đang
        tải video clip...
    </div>
    <div id="lastPostsLoader"></div>
    <div id="loadimageContainer">
        <div id="load_image"><img
                src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/videoloading.gif" alt=""/>&nbsp;&nbsp;Đang
            tải thêm bài...
        </div>
    </div>
    <div id="noMorePost" class="alert-box box-notice" style="text-align:center; display:none">Oops! Hết rồi.</div>
    <div class="clear"></div>
    <?php echo $this->render('partials/footer.phtml', $this); ?>
    <div id="loginIsRequired" class="modalDialog" title="Bạn có biết là...">
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>

        <p style="margin-left: 25px">Chức năng này chỉ dành cho thành viên của Hay Nhức Nhói. Vui lòng Đăng nhập để sử
            dụng, và khám phá nhiều điều thú vị hơn nữa.<br/><br/>
            <span
                style="color: #6F6F6F">Tài khoản của bạn sẽ được tạo ở lần đăng nhập đầu tiên mà không cần đăng ký :)</span>
        </p>
    </div>
<?php endif; ?>
<?php else : // If not logged in?>
    <div class="login-view">
        <div style="background:yellow;padding:10px;border:1px solid #cccccc;margin-bottom:10px;width:730px">
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span> Chức năng này chỉ
            dành cho thành viên của Hay Nhức Nhói, xin vui lòng <a
                href="<?php echo BASE_URL; ?>/user/login?url=<?php echo BASE_URL . '/chuaxem'; ?>" class="sign-view"
                title="đăng nhập">đăng nhập</a> để sử dụng.
        </div>
    </div>
    <?php
    echo $this->render('partials/footer.phtml', $this);
    $this->headScript()->appendScript($str);
    ?>
<?php endif; ?>

