<?php $post = $this->post;
$key = $this->key + 1; ?>
<div class="grid-post <?php if ($key % 3 == 0) echo "no-margin-right"; ?>" id="entry-<?php echo $post['post_id']; ?>"
     data-id="entry-<?php echo $post['post_id']; ?>" data-pid="<?php echo $post['post_id']; ?>">
    <a href="<?php echo Post::postUrl($post, true); ?>" target="_blank">
        <?php if ($post['nsfw']) : ?>
            <div class="thumbnail"
                 style="background-image: url('<?php echo $this->layout()->_general['server']['img']['path'] . '/' . Post::getNsfwThumb(); ?>');">
                <?php if ($post['is_photo'] == 0) : ?>
                    <div class="smallVideoIndicator"></div>
                <?php endif; ?>
            </div>
        <?php else : ?>
            <?php if ($post['is_photo'] == 0) : ?>
                <div class="thumbnail"
                     style="background-image: url('<?php echo My_Zend_Globals::getThumbImageVideo($post['picture']); ?>');">
                    <div class="smallVideoIndicator"></div>
                </div>
            <?php else : ?>
                <div class="thumbnail"
                     style="background-image: url('<?php echo My_Zend_Globals::getThumbImage($post['picture'], 'thumb1'); ?>');"></div>
            <?php endif; ?>

        <?php endif; ?>
    </a>
    <div class="stats">
        <span>
            <a href="<?php echo Post::postUrl($post); ?>">
                <i class="fa fa-eye"></i> <?php echo My_Zend_Globals::number_format($post['number_of_view']); ?>
            </a>
        </span>
        <span>
            <a href="<?php echo Post::postUrl($post); ?>#comment">
                <i class="fa fa-comments"></i> <?php echo My_Zend_Globals::number_format($post['number_of_comment']); ?>
            </a>
        </span>
        <div id="likebutton-<?php echo $post['post_id']; ?>" class="fb-like"
             data-href="<?php echo Post::postUrl($post, true, false); ?>" data-width="100" data-layout="button_count"
             data-show-faces="false" data-send="false" data-share="false">
         </div>
    </div>
    <div class="title">
        <a href="<?php echo Post::postUrl($post); ?>"
           target="_blank"><?php echo My_Zend_Globals::cutString($post['story'], 0, 76); ?></a>
    </div>
</div>