<?php
$post = $this->post;
$thumb = My_Zend_Globals::getThumbImageVideo($post['picture']);
if (isset($post['picture_upload']) && !empty($post['picture_upload'])) {
    $thumbUpload = My_Zend_Globals::getThumbImage($post['picture_upload']);
}
?>
<div class="masonry-brick pin-container" id="entry-<?php echo $post['post_id'];?>" data-id="entry-<?php echo $post['post_id'];?>" data-pid="<?php echo $post['post_id'];?>" data-new="true">
    <div class="midCol">
        <div class="pin">
            <div class="pic btns pic_show_functional" <?php echo $post['is_gif'] ? 'style="margin-bottom:0"' : '';?>>
                <a class="pin_pic_img_a <?php if($post['is_photo'] == 0) echo 'video_wrapper' ?>"  href="<?php echo Post::postUrl($post);?>" target="_blank" >
                    <?php if ($post['nsfw']) : ?>
                        <img src="<?php echo $this->layout()->_general['server']['img']['path'] . '/' . Post::getNsfwThumb(); ?>">
                    <?php else : ?>
                        <?php if($post['is_photo'] == 0) : ?>
                            <?php if(empty($post['picture_upload'])) : ?>
                                <img src="<?php echo $thumb; ?>" alt="<?php echo $post['story'];?>" />
                            <?php else : ?>
                                <img src="<?php echo isset($thumbUpload) ? $thumbUpload : $thumb; ?>" alt="<?php echo $post['story'];?>" />
                            <?php endif; ?>
                            <div class="bigVideoIndicator"></div>
                        <?php else :?>
                            <img class="posts_img" src="<?php echo My_Zend_Globals::getThumbImage($post['picture'], 'thumb1'); ?>" alt="<?php echo $post['story'];?>" />
                        <?php endif;?>
                    <?php endif; ?>
                    <?php if ($post['is_gif']): ?>
                        <span class="play badge-gif-play badge-auto-clicked">GIF</span>
                    <?php endif; ?>
                </a>
            </div>
        </div>
    </div>
    <div class="rightCol">
        <h2 class="title">
            <a href="<?php echo Post::postUrl($post);?>" title="<?php echo $post['story'];?>" target="_blank"><?php echo My_Zend_Globals::getStringReplaceEmotion($post['story']);?></a>
        </h2>
        <div class="userInfo">
            <div style="display: inline-block; vertical-align: top">
                <div class="nameFlag">
                    Bởi <a href="<?php echo BASE_URL;?>/user/<?php echo $post['user_id'];?>" title="<?php echo $post['fullname'];?>" target="_blank"><?php echo $post['fullname'];?></a>
                    <div class="time">
                        <?php if ($post['phase'] == 0)
                            echo My_Zend_Globals::distanceOfTimeInWords($post['approved_at']);
                        elseif ($post['phase'] == 1 || $post['phase'] == 2)
                            echo My_Zend_Globals::distanceOfTimeInWords($post['updated_at']);
                        ?>
                    </div>
                </div>
                <div class="rank">
                    <?php if ($post['phase'] < Post::_PHASE_HOMEPAGE) : ?>
                        <table class="fb-like border-left">
                            <tr>
                                <td>
                                    <a target="_blank" class="vote-btn-wrapper" title="<?php echo $this->likeButtonTooltip; ?>" data-postid="<?php echo $post['post_id']; ?>" data-token="<?php echo Like::getToken(LOGIN_UID, $this->post['post_id'], $this->tokenTime); ?>">
                                        <div class="vote-btn facebook-button facebook-button-small <?php echo ($this->userLiked) ? 'liked' : '' ?>">
                                            <span>Bình chọn</span>
                                        </div>
                                        <script type="text/javascript">
                                            $('.vote-btn-wrapper').tipsy({fade: true, gravity: 's'});
                                        </script>
                                    </a>
                                </td>
                                <td>
                                    <div class="facebook-count-button" id="like-button-count-<?php echo $post['post_id']; ?>"><?php echo My_Zend_Globals::number_format($post['favclicks']);?></div>
                                    <div class="facebook-count-nub">
                                        <s></s><i></i>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    <?php else : ?>
                        <div id="likebutton-<?php echo $post['post_id'];?>" class="fb-like border-left" data-href="<?php echo Post::postUrl($post, true, false);?>" data-width="100" data-layout="button_count" data-show-faces="false" data-send="false" data-share="false"></div>
                    <?php endif; ?>
                    <div class="border-left" title="Số lượt xem"><a href="<?php echo Post::postUrl($post);?>"><strong><i class="fa fa-eye"></i> <?php echo My_Zend_Globals::number_format($post['number_of_view']);?></strong></a></div>
                    <div class="border-left" title="Số bình luận"><a href="<?php echo Post::postUrl($post);?>#comment"><strong><i class="fa fa-comments"></i> <?php echo My_Zend_Globals::number_format($post['number_of_comment']);?></strong></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>