<div>
    <div class="whiteBackground">
        <div class="content" style="padding: 10px">
            <h2>Tìm kiếm trên Hay Nhức Nhói</h2>

            <script>
                (function() {
                    var cx = '013567467557319880389:eg60bwon_qm';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                            '//www.google.com/cse/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                })();
            </script>
            <gcse:search></gcse:search>

        </div>
    </div>
    <?php echo $this->render('partials/footer.phtml', $this); ?>
</div>