<style>
    .htitle {
        margin-bottom: 20px;
    }

    .htitle h1 {
        font-size: 16px;
        font-weight: bold;
        display: inline-block
    }
</style>
<?php
$posts = array_values($this->posts);
?>
<?php if ($this->isAjax) : ?>
    <?php
    if (!empty($posts)) {
        foreach ($posts as $key => $post)
            echo $this->partial('index/postbit.phtml', array('post' => $post));
    }
    ?>
<?php else : ?>
    <div class="fl-l" style="width: 728px">
        <div class="htitle">Chủ đề: <h1><?php echo $this->tag['tag_name']; ?></h1></div>
        <?php if (!empty($posts)): ?>
            <div class="singleCol">
                <div id="post-container">
                    <?php foreach ($posts as $key => $post): ?>
                        <?php echo $this->partial('index/postbit.phtml', array('post' => $post)); ?>
                        <?php if ($key == 0): ?>
                            <div class="masonry-brick pin-container">
                                <?php echo $this->render('partials/box_ads.phtml', $this); ?>
                                <?php echo $this->render('partials/box_ads_2.phtml', $this); ?>
                            </div>
                        <?php endif; ?>
                    <?php endforeach; ?>
                    <div id="listEnd"></div>
                </div>
                <div style="margin-bottom: 10px"><?php echo $this->render('partials/box_ads_1.phtml', $this); ?></div>
                <?php if ($this->nextPage != ''): ?>
                    <a href="<?php echo $this->nextPage; ?>" id="nextPageLink">
                        <div id="btnLoadMoreContainer">
                            <div id="btnLoadMore">NỮA ĐI, ĐỪNG DỪNG LẠI...</div>
                        </div>
                    </a>
                <?php endif; ?>
            </div>
        <?php else: ?>
            <div id="noMorePost" class="alert-box box-notice" style="text-align:center">Hiện không có chủ đề nào có thể
                Hóng.!
            </div>
        <?php endif; ?>
    </div>
    <div class="fl-l sidebar" style="width: 300px">
        <?php echo $this->render('partials/box_quote.phtml', $this); ?>
        <?php echo $this->render('partials/box_facebook.phtml'); ?>
        <?php echo $this->render('partials/box_top_clips_home.phtml', $this); ?>
    </div>
    <div class="clear"></div>
    <script type="text/javascript">
        Haynn.indexPage.init("index", <?php echo $this->page;?>);
    </script>
    <div id="videoLoadingMessage"><img
            src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/videoloading.gif" alt=""/>&nbsp;&nbsp;Đang
        tải video clip...
    </div>
    <div id="lastPostsLoader"></div>
    <div id="loadimageContainer">
        <div id="load_image"><img
                src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/videoloading.gif" alt=""/>&nbsp;&nbsp;Đang
            tải thêm bài...
        </div>
    </div>
    <div id="noMorePost" class="alert-box box-notice" style="text-align:center; display:none">Oops! Hết rồi.</div>
    <div class="clear"></div>
    <?php echo $this->render('partials/footer.phtml', $this); ?>
    <div id="loginIsRequired" class="modalDialog" title="Bạn có biết là...">
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>

        <p style="margin-left: 25px">Chức năng này chỉ dành cho thành viên của Hay Nhức Nhói. Vui lòng Đăng nhập để sử
            dụng, và khám phá nhiều điều thú vị hơn nữa.<br/><br/>
            <span
                style="color: #6F6F6F">Tài khoản của bạn sẽ được tạo ở lần đăng nhập đầu tiên mà không cần đăng ký :)</span>
        </p>
    </div>
<?php endif; ?>