<script type="text/javascript">
    function timer(time,update,complete) {
        var start = new Date().getTime();
        var interval = setInterval(function() {
            var now = time-(new Date().getTime()-start);
            if( now <= 0) {
                clearInterval(interval);
                complete();
            }
            else update(Math.floor(now/1000));
        },100); // the smaller this number, the more accurate the timer will be
    }
    $(document).ready(function(){
        timer(
            6000, // milliseconds
            function(timeleft) { // called every step to update the visible countdown
                document.getElementById('timer').innerHTML = timeleft;
            },
            function() { // what to do after
                window.location.href = '/';
            }
        );
    });
</script>
<div>
    <div class="whiteBackground" style="line-height:2; text-align: center">
        <img src="<?php echo $this->layout()->_general['server']['img']['path'];?>/404.png" alt="404: Trang không tồn tại" /><br/>
        <a href="/">Bạn sẽ được chuyển về trang chủ trong <span id="timer">5</span> giây nữa</a>
    </div>
</div>
<?php echo $this->render('partials/footer.phtml', $this);?>