<div>
    <div class="whiteBackground" style="line-height:2; text-align: center">
        <img src="<?php echo $this->layout()->_general['server']['img']['path'];?>/404.png" alt="404: Trang không tồn tại" /><br/>
        <a href="/"><div class="button blue-button" style="float: none">Ra trang chủ!</div></a>
    </div>
</div>
<?php echo $this->render('partials/footer.phtml', $this);?>