<!-- Page -->
<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title">Tag</h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo BASE_URL . '/adm_reborn' ?>">Home</a></li>
            <li><a href="<?php echo BASE_URL . '/adm_reborn/tag' ?>">Tag</a></li>
            <li class="active">Edit</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <!-- Panel Static Lables -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tag Information</h3>
                    </div>
                    <div class="panel-body container-fluid">
                        <form autocomplete="off" method="post" enctype="multipart/form-data">
                            <?php if($this->message) : ?>
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <?php echo $this->message['msg']; ?>
                                </div>
                            <?php endif; ?>
                            <div class="form-group form-material floating has-warning row">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="tag_name" name="tag_name"
                                           value="<?php echo $this->escape($this->tag['tag_name']); ?>"/>
                                    <label class="floating-label" for="tag_name">Tag name</label>
                                </div>
                            </div>
                            <button type="submit" name="btn_submit" class="btn btn-primary pull-right margin-top-30" id="btn_submit">Update</button>
                        </form>
                    </div>
                </div>
                <!-- End Panel Static Lables -->
            </div>
        </div>
    </div>
</div>
<!-- End Page -->