<?php
$params = $this->params;
?>
<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title">Tag Management</h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo BASE_URL . '/adm_reborn' ?>">Home</a></li>
            <li class="active">Tag</li>
        </ol>
    </div>
    <div class="page-content">
        <!-- Panel Basic -->
        <div class="panel">
            <?php if (Role::isAllowed(Permission::TAG_ADD)): ?>
                <a href="<?php echo $this->url(array('action' => 'create', 'controller' => 'tag', 'module' => 'adm'), null, true); ?>">
                    <button type="button" class="btn btn-outline btn-success btn-custom-create">
                        <span><i class="icon wb-plus" aria-hidden="true"></i>  Create new</span>
                    </button>
                </a>
            <?php endif; ?>
            <div class="panel-body">
                <table class="table table-hover dataTable table-striped width-full table-custom" id="exampleFixedHeader">
                    <thead>
                    <tr>
                        <th width="3%">ID</th>
                        <th width="">Name</th>
                        <th width="40%">Alias</th>
                        <th width="10%" class="text-nowrap">Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th width="3%">ID</th>
                        <th width="">Name</th>
                        <th width="30%">Alias</th>
                        <th width="10%" class="text-nowrap">Action</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <?php if (!empty($this->tags)): ?>
                        <?php foreach ($this->tags as $tag): ?>
                            <tr>
                                <td><?php echo $tag['id']; ?></td>
                                <td>
                                    <a href="<?php echo Tag::tagUrl($tag);?>" target="_blank"><?php echo $tag['tag_name']; ?></a>
                                </td>
                                <td>
                                    <?php echo $tag['tag_alias']; ?>
                                </td>
                                <td class="text-nowrap" style="padding: 8px !important;">
                                    <a title="Sửa tag"
                                       class="btn btn-sm btn-icon btn-flat btn-default"
                                       href="<?php echo $this->url(array('action' => 'edit', 'controller' => 'tag', 'module' => 'adm', 'id' => $tag['id']), null, true); ?>">
                                        <i class="icon wb-wrench" aria-hidden="true"></i>
                                    </a>
                                    <a title="Xóa tag"
                                       class="btn btn-sm btn-icon btn-flat btn-default"
                                       onclick="return confirm('Are you sure to delete this tag?')"
                                       href="<?php echo $this->url(array('action' => 'delete', 'controller' => 'tag', 'module' => 'adm', 'id' => $tag['id']), null, true); ?>">
                                        <i class="icon wb-close" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <?php endforeach; ?>
                    <?php else: ?>
                        <tr>
                            <td colspan="9">Missing data</td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                </table>
                <?php echo $this->paging; ?>
            </div>
            <!-- End Panel Basic -->
        </div>
        <!-- End Panel -->
    </div>
</div>
