<div id="content">
    <div class="breadcrumb clearfix">
        <div class="title k2">Thêm bài mới </div>       
    </div>
    <div class="clear"></div>
    <div class="">´
        <div class="fdefault posting">
            <form action="" method="post">
                <?php if ($this->message): ?>
                <div class="<?php echo $this->message['type']; ?>"><p><?php echo $this->message['msg']; ?></p></div>
                <?php endif; ?>
                <h3 class="n1">Thông tin cơ bản</h3>
                <div class="group_listing_input">                    
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">Tiêu đề tin:</label>
                        </div>
                        <input name="story" type="text" value="<?php echo $this->escape($this->post['story']); ?>" class="title_text_input" />                       
                    </div>                 
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">Danh mục:</label>
                        </div>
                        <select class="medium_text_input" name="category_id" id="category_id" onchange="loadTagList(this.options[this.selectedIndex].value);">
                            <option value="">Chọn danh mục</option>
                            <?php
                            foreach ($this->categoryTree as $parent)
                            {
                                echo '<option '.($parent['category_id']==$this->post['category_id']?'selected="selected"':'').' value="'.$parent['category_id'].'" class="first">'. $parent['category_name'] .'</option>';
                                if ($parent['sub'])
                                {
                                    foreach ($parent['sub'] as $sub)
                                    {
                                        echo '<option '.($sub['category_id']==$this->post['category_id']?'selected="selected"':'').' value="'.$sub['category_id'].'" class="second">'.$sub['category_name'].'</option>';
                                    }
                                }                                
                            }
                            ?>
                        </select>
                    </div>
                    <div class="listing_input hgauto">
                    	<div class="post_label_container">
                            <label class="postLabel">Hình ảnh:</label>                            
                        </div>
                        <div id="divUpload"></div>            
                        <div id="show_picture" style="margin: 10px 130px"><img src="<?php echo $this->post['picture']?>" width="100"/></div>        
                        <input type="hidden" name="picture" value="<?php echo $this->post['picture']?>" id="picture" />
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">Nguồn:</label>
                        </div>
                        <input name="source" type="text" value="<?php echo $this->escape($this->post['source']); ?>" class="title_text_input" />                       
                    </div>                    
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">Trạng thái:</label>
                        </div>
                        <select class="medium_text_input" name="is_actived" id="is_actived">
                            <option value="1"<?php echo $this->post['is_actived'] ? ' selected="selected" ' : '';?>>Hiện</option>
                            <option value="0"<?php echo !$this->post['is_actived'] ? ' selected="selected" ' : '';?>>Ẩn</option>
                        </select>
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">Duyệt:</label>
                        </div>
                        <select class="medium_text_input" name="is_approved" id="is_approved">
                            <option value="1"<?php echo $this->post['is_approved'] ? ' selected="selected" ' : '';?>>Có</option>
                            <option value="0"<?php echo !$this->post['is_approved'] ? ' selected="selected" ' : '';?>>Không</option>
                        </select>
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">Bài ưu tiên?:</label>
                        </div>
                        <select class="medium_text_input" name="is_featured" id="is_featured">
                            <option value="1"<?php echo $this->post['is_featured'] ? ' selected="selected" ' : '';?>>Có</option>
                            <option value="0"<?php echo !$this->post['is_featured'] ? ' selected="selected" ' : '';?>>Không</option>
                        </select>
                    </div>
                    <div class="button_listing_input">
                        <div class="post_label_container"></div>
                        <input id="btn_submit" type="submit" class="button_update" value="" name="btn_submit" />
                    </div>  
                </div>
                <div class="line clear"></div>                
            </form>
        </div>
    </div>
</div>