<!-- Page -->
<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title">Edit Post</h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo BASE_URL . '/adm_reborn' ?>">Home</a></li>
            <li><a href="<?php echo BASE_URL . '/adm_reborn/post' ?>">Post</a></li>
            <li class="active"><?php echo $this->post['story'] ?></li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- Panel Static Lables -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Post Information</h3>
                    </div>
                    <div class="panel-body container-fluid">
                        <form autocomplete="off" method="post" enctype="multipart/form-data">
                            <?php if(!empty($this->messages)):?>
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <?php foreach ($this->messages as $key => $value)
                                        echo $this->messages[$key];?>
                                </div>
                            <?php endif; ?>
                            <div class="form-group form-material row">
                                <div class="col-sm-3">
                                    <label class="control-label" for="createdAt">Created At</label>
                                    <input type="text" class="form-control focus" id="createdAt"
                                           value="<?php echo date('H:i d/m/Y', $this->post['created_at']); ?>" disabled>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="approvedAt">Approved At</label>
                                    <input type="text" class="form-control" id="approvedAt"
                                           value="<?php echo date('H:i d/m/Y', $this->post['approved_at']); ?>"
                                           disabled>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="uploadAt">Updated At</label>
                                    <input type="text" class="form-control" id="uploadAt"
                                           value="<?php echo date('H:i d/m/Y', $this->post['updated_at']); ?>" disabled>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="ipAddress">IP</label>
                                    <input type="text" class="form-control" id="ipAddress"
                                           value="<?php echo $this->post['pip']; ?>" disabled>
                                </div>
                            </div>
                            <div class="form-group form-material row">
                                <div class="col-sm-3">
                                    <label class="control-label" for="view">View</label>
                                    <input type="text" class="form-control focus" id="view"
                                           value="<?php echo $this->post['number_of_view']; ?>" disabled>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="like">Like</label>
                                    <input type="text" class="form-control" id="like"
                                           value="<?php echo $this->escape($this->post['number_of_like']); ?>"
                                           disabled>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="share">Share</label>
                                    <input type="text" class="form-control" id="share"
                                           value="<?php echo $this->escape($this->post['number_of_share']); ?>" disabled>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="comment">Comment</label>
                                    <input type="text" class="form-control" id="comment"
                                           value="<?php echo $this->escape($this->post['number_of_comment']); ?>" disabled>
                                </div>
                            </div>
                            <div class="form-group form-material has-warning row">
                                <div class="col-sm-6">
                                    <label class="control-label" for="story">Title</label>
                                    <input type="text" class="form-control focus" id="story" name="story"
                                           value="<?php echo $this->post['story'] ?>"/>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label" for="category_id">Category</label>
                                    <select class="form-control focus" id="category_id" name="category_id">
                                        <option value="">None</option>
                                        <?php
                                        foreach ($this->categoryTree as $parent) {
                                            echo '<option ' . ($parent['category_id'] == $this->post['category_id'] ? 'selected="selected"' : '') . ' value="' . $parent['category_id'] . '" class="first">' . $parent['category_name'] . '</option>';
                                            if ($parent['sub']) {
                                                foreach ($parent['sub'] as $sub) {
                                                    echo '<option ' . ($sub['category_id'] == $this->post['category_id'] ? 'selected="selected"' : '') . ' value="' . $sub['category_id'] . '" class="second">' . $sub['category_name'] . '</option>';
                                                }
                                            }
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-material">
                                <label class="control-label" for="description">Description</label>
                                <textarea class="form-control" id="description" name="description" rows="2"><?php echo $this->post['description'] ?></textarea>
                            </div>
                            <div class="form-group form-material row">
                                <div class="col-sm-4">
                                    <label class="control-label" for="youtube_key">Youtube ID</label>
                                    <input type="text" class="form-control"
                                           name="youtube_key" id="youtube_key"
                                           value="<?php echo $this->post['youtube_key'] ?>"/>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label" for="mecloud_key">Mecloud ID</label>
                                    <input type="text" class="form-control"
                                           name="mecloud_key" id="mecloud_key"
                                           value="<?php echo $this->post['mecloud_key'] ?>"/>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label" for="source">Source</label>
                                    <input type="text" class="form-control"
                                           name="source" id="source"
                                           value="<?php echo $this->escape($this->post['source']); ?>"/>
                                </div>
                            </div>
                            <div class="form-group form-material row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4 thumb-upload">
                                <?php if ($this->post['is_photo']): ?>
                                    <img class="postImg"
                                         src="<?php echo My_Zend_Globals::getThumbImage($this->post['picture'], 'thumb2'); ?>"
                                         alt="<?php echo $this->post['story']; ?>"
                                         onerror="this.src='<?php echo $this->layout()->_general['server']['img']['path'] . '/error/344x194.jpg'; ?>'" />
                                <?php elseif ($this->post['youtube_key'] != ''): ?>
                                    <iframe id="ytPlayer"
                                            src="http://www.youtube.com/embed/<?php echo $this->post['youtube_key']; ?>?rel=0&showinfo=0&vq=large&iv_load_policy=3&modestbranding=1&nologo=1"
                                            frameborder="0" allowfullscreen
                                            onerror="this.src='<?php echo $this->layout()->_general['server']['img']['path'] . '/error/344x194.jpg'; ?>'" ></iframe>
                                <?php
                                elseif ($this->post['vmo_key'] != ''): ?>
                                    <iframe src="//player.vimeo.com/video/<?php echo $this->post['vmo_key']; ?>" frameborder="0" allowfullscreen
                                            onerror="this.src='<?php echo $this->layout()->_general['server']['img']['path'] . '/error/344x194.jpg'; ?>'" ></iframe>
                                <?php
                                elseif ($this->post['mecloud_key'] != ''): ?>
                                    <img src="<?php echo $this->post['picture']; ?>"
                                         onerror="this.src='<?php echo $this->layout()->_general['server']['img']['path'] . '/error/344x194.jpg'; ?>'" />
                                <?php endif; ?>
                                </div>
                            </div>
                            <div class="form-group form-material row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4">
                                    <input type="file" id="input-file-now" data-plugin="dropify" name="thumb_upload"
                                           data-default-file="<?php echo !empty($this->post['picture_upload']) ? My_Zend_Globals::getThumbImage($this->post['picture_upload']) : '' ?>"/>
                                </div>
                            </div>
                            <div class="form-group form-material row">
                                <div class="col-sm-3">
                                    <label class="control-label" for="phase">Position</label>
                                    <select class="form-control" id="phase" name="phase">
                                        <option value="<?php echo Post::_PHASE_HOT;?>"<?php echo $this->post['phase'] == Post::_PHASE_HOT ? ' selected="selected" ' : '';?>>Nhức Nhói</option>
                                        <option value="<?php echo Post::_PHASE_HOMEPAGE;?>"<?php echo $this->post['phase'] == Post::_PHASE_HOMEPAGE ? ' selected="selected" ' : '';?>>Trang chủ</option>
                                        <option value="<?php echo Post::_PHASE_NEW_POST;?>"<?php echo $this->post['phase'] == Post::_PHASE_NEW_POST ? ' selected="selected" ' : '';?>>Bài mới</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="is_actived">Active</label>
                                    <select class="form-control" id="is_actived" name="is_actived">
                                        <option value="1"<?php echo $this->post['is_actived'] ? ' selected="selected" ' : '';?>>Activated</option>
                                        <option value="0"<?php echo !$this->post['is_actived'] ? ' selected="selected" ' : '';?>>Deactivated</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="is_featured">Priority</label>
                                    <select class="form-control" id="is_featured" name="is_featured">
                                        <option value="1"<?php echo $this->post['is_featured'] ? ' selected="selected" ' : '';?>>Yes</option>
                                        <option value="0"<?php echo !$this->post['is_featured'] ? ' selected="selected" ' : '';?>>No</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="nsfw">Sensitive</label>
                                    <select class="form-control" id="nsfw" name="nsfw">
                                        <option value="1"<?php echo $this->post['nsfw'] ? ' selected="selected" ' : '';?>>Not safe for work</option>
                                        <option value="0"<?php echo !$this->post['nsfw'] ? ' selected="selected" ' : '';?>>No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-material row">
                                <div class="col-sm-3">
                                    <label class="control-label margin-right-20" for="is_approved">Approve</label>
                                    <input type="checkbox" id="is_approved" name="is_approved" data-plugin="switchery"
                                    <?php echo $this->post['is_approved'] ? ' checked="checked" value="1" ' : ' ';?> />
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label margin-right-20" for="is_meme">Meme</label>
                                    <input type="checkbox" id="is_meme" name="is_meme" data-plugin="switchery"
                                        <?php echo $this->post['is_meme'] ? ' checked="checked" value="1" ' : ' ';?> />
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label margin-right-20" for="check_update">Keep time</label>
                                    <input type="checkbox" id="check_update" name="check_update" data-plugin="switchery"
                                           checked="checked" value="1" />
                                </div>
                                <?php if ($this->post['is_photo'] == 0) : ?>
                                    <div class="col-sm-3">
                                        <label class="control-label margin-right-20" for="force_youtube">Youtube player</label>
                                        <input type="checkbox" id="force_youtube" name="force_youtube" data-plugin="switchery"
                                            <?php echo isset($this->postMeta['force_youtube']) && $this->postMeta['force_youtube'] ? ' checked="checked" value="1" ' : ' ';?>/>
                                    </div>
                                <?php else : ?>
                                    <div class="col-sm-3">
                                        <label class="control-label margin-right-20 disable-label" for="force_youtube">Youtube player</label>
                                        <input type="checkbox" id="force_youtube" name="force_youtube" data-plugin="switchery" data-disabled="true"/>
                                    </div>
                                <?php endif; ?>

                            </div>
                            <button type="submit" name="btn_submit" class="btn btn-primary pull-right margin-top-30" id="btn_submit">Update</button>
                        </form>
                    </div>
                </div>
                <!-- End Panel Static Lables -->
            </div>
        </div>
    </div>
</div>
<!-- End Page -->