<div class="page animsition">
<div class="page-header">
    <h1 class="page-title">Post Management</h1>
    <ol class="breadcrumb">
        <li><a href="<?php echo BASE_URL . '/adm_reborn' ?>">Home</a></li>
        <li class="active">List Posts</li>
    </ol>
</div>
<div class="page-content">
<!-- Panel Basic -->
<div class="panel">
    <div class="panel-body">
        <div class="margin-bottom-30">
            <form autocomplete="off" method="get" enctype="multipart/form-data"
                  action="<?php echo $this->url(array('action' => 'index', 'controller' => 'post', 'module' => 'adm'), null, true); ?>">
                <div class="form-group form-material row">
                    <div class="col-sm-4">
                        <label class="control-label" for="post_id">Post ID</label>
                        <input type="text" class="form-control" id="post_id" name="post_id"
                               value="<?php echo isset($params['post_id']) ? $params['post_id'] : ''; ?>"/>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label" for="is_actived">Deleted</label>
                        <select class="form-control" id="is_actived" name="is_actived">
                            <option value="-1">All</option>
                            <option value="1"
                                    class="second" <?php echo (isset($params['is_approved']) && $params['is_actived'] == 1) ? 'selected="selected"' : ''; ?>>
                                Yes
                            </option>
                            <option value="0"
                                    class="second" <?php echo (isset($params['is_actived']) && $params['is_actived'] == 0) ? 'selected="selected"' : ''; ?>>
                                No
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label" for="is_approved">Approved</label>
                        <select class="form-control" id="is_approved" name="is_approved">
                            <option value="-1">All</option>
                            <option value="1"
                                    class="second" <?php echo (isset($params['is_approved']) && $params['is_approved'] == 1) ? 'selected="selected"' : ''; ?>>
                                Yes
                            </option>
                            <option value="0"
                                    class="second" <?php echo (isset($params['is_approved']) && $params['is_approved'] == 0) ? 'selected="selected"' : ''; ?>>
                                No
                        </select>
                    </div>
                </div>
                <div class="form-group form-material row">
                    <div class="col-sm-8">
                        <label class="control-label" for="story">Post Title</label>
                        <input type="text" class="form-control" id="story" name="story"
                               value="<?php echo isset($params['story']) ? $params['story'] : ''; ?>"/>
                    </div>
                </div>
                <button type="submit" name="btn_submit" class="btn btn-primary" id="btn_submit">
                    Search
                </button>
            </form>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-body">
        <table class="table table-hover dataTable table-striped width-full">
            <thead>
            <tr>
                <th width="5%">ID</th>
                <th width="25%">Title</th>
                <th width="20%">Thumbnail</th>
                <th width="5%">Type</th>
                <th width="10%">Uploader</th>
                <th width="15%">Post detail</th>
                <th width="10%">Upload time</th>
                <th width="10%" class="text-nowrap">Action</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th width="5%">ID</th>
                <th width="25%">Title</th>
                <th width="20%">Thumbnail</th>
                <th width="5%">Type</th>
                <th width="10%">Uploader</th>
                <th width="15%">Post detail</th>
                <th width="10%">Upload time</th>
                <th width="10%" class="text-nowrap">Action</th>
            </tr>
            </tfoot>
            <tbody>
            <?php if (!empty($this->posts) > 0): ?>
                <?php foreach ($this->posts as $post): ?>
                    <tr class="row-target<?php echo $post['is_approved'] ? '' : ' row-table-custom'; ?>">
                        <td><?php echo $post['post_id']; ?></td>
                        <td>
                            <a href="<?php echo Post::postUrl($post); ?>"
                               target="_blank"><?php echo $post['story']; ?></a>
                        </td>
                        <td>
                            <?php if (!empty($post['picture_upload'])) : ?>
                                <div class="thumb-small-overflow">
                                    <img class="thumb-small"
                                         src="<?php echo My_Zend_Globals::getThumbImage($post['picture_upload']); ?>"
                                         onerror="this.src='<?php echo $this->layout()->_general['server']['img']['path'] . '/error/227x167.jpg'; ?>'"
                                         width="200"/>
                                </div>
                            <?php elseif ($post['is_photo']) : ?>
                                <div class="thumb-small-overflow">
                                    <img class="thumb-small"
                                         src="<?php echo My_Zend_Globals::getThumbImage($post['picture'], 'thumb1'); ?>"
                                         onerror="this.src='<?php echo $this->layout()->_general['server']['img']['path'] . '/error/227x167.jpg'; ?>'"
                                         width="200"/>
                                </div>
                            <?php
                            elseif ($post['youtube_key'] != ''): ?>
                                <div class="thumb-small-overflow">
                                    <img class="thumb-small"
                                         src="http://img.youtube.com/vi/<?php echo $post['youtube_key']; ?>/0.jpg"
                                         onerror="this.src='<?php echo $this->layout()->_general['server']['img']['path'] . '/error/227x167.jpg'; ?>'"
                                         width="200"/>
                                </div>
                            <?php
                            elseif ($post['vmo_key'] != '') : ?>
                                <?php if ($post['picture_upload']) : ?>
                                    <div class="thumb-small-overflow">
                                        <img class="thumb-small"
                                             src="<?php echo My_Zend_Globals::getThumbImage($post['picture_upload']); ?>"
                                             onerror="this.src='<?php echo $this->layout()->_general['server']['img']['path'] . '/error/227x167.jpg'; ?>'"
                                             width="200"/>
                                    </div>
                                <?php else : ?>
                                    <div class="thumb-small-overflow">
                                        <iframe
                                            class="thumb-small"
                                            src="//player.vimeo.com/video/<?php echo $post['vmo_key']; ?>"
                                            frameborder="0"
                                            allowfullscreen
                                            onerror="this.src='<?php echo $this->layout()->_general['server']['img']['path'] . '/error/227x167.jpg'; ?>'"
                                            width="200"></iframe>
                                    </div>
                                <?php endif; ?>
                            <?php
                            elseif ($post['mecloud_key'] != ''): ?>
                                <?php if ($post['picture_upload']) : ?>
                                    <div class="thumb-small-overflow">
                                        <img class="thumb-small"
                                             src="<?php echo My_Zend_Globals::getThumbImage($post['picture_upload']); ?>"
                                             onerror="this.src='<?php echo $this->layout()->_general['server']['img']['path'] . '/error/227x167.jpg'; ?>'"
                                             width="200"/>
                                    </div>
                                <?php else : ?>
                                    <div class="thumb-small-overflow">
                                        <img class="thumb-small"
                                             src="<?php echo $post['picture']; ?>"
                                             onerror="this.src='<?php echo $this->layout()->_general['server']['img']['path'] . '/error/227x167.jpg'; ?>'"
                                             width="200"/>
                                    </div>
                                <?php endif; ?>
                            <?php endif; ?>
                        </td>
                        <td>
                            <?php
                            if ($post['is_photo'] && $post['is_gif']) {
                                echo '<div class="label label-danger">Video</div>';
                            } elseif ($post['is_photo'] && $post['is_meme']) {
                                echo '<div class="label label-table label-primary">Meme</div>';
                            } elseif ($post['is_photo']) {
                                echo '<div class="label label-table label-success">Photo</div>';
                            } elseif ($post['youtube_key'] != '' || $post['vmo_key'] || $post['zingtv_key']) {
                                echo '<div class="label label-danger">Video</div>';
                            } elseif ($post['mecloud_key']) {
                                echo '<div class="label label-info">MeCloud</div>';
                            }
                            ?>
                        </td>
                        <td>
                            <a href="<?php echo User::userUrl($post); ?>"
                               target="_blank"><?php echo $post['fullname']; ?></a>
                        </td>
                        <td>
                            <?php echo $post['is_approved'] ? '' : 'Not approved'; ?>
                            <?php echo $post['is_actived'] == 0 ? '<p class="post-deleted">Deleted</p>' : ''; ?>
                            <p class="margin-0">- Position:
                                <?php if ($post['phase'] == Post::_PHASE_NEW_POST)
                                    echo 'New';
                                elseif ($post['phase'] == Post::_PHASE_HOMEPAGE)
                                    echo 'Home';
                                elseif ($post['phase'] == Post::_PHASE_HOT)
                                    echo 'HOT';
                                elseif ($post['is_actived'] == 1)
                                    echo 'Deleted';
                                ?> </p>

                            <p class="margin-0">- Category:
                                <?php
                                $category = '';
                                foreach ($this->categoryTree as $parent) {
                                    if ($parent['category_id'] == $post['category_id']) {
                                        $category = $parent['category_customize'];
                                        echo $category;
                                        break;
                                    }
                                }
                                echo $category == '' ? 'None' : '';
                                ?>
                            </p>

                            <p class="margin-0">- View: <?php echo $post['number_of_view']; ?></p>

                            <p class="margin-0">- Like: <?php echo $post['number_of_like']; ?></p>

                            <p class="margin-0">- Comment: <?php echo $post['number_of_comment']; ?></p>

                            <p class="margin-0">- Share: <?php echo $post['number_of_share']; ?></p>
                        </td>
                        <td><?php echo date('H:i:s d/m/Y', $post['created_at']); ?></td>
                        <td class="text-nowrap">
                            <?php if (Role::isAllowed(Permission::ARTICLE_EDIT)): ?>
                                <a title="Edit post" class="btn btn-sm btn-icon btn-flat btn-default"
                                   href="<?php echo $this->url(array('action' => 'edit', 'controller' => 'post', 'module' => 'adm_reborn', 'post_id' => $post['post_id']), null, true); ?>">
                                    <i class="icon wb-wrench" aria-hidden="true"></i>
                                </a>
                            <?php endif; ?>
                            <?php if (Role::isAllowed(Permission::ARTICLE_DELETE)): ?>
                                <a class="btn btn-sm btn-icon btn-flat btn-default"
                                   title="Delete post" onclick="return confirm('Are you sure to delete this post ?')"
                                   href="<?php echo $this->url(array('action' => 'delete', 'controller' => 'post', 'module' => 'adm_reborn', 'post_id' => $post['post_id']), null, true); ?>">
                                    <i class="icon wb-close" aria-hidden="true"></i>
                                </a>
                            <?php endif; ?>
                            <?php if (Role::isAllowed(Permission::ARTICLE_APPROVE) && !$post['is_approved']): ?>
                                <a class="btn btn-sm btn-icon btn-flat btn-default"
                                   href="javascript:void(0);" id="approvePost-<?php echo $post['post_id']; ?>"
                                   data-post-id="<?php echo $post['post_id']; ?>">
                                    <i class="icon wb-chevron-up" aria-hidden="true"></i>
                                </a>
                            <?php endif; ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
            <?php else: ?>
                <tr>
                    <td colspan="9">Missing data</td>
                </tr>
            <?php endif; ?>
            </tbody>
        </table>
        <?php echo $this->paging; ?>
    </div>
    <!-- End Panel Basic -->
</div>
<!-- End Panel -->
</div>
</div>
<script>
    $("[id|=approvePost]").click(function () {
        var post_id = $(this).attr('data-post-id');
        $.ajax({
            url: '<?php echo BASE_URL ?>/adm_reborn/post',
            type: 'POST',
            dataType: 'json',
            data: {post_id: post_id},
            cache: false,
            success: function (msg) {
                if (msg.error_code == 0) {
                    window.location.reload(true);
                } else {
                    alert(msg.error_message);
                }
            }
        });
    });
    $(function() {
        $('.row-target td div').click(function() {
            $(this).removeClass('thumb-small-overflow');
        });
    });
</script>