<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title">Report Management</h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo BASE_URL . '/adm_reborn' ?>">Home</a></li>
            <li class="active">Report</li>
        </ol>
    </div>
    <div class="page-content">
        <!-- Panel Basic -->
        <div class="panel">
            <div class="panel-body">
                <table class="table table-hover dataTable table-striped width-full">
                    <thead>
                    <tr>
                        <th width="5%">ID</th>
                        <th width="">Title</th>
                        <th width="15%">Owner</th>
                        <th width="10%">Approve</th>
                        <th width="10%">Active</th>
                        <th width="15%" class="text-nowrap">Report time</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th width="5%">ID</th>
                        <th width="">Title</th>
                        <th width="15%">Owner</th>
                        <th width="10%">Approve</th>
                        <th width="10%">Active</th>
                        <th width="15%" class="text-nowrap">Report time</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <?php if (!empty($this->posts) > 0): ?>
                        <?php foreach ($this->posts as $post): ?>
                            <tr>
                                <td><?php echo $post['post_id']; ?></td>
                                <td>
                                    <a target="_blank" href="<?php echo Post::postUrl($post); ?>">
                                        <?php echo $post['story']; ?></a>
                                </td>
                                <td>
                                    <a href="<?php echo User::userUrl($post);?>" target="_blank">
                                        <?php echo $post['fullname']; ?></a>
                                </td>
                                <td>
                                    <?php echo $post['is_approved'] == 1 ? 'Approved' : 'Not approved'; ?>
                                </td>
                                <td>
                                    <?php echo $post['is_actived'] == 1 ? 'Activated' : 'Deactivated'; ?>
                                </td>
                                <td class="text-nowrap">
                                    <?php echo date('H:i:s d/m/Y', $post['time']); ?>
                                </td>
                            </tr>
                            <?php endforeach; ?>
                    <?php else: ?>
                        <tr>
                            <td>Missing data</td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                </table>
                <?php echo $this->paging; ?>
            </div>
            <!-- End Panel Basic -->
        </div>
        <!-- End Panel -->
    </div>
</div>