<input type="button" value="Build homepage" onclick="buildpage()"/>

<script>
function buildpage()
{
	$.ajax({
		url: Settings.baseurl + '/<?php echo ADM_FOLDER ;?>/index/buildhome',
		type: 'POST',
		dataType:'json',
		success: function(data)
		{
			$(this).myBoxy (Boxy,{
				type: 'alert',
				title: 'Thao tác thành công',
				message: data.msg,
			});
		}
	});
}
</script>