<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="noindex, nofollow" />
<?php echo $this->headMeta(); ?>
<?php echo $this->headTitle(); ?>
<link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->layout()->_general['server']['img']['path'];?>/favicon.ico" />
<?php
    echo $this->headLink()
		 ->prependStylesheet($this->layout()->_general['server']['css']['path'].'/backend.css');
?>
</head>
<body id="login">
<form id="frm" name="frm" method="post" action="<?php echo BASE_URL;?>/<?php echo ADM_FOLDER ;?>/index/login">
<div class="login">
	<div class="top_login">
		<div class="ltop_login"></div>
		<div class="rtop_login"></div>
	</div>
	<div class="login_inside">
		<h2>Đăng nhập vào hệ thống Admin</h2>
		<?php if($this->error_code):?>
        <div class="error">
        	<?php if($this->error_code==1):?>
        	Mật khẩu hoặc tài khoản không đúng
        	<?php elseif($this->error_code==2):?>
        	Bạn vừa đăng nhập <strong>3 phút</strong> trước. Vui lòng nhập mã xác nhận
        	<?php elseif($this->error_code==3):?>
          	Mật khẩu hoặc tài khoản không đúng! Vui lòng nhập mã xác nhận.
          	<?php elseif($this->error_code==4):?>
          	Mã xác nhận không đúng!
        	<?php endif;?>
        </div>
        <?php endif;?>
		<div class="group_listing_input">
			<div class="listing_input">
				<div class="post_label_container">
					<label class="postLabel">Tài khoản:</label>
				</div>
				<input id="user_name" name="user_name" type="text" value="" class="login_text_input" />
			</div>
			<div class="listing_input">
				<div class="post_label_container">
					<label class="postLabel"><?php echo $this->translate('Password');?>:</label>
				</div>
				<input id="password" name="password" type="password" value="" class="login_text_input" />
			</div>
			<?php if($this->show_captcha==1):?>
            <div class="listing_input" style="height:auto;">
				<div class="post_label_container">
					<label class="postLabel">Mã xác nhận:</label>
				</div>
				<input id="verifycode" name="verifycode" type="text" maxlength="6" class="login_text_input" />
				<input type="hidden" value="<?php echo $this->token;?>" name="captcha_token" />
                <p class="key"><img id="sVerifyImg" name="sVerifyImg" src="<?php echo $this->api_passport['captchaurl'];?>?token=<?php echo $this->token;?>&type=img" width="200px" height="48px" alt="" border="0"/></p>
			</div>
			<?php endif;?>
			<div class="button_listing_input"><input class="button_login" value="" name="submit" type="submit" /></div>
		</div>
		<div class="copyright">Copyright © <?php echo date('Y');?> - HayNhucNhoi.tv</div>
	</div>
	<div class="bottom_login">
		<div class="lbottom_login"></div>
		<div class="rbottom_login"></div>
	</div>
</div>
</form>
</body>
</html>
