<form name="tf" method="post" action="">
    <div id="content">
        <div class="breadcrumb clearfix">
            <div class="title k2">Quản lý Static Menu</div>
        </div>
        <div class="">
            <?php if (!empty($this->succes)): ?>
                <div class="warning"><?php echo $this->succes; ?></div>
            <?php endif; ?>
            <?php if (!empty($this->arrError)): ?>
                <div class="warning"><?php echo implode('<p></p>', $this->arrError) ?></div>
            <?php endif; ?>

            <div class="module clearfix">
                <div class="lstitle">Sửa</div>
                <div class="group_listing_input">
                    <div class="listing_input">
                        <div class="post_label_container">
                            <label class="postLabel">Danh sách ID bài viết:</label>
                        </div>
                        <input id="id_list" name="setting_value" type="text"
                               value="<?php echo $this->dataDefault['setting_value']; ?>" class="wide_text_input"/>
                    </div>
                    <div class="listing_input">
                        <div class="post_label_container">
                            <label class="postLabel"></label>
                        </div>
                        <input type="submit" name="submit" value="Save"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</form>