/* Boxy ---*/
.boxy-wrapper{position:absolute}
.boxy-wrapper.fixed{position:fixed}
.boxy-wrapper a{outline:0}
.boxy-modal-blackout{position:absolute;background-color:#000;left:0;top:0}
.boxy-wrapper{empty-cells:show}
.boxy-wrapper .title-bar{display:none}
.boxy-wrapper .title-bar.dragging{cursor:move}
.boxy-inner{padding:0}
.boxy-content{padding:0}

/* Global ---*/
.popup{background:#fff;margin:0;border:1px solid #bbb}
.popup .title-popup{position:relative;background:url(../images/boxy/title_box_boxy.png) repeat-x;height:24px;padding:8px 0 0 10px;color:#555;font-size:12px;font-weight:bold}
.popup .title-popup .btn-close{position:absolute;top:-10px;right:-15px;cursor:pointer}
.popup .content-popup{margin:0}
.popup .content-popup .warning{background-color:#ffd0d0;margin:10px 20px 5px 20px;padding:6px 10px;color:#d00;font-size:12px;border:1px solid #d00}
.popup .btn-default{width:80px;margin:5px auto 12px}
.popup .btn-default .btn-cancel{background-color:transparent;background-image:-moz-linear-gradient(center top,#fefefe,#f8f8f8);background-image:linear-gradient(center top,#fefefe,#f8f8f8);background-image:-webkit-linear-gradient(center top,#fefefe,#f8f8f8);margin-right:0;padding:3px 10px;color:#666;font-size:12px;font-weight:normal;border:1px solid #c2c2c2;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;box-shadow:1px 1px 1px #eee;-moz-box-shadow:0 1px 2px #aaa;-webkit-box-shadow:0 1px 2px #aaa}
.popup .btn-default .btn-cancel:hover{border:1px solid #ccc;box-shadow:1px 0 3px #ddd;-moz-box-shadow:1px 0 1px #ddd;-webkit-box-shadow:1px 0 1px #ddd}
.popup .btn-default .btn-accept{background:#1482e0;margin-right:5px;padding:3px 10px;color:#fff;font-size:12px;font-weight:bold;border:1px solid #0273b1;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;box-shadow:1px 1px 1px #ccc;-moz-box-shadow:1px 1px 1px #ccc;-webkit-box-shadow:1px 1px 1px #ccc}
.popup .btn-default .btn-accept:hover{background:#1179d6;box-shadow:1px 1px 2px #aaa;-moz-box-shadow:1px 1px 1px #aaa;-webkit-box-shadow:1px 1px 1px #aaa}
.popup .btn-default .btn-other{background:-moz-linear-gradient(center bottom , #D2D2D2, #E6E6E6) repeat scroll 0 0 transparent;margin-right:5px;padding:3px 10px;color:#5c5c5c;font-size:12px;font-weight:bold;border:1px solid #a5a5a5;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;box-shadow:1px 1px 1px #ccc;-moz-box-shadow:1px 1px 1px #ccc;-webkit-box-shadow:1px 1px 1px #ccc;text-shadow:1px 1px #eee}
.popup .btn-default .btn-other:hover{background:#e6e6e6;box-shadow:1px 1px 2px #aaa;-moz-box-shadow:1px 1px 1px #aaa;-webkit-box-shadow:1px 1px 1px #aaa}
.popup .footer-popup{background:#f8f8f8;padding:5px 0;box-shadow:inset 0 0 6px #ddd}
.popup .footer-popup .btn-default{margin:0 auto}
.popup .footer-popup .btn-default .btn-cancel{margin-right:5px}
.popup .btn-double{width:150px}

/* Login */
.popup .content-popup .login-form{margin:0;padding:15px 0}
.popup .content-popup .login-form p{clear:both;margin-bottom:6px}
.popup .content-popup .login-form .end-row-info{margin-left:130px}
.popup .content-popup .login-form .end-row-info span{padding:0 5px}
.popup .content-popup .login-form a{color:#06c;font-size:12px;font-weight:normal}
.popup .content-popup .login-form a:hover{color:#f60;text-decoration:underline}
.popup .content-popup .login-form .row-info{position:relative}
.popup .content-popup .login-form .row-info label{display:block;float:left;width:120px;height:26px;margin-right:12px;color:#333;font-size:12px;font-weight:normal;line-height:26px;text-align:right}
.popup .content-popup .login-form .row-info .spent{position:relative;top:5px}
.popup .content-popup .login-form .input-login{float:left;background:#fff;width:240px;margin-right:4px;padding:4px 4px;color:#555;font-size:12px;border:1px solid #c5c5c5;-moz-box-shadow:inset 1px 1px 1px #eee;-webkit-box-shadow:inset 1px 1px 1px #eee;box-shadow:inset 1px 1px 1px #eee}
.popup .content-popup .login-form .input-login:focus{box-shadow:1px 1px 2px #ccc;-moz-box-shadow:1px 1px 2px #ccc;-webkit-box-shadow:1px 1px 2px #ccc}
.popup .content-popup .login-form .btn-login{display:inline;float:left;margin:5px 0 8px 132px}
.popup .content-popup .login-form .btn-login .btn-submit{background:#1482e0;margin-right:5px;padding:3px 10px;color:#fff;font-size:12px;font-weight:bold;border:1px solid #0273b1;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;box-shadow:1px 1px 1px #ccc;-moz-box-shadow:1px 1px 1px #ccc;-webkit-box-shadow:1px 1px 1px #ccc}
.popup .content-popup .login-form .btn-login .btn-cancel{background:#f3f3f3;margin-right:0;padding:3px 10px;color:#666;font-size:12px;font-weight:normal;border:1px solid #dcdcdc;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;box-shadow:1px 1px 1px #eee;-moz-box-shadow:0 1px 2px #aaa;-webkit-box-shadow:0 1px 2px #aaa}
.popup .content-popup .login-form .btn-login .btn-submit:hover{background:#1179d6;box-shadow:1px 1px 2px #aaa;-moz-box-shadow:1px 1px 1px #aaa;-webkit-box-shadow:1px 1px 1px #aaa}
.popup .content-popup .login-form .btn-login .btn-cancel:hover{background:#f8f8f8;box-shadow:1px 1px 2px #ddd;-moz-box-shadow:1px 1px 1px #ddd;-webkit-box-shadow:1px 1px 1px #ddd}
.popup .content-popup .login-form .notice-error{margin-left:130px;color:#d00000;font-size:12px}
.popup .content-popup .login-form .row-register{margin-left:132px;color:#666;font-size:12px}

/* Google map */
.popup .map-form{margin:0;padding:15px 10px}
.popup .map-form .row-map{background:#fff;width:776px;margin-bottom:5px;padding:2px;border:1px solid #c5c5c5;-moz-box-shadow:inset 1px 1px 1px #eee;-webkit-box-shadow:inset 1px 1px 1px #eee;box-shadow:inset 1px 1px 1px #eee;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}
.popup .map-form .row-map .input-map{float:left;width:744px;padding:6px 4px;color:#555;font-size:14px;border:0}
.popup .map-form .row-map .btn-map{float:left;background:url(../images/icon_mini.1.0.6.png) -6px -1015px no-repeat;width:17px;height:17px;margin-top:6px;border:0;text-indent:-9999px}
.popup .map-form .row-map .btn-map:hover{background-position:-6px -1032px}
.popup .map-form .row-find{float:left;margin-bottom:10px}
.popup .map-form .row-find .sfar{display:block;float:left;background:#f8f8f8 url(../images/icon_mini.1.0.6.png) 0 -1050px no-repeat;width:140px;margin-right:4px;padding:3px 4px;padding-left:20px;color:#555;font-size:12px;border:1px solid #c5c5c5;-moz-box-shadow:inset 1px 1px 1px #eee;-webkit-box-shadow:inset 1px 1px 1px #eee;box-shadow:inset 1px 1px 1px #eee;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}
.popup .map-form .row-find .sfar select{background-color:#f8f8f8;width:140px;border:0}
.popup .map-form .btn-find{background:#1482e0;margin-right:5px;padding:3px 10px;color:#fff;font-size:12px;font-weight:bold;border:1px solid #0273b1;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;box-shadow:1px 1px 1px #ccc;-moz-box-shadow:1px 1px 1px #ccc;-webkit-box-shadow:1px 1px 1px #ccc}
.popup .map-form .btn-find:hover{background:#1179d6;box-shadow:1px 1px 2px #aaa;-moz-box-shadow:1px 1px 1px #aaa;-webkit-box-shadow:1px 1px 1px #aaa}
.popup .ctn-map{width:780px;height:400px;border:1px solid #eee}

/* Bar-notice */
.popup .bar-notice{padding:15px 20px;color:#444;font-size:12px;font-weight:normal;line-height:16px}
.popup .notice-warning{color:#333}
.popup .notice-warning span.ico{display:block;float:left;background:url(../images/icon_mini.1.0.6.png) 0 -874px no-repeat;width:30px;height:30px;margin:-6px 0 0 8px}
.popup .notice-sucess{color:#390}
.popup .notice-sucess span.ico{display:block;float:left;background:url(../images/icon_mini.1.0.6.png) 0 -914px no-repeat;width:30px;height:30px;margin:-2px 0 0 8px}
.popup .notice-error{color:#d00}
.popup .notice-error span.ico{display:block;float:left;background:url(../images/icon_mini.1.0.6.png) 0 -948px no-repeat;width:30px;height:30px;margin:-2px 0 0 8px}
.popup .notice-confirm{color:#333}
.popup .notice-confirm span.ico{display:block;float:left;background:url(../images/icon_mini.1.0.6.png) 0 -1084px no-repeat;width:30px;height:30px;margin:-2px 0 0 8px}

/* Up */
.popup .up-case{width:410px;padding:10px 20px 20px;overflow:hidden}
.popup .up-case .ctn-up-case{width:500px;margin-top:10px}
.popup .up-case .ctn-up-case li{float:left;width:114px;margin:0 5px 0 15px}
.popup .up-case .ctn-up-case li .price{font-size:14px;font-weight:bold}
.popup .up-case .ctn-up-case li .price em{font-size:11px;font-weight:normal;font-style:normal}
.popup .up-case .ctn-up-case li .up-case-default{display:block;background:url(../images/up_case.jpg) 0 0 no-repeat;width:114px;height:46px}
.popup .up-case .ctn-up-case li .up-case-default strong{color:#333;font-size:12px}
.popup .up-case .ctn-up-case li input[type="radio"]{display:inline;float:left;height:40px;margin-left:8px}
.popup .up-case .ctn-up-case li .detail-up-case{float:right;width:80px;padding-top:8px}
.popup .up-case .ctn-up-case li .up-case1{background-position:0 0;color:#fff}
.popup .up-case .ctn-up-case li .up-case2{background-position:0 -46px;color:#fff}
.popup .up-case .ctn-up-case li .up-case3{background-position:0 -92px;color:#b51e01}
.popup .up-case .note{background:#fee;margin:15px 0 0;padding:6px 10px;color:#333;font-size:12px;line-height:16px;border:1px solid #f3dfde}
.popup .up-case .note strong{display:block;margin-bottom:5px}

/* Auto Up */
.popup .auto-up{padding:10px 20px 10px}
.popup .auto-up .row-up{padding:6px}
.popup .auto-up .row-up .label-up{float:left;width:110px;margin-right:10px;padding-top:2px;color:#333;font-size:12px;font-weight:normal;text-align:right;cursor:default}
.popup .auto-up .row-up .timer-up{float:left;width:500px}
.popup .auto-up .row-up .timer-up-li{float:left;width:220px;margin:0 20px 0 0;padding:0 0 5px 0;color:#333;font-size:12px}
.popup .auto-up .row-up .timer-up-li strong{display:inline-block;width:45px}
.popup .auto-up .row-up .date-up{margin-right:5px;color:#36c;font-size:12px;line-height:18px}
.popup .auto-up .row-up .date-up .input-date-up{margin-right:3px}
.popup .auto-up .row-up .txt{color:#c00;font-size:12px;line-height:18px;font-weight:bold}
.popup .auto-up .row-up .note-up{color:#888;font-size:12px;line-height:18px;font-weight:normal}
.popup .auto-up .row-up select{background:#fff;margin-right:4px;padding:4px 4px;color:#555;font-size:12px;border:1px solid #c5c5c5;box-shadow:inset 1px 1px 1px #eee;-moz-box-shadow:inset 1px 1px 1px #eee;-webkit-box-shadow:inset 1px 1px 1px #eee}
.popup .auto-up .row-up select, .popup .auto-up .row-up input[type="checkbox"]{margin:0 5px;padding:2px 2px 2px 6px;color:#333;font-size:11px;font-family:Arial;vertical-align:middle}
.popup .auto-up .row-up input[type="text"]{width:220px;padding:2px;color:#333;font-size:12px;font-family:Arial;border:1px solid #cbd7e4}
.popup .auto-up .showcase-dialog{margin:0 0 15px;border:1px solid #ddd;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.popup .auto-up .showcase-dialog p{padding:6px 8px;font-size:11px;font-weight:bold;line-height:16px;border-bottom:1px solid #eee}
.popup .auto-up .showcase-dialog .label-name{color:#d54e21;font-size:12px;font-weight:bold}
.popup .auto-up .notice-up{margin:0 0 5px 5px;color:#555;font-size:12px}
.popup .auto-up .ctn-notice-up{color:#777;font-size:12px}

/* Upload image */
.popup .wrap-upload{padding:10px 20px 10px}
.popup .wrap-upload .first-line{margin-bottom:10px}
.popup .wrap-upload .first-line .add-image{display:block;float:left;background:url(../images/shopcp_btn_all.png) 0 -140px no-repeat;width:88px;height:24px;margin-right:10px;text-indent:-9999px;border:0}
.popup .wrap-upload .first-line .upload-all{display:block;float:left;background:url(../images/shopcp_btn_all.png) 0 -168px no-repeat;width:130px;height:24px;margin-right:10px;text-indent:-9999px;border:0}
.popup .wrap-upload .table-image{background:#f5f5f5;height:350px;margin-bottom:10px;border-top:1px solid #ddd;overflow-y:scroll}
.popup .wrap-upload .table-image .table-striped{width:100%}
.popup .wrap-upload .table-image .table-striped tr{height:80px}
.popup .wrap-upload .table-image .table-striped td{height:80px;padding:4px 6px;color:#333;font-size:12px;line-height:18px;border-bottom:1px solid #ddd}
.popup .wrap-upload .table-image .btn-primary{background:-moz-linear-gradient(center bottom , #D2D2D2, #E6E6E6) repeat scroll 0 0 transparent;margin-right:5px;padding:3px 10px;color:#5c5c5c;font-size:12px;font-weight:bold;font-family:Arial;border:1px solid #a5a5a5;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;box-shadow:1px 1px 1px #ccc;-moz-box-shadow:1px 1px 1px #ccc;-webkit-box-shadow:1px 1px 1px #ccc;text-shadow:1px 1px #eee}
.popup .wrap-upload .table-image .btn-primary:hover{background:#e6e6e6;box-shadow:1px 1px 2px #aaa;-moz-box-shadow:1px 1px 1px #aaa;-webkit-box-shadow:1px 1px 1px #aaa}
.popup .wrap-upload .table-image .btn-warning{background-color:transparent;background-image:-moz-linear-gradient(center top,#fefefe,#f8f8f8);background-image:linear-gradient(center top,#fefefe,#f8f8f8);background-image:-webkit-linear-gradient(center top,#fefefe,#f8f8f8);margin-right:0;padding:3px 10px;color:#666;font-size:12px;font-family:Arial;font-weight:normal;border:1px solid #c2c2c2;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;box-shadow:1px 1px 1px #eee;-moz-box-shadow:0 1px 2px #aaa;-webkit-box-shadow:0 1px 2px #aaa}
.popup .wrap-upload .table-image .btn-warning:hover{border:1px solid #ccc;box-shadow:1px 0 3px #ddd;-moz-box-shadow:1px 0 3px #ddd;-webkit-box-shadow:1px 0 3px #ddd}
.popup .wrap-upload .table-image .btn-danger{background-color:transparent;background-image:-moz-linear-gradient(center top,#fefefe,#f8f8f8);background-image:linear-gradient(center top,#fefefe,#f8f8f8);background-image:-webkit-linear-gradient(center top,#fefefe,#f8f8f8);margin-right:0;padding:3px 10px;color:#666;font-size:12px;font-family:Arial;font-weight:normal;border:1px solid #c2c2c2;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;box-shadow:1px 1px 1px #eee;-moz-box-shadow:0 1px 2px #aaa;-webkit-box-shadow:0 1px 2px #aaa}
.popup .wrap-upload .table-image .btn-danger:hover{border:1px solid #ccc;box-shadow:1px 0 3px #ddd;-moz-box-shadow:1px 0 1px #ddd;-webkit-box-shadow:1px 0 1px #ddd}

/* Upload image tinymce */
.popup .wrap-upload-image{padding:10px 20px 10px}
.popup .wrap-upload-image .row-up{position:relative;clear:both;margin-bottom:6px}
.popup .wrap-upload-image .row-up label{display:block;float:left;width:100px;height:26px;margin-right:12px;color:#333;font-size:12px;font-weight:normal;line-height:26px;text-align:right}
.popup .tab-upload-image{background:#f9f9f9;height:32px;margin:0;border-bottom:1px solid #dfdfdf}
.popup .tab-upload-image li{display:inline;float:left;margin:3px 0 0 3px}
.popup .tab-upload-image li a{display:block;background:#f5f5f5;padding:7px 10px;margin-right:2px;color:#2175b6;font-size:12px;font-weight:normal;text-align:center;text-decoration:none}
.popup .tab-upload-image li a.selected{background:#fff;color:#d54e21;font-weight:bold;border:1px solid #dfdfdf;border-bottom:1px solid #fff;text-shadow:0 1px 0 #fff;border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0}

/* Msg */
.popup .msg-form{margin:0;padding:5px 0}
.popup .msg-form p{clear:both;margin-bottom:6px}
.popup .msg-form a{color:#06c;font-size:12px;font-weight:normal}
.popup .msg-form a:hover{color:#f60;text-decoration:underline}
.popup .msg-form .row-info{position:relative}
.popup .msg-form .row-info .txt{color:#222;font-size:12px;line-height:26px;font-weight:bold}
.popup .msg-form .row-info label{display:block;float:left;width:120px;height:26px;margin-right:12px;color:#333;font-size:12px;font-weight:normal;line-height:26px;text-align:right}
.popup .msg-form .input-msg{float:left;background:#fff;width:280px;margin-right:4px;padding:4px 4px;color:#555;font-size:12px;border:1px solid #c5c5c5;-moz-box-shadow:inset 1px 1px 1px #eee;-webkit-box-shadow:inset 1px 1px 1px #eee;box-shadow:inset 1px 1px 1px #eee}
.popup .msg-form .ctn-content{float:left;background:#fff;width:280px;height:100px;margin-right:4px;padding:4px 4px;color:#555;font-size:12px;border:1px solid #c5c5c5;-moz-box-shadow:inset 1px 1px 1px #eee;-webkit-box-shadow:inset 1px 1px 1px #eee;box-shadow:inset 1px 1px 1px #eee}
.popup .msg-form .input-msg:focus, .popup .msg-form .ctn-content:focus{box-shadow:1px 1px 2px #ccc;-moz-box-shadow:1px 1px 2px #ccc;-webkit-box-shadow:1px 1px 2px #ccc}
.popup .msg-form .disabled-input{background:#f9f9f9;color:#555;font-size:12px;border:1px solid #cfcfcf;-moz-box-shadow:inset 1px 1px 0 0 #fff;-webkit-box-shadow:inset 1px 1px 0 0 #fff;box-shadow:inset 1px 1px 0 0 #fff}
.popup .msg-form .notice-error{margin-left:130px;color:#d00000;font-size:12px}

/* Google map */
.popup .map-form{margin:0;padding:15px 10px}
.popup .map-form .row-map{background:#fff;width:776px;margin-bottom:5px;padding:2px;border:1px solid #c5c5c5;-moz-box-shadow:inset 1px 1px 1px #eee;-webkit-box-shadow:inset 1px 1px 1px #eee;box-shadow:inset 1px 1px 1px #eee;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}
.popup .map-form .row-map .input-map{float:left;width:744px;padding:6px 4px;color:#555;font-size:14px;border:0}
.popup .map-form .row-map .btn-map{float:left;background:url(../images/icon_mini.1.0.6.png) -6px -1015px no-repeat;width:17px;height:17px;margin-top:6px;border:0;text-indent:-9999px}
.popup .map-form .row-map .btn-map:hover{background-position:-6px -1032px}
.popup .map-form .row-find{float:left;margin-bottom:10px}
.popup .map-form .row-find .sfar{display:block;float:left;background:#f8f8f8 url(../images/icon_mini.1.0.6.png) 0 -1050px no-repeat;width:140px;margin-right:4px;padding:3px 4px;padding-left:20px;color:#555;font-size:12px;border:1px solid #c5c5c5;-moz-box-shadow:inset 1px 1px 1px #eee;-webkit-box-shadow:inset 1px 1px 1px #eee;box-shadow:inset 1px 1px 1px #eee;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}
.popup .map-form .row-find .sfar select{background-color:#f8f8f8;width:140px;border:0}
.popup .map-form .btn-find{background:#1482e0;margin-right:5px;padding:3px 10px;color:#fff;font-size:12px;font-weight:bold;border:1px solid #0273b1;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;box-shadow:1px 1px 1px #ccc;-moz-box-shadow:1px 1px 1px #ccc;-webkit-box-shadow:1px 1px 1px #ccc}
.popup .map-form .btn-find:hover{background:#1179d6;box-shadow:1px 1px 2px #aaa;-moz-box-shadow:1px 1px 1px #aaa;-webkit-box-shadow:1px 1px 1px #aaa}
.popup .ctn-map{width:780px;height:400px;border:1px solid #eee}

/* Email */
.popup .email-form{margin:0;padding:10px 20px}
.popup .email-form .line-email{margin-bottom:10px;padding-bottom:5px;border-bottom:1px solid #ddd;color:#888;font-size:11px;line-height:16px}
.popup .email-form .line-email strong{color:#333;font-size:12px;font-weight:bold}
.popup .email-form p{clear:both;margin-bottom:6px}
.popup .email-form a{color:#06c;font-size:12px;font-weight:normal}
.popup .email-form a:hover{color:#f60;text-decoration:underline}
.popup .email-form .row-info{position:relative}
.popup .email-form .row-info label{display:block;float:left;width:80px;height:26px;margin-right:12px;color:#333;font-size:12px;font-weight:normal;line-height:26px;text-align:right}
.popup .email-form .input-email{float:left;background:#fff;width:280px;margin-right:4px;padding:4px 4px;color:#555;font-size:12px;border:1px solid #c5c5c5;-moz-box-shadow:inset 1px 1px 1px #eee;-webkit-box-shadow:inset 1px 1px 1px #eee;box-shadow:inset 1px 1px 1px #eee}
.popup .email-form .input-email:focus{box-shadow:1px 1px 2px #ccc;-moz-box-shadow:1px 1px 2px #ccc;-webkit-box-shadow:1px 1px 2px #ccc}
.popup .email-form .notice-error{margin-left:92px;color:#d00000;font-size:12px}

/* Reg Showcase */
.popup .reg-showcase-form{margin:0;padding:10px 20px}
.popup .reg-showcase-form .line-reg{margin-bottom:5px;color:#333;font-size:12px;font-weight:bold;line-height:16px}
.popup .reg-showcase-form .showcase-dialog{margin:0 0 15px;border:1px solid #ccc;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.popup .reg-showcase-form .showcase-dialog p{padding:6px 8px;border-bottom:1px solid #eee;font-size:11px}
.popup .reg-showcase-form .showcase-dialog .label-name{color:#06c;font-size:12px;font-weight:bold}

/* Lunar Card */
.popup .lunar-card{background:url(../images/lunar_card/popup_thongbaotet.png) no-repeat;width:558px;height:444px}
.popup .lunar-card .lunar-card-inside{float:left;margin:160px 0 0 70px;width:426px}
.popup .lunar-card .first-line{color:#333;font-size:14px;font-weight:bold;line-height:18px}
.popup .lunar-card .first-line strong{color:#f00}
.popup .lunar-card .second-line{margin-top:8px;color:#333;font-size:12px;line-height:18px}
.popup .lunar-card ul{margin:0}
.popup .lunar-card ul li a{display:block;background:url(../images/lunar_card/sprite_thieptet.png) -112px -30px no-repeat;height:20px;padding-left:20px;color:#333;font-size:12px;font-weight:bold;line-height:20px}
.popup .lunar-card ul li a.active{background-position:-112px -4px}
.popup .lunar-card .cmt{margin-top:10px;color:#927e69;font-size:11px}
.popup .lunar-card .cmt .cmt-inside{background-color:#ffd5ac;width:300px;height:50px;margin-top:4px;box-shadow:inset 0 1px 3px #d7a472;border:1px solid #deab7b}
.popup .lunar-card .cmt .cmt-inside textarea{background:none;border:0;width:290px;height:40px;padding:4px;color:#333;font-size:12px;line-height:16px}
.popup .lunar-card .btn-send{display:block;background:url(../images/lunar_card/sprite_thieptet.png) 0 0 no-repeat;width:58px;height:32px;margin-top:5px;text-indent:-9999px}
.popup .lunar-card .btn-close{display:block;background:url(../images/lunar_card/sprite_thieptet.png) 0 -35px no-repeat;width:100px;height:34px;margin:10px auto;text-indent:-9999px}