<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="jwplayer.js"></script>
	<script type="text/javascript">jwplayer.key="5qMQ1qMprX8KZ79H695ZPnH4X4zDHiI0rCXt1g==";</script>
	<style  type="text/css">
/*
Content-Type: multipart/related; boundary="MYSEPARATOR"

--MYSEPARATOR
Content-Location: image1
Content-Transfer-Encoding: base64
--MYSEPARATOR
*/
		background-image:  url('data:image/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAYCAYAAAA7zJfaAAAAEElEQVR42mP4//8/AwP9CQD0ZEe52lV1zAAAAABJRU5ErkJggg==');
		*background-image: expression("url(mhtml:" + window.location + "!image1)");
	</style>
</head>
<body>
	<div id='player'></div>
	<script type='text/javascript'>
		jwplayer('player').setup({
			file: 'http://www.youtube.com/watch?v=qSTS3QkoMjc',
			width: '100%',
			aspectratio: '16:9',
			skin: 'five',
			logo: {
				file: "https://sites.google.com/site/gitluutru/home/khuluutrufilegmit/logo.png",
				link: 'http://www.youtube.com/watch?v=qSTS3QkoMjc',
			}
		});
	</script>
	<img 
 alt="http://www.texasvsthenation.com/jwplayer/skins/bekle/controlbar/fullscreenButton.png"
 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAYCAIAAABfmbuOAAAANUlEQVR42mP5+/cvAwMDy38GEGBhgFL//4MFsVIQJVAeVpUfPn6CGIYqh6KPgVjB/fv2ASkAf9A1OaFSyX8AAAAASUVORK5CYII=">

</body>
Ghé thăm <a href="http://tungchit.blogspot.com"> Tùng Chịt's Blog </a>để xem nhiều hơn