<div>
    <div id="leftCol">
        <div class="whiteBackground" style="line-height:2">
            <div class="content">
                <h2>Xả stress với Hay Nhức Nhói</h2>
                <p>
                    <b>Hay Nhức Nhói</b> là nơi chia sẻ những bức ảnh, những câu chuyện hài hước độc đáo và ý nghĩa. Rất đơn giản, chỉ cần vào <b>Hay Nhức Nhói</b> để cười và cảm nhận.
                </p>
                <h2>Văn hóa Hay Nhức Nhói</h2>
                <p>
                </p>
                <ul>
                    <li><b>Like bức ảnh bạn thích!</b> Chỉ cần click like, đã thay lời khen ngợi của bạn đến tác giả và giúp chia sẻ tiếng cười đến hàng trăm người khác.</li>
                    <li><b>Bình luận bức ảnh bạn thích!</b> Bình luận của bạn có thể còn gây cười hơn chính bức ảnh đó.</li>
                    <li><b>Like bình luận bạn thích!</b> Bình luận cũng gây cười, tại sao không like nhỉ?</li>
                </ul>
                <p>
                </p>
                <h2>Mục tiêu</h2>
                <p>
                    Hướng tới là trang web giải trí số 1 Việt Nam, <b>Hay Nhức Nhói</b> sẽ kết nối mọi người và mang đến hàng triệu liều thuốc bổ cho người Việt mỗi ngày!
                </p>
                <h2>Hay Nhức Nhói – Không hay vì quá hay!</h2>
            </div>
        </div>
    </div>
    <div id="rightCol">
        <div class="sidebar">
            <div class="submit-info">
                <?php echo $this->render('partials/box_facebook.phtml'); ?>
            </div>
        </div>
    </div>
    <div class="clear">
    </div>
    <?php echo $this->render('partials/footer.phtml'); ?>
</div>