<div>
	<div class="whiteBackground" style="line-height:1.5; font-size: 14px;">
		<div class="content">
			<h1 style="text-align: center">Hay Nhức Nhói sẽ tường thuật trực tiếp sự kiện Apple vào lúc 0h00 đêm 09/09/2015</h1>
		</div>
		<div class="fb-like" data-href="<?php echo BASE_URL. '/apple'; ?>" data-width="100%" data-layout="button_count" data-show-faces="false" data-send="false" data-share="true"></div>
		<div class="fb-comments" data-href="<?php echo BASE_URL. '/apple'; ?>" data-numposts="10" data-width="1020" data-colorscheme="light" data-order-by="reverse_time"></div>
	</div>
	<div class="clear">
	</div>
	<?php echo $this->render('partials/footer.phtml'); ?>
</div>