<div>
    <div class="whiteBackground">
        <div class="content clearfix">
            <h1>Giao lưu trực tuyến cùng hot girl trên Hay Nhức Nhói</h1>
            <div class="row_btn">
                <a class="room_button" id="room_88" href="/cctalk/88">Phòng 88</a>
                <a class="room_button" id="room_99" href="/cctalk/99">Phòng 99</a>
                <a class="room_button" id="room_420" href="/cctalk/420">Phòng 420</a>
                <a class="room_button" id="room_100" href="/cctalk/100">Phòng 100</a>
                <a class="room_button" id="room_999" href="/cctalk/999">Phòng 999</a>
                <a class="room_button" id="room_555" href="/cctalk/555">Phòng 555</a>
            </div>
            <div class="row_btn">
                <a class="room_button" id="room_668" href="/cctalk/668">Phòng 668</a>
                <a class="room_button" id="room_707" href="/cctalk/707">Phòng 707</a>
                <a class="room_button" id="room_747" href="/cctalk/747">Phòng 747</a>
                <a class="room_button" id="room_700" href="/cctalk/700">Phòng 700</a>
                <a class="room_button" id="room_246" href="/cctalk/246">Phòng 246</a>
                <a class="room_button" id="room_666" href="/cctalk/666">Phòng 666</a>
            </div>
            <div class="clearfix">
                <div class="fl-l player">
                    <iframe width="720" height="780" src="http://talktv.vn/embed/idol/13/<?php echo $this->room ?>" allowfullscreen scrolling="false"></iframe>
                </div>
                <div class="fl-l cctalk_sidebar">
                    <h2>Hướng dẫn giao lưu</h2>
                    <ul>
                        <li>Nhấn số phòng để chọn phòng bạn thích. <strong>Mẹo:</strong> Phòng 88 & 99 là nhiều hotgirl nhất.</li>
                        <li>Đăng nhập bằng tài khoản Zing hoặc Facebook để chat chit, giao lưu với các cô gái.</li>
                        <li>Mỗi 10 phút online, bạn sẽ được nhận 01 hoa hồng miễn phí để tặng cho idol của mình.</li>
                        <li>Để tặng quà có phí, bạn cần nạp Txu với tỉ giá 1 Txu = 100 VNĐ. <a href="https://new.pay.zing.vn/product/zingxu" target="_blank">Nhấn vào đây để nạp ngay</a>.</li>
                        <li>Tặng quà càng nhiều, bạn càng có cơ hội trở thành thành viên VIP được vinh danh kèm nhiều quyền lợi hấp dẫn.</li>
                        <li>Tặng quà càng nhiều, bạn càng dễ lọt vào "mắt xanh" của các nàng, và biết đâu các nàng sẽ nhắn tin chat riêng với bạn.</li>
                        <li>Các phòng hoạt động liên tục từ 8:00 - 22:00.</li>
                        <li>Sử dụng Chrome hoặc Firefox để xem live stream tốt nhất!</li>
                    </ul>
                    <div class="fb-like" style="margin-bottom: 5px" data-href="<?php echo BASE_URL. '/cctalk'; ?>" data-width="100%" data-layout="button_count" data-show-faces="false" data-send="true"></div>
                </div>
            </div>
            <p class="comment">Nếu không xem được hoặc có thắc mắc, các bạn để lại comment dưới đây nhé</p>
            <div class="fb-comments" data-href="<?php echo BASE_URL. '/cctalk'; ?>" data-numposts="10" data-width="720" data-colorscheme="light" data-order-by="reverse_time"></div>
        </div>
    </div>
    <?php echo $this->render('partials/footer.phtml'); ?>
</div>

<!-- 88, 99, 420, 100, 999, 555, 668, 707, 747, 700, 246, 666 -->

<style>
    h1 {
        text-align: center;
        color: #FF6B00 !important;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .row_btn {
        text-align: left;
        float: left;
        width: 100%;
        margin-bottom: 7px;
    }

    .room_button {
        margin-right: 5px;
        background: #0194d3;
        color: white;
        padding: 10px;
        width: 164px;
        float: left;
    }

    .room_button:last-child {
        width: 166px;
    }

    .whiteBackground .content a.room_button {
        border: none;
        text-decoration: none;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
    }

    .player {
        margin-top: 10px;
    }

    .whiteBackground .content a:hover.room_button, #room_<?php echo $this->room; ?> {
        background: #D39201;
        text-decoration: none;
        padding-left: 15px;
        opacity: 0.8;
    }

    .cctalk_sidebar {
        width: 295px;
        padding: 10px;
        padding-right: 0;
        text-align: left;
    }
    .cctalk_sidebar li {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
    .fb-comments {
        margin-top: 10px;
    }
    p.comment {
        font-weight: 700;
        font-size: 120%;
    }
</style>