<div>
    <div id="leftCol">
        <div class="whiteBackground" style="line-height:2">
            <div class="content">
                <h1>
                    Thông tin liên hệ</h1>
                <p>
                    Liên hệ quảng cáo, các ý kiến đóng góp, báo lỗi, yêu cầu, hay những thông tin khác
                    vui lòng gửi email tới: <a href="mailto:contact@haynhucnhoi.tv"><b>contact@haynhucnhoi.tv</b></a>
                </p>
                <h4>
                    Các kênh thông tin chính thức</h4>
                <p>
                    Đơn vị chủ quản: <a href="http://www.haynhucnhoi.tv/"><b>Hay Nhức Nhói</b></a>
                </p>
                <p>
                    Facebook fan page: <a href="http://www.facebook.com/haynhucnhoi" target="_blank"><b>Hay Nhức Nhói</b></a>
                </p>
                <h4>Báo giá Quảng cáo (Update: 11/2015)</h4>
                <p><i class="fa fa-download"></i> <a href="http://st.haynhucnhoi.tv/qc/BaoGiaHNN-Nov2015.pdf" target="_blank">Download báo giá Quảng cáo tại đây</a>
                </p>
            </div>
        </div>
    </div>
    <div id="rightCol">
        <div class="sidebar">
            <div class="submit-info">
                <?php echo $this->render('partials/box_facebook.phtml'); ?>
            </div>
        </div>
    </div>
    <div class="clear">
    </div>
    <?php echo $this->render('partials/footer.phtml'); ?>
</div>