<div>
    <div class="whiteBackground" style="line-height:2">
        <div class="content" style="padding: 10px">
            <h1>Những câu hỏi thường gặp khi sử dụng Hay Nhức Nhói</h1>
            <h4>1. Tại sao tui không thấy nút like và bình luận?</h4>
            <p>Nút like và bình luận được tải về từ Facebook. Bạn không thấy 2 chức năng này có thể do máy bạn bị chặn truy cập Facebook. <!--Tham khảo thêm <a href="/cach-vao-facebook-bi-chan-mang-vnpt-viettel-fpt">cách vào Facebook khi bị chặn</a>.--></p>
            <h4>2. Tại sao tui không nhận được thông báo khi có người like/trả lời bình luận của tui?</h4>
            <p>
                Chức năng thông báo trên bình luận do Facebook quản lý. Tại thời điểm hiện tại bạn sẽ không nhận được thông báo khi có người like hay trả lời trên bình luận của bạn. Tuy nhiên bạn sẽ nhận được thông báo khi có người khác cũng bình luận trên bức ảnh.
            </p>
            <h4>3. Tại sao tui chỉ thấy được một phần của phần bình luận?</h4>
            <p>
                Chức năng bình luận của Facebook thỉnh thoảng gặp lỗi. Một trong những lỗi thường gặp là bình luận không được hiển thị đầy đủ mà chỉ hiển thị được bình luận trên cùng. Khi gặp lỗi bạn hãy thử F5 xem nhé!
            </p>
            <h4>
                4. Ảnh (hay video, sau đây gọi tắt là ảnh) được lên trang chủ dựa vào tiêu chí gì?</h4>
            <p>
                Khi bạn đăng 1 bài viết lên Hay Nhức Nhói, bài viết sẽ không lên trang chủ ngay mà xuất hiện ở trang <a href="/new">Bài Mới</a>. Cộng đồng Hay Nhức Nhói sẽ bình chọn để quyết định bài viết của bạn có được lên trang chủ hay không. Ảnh sẽ được lên <a href="{$baseurl}">Trang Chủ</a> khi đủ 20 bình chọn CHẤT. Ngoài ra có 1 số tiêu chí khác cũng ảnh hưởng đến việc được lên trang chủ hay không, nhưng chiếm trọng số nhỏ hơn: lượt bình luận, lượt xem.
            </p>
            <h4>
                5. Ảnh của tui được rất nhiều like và bình luận, tại sao vẫn không được lên trang chủ? </h4>
            <p>
                Nhiều like và bình luận có thể làm cho bài viết của bạn được chú ý hơn trên trang Bài Mới, nhưng không phải là điều kiện đủ để có thể lên Trang Chủ. Để lên Trang Chủ thì nút CHẤT có ý nghĩa lớn nhất. Số lượng like và bình luận dựa vào tài khoản Facebook nên rất dễ làm giả và gian lận và Hay Nhức Nhói không kiểm soát được điều này. Một ảnh có 100 like nhưng chỉ được vài bình chọn CHẤT sẽ không được lên trang chủ. Nhưng một ảnh chỉ có vài like nhưng rất nhiều bình chọn CHẤT vẫn có thể được lên.
            </p>
            <h4>
                6. Tại sao ảnh của tui chưa lên Trang chủ nhưng cũng không còn thấy ở trang Bài Mới nữa?</h4>
            <p>
                Ảnh của bạn sẽ bị loại khỏi trang Bài Mới trong các trường hợp sau:
            </p>
            <ul>
                <li>Ảnh đã được nhiều lượt xem nhưng vẫn không đủ bình chọn CHẤT: nếu đã rất nhiều người xem nhưng ảnh vẫn không đủ bình chọn, chứng tỏ ảnh của bạn chưa đạt chất lượng, và cũng sẽ tự động bị loại khỏi trang bình chọn </li>
                <li>Ảnh đã bị trùng và bị BQT gỡ xuống </li>
                <li>Ảnh vi phạm nhẹ các nội quy </li>
            </ul>
            <p>
                Ngoài ra nếu ảnh bạn mới đăng cũng sẽ không xuất hiện ngay trên trang Bài Mới. Sau khi đăng khoảng 10', ảnh của bạn mới xuất hiện trên trang Bài Mới.
            </p>
            <h4>
                7. Tại sao ảnh của tui bị xóa?</h4>
            <p>
                Ảnh của bạn sẽ bị xóa trong các trường hợp sau:
            </p>
            <ul>
                <li>Vi phạm nghiêm trọng các nội quy: đăng ảnh liên quan đến chính trị, tôn giáo, phản động, đồi trụy, các chủ đề nhạy cảm, phản cảm... </li>
                <li>Ảnh bị nhiều báo cáo xấu bởi cộng đồng </li>
                <li>Ảnh liên quan trực tiếp đến cá nhân/tổ chức và được cá nhân/tổ chức yêu cầu xóa </li>
                <li>Ảnh vi phạm bản quyền và được người sở hữu bản quyền yêu cầu xóa </li>
            </ul>
            <h4>
                8. Tui nhận được thông báo ảnh đã được bình chọn lên Trang chủ, nhưng vào Trang chủ không thấy đâu?</h4>
            <p>
                Ảnh của bạn được lên trang chủ rồi vẫn có thể bị gỡ xuống do những lý do sau đây:
            </p>
            <ul>
                <li>Ảnh đã bị trùng: những người bình chọn ảnh không biết ảnh bị trùng, hoặc sự bình chọn không công bằng do bạn gian lận</li>
                <li>Ảnh vi phạm nội quy: ví dụ câu like. Những ảnh câu like mặc dù phần lớn người dùng ghét, nhưng cũng được khá nhiều bình chọn và like</li>
                <li>Ảnh chất lượng quá thấp: nếu bình chọn công bằng, ảnh được lên trang chủ thì đã được đảm bảo chất lượng. Tuy nhiên có nhiều trường hợp bình chọn không công bằng (bạn bè bình chọn cho nhau thậm chí còn chưa xem ảnh như thế nào, tạo nhiều tài khoản để bình chọn…) thì ảnh được lên trang chủ nhưng sau một thời gian được rất ít like và bình luận. Hệ thống tự phát hiện những ảnh thế này và loại khỏi trang chủ. Hệ thống chỉ xử lý những ảnh đã được một lượng lượt xem đủ lớn để đảm bảo tính chính xác. </li>
            </ul>
            <h4>
                9. Ảnh của những thành viên cũ hoặc thứ hạng cao có được ưu tiên hơn? </h4>
            <p>
                Không. Bất kể bạn là thành viên mới hay cũ, thứ hạng cao hay thấp, ảnh của bạn đăng lên đều được haynhucnhoi “đối xử” như nhau..
            </p>

            <h4>
                10.Ảnh thế nào thì sẽ vào trang Nhức Nhói? </h4>
            <p>
                Ảnh có đủ 100 bình chọn CHẤT sẽ được vào trang Nhức Nhói
            </p>
            <h4>
                11. Tại sao số like của tui tự nhiên bị giảm? </h4>
            <p>
                Số like của 1 thành viên bằng tổng số like của tất cả các ảnh viên đó. Số like này dựa vào nút like Facebook. Hay Nhức Nhói “hỏi” Facebook số like của mỗi ảnh, và Facebook trả lời bao nhiêu, Hay Nhức Nhói sẽ biết bấy nhiêu. Thông thường số like này ổn định và tăng dần. Tuy nhiên thỉnh thoảng Facebook gặp lỗi dẫn đến số liệu bị sai, trả về cho Hay Nhức Nhói sai, làm số like của bạn bị giảm. Điều này Hay Nhức Nhói không kiểm soát được. Số like của bạn sẽ khôi phục lại khi Facebook sửa lỗi.
            </p>
            <h4>12. Tại sao tài khoản của tui bị khóa?</h4>
            <p>
                Tài khoản của bạn sẽ bị khóa ngay lập tức nếu đăng ảnh phản động hoặc đồi trụy. Tài khoản cũng sẽ bị khóa nếu vi phạm nhiều lần: đăng ảnh liên quan các chủ đề nhạy cảm khác, quảng cáo, bình chọn phá hoại, là clone của tài khoản khác… Tùy tài khoản và loại vi phạm mà Hay Nhức Nhói có thể thông báo nhắc nhở hoặc không.
            </p>

            <h4>
                13. Đọc trang này mỏi mắt mà vẫn chưa giải đáp được thắc mắc của tui?</h4>
            <p>
                Đừng ngần ngại gửi tin nhắn cho <a href="http://www.facebook.com/haynhucnhoi" target="_blank">fanpage của Hay Nhức Nhói trên Facebook</a> hoặc email đến <a href="mailto:contact@haynhucnhoi.tv">contact@haynhucnhoi.tv</a>. BQT sẽ trả lời trực tiếp cho bạn.
            </p>
            

        </div>
    </div>
    <?php echo $this->render('partials/footer.phtml'); ?>
</div>