<div>
    <div class="whiteBackground" style="line-height:2">
        <div class="content" style="padding: 10px">
            <h1>Chính sách về Quyền riêng tư trên Hay Nhức Nhói</h1>
            <h4>Chính sách cookie</h4>

            <p>Chúng tôi sử dụng thuật ngữ “cookie” để đề cập tới các cookie và các công nghệ tương tự khác được quy định bởi Chỉ thị EU về quyền riêng tư trong truyền thông điện tử.</p>

            <li><strong>Cookie là gì?</strong><br/>
                Cookie là các tệp dữ liệu nhỏ mà trình duyệt của bạn đặt trên máy tính hoặc thiết bị của bạn.  Cookie giúp trình duyệt của bạn điều hướng một website và bản thân các cookie không thể thu thập bất kỳ thông tin nào được lưu trữ trên máy tính hoặc các tệp tài liệu của bạn.
                Khi một máy chủ sử dụng một trình duyệt web để đọc các cookie, chúng có thể giúp một website cung cấp dịch vụ thân thiện với người sử dụng hơn. Để bảo vệ sự riêng tư của bạn, trình duyệt của bạn chỉ cho một website truy cập vào các tập tin cookie đã gửi đến cho bạn.</li>
            <li><b>Tại sao chúng tôi sử dụng cookie?</b></br>
                Chúng tôi sử dụng cookie để tìm hiểu thêm về cách bạn tương tác với nội dung của chúng tôi và giúp chúng tôi cải thiện trải nghiệm của bạn khi ghé thăm website của chúng tôi.
                Cookie nhớ loại trình duyệt bạn sử dụng và phần mềm trình duyệt bổ sung mà bạn đã cài đặt. Các cookie này còn nhớ sở thích của bạn, chẳng hạn như ngôn ngữ và khu vực, vẫn là các thiết lập mặc định của bạn khi bạn vào lại website. Các cookie cũng cho phép bạn xếp hạng các trang web và điền vào các mẫu đóng góp ý kiến.
                Một số cookie chúng tôi sử dụng là cookie phiên và chỉ tồn tại cho đến khi bạn đóng trình duyệt của bạn, những loại khác là những cookie thường trú được lưu trữ trên máy tính của bạn lâu hơn.  Để biết thêm chi tiết về các loại cookie mà chúng tôi sử dụng, vui lòng bấm vào đây.</li>
            <li><b>Cookie của bên thứ ba được sử dụng như thế nào?</b></br>
                Đối với một số các chức năng bên trong các website của chúng tôi, chúng tôi sử dụng các nhà cung cấp bên thứ ba, ví dụ, khi bạn truy cập một trang web có video nhúng từ hoặc liên kết đến YouTube. Những đoạn phim hoặc liên kết này (và bất kỳ nội dung nào khác từ các nhà cung cấp bên thứ ba) có thể chứa các cookie của bên thứ ba và bạn có thể muốn tham khảo các chính sách của các website của bên thứ ba này để biết thông tin về việc sử dụng các cookie của họ. Để biết thêm chi tiết về các cookie của bên thứ ba mà chúng tôi sử dụng, xin vui lòng bấm vào đây.</li>
            <li><b>Làm thế nào để từ chối và xóa các cookie?</b></br>
                Chúng tôi sẽ không sử dụng các cookie để thu thập thông tin nhận dạng cá nhân về bạn. Tuy nhiên, nếu bạn muốn làm như vậy, bạn có thể chọn để loại bỏ hoặc chặn các cookie được thiết lập bởi Shell hoặc các website của bất kỳ nhà cung cấp bên thứ ba nào bằng cách thay đổi các thiết lập trình duyệt của bạn - xem chức năng Help trong trình duyệt của bạn để biết thêm chi tiết.  Xin lưu ý rằng hầu hết các trình duyệt tự động chấp nhận cookie nếu bạn không muốn các tệp tin cookie được sử dụng, bạn cần phải chủ động xóa hoặc ngăn chặn các tệp tin cookie.</li>

            Bạn cũng có thể truy cập vào www.allaboutcookies.org để biết chi tiết làm thế nào để xóa hoặc từ chối cookie và có thêm thông tin về các cookie nói chung. Đối với thông tin về việc sử dụng các cookie trong trình duyệt điện thoại di động và để có thông tin chi tiết về làm thế nào để từ chối hoặc xóa các tệp tin cookie như vậy, vui lòng tham khảo hướng dẫn sử dụng thiết bị cầm tay của bạn.

            Tuy nhiên, hãy lưu ý rằng nếu bạn từ chối việc sử dụng cookie, bạn vẫn sẽ có thể truy cập vào website của chúng tôi nhưng một số chức năng không thể làm việc một cách chính xác.

            <h4>Thay đổi chính sách này</h4>

            <p>Theo thời gian, chúng tôi có thể thay đổi chính sách bảo mật này. Nếu chúng tôi thực hiện bất kỳ thay đổi đáng kể cho chính sách bảo mật này và cách mà chúng tôi sử dụng dữ liệu cá nhân của bạn, chúng tôi sẽ gửi những thay đổi này trên trang web này và sẽ làm trong khả năng tốt nhất để thông báo cho bạn bất kỳ thay đổi đáng kể nào. Vui lòng kiểm tra lại chính sách bảo mật của chúng tôi một cách thường xuyên.</p>
        </div>
    </div>
    <?php echo $this->render('partials/footer.phtml'); ?>
</div>