<div>
    <div class="whiteBackground" style="line-height:2">
        <div class="content" style="padding: 10px">
            <h1>Điều khoản sử dụng Hay Nhức Nhói</h1>
            <ul>
                <li>Nhà cung cấp ("chúng tôi", "của chúng tôi", "Hay Nhức Nhói", "HayNhucNhoi.tv") của dịch vụ cung cấp
                    bởi trang web này (Dịch vụ) không chịu trách nhiệm với bất kỳ nội dung nào của thành
                    viên đưa lên (Nội dung). Nội dung được đăng chỉ thể hiện quan điểm riêng của tác
                    giả.</li>
                <li> Bạn phải đồng ý không sử dụng Dịch vụ để đăng, bàn luận hoặc liên kết đến bất kỳ
                    Nội dung có liên quan đến chính trị, tôn giáo, đồi trụy, phân biệt vùng miền, phỉ
                    báng, lăng mạ, hận thù, chia rẽ, đe dọa, xúc phạm, có chứa thông tin cá nhân của
                    người khác, vi phạm bản quyền, phạm pháp, khuyến khích hành vi phạm pháp, hoặc vi
                    phạm tất cả các điều luật khác.</li>
                <li>Bạn phải trên 13 tuổi để sử dụng Dịch vụ này.</li>
                <li>Chúng tôi có quyền xóa, sửa bất kỳ Nội dung nào đăng trên trang web với bất kỳ lý
                    do mà không cần giải thích. Yêu cầu xóa bỏ hoặc sửa Nội dung sẽ thực hiện theo quyết
                    định của chúng tôi. Chúng tôi giữ quyền hủy bỏ Dịch vụ (xóa tài khoản hoặc cấm)
                    với Dịch vụ của chúng tôi bất kỳ lúc nào.</li>
                <li>
                    Bạn cho phép Chúng tôi quyền sử dụng, tái bản Nội dung của bạn với Dịch vụ vĩnh
                    viễn, không giới hạn và không thể thu hồi. Bạn giữ quyền trên toàn Nội dung của
                    mình.
                </li>
                <li>
                    Tất cả Nội dung bạn gửi lên hoặc tải lên có thể được kiểm duyệt bởi Ban quản trị.
                    Không đăng bất kỳ Nội dung nào bạn cho là cá nhân hoặc tối mật.
                </li>
                <li>
                    Chúng tôi tuyệt đối không cho phép bất kỳ hành động nào có thể dẫn đến việc tăng số Like / View / Comment ảo của bài, bao gồm nhưng không giới hạn trong: trao đổi Like với các user khác;
                    sử dụng công cụ tăng Like / cheat Like, sử dụng qua các website Like Exchange trung gian... Chúng tôi có đầy đủ công cụ và phương tiện để theo dõi những hành động này,
                    và tài khoản của bạn sẽ bị khóa vĩnh viễn nếu phát hiện dấu hiệu vi phạm.
                </li>
            </ul>
            <p>
                Các điều khoản này có thể thay đổi bất kỳ lúc nào mà không cần báo trước. Nếu bạn không đồng ý với các điều khoản này, xin hãy dừng việc đăng ký hoặc sử dụng Dịch vụ của chúng tôi. Nếu bạn muốn đóng tài khoản của mình, xin hãy dùng mục <a href="{$baseurl}/contact">Liên hệ</a>.
            </p>
        </div>
    </div>
    <?php echo $this->render('partials/footer.phtml'); ?>
</div>