<div id="content" style="padding-bottom: 25px">
<form name="tf" method="post" action="" >
        <div class="breadcrumb clearfix">
            <div class="title k2">Quản lý Scan Video</div>
        </div>
        <div class="">
            <?php if (!empty($this->succes)): ?>
                <div class="warning"><?php echo $this->succes; ?></div>
            <?php endif; ?>
            <?php if (!empty($this->arrError)): ?>
                <div class="warning"><?php echo implode('<p></p>', $this->arrError) ?></div>
            <?php endif; ?>

            <div class="module clearfix">
                <div class="lstitle">Scan</div>
                <div class="group_listing_input">
                    <div class="listing_input">
                        <div class="post_label_container">
                            <label class="postLabel">From ID: </label>
                        </div>
                        <input id="id_list" name="fromid" type="text"
                               value="" class="wide_text_input" style="width:100px"/>
                        <div class="post_label_container">
                            <label class="postLabel">To </label>
                        </div>
                        <input id="id_list" name="toid" type="text"
                               value="" class="wide_text_input"/>
                    </div>
                    <div class="listing_input">
                        <div class="post_label_container">
                            <label class="postLabel"></label>
                        </div>
                        <input type="submit" name="submit" value="Scan"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
</form>
    <?php if (!empty($this->errorPosts)): ?>
        <?php
        foreach($this->errorPosts as $post) :
            ?>
                <a target="_blank" style="font-size:17px;padding-bottom:10px;width:70%;display: inline-block" href="<?php echo BASE_URL . '/photo/' . $post; ?>">
                    http://haynhucnhoi.tv/photo/<?php echo $post; ?>
                </a>
                <a target="_blank" style="font-size:17px;padding-bottom:10px;" href="<?php echo BASE_URL . '/admhnn01/post/edit/post_id/' . $post; ?>">Edit</a>
                <br />

        <?php endforeach; ?>
    <?php endif; ?>
</div>

