<form name="tf" method="post" action="">
	<div id="content">
		<div class="breadcrumb clearfix">
			<div class="title k2">Quản lý SEO</div>
		</div>
		<div class="">
		<?php if(!empty($this->succes)):?>
			<div class="warning"><?php echo $this->succes;?></div>
       <?php endif;?>		
		<?php if(!empty($this->arrError)):?>
			<div class="warning"><?php echo implode('<p></p>', $this->arrError)?></div>
       <?php endif;?>
	   
<div class="module clearfix">
    <div class="lstitle">Sửa</div>
     <div class="group_listing_input">
        <div class="listing_input">
            <div class="post_label_container">
                <label class="postLabel">Title:</label>
            </div>
            <input id="title" name="title" type="text" value="<?php echo $this->dataDefault['title'];?>" class="wide_text_input" />
        </div>
         <div class="listing_input">
            <div class="post_label_container">
                <label class="postLabel">Meta Title:</label>
            </div>
            <input id="metatitle" name="metatitle" type="text" value="<?php echo $this->dataDefault['metatitle'];?>" class="wide_text_input" />
        </div>
        <div class="listing_input">
            <div class="post_label_container">
                <label class="postLabel">Meta Keyword:</label>
            </div>
            <input id="keyword" name="keyword" type="text" value="<?php echo $this->dataDefault['keyword'];?>" class="wide_text_input" />
        </div>
        <div class="listing_input">
            <div class="post_label_container">
                <label class="postLabel">Meta Description:</label>
            </div>
            <input id="description" name="description" type="text" value="<?php echo $this->dataDefault['description'];?>" class="wide_text_input" />
        </div>
        <div class="listing_input" style="margin-top:50px">
						<div class="post_label_container">
							<label class="postLabel"></label>
						</div>
						<input type="submit" name="submit" value="Thêm SEO"/>
					</div>
    </div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	</form>