<form name="tf" method="post" action="">
	<div id="content">
		<div class="breadcrumb clearfix">
			<div class="title k2">Quảng Cáo Vechai</div>
		</div>
		<div class="">

		<?php if(!empty($this->arrError)):?>
			<div class="warning"><?php echo  $this->arrError['msg'];?></div>
       <?php endif;?>
	   
<div class="module clearfix">
    <div class="lstitle">Add</div>
     <div class="group_listing_input">
        <div class="listing_input">
            <div class="post_label_container">
                <label class="postLabel">Title:</label>
            </div>
            <input id="title" name="title" type="text" value="<?php echo $this->arrDataDefault['title'];?>" class="wide_text_input" style="width: 320px" />
        </div>
         <div class="listing_input">
            <div class="post_label_container">
                <label class="postLabel">URL:</label>
            </div>
            <input id="url" name="url" type="text" value="<?php echo $this->arrDataDefault['url'];?>" class="wide_text_input" style="width: 320px" />
        </div>
        <div class="listing_input">
            <div class="post_label_container">
                <label class="postLabel">Image:</label>
            </div>
            <input id="images" name="images" type="text" value="<?php echo $this->arrDataDefault['images'];?>" class="wide_text_input"  style="width: 320px"/>
        </div>
        <div class="listing_input">
            <div class="post_label_container">
                <label class="postLabel">Positions:</label>
            </div>
            <select name="pos" id="pos">
                <option value="1" <?php if($this->arrDataDefault['pos']==1) echo 'selected="selected"';?>>Position 1</option>
                <option value="2" <?php if($this->arrDataDefault['pos']==2) echo 'selected="selected"';?>>Position 2</option>
            </select>
        </div>
        <div class="listing_input" style="margin-top:10px">
						<div class="post_label_container">
							<label class="postLabel"></label>
						</div>
						<input type="submit" name="submit" value="Submit"/>
                        <input type="button" name="cancel" value="Cancel" onclick="window.location.href='<?php echo BASE_URL.'/'.ADM_FOLDER.'/postsadvertisment';?>'"/>
					</div>
    </div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	</form>