<form name="tf" method="post" action="">
	<div id="content">
		<div class="breadcrumb clearfix">
			<div class="title k2">Quản lý Quote</div>
		</div>
		<div class="">

		<?php if(!empty($this->arrError)):?>
			<div class="warning"><?php echo  $this->arrError['msg'];?></div>
       <?php endif;?>
	   
<div class="module clearfix">
    <div class="lstitle">Add</div>
     <div class="group_listing_input">
        <div class="listing_input">
            <div class="post_label_container">
                <label class="postLabel">Title:</label>
            </div>
            <input id="title" name="title" type="text" value="<?php echo $this->arrDataDefault['title'];?>" class="wide_text_input" style="width: 320px" />
        </div>


        <div class="listing_input" style="margin-top:10px">
						<div class="post_label_container">
							<label class="postLabel"></label>
						</div>
						<input type="submit" name="submit" value="Submit"/>
                        <input type="button" name="cancel" value="Cancel" onclick="window.location.href='<?php echo BASE_URL.'/'.ADM_FOLDER.'/quote';?>'"/>
					</div>
    </div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	</form>