<form name="tf" method="post" action="">
	<div id="content">
		<div class="breadcrumb clearfix">
			<div class="title k2">Quản lý Quote</div>
		</div>
		<div class="">
		<?php if(!empty($this->succes)):?>
			<div class="warning"><?php echo $this->succes;?></div>
       <?php endif;?>		
		<?php if(!empty($this->arrError)):?>
			<div class="warning"><?php echo implode('<p></p>', $this->arrError)?></div>
       <?php endif;?>
	   
<div class="module clearfix">
    <div class="lstitle">Lists</div>

    <?php if(!empty($this->values)):?>
        <?php echo $this->paging; ?>
        <div class="table_member">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <td width="2%" class="secondRow">ID</td>
                    <td width="20%" class="secondRow">Tiêu đề</td>
                    <td width="11%" class="secondRow">Functions</td>
                </tr>
            <?php
            foreach($this->values as $key=>$value):
                $id         = $value['id'];
                $url_add    = BASE_URL.'/'.ADM_FOLDER.'/quote/add';
                $url_edit   = BASE_URL.'/'.ADM_FOLDER.'/quote/edit/id/'.$id;
                $url_delete = BASE_URL.'/'.ADM_FOLDER.'/quote/delete/id/'.$id;
                $title      = isset($value['title']) ? $value['title'] : '';
                $url        = isset($value['url']) ? $value['url'] : '';
                $images     = isset($value['images']) ? $value['images'] : '';

                ?>
                <tr>
                    <td align="center" class="ctn"><?php echo $id; ?></td>
                    <td class="ctn">
                        <p class="title">
                            <?php echo isset($value['title']) ? $value['title'] :''; ?>
                        </p>
                    </td>

                    <td class="ctn">
                        <br>
                        <a href="<?php echo $url_add;?>" title="Add">Add</a> |
                        <a href="<?php echo $url_edit;?>" title="Edit">Edit</a> |
                        <a href="<?php echo $url_delete;?>" onclick="return confirm('Are you sure ?')" title="Delete">Delete</a>
                    </td>
                </tr>
            <?php endforeach;?>
               </tbody>
            </table>
        </div>
   <?php endif;?>


</div>
		</div>
		<div class="clear"></div>
	</div>
	</form>