<?php
$pageType = $this->pageType;
$this->lsCatogoryNavBar = $this->lsCatogory;
$post = $this->post;
$category = BlogCategory::get(array('category_id'=>$post['category_id']));
$d = $post['post_created'];
$date = date('H:i - d/m/Y', strtotime($d));
?>
<style type="text/css">
    h2, h3, h4, h5, h6, b, strong {
        font-weight: bold;
    }
    h3 {
        font-size: 24px;
    }
    em, i, dfn {
        font-weight: inherit;
        font-style: italic;
    }
    p, code, pre, kbd {
        margin:0 0 10px 0;
    }
    blockquote {
        margin:0 1.5em 1.5em 1.5em;
        color: #999;
    }
    cite {
        font-style: italic;
    }
    li ul, li ol {
        margin:0 1.5em;
    }
    ul {
        list-style-type:disc;
    }
    ol {
        list-style-type:decimal;
    }
    ol ol {
        list-style: upper-alpha;
    }
    ol ol ol {
        list-style: lower-roman;
    }
    ol ol ol ol {
        list-style: lower-alpha;
    }
    dl {
        margin:0 0 1.5em 0;
    }
    dl dt {
        font-weight:bold;
    }
    dd {
        margin-left:1.5em;
    }
    table {
        margin-bottom:1.4em;
        width:100%;
    }
    th {
        font-weight:bold;
    }
    th, td, caption {
        padding:4px 10px 4px 5px;
    }
    tfoot {
        font-style:italic;
    }
    sup, sub {
        line-height:0;
    }
    abbr, acronym {
        border-bottom: 1px dotted;
    }
    address {
        margin:0 0 1.5em;
        font-style:italic;
    }
    del {
        text-decoration: line-through;
    }
    pre {
        margin:1.5em 0;
        white-space:pre;
    }
    img.centered, .aligncenter, div.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    img.alignright {
        display: inline;
    }
    img.alignleft {
        display: inline;
    }
    .alignright {
        float: right;
        margin-left: 10px;
    }
    .alignleft {
        float: left;
        margin-right: 10px;
    }
</style>
<div class="fl-l" style="width: 728px;position: relative">

<!--	--><?php //echo $this->render('partials/navi.phtml', array('lsCatogoryNavBar'=>$this->lsCatogoryNavBar,'isNavBar'=>$this->isNavBar)); ?>

	<div class="singleCol">
		<div id="post-container" class="blog-container">
			<article class="blog-post">
				<header>
					<h1><?php echo $post['post_title'] ?></h1>
					<div class="meta">
						<span class="author"><i class="fa fa-user"></i> HayNhucNhoi.tv</span>
						<span class="date"><i class="fa fa-calendar"></i> <?php echo $date ?></span>
						<span class="category"><i class="fa fa-tag"></i><a href="<?php echo BASE_URL . '/blog/chu-de/' . $category['category_alias'] ?>"> <?php echo $category['category_name'] ?></a></span>
					</div>
				</header>
<!--				<div class="thumbnail">-->
<!--					<img src="--><?php //echo My_Zend_Globals::getThumbImage($post['post_image']); ?><!--" />-->
<!--				</div>-->
				<div class="content">
					<?php echo $post['post_content'] ?>
				</div>
			</article>
			<div class="social">
				<div class="fb-like" data-href="<?php echo BASE_URL . '/blog/' . $post['post_id']?>" data-width="90" data-layout="button_count" data-show-faces="false" data-send="false" data-share="false"></div>
			</div>
			<div class="next-previous clearfix">
				<div class="prev-article">
                    <?php if ($this->prevPost) : ?>
                        <p>Bài trước</p>
                            <a href="<?php echo BlogPost::postUrl($this->prevPost); ?>" title="Bài tiếp theo">
                                <img src="<?php echo My_Zend_Globals::getThumbImage($this->prevPost['post_image']); ?>" />
                            </a>
                        <h2><a href="<?php echo BlogPost::postUrl($this->prevPost); ?>"><?php echo $this->prevPost['post_title'] ?></a></h2>
                    <?php endif; ?>
				</div>
				<div class="next-article">
                    <?php if ($this->nextPost) : ?>
                        <p>Bài tiếp theo</p>
                            <a href="<?php echo BlogPost::postUrl($this->nextPost); ?>" title="Bài tiếp theo">
                                <img src="<?php echo My_Zend_Globals::getThumbImage($this->nextPost['post_image']); ?>" />
                            </a>
                        <h2><a href="<?php echo BlogPost::postUrl($this->nextPost); ?>"><?php echo $this->nextPost['post_title'] ?></a></h2>
                    <?php endif; ?>
				</div>
			</div>
            <div class="fb-comments" data-href="<?php echo BASE_URL . '/blog/' . $post['post_id']?>" data-numposts="10" data-width="730" data-colorscheme="light"></div>
		</div>
	</div>
</div>
<div class="fl-l sidebar" style="width: 300px">
	<?php echo $this->render('partials/box_top_member.phtml', $this); ?>
	<div class="fixedScrollDetector"></div>
	<div class="fixedScroll">
		<?php echo $this->render('partials/box_top_clips_home.phtml', $this);?>
	</div>
</div>
<div class="clear"></div>
<?php echo $this->render('partials/footer.phtml', $this);?>