<?php
$post = $this->post;
$author = Admin::getUser($post['user_id']);
$category = BlogCategory::get(array('category_id'=>$post['category_id']));
$url = BlogPost::categoryUrl($category);
$d = $post['post_created'];
$date = date('H:i - d/m/Y', strtotime($d));
?>
<article class="blog-post">
	<header>
		<h1><a href="<?php echo BlogPost::postUrl($post);?>" title="<?php echo $post['post_title'];?>" target="_blank"><?php echo $post['post_title'];?></a></h1>
		<div class="meta">
			<span class="author"><i class="fa fa-user"></i> HayNhucNhoi.tv</span>
			<span class="date"><i class="fa fa-calendar"></i> <?php echo $date;?></span>
			<span class="category"><i class="fa fa-tag"></i><a href="<?php echo $url; ?>"> <?php echo $category['category_name'] ?></a></span>
		</div>
	</header>
	<div class="thumbnail">
        <a href="<?php echo BlogPost::postUrl($post);?>" target="_blank">
		<img src="<?php echo My_Zend_Globals::getThumbImage($post['post_image']); ?>" />
        </a>
	</div>
	<div class="content">
        <?php echo $post['post_summary'];?>
	</div>
	<footer>
		<a class="readmore" href="<?php echo BlogPost::postUrl($post);?>" target="_blank">Xem thêm <i class="fa fa-angle-double-right"></i></a>
	</footer>
</article>