<?php
$pageType = $this->pageType;
$this->lsCatogoryNavBar = $this->lsCatogory;
$posts = $this->posts;
?>
<div class="fl-l" style="width: 728px; min-height: 1px; position: relative">

    <?php if (!empty($posts)): ?>
        <div class="singleCol">
            <div id="post-container blog-container">
                <?php
                foreach ($posts as $key => $post) {
                    echo $this->partial('blog/blog-postbit.phtml', array('pageType' => $this->pageType, 'post' => $post));
                } ?>
            </div>
            <?php echo $this->paging; ?>
        </div>
    <?php else: ?>
        <div id="noMorePost" class="alert-box box-notice" style="text-align:center">Hiện không có chủ đề nào có thể Hóng.!</div>
    <?php endif; ?>
</div>
<div class="fl-l sidebar" style="width: 300px">
    <?php echo $this->render('partials/box_top_member.phtml', $this); ?>
    <div class="fixedScrollDetector"></div>
    <div class="fixedScroll">
        <?php echo $this->render('partials/box_top_clips_home.phtml', $this);?>
    </div>
</div>
<div class="clear"></div>
