<?php if($this->env == 'development') { ?> 
	<h1>An error occurred</h1> 
	<h2><?php echo $this->message; ?></h2> 
    <h3>Exception information:</h3> 
    <p> 
        <b>Message:</b> <?php echo $this->exception->getMessage(); ?> 
    </p>
    <h3>Stack trace:</h3> 
    <pre><?php echo $this->exception->getTraceAsString(); ?></pre>
    <h3>Request Parameters:</h3>
    <pre><?php var_dump($this->request->getParams()); ?></pre>
<?php } ?>
<div style="border:1px solid blue; width:500px; height:300px; text-align:left; align:center; margin:auto; padding-left:20px;">
	<p><?php echo $this->message; ?></p>
	<p>You may not be able to visit this page because of:</p>
	<p>
		<ol>
			<li>an <strong>out-of-date bookmark/favourite</strong></li>
			<li>a search engine that has an <strong>out-of-date listing for this site</strong></li>
			<li>a <strong>mistyped address</strong></li>
			<li>you have <strong>no access</strong> to this page</li>
	
			<li>The requested resource was not found.</li>
			<li>An error has occurred while processing your request.</li>
		</ol>
	</p>
	<p>Please try one of the following pages:</p>
	<p>
		<ul>
			<li><a href="<?php echo BASE_URL; ?>">Homepage</a></li>
		</ul>
	</p>
</div>