<?php $post = $this->post; ?>
<!-- Page -->
<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title">Create Blog</h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo BASE_URL . '/adm_reborn' ?>">Home</a></li>
            <li><a href="<?php echo BASE_URL . '/adm_reborn/blog/index-posts' ?>">Blog</a></li>
            <li class="active">Create new</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- Panel Static Lables -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Blog Information</h3>
                    </div>
                    <div class="panel-body container-fluid">
                        <form autocomplete="off" method="post" enctype="multipart/form-data">
                            <div class="form-group form-material has-warning row">
                                <div class="col-sm-4">
                                    <label class="control-label" for="title">Title</label>
                                    <input type="text" class="form-control focus" id="title" name="title"
                                           value=""/>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label" for="post_status">Status</label>
                                    <select class="form-control focus" id="post_status" name="post_status">
                                        <option value="0">Not approved</option>
                                        <option value="1">Home</option>
                                        <option value="2">Priority</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label" for="category_id">Category</label>
                                    <select class="form-control focus" id="category_id" name="category_id">
                                        <option value="">None</option>
                                        <?php
                                        foreach ($this->listCategory as $category) {
                                            echo '<option '.($category['category_id'] == $this->post['category_id'] ? 'selected="selected"' : '').' value="'.$category['category_id'].'" class="first">'. $category['category_name'] .'</option>';
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-material">
                                <label class="control-label" for="summary">Description</label>
                                <textarea class="form-control" id="summary" name="summary" rows="2"></textarea>
                            </div>
                            <div class="form-group form-material">
                                <label for="summernote"></label>
                                <textarea name="post_content" id="summernote" data-plugin="summernote"></textarea>
                            </div>
                            <div class="form-group form-material row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4">
                                    <input type="file" id="input-file-now" data-plugin="dropify" name="image"
                                           data-default-file=""/>
                                </div>
                            </div>
                            <button type="submit" name="btn_submit" class="btn btn-primary pull-right margin-top-30" id="btn_submit">Create</button>
                        </form>
                    </div>
                </div>
                <!-- End Panel Static Lables -->
            </div>
        </div>
    </div>
</div>
<!-- End Page -->