<!-- Page -->
<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title">Blog Management</h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo BASE_URL . '/adm_reborn' ?>">Home</a></li>
            <li><a href="<?php echo BASE_URL . '/adm_reborn/blog/index-categories' ?>">Blog category</a></li>
            <li class="active">Create new</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <!-- Panel Static Lables -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Category Information</h3>
                    </div>
                    <div class="panel-body container-fluid">
                        <form autocomplete="off" method="post" enctype="multipart/form-data">
                            <div class="form-group form-material floating row">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="name" name="name"
                                           value=""/>
                                    <label class="floating-label" for="name">Name</label>
                                </div>
                            </div>
                            <div class="form-group form-material floating row">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="alias" name="alias"
                                           value=""/>
                                    <label class="floating-label" for="alias">Alias</label>
                                </div>
                            </div>
                            <button type="submit" name="btn_submit" class="btn btn-primary pull-right margin-top-30" id="btn_submit">Create</button>
                        </form>
                    </div>
                </div>
                <!-- End Panel Static Lables -->
            </div>
        </div>
    </div>
</div>
<!-- End Page -->