<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title">Blog Management</h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo BASE_URL . '/adm_reborn' ?>">Home</a></li>
            <li class="active">Blog category</li>
        </ol>
    </div>
    <div class="page-content">
        <!-- Panel Basic -->
        <div class="panel">
            <a href="<?php echo $this->url(array('action' => 'add-category', 'controller' => 'blog', 'module' => 'adm_reborn'), null, true); ?>">
                <button type="button" class="btn btn-outline btn-success btn-custom-create">
                    <span><i class="icon wb-plus" aria-hidden="true"></i>  Create new</span>
                </button>
            </a>

            <div class="panel-body">
                <table class="table table-hover dataTable table-striped width-full table-custom">
                    <thead>
                    <tr>
                        <th width="5%">ID</th>
                        <th width="">Category name</th>
                        <th width="10%">Alias</th>
                        <th width="10%" class="text-nowrap">Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th width="5%">ID</th>
                        <th width="">Category name</th>
                        <th width="10%">Alias</th>
                        <th width="10%" class="text-nowrap">Action</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <?php if (!empty($this->categories) > 0): ?>
                        <?php foreach ($this->categories as $category): ?>
                            <tr>
                                <td>
                                    <?php echo $category['category_id']; ?>
                                </td>
                                <td>
                                    <a target="_blank">
                                        <?php echo $category['category_name']; ?>
                                    </a>
                                </td>
                                <td>
                                    <?php echo $category['category_alias']; ?>
                                </td>
                                <td class="text-nowrap" style="padding: 8px !important;">
                                    <a class="btn btn-sm btn-icon btn-flat btn-default" title="Edit"
                                       href="<?php echo $this->url(array('action' => 'edit-category', 'controller' => 'blog', 'module' => 'adm_reborn', 'category_id' => $category['category_id']), null, true); ?>">
                                        <i class="icon wb-wrench" aria-hidden="true"></i>
                                    </a>
                                    <a class="btn btn-sm btn-icon btn-flat btn-default" title="Delete" onclick="return confirm('Are you sure to delete this category ?')"
                                       href="<?php echo $this->url(array('action' => 'delete-category', 'controller' => 'blog', 'module' => 'adm_reborn', 'category_id' => $category['category_id']), null, true); ?>">
                                        <i class="icon wb-close" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    <?php else: ?>
                        <tr>
                            <td colspan="4">Missing data</td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                </table>
            </div>
            <!-- End Panel Basic -->
        </div>
        <!-- End Panel -->
    </div>
</div>
