<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title">Blog Management</h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo BASE_URL . '/adm_reborn' ?>">Home</a></li>
            <li class="active">Blog post</li>
        </ol>
    </div>
    <div class="page-content">
        <!-- Panel Basic -->
        <div class="panel">
            <a href="<?php echo $this->url(array('action' => 'add-post', 'controller' => 'blog', 'module' => 'adm_reborn'), null, true); ?>">
                <button type="button" class="btn btn-outline btn-success btn-custom-create">
                    <span><i class="icon wb-plus" aria-hidden="true"></i>  Create blog</span>
                </button>
            </a>

            <div class="panel-body">
                <table class="table table-hover dataTable table-striped width-full table-custom">
                    <thead>
                    <tr>
                        <th width="5%">ID</th>
                        <th width="">Blog title</th>
                        <th width="10%">Category</th>
                        <th width="10%">Status</th>
                        <th width="15%">Upload time</th>
                        <th width="10%" class="text-nowrap">Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th width="5%">ID</th>
                        <th width="">Blog title</th>
                        <th width="10%">Category</th>
                        <th width="10%">Status</th>
                        <th width="15%">Upload time</th>
                        <th width="10%" class="text-nowrap">Action</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <?php if (!empty($this->posts) > 0): ?>
                        <?php foreach ($this->posts as $post): ?>
                            <tr>
                                <td>
                                    <?php echo $post['post_id']; ?>
                                </td>
                                <td>
                                    <a target="_blank"
                                       href="<?php echo BlogPost::postUrl($post); ?>"><?php echo $post['post_title']; ?>
                                    </a>
                                </td>
                                <td>
                                    <?php echo BlogCategory::get(array('category_id' => $post['category_id']))['category_name']; ?>
                                </td>
                                <td>
                                    <?php
                                    if ($post['post_status'] == 0) echo 'Not approved';
                                    elseif ($post['post_status'] == 1) echo 'Home';
                                    else echo 'Priority';
                                    ?>
                                </td>
                                <td>
                                    <?php echo $post['post_created']; ?>
                                </td>
                                <td class="text-nowrap" style="padding: 8px !important;">
                                    <a class="btn btn-sm btn-icon btn-flat btn-default" title="Edit"
                                       href="<?php echo $this->url(array('action' => 'edit-post', 'controller' => 'blog', 'module' => 'adm_reborn', 'post_id' => $post['post_id']), null, true); ?>">
                                        <i class="icon wb-wrench" aria-hidden="true"></i>
                                    </a>
                                    <a class="btn btn-sm btn-icon btn-flat btn-default" title="Delete" onclick="return confirm('Are you sure to delete this post ?')"
                                       href="<?php echo $this->url(array('action' => 'delete-post', 'controller' => 'blog', 'module' => 'adm_reborn', 'post_id' => $post['post_id']), null, true); ?>">
                                        <i class="icon wb-close" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    <?php else: ?>
                        <tr>
                            <td colspan="9">Missing data.</td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                </table>
            </div>
            <!-- End Panel Basic -->
        </div>
        <!-- End Panel -->
    </div>
</div>