<?php
    $this->headScript()
		->appendFile($this->layout()->_general['server']['js']['path'].'/jquery.ui.autocomplete.js');
?>
<style>
/* Tag */
.tag_box{margin:5px 0 5px 151px; display: inline-block; }
.tag {background:#f4f4ee; border:1px solid #ccc; float:left; margin-right:5px; padding:3px 5px}
</style>
<div class="">
    <div id="leftCol">
        <div class="commonContainer">
            <h1 class="title"><?php echo $this->post['is_photo'] ? "Sửa ảnh" : "Sửa clip";?> <i style="color: #3096B3"><?php echo $this->post['story'];?></i></h1>
            <?php if (!empty($this->messages)): ?>
            <?php foreach($this->messages as $message):?>
            <p class="form-message box-<?php echo $message['type'];?>"><?php echo $message['message'];?></p>
            <?php endforeach;?>
            <?php endif;?>
            <form id="forma" class="modal" name="forma"  enctype="multipart/form-data" method="post">
                <div class="field">
                    <label for="post_title">Tiêu đề <?php echo $this->post['is_photo'] ? "của ảnh" : "của clip";?><i class="required">*</i></label>
                    <input id="post_title" type="text" class="text" name="title" value="<?php echo $this->post['story'];?>"/>
                </div>
                <div class="field">
                    <label for="source">Nguồn của ảnh</label>
                    <input type="text" class="text tipped" id="source" name="source" value="<?php echo isset($this->post['source']) ? $this->post['source'] : '';?>"  maxlength="300"/>
                </div>
                <div class="field">
                    <label for="post_description">Nội dung mô tả ngắn </label>
                    <textarea rows="5" name="description" id="post_description" class="text"><?php echo $this->post['description']; ?></textarea>
                    <div class="clear"></div>
                </div>
                <?php if ($this->canManageTag): ?>
                <div class="field">
                    <label for="tag_name">Tag</label>
                    <input type="text" class="text tipped" id="tag_name" name="tag" value="" /> <input type="button" value="Thêm Tag" onclick="addTag()" />
                    <div class="tag_box" id="tag_box">
                    <?php if(!empty($this->tags)):?>
                            <?php foreach($this->tags as $tag):?>
                            <div class="tag" id="tag_<?php echo $tag['id']?>"><?php echo $tag['tag_name']?> <a class="remove_tag" onclick="removeTag('<?php echo $tag['id']?>')" href="javascript:void(0)" tag-id="<?php echo $tag['id']?>">(x)</a><input type="hidden" name="tag_id[]" value="<?php echo $tag['id']?>" /></div>
                            <?php endforeach;?>
                    <?php endif;?>
                    </div>
                </div>
                <?php endif; ?>
                <input type="hidden" name="fixsub" id="fixsub" value="1" />
                <input type="hidden" name="pid" id="pid" value="<?php echo $this->post['post_id'];?>" />
                <div class="gray-line"></div>
                <input type="button" id="btnSubmitEdit" class="button blue-button" value="Sửa"/>
                <input type="button" id="btnCancel" class="button white-button" value="Không sửa nữa"/>
                <div class="clear"></div>
            </form>
        </div>
        <?php echo $this->render('partials/footer.phtml'); ?>
    </div>
    <div id="rightCol">
        <div class="sidebar">
            <?php echo $this->render('upload/rules.phtml'); ?>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div id="cancelConfirmation" class="modalDialog" title="Xác nhận phát">
    <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Không sửa nữa?
</div>

<div id="titleEmptyAlert" style="display: none" title="Thông báo">
    <p>
    <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
    <span id="titleEdit"></span>
    </p>
</div>

<div id="successEdit" class="modalDialog" title="Thông báo">
    <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Chỉnh sửa thành công!
</div>

<script type="text/javascript">
var $Core = {};
var $Behavior = {};
$Behavior.EditPost = function()
{
    $(document).on('click',"#btnCancel",function(event) 
    {
        $("#cancelConfirmation").dialog({
            resizable: false,
            modal: true,
            height: 120,
            buttons: {
                "Uh": function() {
                    location.href=Settings.baseurl+"<?php echo Post::postUrl($this->post);?>";
                },
                "Nhấn nhầm thôi": function() {
                    $(this).dialog("close");
                }
            }
        });
    });

    $(document).on('click',"#btnSubmitEdit",function(event) 
    {
        var title      = $("#post_title").val();
        var source     = $("#source").val();
        var description = $("#post_description").val();
        //var dataString ='title='+title+'&source='+source+;
        if (title.trim().length==0) {

            $('#titleEdit').text('Vui lòng nhập tiêu đề');
            displayMessageDialog("#titleEmptyAlert");
            $("#post_title").focus();
            return false;

        } else if(title.match(/([\<])([^\>]{1,})*([\>])/i)!=null) {

            $('#titleEdit').text('Tiêu đề không chứa các script!');
            displayMessageDialog("#titleEmptyAlert");
            $("#post_title").focus();
            return false;

        } else {
            $.ajax({
                type:'POST',
                url:'',
                data: { 'title' : title, 'source': source, 'description' : description },
                cache: false,
                dataType: 'json',
                success: function(str) {
                    $('#titleEdit').text(str.msg);
                    if(str.errors==2) {
                        $("#successEdit").dialog({
                            resizable: false,
                            modal: true,
                            height: 120,
                            buttons: {
                                "OK": function() {
                                    location.href=Settings.baseurl+"<?php echo Post::postUrl($this->post);?>";
                                }
                            }
                        });
                       
                    }else
                    {
                        displayMessageDialog("#titleEmptyAlert");
                    }
                }
            });
        }
        
       
    });

};

$Core.init = function()
{
   jQuery(document).ready(function( $ ) {
      $.each($Behavior, function() {
         this(this);
      });
   });
};

<?php if ($this->canManageTag): ?>
function addTagInput(id, name)
{
    var html = '<div class="tag" id="tag_'+ id +'">'+ name +' <a class="remove_tag" onclick="removeTag('+ id +')" href="javascript:void(0)" tag-id="'+ id +'">(x)</a><input type="hidden" name="tag_id[]" value="'+ id +'" /></div>';
    $('#tag_box').append(html);
    $('#tag_name').val('');
}

function removeTag(id)
{
    $('#tag_'+ id).remove();
}

function addTag()
{
    var tag_name = $('#tag_name').val();

    if(tag_name != '')
    {
            $.post(Settings.baseurl +'/ajax/ajax-add-tag', {tag_name: tag_name}, function(data){
            if(data.tag_id > 0)
            {
                    addTagInput(data.tag_id, data.tag_name);
            }
            }, 'json');
    }
}
$( "#tag_name" ).autocomplete({
    source: Settings.baseurl + "/ajax/search-tag",
    minLength: 2,
    select: function( event, ui ) {
            addTagInput(ui.item.id, ui.item.value);
    }
});
<?php endif; ?>
$Core.init();
</script>