<?php
	$postCount = $this->userPostCountToday;
	$limit = $this->limit;
	$point = $this->point;
	$specialUser = $this->isSpecialUser;
?>
<style>
/* Tag */
.tag_box{margin:5px 0 5px 151px; display: inline-block; }
.tag {background:#f4f4ee; border:1px solid #ccc; float:left; margin-right:5px; padding:3px 5px}
</style>
<div class="submitContainer">
    <div id="leftCol">
		<div class="tabBar">
            <div class="tab active"><a href="<?php echo BASE_URL;?>/upload"><span class="icon photo"></span>Đăng ảnh</a></div>
            <div class="tab"><a href="<?php echo BASE_URL;?>/upload/video"><span class="icon video"></span>Đăng nhạc/clip</a></div>
        </div>
        <div class="submitForm" style="position: relative">
			<?php if ($postCount['total'] >= $limit['total_limit'] && !$specialUser) : ?>

				<div class="box-error">
					<p style="padding-left:30px"> Bạn đã đăng đủ số lượng bài cho phép trong ngày. Hãy tiếp tục vào ngày mai.<br/>
						<?php if ($limit['next_level']) : ?>
							Đạt <strong><?php echo $limit['next_level']; ?></strong> điểm để nâng cao giới hạn của mình.
						<?php endif; ?>
					</p>
				</div>

			<?php else : ?>

			<?php if(!empty($this->messages)):?>
				<div class="box-error">
					<?php foreach ($this->messages as $key => $value) :?>
						<p style="padding-left:30px"> <?php echo $this->messages[$key];?> </p>
					<?php endforeach;?>
				</div>
			<?php endif;?>
            <h1 class="title">Đăng ảnh mới</h1>
            <div class="content form_photo">
                <form id="form-post-image" class="modal" action="<?php echo BASE_URL;?>/submit" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="type" value="Photo"/>
                    <input id="post_type" type="hidden" name="post_type" value="Photo"/>
                    <div class="field">
                        <label>Chọn file ảnh<i class="required">*</i></label>
                        <input id="photo_file_upload" class="file" type="file" name="image" accept="image/*" />
                        <p class="info">Chỉ hỗ trợ upload ảnh JPG, PNG và GIF. Dung lượng không vượt quá 4MB.</p>
                    </div>
                    <div class="field">
                        <label>Tiêu đề bài viết<i class="required">*</i></label>
                        <input id="post_title" type="text" class="text" name="title" value="" maxlength="140" />
                        <p class="info">Tiêu đề hoặc mô tả thú vị sẽ thu hút nhiều vote và chia sẻ hơn.</p>
                    </div>
                    <div class="field checkbox">
                        <input id="isSelfMade"  onclick="document.getElementById('source').disabled = this.checked;" type="checkbox" class="checkbox" name="isSelfMade" value="1"/>
                        <label for="isSelfMade" class="checkboxLabel">Ảnh này tui tự làm!</label>
                    </div>
                    <div class="field">
                        <label>Nguồn của ảnh</label>
                        <input type="text" class="text tipped" id="source" name="source" value="" maxlength="300" />
                    </div>

                    <div class="field checkbox">
                        <input id="isNSFW" type="checkbox" class="checkbox" name="isNSFW" value="1"/>
                        <label for="isNSFW" class="checkboxLabel">Nội dung 18+</label>
                        <p class="info">Tick chọn mục này nếu ảnh có nội dung nhạy cảm</p>
                    </div>

                    <?php if(Admin::isLogined() || $this->userInfo['approved_new_post'] ==1):?>
                        <div class="field">
                            <label>Danh mục<i class="required"></i></label>
                            <?php if(!empty($this->lsCat)):?>
                                <select name="category_id" id="category_id" style="width: 200px;padding: 6px;border: 1px solid #E2E2E2;">
                                    <option value="0">Chọn danh mục</option>
                                    <?php foreach($this->lsCat as $key=>$value):?>
                                        <option value="<?php echo $value['category_id'];?>" <?php if($this->dataDefault['category_id'] ==$value['category_id']):?> selected="selected" <?php endif;?>><?php echo $value['category_name'];?></option>
                                    <?php endforeach;?>
                                </select>
                            <?php endif;?>
                        </div>
                    <?php endif;?>

                    <?php if ($this->canManageTag): ?>
                    <div class="field">
                        <label>Tag</label>
                        <input type="text" class="text tipped" id="tag_name" name="tag" value="" /> <input type="button" value="Thêm Tag" onclick="addTag()" />
                        <div class="tag_box" id="tag_box">
                        <?php if(!empty($this->tags)):?>
                                <?php foreach($this->tags as $tag):?>
                                <div class="tag" id="tag_<?php echo $tag['id']?>"><?php echo $tag['tag_name']?> <a class="remove_tag" onclick="removeTag('<?php echo $tag['id']?>')" href="javascript:void(0)" tag-id="<?php echo $tag['id']?>">(x)</a><input type="hidden" name="tag_id[]" value="<?php echo $tag['id']?>" /></div>
                                <?php endforeach;?>
                        <?php endif;?>
                        </div>
                    </div>
                    <?php endif; ?>
                    <div class="gray-line"></div>
                    <input type="button" id="btnSubmit" class="button blue-button" value="Đăng ngay và luôn" />
                    <input type="button" id="btnCancel" class="button white-button" value="Thôi, bỏ" onclick="confirmCancel()"/>
                    <div class="clear"></div>
                </form>
            </div>

			<?php endif; //Check total ?>

        </div>
        <div class="clear"></div>
        <?php echo $this->render('partials/footer.phtml', $this);?>
        <div id="loginIsRequired" class="modalDialog" title="Bạn có biết là...">
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
            <p style="margin-left: 25px">Chức năng này chỉ dành cho thành viên của Hay Nhức Nhói. Vui lòng Đăng nhập để sử dụng, và khám phá nhiều điều thú vị hơn nữa.<br/><br/>
                <span style="color: #6F6F6F">Tài khoản của bạn sẽ được tạo ở lần đăng nhập đầu tiên mà không cần đăng ký :)</span></p>
        </div>
    </div>

    <div id="cancelConfirmation" class="modalDialog" title="Xác nhận phát">
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Có chắn chắn là bỏ không?
    </div>
    <div id="fileEmptyAlert" style="display: none" title="Thiếu thông tin">
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Chưa chọn file thì lấy gì mà đăng?</p>
    </div>
    <div id="titleEmptyAlert" style="display: none" title="Thiếu thông tin">
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Đặt tiêu đề cho ảnh đi đã chứ =.=</p>
    </div>
    <div id="titleTooLong" style="display: none" title="Tiêu đề quá dài">
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Tiêu đề ảnh của bạn quá dài. Hãy giới hạn dưới 150 ký tự!</p>
    </div>
    <div id="wrongExtAlert" style="display: none" title="Không đúng định dạng">
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>HayNhucNhoi hiện tại chỉ hỗ trợ upload JPG, PNG và GIF. Vui lòng chọn lại.</p>
    </div>

    <div id="MaxFileSizeHome" style="display: none" title="Dung lượng vượt quá 4MB">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Hay Nhức Nhói hiện tại chỉ hỗ trợ đăng ảnh 4MB. Vui lòng chọn lại.</p>
</div>

    <div id="rightCol">
        <div class="sidebar">
            <div class="limitBlock">
				<h3 class="title">GIỚI HẠN CỦA BẠN</h3>
				<ul>
                	<li>Bạn đang được <strong><?php echo $this->point; ?></strong> điểm.</li>
					<li>Bạn được đăng <strong><?php echo $this->limit['total_limit']; ?></strong> bài mỗi ngày, trong đó có <?php echo $this->limit['video_limit']; ?> clip.</li>
					<?php if ($this->userPostCountToday['total'] == 0) : ?>
						<li>Hôm nay bạn chưa đăng bài nào.</li>
					<?php else : ?>
						<li>Hôm nay bạn đã đăng <strong><?php echo $this->userPostCountToday['total']; ?></strong> bài, trong đó có <strong><?php echo $this->userPostCountToday['video']; ?></strong> clip</li>
					<?php endif; ?>
					<li>Đạt <strong><?php echo $this->limit['next_level']; ?> điểm</strong> để đăng được nhiều hơn!</li>
				</ul>
            </div>
            <?php echo $this->render('upload/rules.phtml'); ?>
        </div>
    </div>
    <div class="clear"></div>
</div>
<script>
    Haynn.indexPage.quickUploadInit();
    Haynn.indexPage.quickUploadType = 'photo';
<?php if ($this->canManageTag): ?>
function addTagInput(id, name)
{
    var html = '<div class="tag" id="tag_'+ id +'">'+ name +' <a class="remove_tag" onclick="removeTag('+ id +')" href="javascript:void(0)" tag-id="'+ id +'">(x)</a><input type="hidden" name="tag_id[]" value="'+ id +'" /></div>';
    $('#tag_box').append(html);
    $('#tag_name').val('');
}

function removeTag(id)
{
    $('#tag_'+ id).remove();
}

function addTag()
{
    var tag_name = $('#tag_name').val();

    if(tag_name != '')
    {
            $.post(Settings.baseurl +'/ajax/ajax-add-tag', {tag_name: tag_name}, function(data){
            if(data.tag_id > 0)
            {
                    addTagInput(data.tag_id, data.tag_name);
            }
            }, 'json');
    }
}
$( "#tag_name" ).autocomplete({
    source: Settings.baseurl + "/ajax/search-tag",
    minLength: 2,
    select: function( event, ui ) {
            addTagInput(ui.item.id, ui.item.value);
    }
});
<?php endif; ?>
</script>