<?php
$this->headLink()->appendStylesheet($this->layout()->_general['server']['css']['path'] . '/meme.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'] . '/font_utmimpact.css');
$this->headScript()->appendFile($this->layout()->_general['server']['js']['path'] . '/meme.js');
?>
<div class="whiteBackground">
    <h1>Chọn Meme</h1>
    <div class="memeList">
        <?php if (!empty($this->list)): ?>
            <?php foreach ($this->list as $item): ?>
        <a class="memeContainer" href="<?php echo Meme::memeUrl($item);?>">
                    <div class="meme" style="background: url(<?php echo $this->layout()->_general['server']['img']['path'];?>/meme/<?php echo $item['ID'];?>.jpg) top center / cover no-repeat">
                        <div class="name"><?php echo $item['name'];?></div>
                        <div class="description"><?php echo $item['description'];?></div>
                    </div>
                </a>
            <?php endforeach;?>
        <?php endif; ?>
        <div class="clear"></div>
    </div>
</div>
<?php echo $this->render('partials/footer.phtml', $this); ?>