<?php
$this->headLink()->appendStylesheet($this->layout()->_general['server']['css']['path'].'/font_utmimpact.css');
$this->headScript()->appendFile($this->layout()->_general['server']['js']['path'].'/meme.js');
?>
<div class="submitContainer">
     <section class="editor">
            <div class="width-limit">
                <h2 id="jsid-editor-title">New Image</h2>
                <div><input type="file" id="meme_image" name="meme_image" /></div>
                <div class="preview-area">
                    <div class="image-container">
                        <canvas id="meme-editor-canvas"></canvas>
                    </div>
                </div>

                <div class="caption" id="editor-scrollfloating">
                    <form id="form-caption">
                        <div class="field">
                            <textarea id="meme-editor-text1" placeholder="Top Text" tabindex="1"></textarea>
                            <div class="textarea-control">
                                <ul class="segment-control font-size">
                                    <li><a href="javascript:void(0);" id="meme-editor-text1-decrease-font-size"><span class="decrease-font-size">Decrease font size</span></a></li>
                                    <li class="seperator"><span></span></li>
                                    <li><a href="javascript:void(0);" id="meme-editor-text1-increase-font-size"><span class="increase-font-size">Increase font size</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="field">
                            <textarea id="meme-editor-text2" placeholder="Bottom Text" tabindex="2"></textarea>
                            <div class="textarea-control">
                                <ul class="segment-control font-size">
                                    <li><a href="javascript:void(0);" id="meme-editor-text2-decrease-font-size"><span class="decrease-font-size">Decrease font size</span></a></li>
                                    <li class="seperator"><span></span></li>
                                    <li><a href="javascript:void(0);" id="meme-editor-text2-increase-font-size"><span class="increase-font-size">Increase font size</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <input type="submit" value="Create" id="meme-editor-submit"/>
                    </form>
                </div>
            </div>

            <div id="page-mask" class="mask hide"></div>
        </section>
 </div>
<script>
// init namespace
var hnnmeme = {
    canvas : null,
    fileInputId : 'meme_image',
    image : null,
    imgWidth : 600,
    currentTopText: "",
    currentBottomText: "",
    fontFace : "UTMImpact",
    textType: {
            top: "t1",
            bottom: "t2"
    },
    fontSizeFactors: {
        text1: 1,
        text2: 1
    },
    initialize : function() {
        this.canvas = $('#meme-editor-canvas');
        this.image = new Image();
        this.render();
    },
    render : function() {
        var me = this;

        var fileInput = document.getElementById(this.fileInputId);
        // add listener
        fileInput.addEventListener("change", function(e) {
            var file = this.files[0];
            var imageType = /image.*/
            if(!file.type.match(imageType)) {
                alert("Sorry, file type is not supported.");
                return false;
            }
            me.image.file = file;
            var reader = new FileReader();
            reader.onload = (function(img){
              return function(e){
                me.image.src = e.target.result;
                me.renderCanvasWithImage();
              };
            }(this.image));

            reader.readAsDataURL(file);
        },false);
    },
    renderCanvasWithImage : function () {
        var canvas = this.canvas[0];
        var width = 600;
        canvas.width = width, canvas.height = this.image.height * width / this.image.width;
        try {
            canvas.toDataURL()
        } catch (ex) {
            return this.image.src = document.location.origin + "/ie/:id".replace(":id", this.model.get("id")), !1
        }
        var ctx = canvas.getContext("2d");
        ctx.fillStyle = "white";
        ctx.strokeStyle = "black";
        ctx.lineWidth = 4;
        ctx.textAlign = "center";
        var fontSize = canvas.height / 8;
        ctx.font = fontSize + "px "+ this.fontFace;
        ctx.miterLimit = 2;
        this.drawCanvas(true);
    },

    drawCanvas : function(bDrawText) {
        this.drawImage();
        var topText = this.currentTopText;
        var bottomText = this.currentBottomText;
        if (bDrawText && topText == '') {
            topText = 'top text';
        }
        else if(bDrawText && bottomText == '') {
            bottomText = 'bottom text';
        }
        this.drawText('Hay Nhức Nhói', this.textType.top);
        this.drawText('Hay Nhức Nhói Hay Nhức Nhói', this.textType.bottom);
    },

    drawImage : function() {
        var canvas = this.canvas[0];
        var ctx = canvas.getContext("2d");
        var me = this;

        ctx.drawImage(me.image, 0, 0, canvas.width, canvas.height);
    },

    drawText : function(text, textType, y, fontSize) {
        text = text.toUpperCase();
        var canvas = this.canvas[0];
        var ctx = canvas.getContext("2d");
        textType = textType || this.textType.top;

        var g = .06, h = .0798, paddingBottom = 20, paddingTop = 10;
        if (!fontSize) {
            var l = canvas.width * h;
            if (textType === this.textType.top) {
                fontSize = l * this.fontSizeFactors.text1;
            }
            else {
                textType === this.textType.bottom;
                fontSize = l * this.fontSizeFactors.text2;
            }
        }

        ctx.font = fontSize + "px "+ this.fontFace;
        ctx.miterLimit = 2;
        var x = canvas.width / 2;
        var arrText = text.split(" ");
        var longestWord = arrText[0];
        // check longest word in text
        for (var i = 0; i < arrText.length; i++) {
            longestWord = arrText[i].length > longestWord.length ? arrText[i] : longestWord;
        }

        var oneLine = false;
        if (!fontSize && ctx.measureText(longestWord).width > canvas.width - 36) {
            fontSize = .9 * fontSize;
            ctx.font = fontSize + "px "+ this.fontFace;

            for (var i = h; i >= g; p = .9 * i) {
                if (ctx.measureText(longestWord).width < canvas.width - 36) {
                    oneLine = true;
                    break;
                }
            }
        }
        else {
            oneLine = fontSize ? false : true;
        }

        y = "undefined" == typeof y ? fontSize + paddingTop : y;

        if (textType == this.textType.bottom) {
            y = canvas.height - paddingBottom;
        }

        if (ctx.measureText(text).width > canvas.width - 36) {
            var numWord = arrText.length;
            var arr = [];
            if (textType == this.textType.top) {
                for (var i = numWord; i--) {
                    var t = arrText.slice(0, i).join(" ");
                    if (t.indexOf("\n") != -1) {
                        for (var tmp = text.split("\n"), j = 0; j < tmp.length; j++) {
                            //arr = arr.concat
                        }
                    }
                }
            }
        }

        var words = text.split("\n");

        this.drawLines(words, textType, x, canvas, ctx, paddingTop, paddingBottom, fontSize);
    },

    drawLines : function(words, textType, x, canvas, context, paddingTop, paddingBottom, fontSize) {
        for (var i = 0; i < words.length; i++) {
            if (textType === this.textType.top) {
                y = paddingTop + (i + 1) * fontSize;
            }
            else {
                y = canvas.height - paddingBottom - Math.max(0, words.length - i - 1) * fontSize;
            }

            var word = words[i].trim();
            var maxWidth = 2 * Math.round(.9 * canvas.width / 2);

            context.strokeText(word, x, y, maxWidth);
            context.fillText(word, x, y, 9 * canvas.width);
        }
    },

    getLines : function(arrText, canvas, context) {
        var l1 = arrText.length, l2 = arrText.length, arr = [], text = arrText.join(" ");

        if (l1 == 1 || context.measureText(text).width <= canvas.width - 36) {
            arr.push(text);
            return arr;
        }

        for (; l2--;) {
            var tmp = arrText.slice(0, l2).join(" ");
        }

        return arr;
    }
};

hnnmm.initialize();

</script>