<?php
$time  = time();
$this->headLink()->appendStylesheet($this->layout()->_general['server']['css']['path'] . '/meme.css')
    ->appendStylesheet(BASE_URL . '/fonts/font_utmimpact.css');
$this->headScript()->appendFile($this->layout()->_general['server']['js']['path'] . '/fabricjs-1.3.0.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'] . '/meme.js?rev='.$time);
?>
<style type="text/css">
    canvas {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -moz-font-smoothing:antialiased;
        font-smoothing:antialiased;
        text-rendering:optimizeLegibility;
        font-smooth:always;
    }
</style>
<div class="whiteBackground memeBuilderContainer">
    <div id="meme-builder">
        <div class="info">
            <h1 class="memename"><?php echo $this->meme['name'];?></h1>
            <div class="description"><?php echo $this->meme['description'];?></div>
        </div>
        <div class="creator">
            <div id="leftCol">
                <div class="inputForm">
                    <p>
                        <label for="topText">Dòng trên</label>
                        <textarea rows="3" id="topText">Dòng trên</textarea>
                    </p>
                    <p>
                        <label for="bottomText">Dòng dưới</label>
                        <textarea rows="3" id="bottomText">Dòng dưới</textarea>
                    </p>
                    <p>
                        <input class="button blue-button" id="create" value="Hoàn thành" style="float: none" type="button" />
                    </p>
                </div>
                <div class="guide">
                    <h4>
                        Hướng dẫn chế meme
                    </h4>
                    <ul>
                        <li style="color: red">Vì cơ chế của trình duyệt, có thể bạn sẽ cần F5 trang 1 lần để font chữ hiển thị chính xác.</li>
                        <li>Bạn nhập nội dung cho dòng trên và dòng dưới hoặc xóa nếu không cần thiết. Nội dung nhập vào sẽ tự động được IN HOA.</li>
                        <li>Bạn có thể kéo thả dòng chữ sang vị trí khác</li>
                        <li>Không đăng ảnh lên Hay Nhức Nhói nếu bạn chỉ chế linh tinh để thử nghiệm, tránh spam Hay Nhức Nhói</li>
                        <li>Ảnh đăng lên Hay Nhức Nhói vẫn phải tuân thủ đầy đủ nội quy trong mục <a href="/submit">Đăng ảnh</a></li>
                        <li>
                            Mọi đóng góp, báo lỗi vui lòng gửi mail về <a href="mailto:contact@haynhucnhoi.tv">contact@haynhucnhoi.tv</a> hoặc bình luận ở trang này
                        </li>
                        <li>Hoạt động tốt nhất trên trình duyệt Firefox</li>
                    </ul>
                </div>

            </div>
            <div id="rightCol">
                <div id="meme-container">
                    <canvas id="canvas" width="500" height="500"></canvas>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="meme-preview">
        <div class="wrap">
            <div class="inputForm">
                <p style="text-align: center">
                    Hãy đặt tiêu đề cho ảnh để đăng lên Hay Nhức Nhói. Bạn cũng có thể lưu ảnh về máy và vào
                    mục Đăng ảnh để đăng sau. Chú ý không đăng ảnh lên Hay Nhức Nhói nếu bạn chỉ chế linh tinh
                    để thử nghiệm.
                </p>
                <p class="required">
                    <label for="title">
                        Tiêu đề của ảnh
                    </label>
                    <input type="text" id="title" value="" class="text">
                    <input type="button" style="height:32px" value="Đăng ảnh" id="publish" class="button blue-button">
                </p>
                <div class="clear"></div>

                <p style="margin-top: 20px">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" id="meme-output" />
                </p>
            </div>
        </div>
    </div>
</div>

<div id="titleMemeAlert" style="display: none" title="Thông báo">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        <span id="titlememe">Đặt tiêu đề cho ảnh đi đã chứ =.=</span>
    </p>
</div>

<script type="text/javascript">
    var meme = new Meme("<?php echo $this->meme['ID'];?>", Settings.baseurl + "/upload/getmemedata/id/<?php echo $this->meme['ID'];?>", "<?php echo $this->layout()->_general['server']['img']['path'];?>/meme/<?php echo $this->meme['ID'];?>.jpg", Settings.baseurl + "/upload/uploadmeme").initialize();
</script>
<div class="clear"></div>
<?php echo $this->render('partials/footer.phtml', $this);?>
<div id="loginIsRequired" class="modalDialog" title="Bạn có biết là...">
    <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
    <p style="margin-left: 25px">Chức năng này chỉ dành cho thành viên của Hay Nhức Nhói. Vui lòng Đăng nhập để sử dụng, và khám phá nhiều điều thú vị hơn nữa.<br/><br/>
        <span style="color: #6F6F6F">Tài khoản của bạn sẽ được tạo ở lần đăng nhập đầu tiên mà không cần đăng ký :)</span></p>
</div>
<script>
    //hnnmm.initialize();
    window.onbeforeunload = confirmExit;
    function confirmExit() {
        if (meme.changed())
            return "Tác phẩm của bạn chưa được lưu. Bạn có chắc muốn thoát không?";
        return null;
    }
</script>

