<div class="submit-info sidebarBlock">
    <div class="blockTitle">Nhớ đọc kỹ trước khi đăng</div>
    <div class="blockContent">
        <ul>
            <li><span class="number">1</span>Không đăng ảnh trùng. Ảnh đã có sẵn watermark @HayNhucNhoi sẽ bị xóa.</li>
            <li><span class="number">2</span>Đừng xóa copyright của người khác để tôn trọng tính sáng tạo.</li>
            <li><span class="number">3</span>Thử nghĩ những tiêu đề mang tính độc đáo, thay vì Hài vãi, Vãi cả... :)</li>
            <li><span class="number">4</span>Không đăng ảnh cá nhân, tự sướng, dìm hàng, đả kích nhau.</li>
            <li><span class="number">5</span>Không đặt tiêu đề câu Like hoặc kêu gọi Like trong ảnh.</li>
            <li><span class="number">6</span>Không sử dụng quá nhiều emoticon (mặt cười) khi đặt tiêu đề.</li>
            <li><span class="number">7</span>Không đăng ảnh trái với thuần phong mỹ tục, văn hóa dân tộc.</li>
            <li><span class="number">8</span>Không đăng ảnh liên quan chính trị, tôn giáo, phân biệt vùng miền...</li>
            <li><span class="number">9</span>Cấm spam link ảnh của bạn trong phần comment ảnh của người khác.</li>
            <li><span class="number">10</span>Đăng ảnh đồi trụy, phản động sẽ bị <b>xóa tài khoản vĩnh viễn</b>.</li>
        </ul>
    </div>
</div>