<?php
$postCount = $this->userPostCountToday;
$limit = $this->limit;
$point = $this->point;
$specialUser = $this->isSpecialUser;
?>
<style>
/* Tag */
.tag_box{margin:5px 0 5px 151px; display: inline-block; }
.tag {background:#f4f4ee; border:1px solid #ccc; float:left; margin-right:5px; padding:3px 5px}
</style>

<div class="submitContainer">
    <div id="leftCol">
        <div class="tabBar">
            <div class="tab"><a href="<?php echo BASE_URL;?>/upload"><span class="icon photo"></span>Đăng ảnh</a></div>
            <div class="tab active"><a href="<?php echo BASE_URL;?>/upload/video"><span class="icon video"></span>Đăng nhạc/clip</a></div>
        </div>
        <div class="submitForm">
            <?php
            $notAllowed = false;
            if ($point < 500) {
                $notAllowed = true;
                $message = 'Để đăng được clip, bạn cần đạt ít nhất 500 điểm. Hãy cố gắng thêm.';
            } else {
                if ($postCount['total'] >= $limit['total_limit']) {
                    $notAllowed = true;
                    $message = 'Bạn đã đăng đủ số lượng bài cho phép trong ngày. Hãy tiếp tục vào ngày mai.';
                } elseif ($postCount['total'] >= $limit['total_limit']) {
                    $notAllowed = true;
                    $message = 'Bạn đã đăng đủ số lượng clip cho phép trong ngày. Hãy tiếp tục vào ngày mai.';
                }
            }
            ?>
            <?php if ($notAllowed  && !$specialUser) { ?>

            <div class="box-error">
                <p style="padding-left:30px"><?php echo $message; ?><br/>
                    <?php if ($limit['next_level']) { ?>
                        Đạt <strong><?php echo $limit['next_level']; ?></strong> điểm để nâng cao giới hạn của mình.
                    <?php } ?>
                </p>
            </div>

            <?php } elseif ($postCount['video'] >= $limit['video_limit'] && !$specialUser) { ?>

            <div class="box-error">
                <p style="padding-left:30px"> Bạn đã đăng đủ số lượng clip cho phép trong ngày. Hãy tiếp tục vào ngày mai.<br/>
                    <?php if ($limit['next_level']) { ?>
                        Đạt <strong><?php echo $limit['next_level']; ?></strong> điểm để nâng cao giới hạn của mình.
                    <?php } ?>
                </p>
            </div>

            <?php } else { ?>

            <?php if(!empty($this->messages)) { ?>
                <div class="box-error">
                    <?php foreach ($this->messages as $key => $value) :?>
                        <p style="padding-left:30px"> <?php echo $this->messages[$key];?> </p>
                    <?php endforeach;?>
                </div>
            <?php } ?>

            <h1 class="title">Đăng video mới</h1>
            <div class="content form_photo full_form">
                <form id="form-b9gcs-soft-post-image" class="modal" action="" method="post">
                    <input type="hidden" name="type" value="Video"/>
                    <input id="post_type" type="hidden" name="post_type" value="Video"/>
                    <div class="field">
                        <label for="post_title">Tiêu đề bài đăng<i class="required">*</i></label>
                        <input id="post_title" type="text" class="text" name="title" value="" maxlength="140"/>
<!--                            <div style="width: 100%;">-->
<!--                                <textarea rows="5" class="emojis-wysiwyg"></textarea>-->
<!--                                <a id="emoji_button" style="float: left; display:block; background:none; margin: 6px 0 0 10px;" href="javascript:void(0)" class="emoji-button" title="Biểu tượng vui"><img style="width:20px" src="http://st.test.haynhucnhoi.local/images/emoticons/basic/smile.png" alt=":smile:"></a>-->
<!--                            </div>-->
                        <div class="clear"></div>
                        <p class="info">Tiêu đề hoặc mô tả thú vị sẽ thu hút nhiều vote và chia sẻ hơn.</p>
                    </div>
                    <div class="field">
                        <label for="video_url">Địa chỉ nhạc / clip<i class="required">*</i></label>
                        <input id="video_url" type="text" class="text" name="url" value="" />
                        <p class="info">
                            Copy đường dẫn trên thanh địa chỉ của trình duyệt khi bạn đang xem, hoặc từ link chia sẻ mà website cung cấp.<br/>
                            Hiện tại, Hay Nhức Nhói hỗ trợ đăng clip từ <b>YouTube</b>, <b>Vimeo</b>, <b>Zing TV</b>. <a id="showExample" href="#">Xem ví dụ</a>
                        </p>
                    </div>
                    <div class="field">
                        <label for="post_description">Nội dung mô tả ngắn </label>
                        <textarea rows="5" name="description" id="post_description" class="text"></textarea>
                        <div class="clear"></div>
                        <p class="info">Nội dung mô tả ngắn giúp người xem hiểu rõ hơn về video clip của bạn. Khuyến khích từ 30 - 40 từ.</p>
                    </div>
                    <div class="field checkbox">
                        <input id="isNSFW" type="checkbox" class="checkbox" name="isNSFW" value="1"/>
                        <label for="isNSFW" class="checkboxLabel">Nội dung 18+</label>
                        <p class="info">Tick chọn mục này nếu ảnh có nội dung nhạy cảm</p>
                    </div>

                    <?php if(Admin::isLogined() || $this->userInfo['approved_new_post'] ==1):?>
                        <div class="field">
                            <label>Danh mục</label>
                            <?php if(!empty($this->lsCat)):?>
                                <select name="category_id" id="category" style="width: 200px;padding: 6px;border: 1px solid #E2E2E2;">
                                    <option value="0">Chọn danh mục</option>
                                    <?php foreach($this->lsCat as $key=>$value):?>
                                        <option value="<?php echo $value['category_id'];?>" <?php if($this->dataDefault['category_id'] ==$value['category_id']):?> selected="selected" <?php endif;?>><?php echo $value['category_name'];?></option>
                                    <?php endforeach;?>
                                </select>
                            <?php endif;?>
                        </div>
                    <?php endif;?>
            </div>
            <?php if ($this->canManageTag): ?>
            <div class="field">
                <label for="tag_name">Tag</label>
                <input type="text" class="text tipped" id="tag_name" name="tag" value="" /> <input type="button" value="Thêm Tag" onclick="addTag()" />
                <div class="tag_box" id="tag_box">
                <?php if(!empty($this->tags)):?>
                        <?php foreach($this->tags as $tag):?>
                        <div class="tag" id="tag_<?php echo $tag['id']?>"><?php echo $tag['tag_name']?> <a class="remove_tag" onclick="removeTag('<?php echo $tag['id']?>')" href="javascript:void(0)" tag-id="<?php echo $tag['id']?>">(x)</a><input type="hidden" name="tag_id[]" value="<?php echo $tag['id']?>" /></div>
                        <?php endforeach;?>
                <?php endif;?>
                </div>
            </div>
            <?php endif; ?>
            <div class="gray-line"></div>
            <input type="button" id="btnSubmitHome" class="button blue-button" value="Đăng ngay và luôn"/>
            <input type="button" id="btnCancel" class="button white-button" value="Thôi, bỏ" onclick=" return confirmCancel();"/>
            <div class="clear"></div>
            </form>

        <?php } ?>
        </div>

    </div>

    <div id="rightCol">
        <div class="sidebar">
            <div class="limitBlock">
                <h3 class="title">GIỚI HẠN CỦA BẠN</h3>
                <ul>
                    <li>Bạn đang được <strong><?php echo $this->point; ?></strong> điểm.</li>
                    <li>Bạn được đăng <strong><?php echo $this->limit['total_limit']; ?></strong> bài mỗi ngày, trong đó có <?php echo $this->limit['video_limit']; ?> clip.</li>
                    <?php if ($this->userPostCountToday['total'] == 0) : ?>
                        <li>Hôm nay bạn chưa đăng bài nào.</li>
                    <?php else : ?>
                        <li>Hôm nay bạn đã đăng <strong><?php echo $this->userPostCountToday['total']; ?></strong> bài, trong đó có <strong><?php echo $this->userPostCountToday['video']; ?></strong> clip</li>
                    <?php endif; ?>
                    <li>Đạt <strong><?php echo $this->limit['next_level']; ?> điểm</strong> để đăng được nhiều hơn!</li>
                </ul>
            </div>
            <?php echo $this->render('upload/rules.phtml'); ?>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div id="cancelConfirmation" class="modalDialog" title="Xác nhận phát">
    <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Có chắn chắn là bỏ không?
</div>
<div id="fileEmptyAlert" style="display: none" title="Thiếu thông tin">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Chưa có địa chỉ clip thì lấy gì mà đăng?</p>
</div>
<div id="titleEmptyAlert" style="display: none" title="Thiếu thông tin">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Đặt tiêu đề cho clip đi đã chứ =.=</p>
</div>
<div id="invalidYouTubeURL" style="display: none" title="Link clip không hợp lệ">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Địa chỉ clip bạn nhập không đúng định dạng</p>
</div>
<div id="titleTooLong" style="display: none" title="Tiêu đề quá dài">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Tiêu đề video clip của bạn quá dài. Hãy giới hạn dưới 150 ký tự!</p>
</div>

<div id="exampleLinks">
    <b>Mẫu link YouTube</b>
    <ul>
        <li>- http://www.youtube.com/watch?v=9bZkp7q19f0</li>
        <li>- http://youtu.be/T9TnHyKddtY</li>
    </ul>
    <b>Mẫu link Vimeo</b>
    <ul>
        <li>- http://vimeo.com/30680637</li>
        <li>- http://vimeo.com/channel/&lt;tên channel&gt;/30680637</li>
    </ul>
    <b>Mẫu link Zing TV</b>
    <ul>
        <li>- http://tv.zing.vn/video/&lt;tên video&gt;/IWZ9FZBZ.html</li>
    </ul>

</div>

<script type="text/javascript">
    $("#btnSubmitHome").click(function() {
        checkUploadVideo();
    })

    $("#btnCancel").click(function() {
        $("#cancelConfirmation").dialog({
            resizable: false,
            modal: true,
            height: 130,
            buttons: {
                "Chắc chắn": function() {
                    location.href = Settings.baseurl;
                },
                "Nhấn nhầm thôi": function() {
                    $(this).dialog("close");
                },
            }
        });
    });

    $(function() {
        var moveLeft = 20;
        var moveDown = 10;

        $('#showExample').hover(function(e) {
            $('#exampleLinks').show();
        }, function() {
            $('#exampleLinks').hide();
        });

        $('#showExample').mousemove(function(e) {
            $("#exampleLinks").css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
        });
    });

    function checkUploadVideo()
    {
        var postTitle =$('#post_title');
        var videoUrl = $('#video_url').val();
        if (postTitle.val() == "") {
            displayMessageDialog("#titleEmptyAlert");
            postTitle.css('border-color', 'red');
            return false;
        } else {
            postTitle.css('border-color', '');
        }

        if (postTitle.val().length > 150) {
            displayMessageDialog("#titleTooLong");
            postTitle.css('border-color', 'red');
            return false;
        }

        if ($("#post_title").val() == "") {
            displayMessageDialog("#titleEmptyAlert");
            return false;
        }

        if (!isValidYouTubeURL(videoUrl) && !isValidVimeoURL(videoUrl) && !isValidZingTVUrl(videoUrl) && !isValidNCT(videoUrl) && !isValidMeCloud(videoUrl)) {
            displayMessageDialog("#invalidYouTubeURL");
            return false;
        }

        if (videoUrl == "") {
            displayMessageDialog("#fileEmptyAlert");
            return false;
        }

        $("#form-b9gcs-soft-post-image").submit();
    }

    function isValidYouTubeURL(url) {
        var p = /^(?:http(?:s)?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:(?:watch)?\?(?:.*&)?v(?:i)?=|(?:embed|v|vi|user)\/))([^\?&\"'>]+)/;
        return (url.match(p)) ? true : false;
    }

    function isValidVimeoURL(url)
    {
        var p = /^(?:http(?:s)?:\/\/)?(www\.)?vimeo\.com\/(\w*\/)*(([a-z]{0,2}-)?\d+)/;
        return (url.match(p)) ? true : false;
    }

    function isValidZingTVUrl(url)
    {
        var p = /^(?:http(?:s)?:\/\/)?(www\.)?tv\.zing\.vn\/video\/([A-Za-z-\d]+)(\/(\w{8}\.html))?\/(\w{8})(\.html)$/;
        return (url.match(p)) ? true : false;
    }

    function isValidZingMp3URL(url)
    {
        var p = /^(http:\/\/)?mp3\.zing\.vn\/(bai-hat|album|playlist)\/([A-Za-z-\d]+)\/(\w{8})(\.html)$/;
        return (url.match(p)) ? true : false;
    }
    function isValidNCT(url)
    {
        var p = /^(http:\/\/www.nhaccuatui.com|http:\/\/nhaccuatui.com)\/(bai-hat|video)\/[a-zA-Z-0-9]+\.(.*)\.html$/;
        return (url.match(p)) ? true : false;
    }

    function isValidMeCloud(url) {
        return (url.indexOf('[mecloud]') > -1 && url.indexOf('[/mecloud]') > -1);
    }

    <?php if ($this->canManageTag): ?>
function addTagInput(id, name)
{
    var html = '<div class="tag" id="tag_'+ id +'">'+ name +' <a class="remove_tag" onclick="removeTag('+ id +')" href="javascript:void(0)" tag-id="'+ id +'">(x)</a><input type="hidden" name="tag_id[]" value="'+ id +'" /></div>';
    $('#tag_box').append(html);
    $('#tag_name').val('');
}

function removeTag(id)
{
    $('#tag_'+ id).remove();
}

function addTag()
{
    var tag_name = $('#tag_name').val();

    if(tag_name != '')
    {
            $.post(Settings.baseurl +'/ajax/ajax-add-tag', {tag_name: tag_name}, function(data){
            if(data.tag_id > 0)
            {
                    addTagInput(data.tag_id, data.tag_name);
            }
            }, 'json');
    }
}
$( "#tag_name" ).autocomplete({
    source: Settings.baseurl + "/ajax/search-tag",
    minLength: 2,
    select: function( event, ui ) {
            addTagInput(ui.item.id, ui.item.value);
    }
});
<?php endif; ?>
</script>