@charset "utf-8";
/* CSS button */

/*button-repin - start*/
a.btn { display:inline-block; zoom:1; padding:0 10px 0 0; line-height:28px; color:#59493f; font-weight:bold; text-decoration:none; background: url(../images/btn-interaction-white.png) right -50px no-repeat; }
a.btn span { display:block; height:28px; padding:0 0 0 10px; line-height:28px; background: url(../images/btn-interaction-white.png) left 0 no-repeat; overflow:hidden; cursor:pointer; }
a.btn span img { padding-top:8px; }
a.white { background-image:url(../images/btn-interaction-white.png); }
a.white span { background-image:url(../images/btn-interaction-white.png); }
a.btn:hover { background-position: right -150px; }
a.btn:hover span { background-position: left -100px; }
a.btn:active { background-position: right -250px; }
a.btn:active span { background-position: left -200px; }
a.btn.unable,
a.btn.unable:hover { background-position: right -250px; }
a.btn.unable span,
a.btn.unable:hover span { background-position: left -200px; }
/*button-repin - end*/

/*button-silver - start*/
a.btn-s2 { display:inline-block; zoom:1; padding:0 20px 0 0; line-height:22px; font-size:18px; color:#333; text-decoration:none; background: url(../images/btn-login.png) right -50px no-repeat; }
a.btn-s2 span { display:block; height:30px; padding:0 0 0 20px; line-height:30px; background: url(../images/btn-login.png) left 0 no-repeat; white-space:nowrap; overflow:hidden; cursor:pointer; }
a.btn-s2 span img { padding-top:8px; }
a.white-s2 { background-image:url(../images/btn-login-white.png); }
a.white-s2 span { background-image:url(../images/btn-login-white.png); }
a.btn-s2:hover { background-position: right -150px; }
a.btn-s2:hover span { background-position: left -100px; }
a.btn-s2:active { background-position: right -250px; }
a.btn-s2:active span { background-position: left -200px; }
a.btn-s2-gray { display:inline-block; zoom:1; height:28px; padding:0; color:#666; text-decoration:none; border:solid 1px #ccc; border-radius:5px; background:#eee; cursor:default; }
a.btn-s2-gray span { display:inline-block; zoom:1; padding:0 20px; line-height:26px; font-size:18px; line-height:26px; color:#666; text-decoration:none; border: solid 1px #eee; border-radius:5px; cursor:pointer; }
/*button-silver - end*/

/*button-file - start*/
a.btn-s3 { display:inline-block; zoom:1; padding:0 20px 0 0; line-height:34px; font-size:18px; color:#fff; text-decoration:none; background: url(../images/btn-s3.png) right -50px no-repeat; }
a.btn-s3 span { display:inline-block; zoom:1; height:34px; padding:0 0 0 20px; line-height:34px; background: url(../images/btn-s3.png) left 0 no-repeat; white-space:nowrap; overflow:hidden; cursor:pointer; }
a.btn-s3:hover { background-position: right -150px; }
a.btn-s3:hover span { background-position: left -100px; }
a.btn-s3:active { background-position: right -250px; }
a.btn-s3:active span { background-position: left -200px; }
/*button-file - end*/

/*button-pin it - start*/
a.btn-s4,
a.btn-grey { display:inline-block; zoom:1; *display:inline; height:32px; padding:0 20px; line-height:34px; font-size:18px; color:#fff; text-decoration:none; border:solid 1px #2283a6; border-radius:3px; background: url(../images/s4.png) 0 -12px repeat-x; box-shadow: 0 0 2px rgba(255,255,255,0.75) inset,0 2px 3px rgba(64,64,64,0.2); }
a.btn-grey { color:#fff; border-color:#727272; background: url(../images/s4-grey.png) 0 -12px repeat-x; }
a.btn-s4 span,
a.btn-grey span { display:inline-block; zoom:1; *display:inline; padding:0; white-space:nowrap; text-shadow:0 1px 0 rgba(0,0,0,0.2); overflow:hidden; cursor:pointer; }
a.btn-s4 span img,
a.btn-grey span img { margin-top:9px; }
a.btn-s4:hover,a.btn-grey:hover { color:#fff; background-position:0 0; }
a.btn-s4:active,a.btn-grey:active { background-position:0 -93px; color:rgba(255,255,255,0.75);}
/*button-pin it - end*/


a.btn-s6 { display:inline-block; zoom:1; *display:inline; line-height:34px; padding:0 20px; font-size:18px; font-weight:bold; color:#fff; text-decoration:none; border:solid 1px #2283a6; border-radius:4px; box-shadow:0px 2px 3px rgba(64,64,64,0.2); white-space:nowrap; background: url(../images/s4.png) 0 -12px repeat-x; }
a.btn-s6:hover { color:#fff; background-position:0 0; }
a.btn-s6:active { color:#49aab9; background-position:0 -93px; }
/* gray Gradient bg - start */
a.btn-s5 { display: inline-block; zoom:1; height: 34px; line-height:34px; padding:0 10px; font-size:14px; text-align: center; color: #666; border: 1px solid #999; border-radius: 2px; box-shadow:0px 2px 3px rgba(64,64,64,0.2);  background: url(../images/btn-silver.png) 0 -5px repeat-x; }
a.btn-s5 span { display:block; height:34px; white-space:nowrap; overflow:hidden; cursor:pointer; }
a.btn-s5 span img { padding-top:10px; }
a.btn-request span { display:block; height:34px; white-space:nowrap; overflow:hidden; }
a.btn-request span img { padding-top:11px; }
a.btn-s5:hover { text-decoration:none; background-position:0 0; }
a.btn-s5:active { background-position:0 -160px; box-shadow:0 0 0 #fff;}
/* gray Gradient bg - start */

/*button-follow - start*/
a.btn-follow1,
a.btn-follow2,
a.btn-follow3,
a.btn-follow10,
a.btn-follow20,
a.btn-follow30 { display:inline-block; zoom:1; padding:0; color:#eefafc; font-weight:bold; text-align:center; text-decoration:none; border:solid 1px #2283a6; background: #56C9DB url(../images/s4.png) 0 -12px repeat-x; border-radius:3px; overflow:hidden; }
a.btn-follow1:hover,
a.btn-follow2:hover,
a.btn-follow3:hover,
a.btn-follow10:hover,
a.btn-follow20:hover,
a.btn-follow30:hover { background-position:0 0; }

a.btn-follow1:active,
a.btn-follow2:active,
a.btn-follow3:active,
a.btn-follow10:active,
a.btn-follow20:active,
a.btn-follow30:active { background-position:0 -93px; color:rgba(255,255,255,0.75); }
a.btn-follow1 span,
a.btn-follow2 span,
a.btn-follow3 span,
a.btn-follow10 span,
a.btn-follow20 span,
a.btn-follow30 span { display:block; height:22px; padding:0 10px; line-height:22px; white-space:nowrap; border: solid 1px rgba(255, 255, 255, 0.35); border-radius:3px; overflow:hidden; cursor:pointer; }
a.btn-follow1 span img,
a.btn-follow2 span img,
a.btn-follow3 span img,
a.btn-follow10 span img,
a.btn-follow20 span img,
a.btn-follow30 span img { padding-top:7px; }
a.btn-follow2,a.btn-follow20 { color:#999; border-color:#ccc; background:#f2f2f2; }
a.btn-follow2 span,a.btn-follow20 span { color:#999; border-color:#fcfcfc; background:#f2f2f2; }
a.btn-follow3,a.btn-follow30 { color: #EFF; border-color: #999; }
a.btn-follow3 span,a.btn-follow30 span { border-color: rgba(255, 255, 255, 0.5) }
/*button-follow - end*/
.interaction .btn-follow10,
.interaction .btn-follow20,
.interaction .btn-follow30 { inline-display:block; zoom:1;}
/* big red with OK - start */
a.btn-request { display: inline-block; zoom:1; height: 34px; line-height:34px; font-size:14px; text-align: center; color: #FFF; padding:0 12px 0 39px; border: 1px solid #2283a6; border-radius: 2px; box-shadow: 0 0 2px rgba(255,255,255,0.5) inset,0px 1px 2px rgba(64,64,64,0.2); background: #56c9db url(../images/ok.png) 14px center no-repeat; }
a.btn-request span { display:block; height:34px; white-space:nowrap; overflow:hidden; cursor:pointer; }
a.btn-request span img { padding-top:11px; }
a.btn-request:hover { text-decoration:none; background-color: #2dabd8; }
a.btn-request:active { background-color:#49aab9; }
/* big red with OK - end */

/* big sns - start */
a.sns-f,
a.sns-t { display: inline-block; zoom:1; height:45px; padding:0 20px 0 0; line-height:42px; color:#e6eaf2; text-shadow:#004973 0 1px 1px; text-decoration:none; white-space:nowrap; margin-bottom:27px; }
a.sns-f { background: url(../images/btn-f-login.png) right 0 no-repeat; }
a.sns-t { color:#3b8894; text-shadow:0 -1px 1px #C8F2FA; background: url(../images/btn-t-login.png) right 0 no-repeat; }
a.sns-f span,
a.sns-t span { display:block; height:45px; padding-left:50px; background:#e0dcd5 url(../images/btn-f-login.png) left 0 no-repeat; cursor:pointer; }
a.sns-t span { background:#e0dcd5 url(../images/btn-t-login.png) left 0 no-repeat; }
a.sns-f:hover,
a.sns-t:hover { background-position:right -50px; }
a.sns-f:hover span,
a.sns-t:hover span { background-position:left -50px; }
a.sns-f:active,
a.sns-t:active { background-position:right -100px; line-height:44px; }
a.sns-f:active span,
a.sns-t:active span { background-position:left -100px; }
/* big sns - end */
