.memeList {}
.memeList .memeContainer {width: 230px; height: 230px; margin-bottom: 9px; margin-right: 9px; background: #FFFFFF; float: left}
.memeList .meme {width: 100%; height: 100%; position: relative;}
.memeList .meme:nth-child(4n+4){margin-right: 0}
.memeList .meme .thumbnail {width: 100%; height: 100%}
.memeList .meme .name {top: 0; right: 0; left: 0; background: rgba(0,0,0,0.5); position: absolute;color: #EEE; font-weight: bold; text-align: center;line-height: 2}
.memeList .memeContainer .description {text-align: center;padding: 5px; position: absolute;bottom: 0; right: 0; left: 0; background: rgba(0,0,0,0.5); color: #EEE;opacity: 0; transition: opacity 0.25s ease;font-size: 8pt}
.memeList .meme:hover .description {opacity: 1}

.memeBuilderContainer {}
.memeBuilderContainer .info {text-align: center;}
.memeBuilderContainer .creator {margin-top: 10px}
.memeBuilderContainer #leftCol {width: 380px}
.memeBuilderContainer #rightCol{float: left; text-align: center; width: 565px}
.memeBuilderContainer #rightCol #meme-container{display: inline-block;font-family: 'Roboto Condensed', Arial, Tahoma, sans-serif;}
.memeBuilderContainer .inputForm label {display: block;font-weight: bold; margin: 10px 0;text-align: center;}
.memeBuilderContainer .inputForm p {margin-bottom: 10px}
.memeBuilderContainer .inputForm .button {margin: 0}
.memeBuilderContainer .inputForm textarea {width: 100%; border-radius: 3px; padding: 10px;text-align: center;box-sizing: border-box; -moz-box-sizing: border-box;border: 1px solid #ccc; }
.memeBuilderContainer .guide li {list-style-type: disc; margin-left: 20px}
.memeBuilderContainer #meme-preview {display: none}
.memeBuilderContainer #meme-preview .wrap{width: 640px; margin-left: auto; margin-right: auto;}
.memeBuilderContainer #meme-preview .text{float: left; padding: 8px; border-radius: 3px; border: 1px solid #ccc; width: 400px; margin-right: 20px }


.memename{
  font-family: 'Roboto Condensed', Arial, Tahoma, sans-serif !important;
}