@charset "utf-8";
/* CSS popup */

/*popup_width488 - start*/
.w488 { width:488px;/*width*/ }
.w488 .title .text { position:absolute; width: 468px; /*width*/ padding:0 0 0 20px;/*width*/ }
/*popup_width488 - end*/

/*popup_width658 - start*/
.w658 { width:658px;/*width*/ }
.w658 .title .text { position:absolute; width: 638px; /*width*/ padding:0 0 0 20px;/*width*/ }
/*popup_width658 - end*/

/*popup_share2 - start*/
.share2 {/*width*/ }
.share2 .title .text { width:222px; position:absolute; /*width*/ padding:0 0 0 20px;/*width*/ }
/*popup_share2 - end*/

/*popup - start*/
.greyLayerDefault { position:absolute; top:0; left:0; background-color: #000; display:none; opacity: filter:alpha(opacity=65); -moz-opacity:0.65; opacity:0.65; }
#greyLayer { position:absolute; top:0; left:0; background-color: #000; display:none; filter: alpha(opacity=25); -moz-opacity: 0.25; opacity: 0.25; }
.popup { display:none; position:absolute; z-index:1011; border-radius: 6px; box-shadow: 0px 3px 8px rgba(64,64,64,0.25); border: solid 5px rgba(0,0,0,0.4);}
.popup .title .clt,
.popup .title .crt,
.popup .bottom .clb,
.popup .bottom .crb { display: none; }
.popup .title .clt { }
.popup .title .crt { position: absolute; display: block; right: 0; top: 0; width: 30px; height: 30px; }
.popup .bottom .clb { }
.popup .bottom .crb { }
.popup .title { position:relative; height: 41px;}
.popup .bottom { display: none; }
.popup .title .crt a { position:absolute; width:21px; height:21px; left:0; bottom:0; display:block; text-indent:-5000px; background: url(../images/icn-cancle.gif) 7px 7px no-repeat; }
.popup .title .text { position:absolute; height: 34px; padding-top: 6px; line-height: 34px; text-align:left; font-size:16px; color: #777; border-bottom: solid 1px #ccc; background:#e0dcd5; font-weight: bold; border-radius: 3px 3px 0 0;}
.st2 .title .text { background-color:#FFF;}
.st2 div.main { padding-top:0; }
.st2 div.main .notice { padding-top:0; }
.st2 .select-share-button { padding-bottom:30px;}
.popup .main { padding: 0 0 0; text-align:left; border-radius: 0 0 3px 3px; background: #fff; overflow:hidden; }
.popup .main .alert { width:430px; padding:12px 20px 16px 20px; margin:-20px auto 0 auto; line-height:16px; text-align:center; border-right:solid 1px #cfb59f; border-bottom:solid 1px #cfb59f; border-left:solid 1px #cfb59f; border-radius:0 0 6px 6px; color:#666; background-color:#fff7cc; box-shadow:0px 1px 5px rgba(64,64,64,0.2); z-index:5000; }
.popup .main .alert a { padding:0 5px; color:#775550; text-decoration:none; }
.popup .main .notice { padding: 10px 0 20px 0; text-align:center; }
.popup .main .notice strong { display:inline-block; zoom:1; padding-bottom:6px; line-height:32px; font-size:18px; font-weight:bold; color:#333; }
.popup .main .notice p { line-height:22px; font-size:14px; color:#666; }
.popup .main .notice p a { text-decoration:underline; color:#333; }
.popup .main .pop-title { color:#666; }
/*popup - end*/

/*popup - Add a pin - start*/
.popup .main .add-buttons li { height:99px; border-bottom:solid 1px #b2b2b2; }
.popup .main .add-buttons li a { height:67px; padding:20px 10px 0 180px; font-size:24px; font-weight:bold; text-decoration:none; color:#333; display:block; background:url(../images/icn-add.png) 90px -199px no-repeat; overflow:hidden; }
.popup .main .add-buttons li a:active { height:98px; padding-top:21px; }
.popup .main .add-buttons li:hover { background: url(../images/btn-silver.png) 0 70px repeat-x; }
.popup .main .add-buttons li:active { background-position:0 -170px; }
.popup .main .add-buttons li.add1 a { background-position:90px 0px; }
.popup .main .add-buttons li.add1 a:active { background-position:90px 1px; }
.popup .main .add-buttons li.add2 a { background-position:90px -99px; }
.popup .main .add-buttons li.add2 a:active { background-position:90px -98px; }
.popup .main .add-buttons li.add3 a:active { background-position:90px -198px; }
.popup .main .add-buttons li a span { display:block; font-size:12px; line-height:14px; color:#ccc; }
.popup .main .add-buttons li a:hover span { color:#999; }
/*popup - Add a pin - end*/

/*popup - Add a pin - step2 - start*/
.popup .main .url { width:568px; height:40px; padding:1px 1px 1px 10px; margin:0 auto 20px auto; background: url(../images/bg-add-a-pin.png) 0 0 no-repeat; overflow:hidden; }
.popup .main .url .url-input { width:419px; height:40px; line-height:40px; font-size:16px; border:solid 1px transparent; background:url(../images/bg-add-a-pin.png) -10px -2px no-repeat; float:left; }
.popup .main .url .url-btn { width:138px; height:40px; border:solid 1px transparent; background:url(../images/bg-add-a-pin.png) -432px -2px no-repeat; float:left; }
.popup .main .url .url-btn:hover { background-position:-432px -44px; }
.popup .main .url .url-btn:active { background-position:-432px -86px; }
.popup .main .add-select { width:614px; height:103px; padding:20px 0 0 36px; border-top:solid 1px #292929; overflow:hidden; }
.popup .main .add-select .arrow-l { width:11px; height:176px; padding:27px 3px 0 0; float:left; }
.popup .main .add-select .arrow-l a { display:block; width:11px; height:44px; text-indent:-5000px; background: url(../images/arrow-mid.png) 0 0 no-repeat; }
.popup .main .add-select .arrow-l a:hover { background-position:0 -100px; }
.popup .main .add-select .arrow-l a:active { background-position:0 -200px; }
.popup .main .add-select .arrow-r { width:11px; height:176px; padding:27px 0 0 3px; float:left; }
.popup .main .add-select .arrow-r a { display:block; width:11px; height:44px; text-indent:-5000px; background: url(../images/arrow-mid.png) right 0 no-repeat; }
.popup .main .add-select .arrow-r a:hover { background-position:right -100px; }
.popup .main .add-select .arrow-r a:active { background-position:right -200px; }
.popup .main .add-select .add-content { position:relative; width:550px; height:99px; float:left; overflow:hidden; }
.popup .main .add-select .add-content ul { position: absolute; width:1000px;/* width=li*quantity */ left:0; top:0; }
.popup .main .add-select .add-content li { width:92px; height:99px; float:left; }
.popup .main .add-select .add-content li a { display:block; width:90px; height:97px; padding:2px 0 0 0; text-align:center; background: url(../images/bg-img-add-n.png) 1px 1px no-repeat; }
.popup .main .add-select .add-content li a.activation { background: url(../images/bg-img-add.png) 0 0 no-repeat; }
.popup .main .write { width: 350px; padding: 20px 0 20px 31px; float:left; }
.popup.editpin .main .write { padding-left:139px; }
.popup.editpin .main .share2f { display:none; }
.popup .main .write .select { height:28px; margin:0; width: 379px; }
.popup .main .write .select select { width:350px; padding:10px; margin:0; background:#fff; font-size:14px; border:solid 1px #d2cec8; border-radius: 3px; }
.popup .main .write .show-creat { position:relative; width:348px; padding:6px 0 10px 0; line-height:16px; font-weight:bold; text-align:right; }
.popup .main .write div.show-creat>a:first-child { display:inline-block; zoom:1; *display:inline;
height:20px; padding-left:15px; line-height:20px; color:#666; background: url(../images/arrow-link.gif) 0 7px no-repeat; }
.popup .main .write .select .creat { display:none; width: 19px; padding: 4px 0 0 4px; vertical-align:top; float:left; }
.popup .main .write .select .creat a.blue { display:block; width:13px; height:13px; text-indent:-20000px; border:solid 3px #bbb; border-radius:4px; vertical-align:top; background:#bbb url(../images/add.gif) -3px -3px no-repeat; box-shadow: 1px 1px 1px #eee; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; }
.popup .main .write .select .creat a.blue:hover { border-color:#aaa; background-color:#aaa; }
.popup .main .write .select .creat a.blue:active { border-color:#666; background-color:#666; }
.popup .main .write .hd { position:absolute; display: none; width: 244px; padding: 10px 20px; right:0; top:26px; border: solid 1px #ccc; background: #fcfcfc; box-shadow: 1px 2px 5px rgba(64,64,64,0.2); z-index:9999; }
.popup .main .write .hd .boardname,.popup .main .write textarea { width:235px; height:22px; padding:2px 4px; margin-bottom:4px; line-height:20px; border:solid 1px #d2cec8; border-radius: 3px; font-size:12px; }
.popup .main .write textarea { height:40px;}
.popup .main .write .hd select.boardname { width: 245px; height: 28px; }
.popup .main .write .hd .btn-create { display: block; text-align: right; ; }
.popup .main .write .dc { padding: 0 0 10px 0; }
.popup .main .write .dc p { padding-top:20px; text-align:center; }
.popup .main .write .dc textarea { width:336px; height:75px; padding:5px; border:solid 1px #d2cec8; font-size:14px; border-radius: 3px; }
.popup .main .write .dc p.price-preview { display:none; padding-top:8px; text-align:right; color:#333; }
.popup .main .write .dc p.price-preview span { display:inline-block; zoom:1; *display:inline; padding: 0 6px 0 20px; line-height:16px; background: url(../images/icn-gift.png) 0 center no-repeat; }
.popup .main .write .dc p.price-preview strong { line-height:16px; font-weight:bold; letter-spacing:1px; color:#c00; }
.popup .main .write .dc .submit { position:relative; }
.popup .main .write .dc .submit p { display:inline-block; width:336px; padding-top:20px; text-align:center; }
.popup .main .write .dc .submit .shareto { position:absolute; display:none; width:200px; padding-top:20px; right:0; top:0; }
.popup .main .write .dc .submit .shareto .sharebutton { display:inline-block; height:32px; padding:0 3px 0 10px; line-height:32px; float:right; }
.popup .main .write .dc .submit .shareto .sharebutton span { display:inline-block; padding:0 8px 0 0; font-size:12px; color:#666; }
/*popup - Add a pin - step2 - end*/

/* Share2facebook - start */
.share2f { width:215px; height:390px; padding:20px 13px 0 15px; margin-top:-20px; border-left: solid 1px #a3b0cc; background:#f7f8fd; box-shadow: 2px 0 6px rgba(64,64,64,0.2) inset; float:right; border-radius: 0 0 3px 0;}
#aboveuploadpinLayer .share2f,
#createpinLayer .share2f { margin-top:-1px; border-top: solid 1px #a3b0cc; }
.share2 .share2f { height:420px; }
.share2f h3 { padding:0 0 12px 24px; line-height:22px; font-size:16px; color:#3b5998; background: url(../images/icn-f.png) 0 3px no-repeat; }
.share2f .add2album { height:20px; padding:6px 6px 2px 11px; margin-top:9px; line-height:14px; font-weight:bold; border:solid 1px #a3b0cc; border-radius:2px; color:#fff; background:#a3b0cc; overflow:hidden; }
.share2f .add2album input { margin-right:6px; vertical-align:bottom; }
.share2f .list-f { width:213px; height:250px; padding:5px 0; margin-top:5px; border:solid 1px #a3b0cc; border-radius: 2px; background:#fff; overflow-x:hidden; overflow-y:auto; }
.share2f .list-f li { height:30px; padding:3px 0 2px 11px; border-bottom:dashed 1px #e5e5e5; }
.share2f .list-f li:hover { background:#f7f8fd; }
.share2f .list-f li input { margin-top:10px; vertical-align:top; }
.share2f .list-f li img { padding:0 5px; width:30px; height:30px; }
.share2f .list-f li span { display:inline-block; zoom:1; height:30px; line-height:30px; vertical-align:top; font-size:14px; color:#666; }
.share2f .f2 { padding:10px 0; color:#666; }
.share2f .f2 p { display:block; width:192px; padding: 20px 10px; border:dashed 1px #ccc; }
.share2f .f2 .link-f { display:inline-block; zoom:1; *display:inline;
padding:10px 0 10px 16px; font-weight:bold; color:#3b5998; background: url(../images/cross.png) 0 15px no-repeat; }
.share2f .submit { padding:10px 0 0 0; text-align:center; }
.share2f .submit a.btn-blue span { padding:0 30px; text-align:center; font-weight:bold; }
/* Share2facebook - end */

/*popup - upload - start*/
.popup .main .file { padding:15px 0 34px 0; }
.popup .main .file .input-file { position:relative; width:532px; height:34px; margin:0 auto; background: url(../images/bg-input1.png) right -50px no-repeat; overflow:hidden; }
.popup .main .file .input-file .wrap { width:407px; height:32px; padding:2px 0 0 5px; background: url(../images/bg-input1.png) 0 0 no-repeat; float:left; overflow:hidden; }
.popup .main .file .input-file .wrap input { width:400px; height:26px; background-color:#f9f9f9; border:solid #f9f9f9 1px; line-height:28px; font-size:16px; }
.popup .main .add .input-file .wrap { width:375px; }
.popup .main .add .input-file .wrap input { width:370px; }
.popup .main .file .input-file .btn-s3 { position:absolute; display:inline-block; right:0; top:0; }
.popup .main .pic-upload { width:650px; padding:20px 0; text-align:center; border-top:solid 1px #eee; border-bottom:solid 1px #eee; overflow:hidden; }
.popup .main .add-style { padding-bottom:40px; }
.popup .main .pic-upload span.image-block { position: relative; display:inline-block; width:120px; height:120px; }
.popup .main .pic-upload .uploadimage { padding:3px; border:solid 1px #ccc; background:#fff; max-width:100%; max-height:100%; _width:expression((document.documentElement.clientWidth||document.body.clientWidth)<100%?"100%":"");
 _height:expression((document.documentElement.clientHeight||document.body.clientHeight)<100%?"100%":"");
}
.popup .main .pic-upload span .arrow-l,
.popup .main .pic-upload span .arrow-r { position:absolute; display:inline-block; height:19px; line-height:19px; bottom:-32px; overflow:hidden; }
.popup .main .pic-upload span .arrow-l { left:-36px; text-align:left; }
.popup .main .pic-upload span .arrow-r { right:-36px; text-align:right; }
.popup .main .pic-upload span .arrow-l a,
.popup .main .pic-upload span .arrow-r a { display:inline-block; height:24px; padding:0 0 0 25px; background: url(../images/next-pre.png) 0 0 no-repeat; text-decoration:none; }
.popup .main .pic-upload span .arrow-l a span,
.popup .main .pic-upload span .arrow-r a span { display:inline-block; height:24px; background: url(../images/next-pre.png) right 0 no-repeat; text-decoration:none; overflow:hidden; }
.popup .main .pic-upload span .arrow-l a span img,
.popup .main .pic-upload span .arrow-r a span img { padding-top:4px; }
.popup .main .pic-upload span .arrow-l a span { padding:0 10px 0 0; }
.popup .main .pic-upload span .arrow-l a:hover { background-position:0 -50px; }
.popup .main .pic-upload span .arrow-l a:hover span { background-position:right -50px; }
.popup .main .pic-upload span .arrow-l a:active { background-position:0 -100px; line-height:21px; }
.popup .main .pic-upload span .arrow-l a:active span { background-position:right -100px; }
.popup .main .pic-upload span .arrow-r a { padding: 0 25px 0 0; background-position: right -150px; }
.popup .main .pic-upload span .arrow-r a span { padding:0 0 0 10px; background-position:0 -150px; }
.popup .main .pic-upload span .arrow-r a:hover { background-position:right -200px; }
.popup .main .pic-upload span .arrow-r a:hover span { background-position:0 -200px; }
.popup .main .pic-upload span .arrow-r a:active { background-position:right -250px; line-height:21px; }
.popup .main .pic-upload span .arrow-r a:active span { background-position:0 -250px; }
/*popup - upload - end*/

/*popup - create - start*/
.popup .main .createboard { width:510px; padding:10px 0; margin:0 auto; }
.popup .main .createboard .c-boardname input { width:276px; }
.popup .main .createboard .c-who .rd { width:20px; border:0 none; float:none; }
.popup .main .createboard .c-who .right { line-height:32px; font-size:16px; white-space:nowrap; }
.popup .main .createboard .c-who .right em { padding-right:20px; }
.popup .main .createboard .c-who .right .add-who { padding-left:210px; }
.popup .main .createboard .c-who .right .add-who .who-wrap input { width:276px; }
.popup .main .createboard .c-who .right .who-list { width:288px; max-height: 204px; _height:expression(this.scrollHeight > 204 ? "204px" : "auto");
overflow-y: auto; overflow-x: hidden; clear:both; }
.popup .main .createboard .c-who .right .who-list li { position:relative; padding:10px 0 10px 35px; line-height:30px; border-bottom:solid 1px #eee; }
.popup .main .createboard .c-who .right .who-list li img { position:absolute; margin-left:-35px; top:10px; }
.popup .main .createboard .c-who .right .who-list li .remove { position:absolute; display:block; width:80px; right:0; top:10px; text-align:center; }
.popup .main .createboard .c-category .right select { width:288px; }
.popup .main .createboard .c-summary .right textarea { width: 276px;}
.popup .main .c-sub p { display:block; padding:0 10px 10px 0; text-align:center; overflow:hidden; }
.popup .main .c-sub p input { padding:4px 10px; font-size:11px; float:right; }
/*popup - create - end*/

/*alert - start*/
.popup .main .succeed,
.popup .main .error { padding:0 30px 20px 30px; text-align:center; color:#807959; }
.popup .main .succeed p,
.popup .main .error p { padding:20px 0 0 0; }
.popup .main .succeed p a,
.popup .main .error p a { vertical-align:top;}
.popup .main .error { color:#56C9DB; }
.popup .main .error em a { color:#569ddb; text-decoration:underline; }
/*alert - end*/
.mission-pop { position:absolute; width:300px; left:-100px; top:35px; }
.mission-pop .arrow-pop { position:absolute; width:12px; height:12px; left:112px; top:-12px; background: url(../images/arrow-pop.gif) 0 0 no-repeat; }
.mission-pop .mission-wrap { padding:10px; border:solid 1px #fff; border-radius:4px; background:#fff; background:#fff; }
.mission-pop .mission-wrap p { display:block; line-height:20px; color:#666; }
.mission-pop .mission-wrap p .icn-add { display:inline-block; padding:0 6px; margin:0 6px; line-height:18px; font-weight:bold; border:solid 1px #2283a6; border-radius:3px; background:#000; vertical-align:middle; overflow:hidden; color:#fff; background:#56c9db url(../images/bg-head.gif) 0 0 repeat-x; }
.mission-pop .mission-wrap p a,
.mission-pop .mission-wrap em a { color:#333; text-decoration:underline; }
.mission-pop.member-pop { left: -110px; }
/*select-share - start*/
.select-share { padding:0 20px; }
.select-share .fl-l { width:284px; padding:0 10px; }
.select-share .ln-l { border-left:dashed 1px #ccc; }
.select-share label { display:block; padding:10px; font-size:14px; border-bottom:dashed 1px #eee; }
.select-share label:hover { background-color:#F5F5F5; }
.select-share label input { margin-right:6px; }
.select-share-button { padding:20px 0 10px 0; text-align:center; clear:both; overflow:hidden; }
/*select-share - end*/

/* btn-blue - start */
a.btn-blue { display:inline-block; height:24px; padding:0; text-decoration:none; color:#fff; border:solid 1px #395e8a; border-radius:2px; }
a.btn-blue span { display:block; height:22px; padding:0 10px; line-height:22px; border:solid 1px #7099c9; border-radius:1px; background:#4f81bd; text-shadow:1px 0 0 #395e8a; }
a.btn-blue:hover span { background:#4785d1; }
a.btn-blue:active span { background:#487ab8; }
/* btn-blue - end */
.popup.pinitpage { position: static; display:block; width: 780px; height:465px; padding: 0; margin: 10px auto 10px auto; background: white; border: solid 1px #ccc; border-radius:0; box-shadow: 1px 1px 8px #d6cfcc; }
.popup.pinitpage .logo-pinit { position:relative; width:530px; height:60px; }
.popup.pinitpage .logo-pinit h1 { position:absolute; width:123px; height:66px; top:-26px; left:14px; text-indent:-20000px; background: url(../images/logo-pinit.png) 0 0 no-repeat; }
.popup.pinitpage .logo-pinit h2 { padding: 17px 0 0 148px; font-size: 18px; font-weight: bold; color: #2dabd8; }
.popup.pinitpage .title { display:none; }
.popup.pinitpage .main .file { display:none; }
.popup.pinitpage .main .pic-upload { width: 150px; border-top:0 none; border-bottom:0 none; float:left; }
.popup.pinitpage .main .write { width: 350px; padding: 3px 0 0 15px; float:left; }
.popup.pinitpage .main .right { display:none; width: 340px; padding: 50px 0 0 20px; color:#666; float:left; }
.popup.pinitpage .main .right .words { padding-bottom:40px; line-height:28px; font-size:24px; font-weight:bold; color:#999; }
.popup.pinitpage .main .right .links a { display:inline-block; zoom:1; *display:inline;
line-height:22px; font-size:14px; font-weight:bold; color:#999; text-decoration:underline; }
.popup.pinitpage .main .right .links a.doit { margin-right:30px; color:#2dabd8; }
.popup.pinitpage .main .right .links a.doit img { padding:2px 7px 0 7px; vertical-align:middle; border:solid 1px #666; border-radius:20px; background:#666; box-shadow:1px 1px 3px #ccc; }
.popup.pinitpage .main .right .links a.doit span { padding-left:6px; }
.popup.pinitpage .main .share2f { margin: -80px 0 0 0; height: 445px; }

/* add pop menu - start */
.a-1 .popup { display:none; width: 360px; right: 0; top: 31px; box-shadow: 0 2px 4px rgba(64, 64, 64,0.2); }
.a-1 .popup .title,
.a-1 .popup .bottom { display:none;}
.a-1 .popup .main { border-radius: 3px; }
.a-1 .popup .main .alert { width: 320px; padding: 8px 20px 8px 20px; border-radius:0; }
.a-1 .popup .main .add-buttons { overflow:hidden;}
.a-1 .popup .main .add-buttons li { height: 78px; margin-bottom: -1px;}
.a-1 .popup .main .alert { width: 320px; padding: 8px 20px 8px 20px; border-left: 0 none; border-right: 0 none; border-radius: 3px 3px 0 0;}
.a-1 .popup .main .add-buttons li { height: 78px; }
.a-1 .popup .main .add-buttons li a { padding: 11px 10px 0 90px; background: url(../images/icn-add.png) 25px -521px no-repeat; }
.a-1 .popup .main .add-buttons li a:active { padding-top:12px; }
.a-1 .popup .main .add-buttons li.add1 a { background-position: 25px -312px; }
.a-1 .popup .main .add-buttons li.add1 a:active { background-position: 25px -311px; }
.a-1 .popup .main .add-buttons li.add2 a { background-position: 25px -424px; }
.a-1 .popup .main .add-buttons li.add2 a:active { background-position: 25px -423px; }
.a-1 .popup .main .add-buttons li.add3 a:active { background-position: 25px -520px; }
/* add pop menu - end */
