@charset "utf-8";
/* CSS Document */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td { margin: 0; padding: 0; }
fieldset,
img { border: 0; }
/* remember to define focus styles! */
:focus { outline: 0; }
address,
caption,
cite,
code,
dfn,
th,
var,
optgroup { font-style: normal; font-weight: normal; }
h1,
h2,
h3,
h4,
h5,
h6 { font-size: 100%; font-weight: normal; }
acronym { border: 0; font-variant: normal; }
input,
button,
textarea,
select,
optgroup,
option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input,
button,
textarea,
select { *font-size: 100%;
}
textarea { resize:none; }
body { line-height: 1.5; }
a { text-decoration: none; color:#333; }
a:hover { text-decoration: none; }
ol,
ul,
li { list-style: none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
caption,
th { text-align: left; }
body { background-color: #FFF; padding: 0; margin: 0; font-size: 12px; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html>body .clearfix { display: inline-block; width: 100%; }
* html .clearfix { height: 1%; /* End hide from IE-mac */ }
/* ie7 hack*/
*+html .clearfix { min-height: 1%; }