body { font-family: arial, 'helvetica neue', sans-serif; font-size: 13px; color: #333333;}
strong {font-weight: bold}
.head .search input { font-size:12px; }
.head .rt .btn .wrap a { font-size:14px; }
.nav ul.nav_main li { font-size:14px; }
ul.drop-down { font-size:14px; }
.warn .wrap .main p { font-family:helvetica; font-size:14px; }
.warn .welcome .p-1 { line-height:22px; font-size:16px; font-weight:bold; }
.warn .welcome .p-2 { line-height:22px; font-size:12px; font-weight:bold; }
.warn .btn a { font-size: 14px; }
.warn .wrap-1 .addcategory { font-size:17px; }
.login-block .success,
.login-block .fail { font-size:18px; font-weight:bold; }
.login-block .form .form-wrap p span input,
.login-block .form .form-wrap p span select,
.login-block .form .form-wrap p label { font-size:18px; font-weight:bold; }
.login-block .form .invite span { font-size:14px; }
.pin { font-size:11px; }
.pin .activity .users { font-size:11px; }
.pin .activity .actions { font-size:11px; }
.mini-pinboard .title { font-size:14px; }
.side-board .mini-pinboard .position .number { font-size:12px; }

.comments .area .user { font-size:11px; }
.comments .area .text { font-size:11px; }
.profile .nickname { font-size:16px; }
.content .subnav ul li a { font-size:14px; }
.content .subnav ul li.words { font-size:16px; }
.board-title .wrap .pinner .pinner-name { font-size:12px; }
.board-title .wrap h1 { font-size:42px;}
.detail-main .detail-pinner .p1 a { font-size:24px; font-weight:700; }
.detail-main .detail-pinner .p1 span { font-size:23px; font-weight:300; }
.detail-main .detail-pinner .p2 { font-size:13px; font-weight:400; }
.detail-main .d-top .source { font-weight:bold; font-size:12px; }
.detail-main .d-top .share span { font-weight:bold; font-size:12px; }
.detail-main .description { font-size:14px; }
.detail-main .description em { font-size:11px; font-weight:300; }
.detail-main .comment-d .c-add textarea { font-size:12px; }
.detail-main .comment-d ul li { font-size:12px; }
.d-likes .title,
.d-repins .title { font-size:14px; font-weight:bold; }
.xxx p span input { font-size:14px; }
.row-f .c-title { font-size:18px; }
.pf-edit .main .row-f .c-title { font-size:14px; font-weight:bold;}
.row-f .right input,
.row-f .right select,
.row-f .right textarea { font-size:14px; }
.pf-edit .main .b-title { font-size:24px; }
.pf-edit .main .save input { font-size:14px; }
.pf-edit .main .row-f.checkbox .right,.pf-edit .main .row-f.radio .right { font-size:14px; }
.list-follower .main .b-title { font-size:24px; }
.list-follower .main ul li .pinner .name { font-size:18px; }
.list-follower .main ul li .pinner .location { font-size:11px; }
.invite-main .main .b-title { font-size:24px; }
.invite-main .main .wrap textarea { font-size:14px }
.invite-main .main .wrap .i-title { font-size:18px; }
.findefriend .main p { font-size:18px; }
.Button.Indicator { font-size: 15px; }
.invitepage .title h1 { font-size:24px; }
.invitepage .request #input-invite { font-size:24px; }
.invitepage .title h1 { font-size:24px; }
.invitepage .scrollimg .imgnote { font-size:14px; }
.invitepage .finvite { font-size:24px; }
.invitepage .request .btn_requestinvitation { font-size:20px; }
.about-page .side-nav li { font-size:20px; }
.about-page .side-nav li.menu-hover { font-size:24px; }
.about-page .side-nav li.menu-hover a { font-size:24px; }
.about-page .about-main { font-size:16px; }
.about-page .about-main h2 { padding:0 0 20px 0; text-align:left; font-size:50px; }
.about-page .about-main h3 { font-size:20px; }
.popup .main .succeed { font-size:24px; }
.popup .main .error { font-size:24px; }
.popup .main .alert { font-size:12px; font-weight:bold; }
.popup .main .alert a { font-size:14px; }
.nothing { font-size:14px; }
.regist .form .title { font-size:30px; }
.register .title { font-size:30px; }
.register .wrap .btn em .signup { font-size:20px; }
.register .viaemail { font-size:16px; }
.alert-message { font-size:16px; }
.waiting .text { font-size:25px; }
a.sns-f,a.sns-t { font-size:14px; font-weight:bold;}
a.sns-f span,a.sns-t span { width:140px;}