body { background: #EEF3EF; color: #333333 }
* {outline: none}
a{transition: color 0.2s linear;}
#container {max-width: 960px; margin-left: auto; margin-right: auto;}
#post-container {}
.clear {clear: both}
.row { margin: 0 auto; }
.row_head { position: relative; width:980px; margin: 0 auto; }
.fl-l { float: left; }
.fl-r { float: right; }
.mg-t { margin-top: 10px; }
.mg-r { margin-right: 10px; }
.mg-l { margin-left: 10px; }
.mg-b { margin-bottom: 10px; }
.pd-b { padding-bottom: 10px; }
.pd-r { padding-right: 10px; }
.pos-r { position: relative; }
.pos-a { position: absolute; }
.bd-t-d { border-top: dashed 1px #ccc; }
.w950 { width: 950px; }
.shadow { box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15) }/* head - star */
.emoticon {vertical-align: middle;}
.head { width: 100%; height: 45px; background:#53A8C1; z-index: 830; box-shadow: 0 -1px 0 rgba(30, 133, 163, 0.8) inset, 0 1px 3px rgba(0, 86, 132, 0.4)}
.head .logo { float: left; width: 100px; height: 40px; padding: 5px; overflow: hidden;}
.head .logo img { padding-top: 0px; }
.head .feed { position: absolute; width: 22px; padding: 0; height: 22px; left: 0; top: 9px; text-align: left; }
.head .feed .btn-feed { width: 22px; height: 22px; text-indent: -20000px; background: #fff url(../images/pin-amount.png) center -96px no-repeat; cursor: pointer; box-shadow: 1px 1px 3px #2283a6; }
.head .feed .number { display: block; height: 14px; line-height: 14px; position: absolute; right: -3px; top: -3px; font-size: 10px; font-weight: bold; color: #2DABD8; min-width: 11px; text-align: center; background: rgba(255,255,255,0.5); border-radius: 8px; padding: 0 2px; border: solid 1px rgba(45, 171, 216, 0.75); box-shadow: 0 1px 1px rgba(64,64,64,0.25); text-shadow: 0 0 4px #fff; }
.head .feed .comments { position: absolute; display: none; left: 0px; top: 22px; z-index: 1100; }
.head .search { position: absolute; width: 200px; padding: 8px 0 0 0; height: 24px; left: 30px; top: 0; text-align: left; overflow: hidden; }
.head .search input { width: 198px; height: 22px; padding-left: 7px; border-top: solid 1px #56c9db; border-right: solid 1px #56c9db; border-bottom: solid 1px #56c9db; border-left: solid 1px #56c9db; line-height: 22px; background: #fff url(../images/shadow-t-2px.gif) 0 0 repeat-x; }
.head .search #btn-search { position: absolute; display: block; width: 28px; height: 22px; right: 0; bottom: 1px; text-indent: -5000px; background: url(../images/btn-search.png) 7px 3px no-repeat; }
.head .search .loading-search { display: none; position: absolute; right: 4px; top: 11px; }
.head .app-icon { position: absolute; width: 40px; padding: 8px 0 0 0; height: 24px; left: 229px; top: 0; text-align: left; }
.head .app-icon a.app-iphone { display: block; width: 40px; height: 30px; text-indent: -20000px; background: url(../images/app-link.png) 0 0 no-repeat; }
.head .app-icon .pop { position: absolute; display: none; width: 170px; padding: 8px 4px 8px 12px; left: -20px; top: 34px; line-height: 18px; text-align: left; font-size: 12px; border: solid 1px #2dabd8; border-radius: 3px; color: #666; background: #fffde5; box-shadow: 2px 2px 5px rgba(64,64,64,0.2); z-index: 900; }
.head .app-icon .pop a { text-decoration: underline; }
.head div.app-icon:hover .pop { display: block; }
.head .app-icon .pop p { padding-bottom: 6px; }
.head .app-icon .pop .arrow-pop { position: absolute; display: block; width: 9px; height: 5px; left: 34px; top: -5px; background: url(../images/arrow-pop.png) 0 0 no-repeat; }
.head .rt { float: left; width: 100%; }
.head .rt .btn { position: relative; height: 35px; line-height: 35px; float: right; }
.head .rt .btn .arrow span { display: inline-block; zoom: 1; padding-right: 11px; background: url(../images/arrow-wt-d.gif) right center no-repeat; }
.a-1-0,
.a-2-0,
.a-3-0,
.a-4-0 { position: relative; display: inline-block; zoom: 1; height: 32px; padding: 0 9px; text-decoration: none; color: #fff; font-weight: bold; text-shadow: #2283A6 0px 1px 1px; }
a.a-1-0:hover,
a.a-2-0:hover,
a.a-3-0:hover,
a.a-4-0:hover { text-decoration: none; }
.a-2 .drop-down,
.a-3 .drop-down { right: 0; top: 31px; }
.a-3-0 { position: relative; padding-left: 40px; }
.a-3-0 img { position: absolute; top: 1px; left: 5px; }
.a-4 { margin-right: 10px; }
.a-4 a.btn-pinit { display: inline-block; zoom: 1; width: 30px; line-height: 30px; text-indent: -20000px; background: rgba(255,255,255,0.1)url(../images/bg-btns.png) 8px 0px no-repeat; cursor: move; border-radius: 12px; border-left: solid 2px rgba(255, 255, 255, 0.25); border-right: solid 2px rgba(255, 255, 255, 0.25); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
.a-4 .pop { position: absolute; display: none; width: 170px; padding: 8px 4px 8px 12px; right: -58px; top: 34px; line-height: 18px; text-align: left; text-decoration: underline; font-size: 12px; border: solid 1px #2dabd8; border-radius: 3px; color: #666; background: #fffde5; box-shadow: 2px 2px 5px rgba(64, 64, 64, 0.2); z-index: 900; }
li.a-4:hover .pop { display: block; }
.a-4 .pop p { padding-bottom: 6px; }
.a-4 .pop .arrow-pop { position: absolute; display: block; width: 9px; height: 5px; left: 103px; top: -5px; background: url(../images/arrow-pop.png) 0 0 no-repeat; }
.l-1 { padding-left: 5px; }
.a-4 .pop .close { position: absolute; top: 7px; right: 2px; width: 13px; height: 13px; }
.a-4 .pop .close a { display: block; width: 12px; height: 12px; line-height: 9px; text-align: left; color: #666; background: url(../images/icn-cancle.gif) 0 0 no-repeat; text-indent: -20000px; opacity: 0.25; }
.a-4 .pop .close a:hover { opacity: 0.6; }
.a-4 .pop .close a:active { opacity: 1; }
.l-1 .drop-down { right: 0; top: 31px; filter: alpha(opacity=98); -moz-opacity: 0.98; opacity: 0.98; }
.l-1-0 { display: block; width: 16px; height: 11px; line-height: 11px; padding: 10px 3px 11px 3px; color: #fff; }
.l-1-0 em { display: block; width: 16px; height: 11px; text-indent: -5000px; background-image: url(../images/flags.png); overflow: hidden; }
a.l-1-0:hover,
.l-hover { text-decoration: none; background-position: 0 -45px; }
li.a-1:hover .popup { display: block; }/*--------------------------------------------------*/
.nav { width: 100%; height: 31px; border-top: solid 1px #F1F7F8; border-bottom: solid 1px #F1F7F8; text-align: center; background: #F1F7F8; z-index: 810; filter: alpha(opacity=80); -moz-opacity: 0.8; opacity: 1; }
.nav .nav_main { display: inline-block; zoom: 1; height: 31px; margin: 0 auto; }
.nav .nav_main .btn { position: relative; height: 31px; padding: 0 16px; line-height: 31px; white-space: nowrap; float: left; }
.nav .nav_main .btn .n-1 { display: block; height: 31px; color: #333; float: left; }
.nav .nav_main .btn a.arrow { padding-right: 10px; background: url(../images/arrow-bk-d.gif) right center no-repeat; color: #333; }
.nav .nav_main .btn a:hover { text-decoration: none; color: #000; }
.nav .nav_main .n-invite a { height: 20px; line-height: 20px; font-weight: bold; font-size: 13px; border-radius: 2px; }
.nav .nav_main .n-invite a:hover { color: #fff; background-color: #2dabd8; }
.nav .nav_main .n-invite a:active { background-color: #49aab9; }
.nav .nav_main .d-1 ul.drop-down { left: 0; top: 31px; }
.nav_close_btn { width: 25px; height: 25px; position: absolute; right: 33px; top: 4px; }
.nav_close_btn a { background: none; }
.nav_close_btn_a { width: 25px; height: 25px; position: absolute; right: 33px; top: 1px; }
.fixed .head { position: fixed; top: 0; left: 0; }
.fixed .nav { position: fixed; left: 0; top: 40px; }
.fixed .warn { position: fixed; margin: 0 auto; top: 73px; }
.fixed .warn.connet2f-position { top: 32px; }
.fixed .mission { position: fixed; left: 0; top: 32px; }
.index.mission { top: 65px; }
#nacmain { width: 100%; }
#holdposition1 { height: 40px; }
#holdposition2 { height: 33px; }
#holdposition3 { height: 80px; }
#holdposition4 { height: 30px; }/* head - end *//* Drop result - start */
.mainbody { padding: 20px; }
.d-main { width: 950px; margin: 0 auto; }/*pin - start*/

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}


.pin { background-color: #FFF;  border-radius: 3px; border: 1px solid #D8D8D8}
.pin-container { width: 460px; margin: 10px; float: left; overflow: hidden}

.pin-container .userinfo { border-radius: 0 0 3px 3px; margin: 1px auto; padding: 8px; position: relative; text-align: left;}
.pin-container .border { border-top: 1px solid #D2D2D2; height: 15px; margin: 5px 30px 0; }
.pin-container .userinfo .avatar {
  float: left;
  margin: 0 5px;
}
.pin-container .userinfo .right-info {
  float: left; 
	line-height: 1.6;
}

.pin-container .userinfo .time {
  color: #999999;
  /*position: absolute;
  right: 10px;
    top: 10px;*/
  text-shadow: 1px 1px 0 #FFFFFF;
  padding-left: 10px;

}

.pin-container .userinfo .name {
    padding-bottom: 4px;
}

.pin-container .userinfo .bottomInfo .stats {
  font-size: 8pt; 
  color: #717272; 
}


.pin-container .userinfo .bottomInfo .stats table {
	float: left;
}	

.pin-container .title {
  /*background: none repeat scroll 0 0 #F5F5F5;*/
  border-radius: 3px 3px 0 0;
  font-family: 'Roboto Condensed', Arial;
  font-size: 16pt;
  font-weight: 700;
  line-height: 1.3;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.expandable .pic
{
  /*max-height: 600px;*/
  overflow: hidden;
}

.expandable .title .expand{
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 8pt;
  color: #666;
  font-weight: normal;
  cursor: pointer;
}

.expandable .expandableDiv
{
  background: url("../images/showmore.png") no-repeat;
  height: 34px;
  width: 410px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -4px;
  z-index: 99;
  opacity: 0.85;
  transition: opacity 0.25s ease;  
  cursor: pointer;
}

.expandable .expandableDiv:hover
{
  opacity: 1;
}

.expandable .expandCollapse{
  background-position: 0px -34px;
}

.pin-container .title a { color: #545454;}
.pin-container .title a:hover { text-decoration: none; border-bottom: 1px dotted}

.pin-container .userinfo .name a {
  color: #3291ac;
  font-size: 10pt;
  font-weight: bold;
}

.pin-container .userinfo .name a:hover {
  border-bottom: 1px dotted;
  text-decoration: none;
}
.pin-container .userinfo img { margin-right: 5px;float: left; vertical-align: middle; border-radius: 50%}
.pin-container .commentBox {padding: 5px}

.pin .pic { position: relative; width: 440px; padding: 9px; }
.pin .pic .pin_pic_img_a { display: inline-block; zoom: 1; width: 440px; font-size: 0px; color: transparent; background-color: #FFF; overflow: hidden;text-align: center;}
.pin .pic a.pin_over {-moz-box-sizing: border-box; background: none repeat scroll 0 0 rgba(255, 255, 255, 0.96); bottom: 0px; color: #888888; font-size: 12px; left: 0; line-height: 2; margin: 0; opacity: 0; overflow: hidden; padding: 10px; position: absolute; text-decoration: none; top: 0; width: 100%; z-index: 3;  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;}
.pin .pic:hover a.pin_over {opacity: 1}
.pin .pic a.pin_over strong {
  color: #444444;
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 4px;
}
.pin .pic a.pin_over .timestamp {
  bottom: 10px;
  color: #999999;
  display: block;
  font-size: 11px;
  font-style: normal;
  font-weight: bold;
  left: 20px;
  line-height: 1;
  margin: 0 0 3px;
  position: absolute;
}
.hot-pins>.hot-pins-wrap>ul.wrap-main>li>.pin>.pic .pin_pic_img_a { max-height: 200px; }
.pin .pic .pin_pic_img_a img { -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
.pin .pic .watermark-clear {
width:200px;
height:15px;
position:absolute;
margin-top:-15px;
background-color:#fff;
}
.pin .pic .layer-bg { width: 200px; position: absolute; left: 8px; top: 8px; z-index: 10; }
.pin .pic .layer-bg .white { width: 200px; height: 26px; background: #c6443c; filter: alpha(opacity=45); -moz-opacity: 0.45; opacity: 0.45; }
.btns { overflow: hidden; }
.btn-pinlist { position: absolute; display: inline-block; zoom: 1; text-align: left; -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
.btn-pinlist .b-wrap { position: absolute; z-index: 101; }
.btn-pinlist .b-wrap a { display: block; text-indent: -5000px; background: url(../images/bg-btns.png) 0 0 no-repeat; overflow: hidden; }
.btn-pinlist .b-bg { position: absolute; border: solid 1px #000; border-radius: 4px; background: #000; filter: alpha(opacity=40); -moz-opacity: 0.4; -khtml-opacity: 0.4; opacity: 0.4; z-index: 100; }
.btn-pinlist:hover .b-bg { filter: alpha(opacity=60); -moz-opacity: 0.6; -khtml-opacity: 0.6; opacity: 0.55; }
.btn-pinlist:active .b-bg { filter: alpha(opacity=100); -moz-opacity: 1.0; -khtml-opacity: 1.0; opacity: 1.0; }
.btn-repin { width: 34px; height: 32px; top: -33px; left: -36px; }
.btn-thought { width: 34px; height: 32px; top: -33px; left: 6px; }
.btn-repin .b-wrap,
.btn-repin .b-wrap a { width: 34px; height: 32px; background-position: 10px 3px; }
.btn-thought .b-wrap,
.btn-thought .b-wrap a { width: 34px; height: 32px; background-position: 7px -244px; }
.btn-repin .b-bg,
.btn-thought .b-bg { width: 32px; height: 30px; }
.btn-like,
.btn-unlike,
.btn-edit { width: 28px; height: 24px; top: -24px; right: 20px; }
.btn-like .b-wrap,
.btn-unlike .b-wrap,
.btn-edit .b-wrap,
.btn-like .b-wrap a,
.btn-unlike .b-wrap a,
.btn-edit .b-wrap a,
.btn-in .b-wrap a,
.btn-out .b-wrap a { width: 28px; height: 24px; background-position: 3px -44px; -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
.btn-unlike .b-wrap a { background-position: 3px -94px; }
.btn-edit .b-wrap a { background-position: 3px -145px; }
.btn-like .b-bg,
.btn-unlike .b-bg,
.btn-edit .b-bg { width: 26px; height: 22px; }
.btn-comment { width: 28px; height: 24px; top: -24px; right: -29px; }
.btn-comment .b-wrap,
.btn-comment .b-wrap a { width: 28px; height: 24px; background-position: 3px -195px; }
.btn-comment .b-bg { width: 26px; height: 22px; }
.btn-view { width: 50px; height: 50px; left: 75px; display: none; }
.btn-view .b-wrap,
.btn-view .b-wrap a { width: 50px; height: 50px; background: url(../images/view.png) 6px 5px no-repeat; }
.btn-view .b-bg { width: 50px; height: 50px; }
.hover .btn-repin { top: 12px; left: 12px; }
.hover .btn-thought { top: 12px; left: 54px; }
.hover .btn-like,
.hover .btn-unlike,
.hover .btn-edit { top: 12px; right: 48px; }
.hover .btn-comment { top: 12px; right: 12px; }/* in out ↓ */
.btn-in { width: 44px; height: 42px; bottom: -17px; left: -44px; }
.hover .btn-in { bottom: 16px; left: 12px; }
.btn-in .b-wrap,
.btn-in .b-wrap a { width: 44px; height: 42px; background-position: 7px -295px; }
.btn-in.current .b-wrap,
.btn-in.current .b-wrap a { background-position: 7px -345px; }
.btn-in .b-bg { width: 42px; height: 40px; }
.btn-out { width: 44px; height: 42px; bottom: -17px; right: -44px; }
.hover .btn-out { bottom: 16px; right: 12px; }
.btn-out .b-wrap,
.btn-out .b-wrap a { width: 44px; height: 42px; background-position: 6px -393px; }
.btn-out.current .b-wrap,
.btn-out.current .b-wrap a { background-position: 6px -443px; }
.btn-out .b-bg { width: 42px; height: 40px; }
.btn-in .b-wrap .amount-in { display: none; position: absolute; height: 20px; padding: 0 4px; left: 49px; top: 10px; line-height: 20px; background: #6EBDD0 url(../images/s4.png) 0 -12px repeat-x; font-weight: bold; letter-spacing: 1px; border-radius: 2px; color: white; box-shadow: 0 1px 0 rgba(0,0,0,0.5); }
.btn-out .b-wrap .amount-out { display: none; position: absolute; height: 20px; padding: 0 4px; right: 50px; top: 10px; line-height: 20px; background: #6EBDD0 url(../images/s4-red.png) 0 -12px repeat-x; font-weight: bold; letter-spacing: 1px; border-radius: 2px; color: white; text-shadow: 0 1px 0 rgba(64, 64, 64, 0.25); box-shadow: 0 1px 0 rgba(0,0,0,0.5); }
.btn-in .b-wrap .amount-in p { position: absolute; width: 9px; height: 10px; background: url(../images/pop-s4.png) 0 0 no-repeat; left: -9px; top: 6px; }
.btn-out .b-wrap .amount-out p { position: absolute; width: 9px; height: 10px; background: url(../images/pop-s4.png) 0 -50px no-repeat; right: -9px; top: 6px; }/* in out ↑ */
.pin .pop { display: none; }
.pin.hover .pop { position: absolute; display: block; width: 174px; padding: 8px 4px 8px 12px; top: 46px; left: 12px; line-height: 18px; text-align: left; font-size: 12px; border: solid 1px #2dabd8; border-radius: 3px; color: #666; background: #fffde5; box-shadow: 2px 2px 5px rgba(0,0,0,0.2); z-index: 102; opacity: 0.9; }
.pin.hover .pop .close { position: absolute; top: 7px; right: 2px; width: 13px; height: 13px; }
.pin.hover .pop .close a { display: block; width: 12px; height: 12px; line-height: 9px; text-align: left; color: #666; background: url(../images/icn-cancle.gif) 0 0 no-repeat; text-indent: -20000px; opacity: 0.25; }
.pin.hover .pop .close a:hover { opacity: 0.6; }
.pin.hover .pop .close a:active { opacity: 1; }
.pin.hover .pop p { padding-bottom: 6px; }
.pin.hover .pop .arrow-pop { position: absolute; display: block; width: 9px; height: 5px; left: 14px; top: -5px; background: url(../images/arrow-pop.png) 0 0 no-repeat; }
.pin .pop:hover { opacity: 0.95; }
.pin .text { width: 200px; padding: 0 0 0 8px; line-height: 15px; color: #666; overflow: hidden; }
.pin .statistics,
.mini-pinboard .statistics { padding: 7px 5px 7px 8px;color: #aaa89f; text-align: right}
.pin .statistics a,
.mini-pinboard .statistics a { color: #777; padding-right: 2px; }

.pin .statistics span,
.mini-pinboard .statistics span { padding-right: 8px; }
.icon-views { padding-left: 19px; background: url(../images/icon-view.png) 0px 2px no-repeat; }
.pin .statistics .views { background-position: 0 0; }
.pin .statistics .likes { background-position: 0 -50px; }
.pin .statistics .comments { background-position: 0 -100px; }
.pin .activity .users { color: #828282; font-family: inherit; font-weight: bold; }
.pin .activity .actions { color: #828282; font-family: inherit; font-weight: normal; }/*price - start*/
.pin .price,
.pin-pic .price { position: absolute; width: 68px; height: 22px; padding: 0 9px 4px 5px; left: -5px; top: 28px; line-height: 22px; text-align: center; background: url(../images/bg-price.png) 0 0 no-repeat; z-index: 90; overflow: hidden; }
.pin .price em,
.pin-pic .price em { font-weight: bold; color: #666; }/*price - end*//*hover ↓*/
.pin.hover .pic img { filter: alpha(opacity=90); -moz-opacity: 0.9; -khtml-opacity: 0.9; opacity: 0.9; }
.pin .pic a:active img { filter: alpha(opacity=100); -moz-opacity: 1; -khtml-opacity: 1; opacity: 1; }/*pin - end*//*mini-pinboard - start*/
.fix { position: relative; margin: 0 auto; padding-left: 216px; }
.fix-side { position: absolute; left: -10px; top: 13px; }
#hold-side { position: fixed; top: 133px; *margin-left:-115px;
}
#popShowPinLayer { width: 100%; overflow-y: scroll; }
.r-search .pinboard-list .profile { padding-bottom: 10px; margin: 0 10px 10px 10px; float: left; }
.btn-l,
.btn-r { position: absolute; width: 20px; height: 20px; top: 8px; text-indent: -5000px; background: url(../images/btn-rl.png) 0 0 no-repeat; }
.btn-l { left: 20px; background-position: 0 -60px; }
a.btn-l:hover { background-position: 0 -80px; }
a.btn-l:active { background-position: 0 -100px; }
.btn-r { right: 20px; }
a.btn-r:hover { background-position: 0 -20px; }
a.btn-r:active { background-position: 0 -40px; }/*page-next-pre - end*//*pinboard-title - start*/
.main-wrap .nopin { position: relative; width: 196px; height: 261px; padding: 10px; background: #faf5f0 url(../images/border-solid.png) 0 0 no-repeat; font-size: 14px; color: #666; float: left; cursor: pointer; }
.main-wrap .nopin div { display: block; position: absolute; width: 184px; padding: 5px; left: 10px; top: 42%; font-weight: bold; color: #333; }
.main-wrap .nopin div span { display: inline-block; left: 0; line-height: 24px; }/*detail - start*/
.p_cont_l { width: 160px; height: 40px; float: left; padding-top: 13px; }
a.p_cont_l_l,
a.p_cont_l_l_visited,
a.p_cont_l_p,
a.p_cont_l_e,
a.p_cont_l_edit,
a.p_cont_l_in,
a.p_cont_l_in_visited,
a.p_cont_l_out,
a.p_cont_l_out_visited { display: block; width: 30px; height: 30px; margin-right: 8px; border: solid 1px #aaa; border-radius: 3px; background-color: #C1C0BF; float: left; box-shadow: 0 0 2px rgba(255,255,255,0.8) inset; }
a.p_cont_l_l:hover,
a.p_cont_l_l_visited:hover,
a.p_cont_l_p:hover,
a.p_cont_l_e:hover,
a.p_cont_l_edit:hover,
a.p_cont_l_in:hover,
a.p_cont_l_in_visited:hover,
a.p_cont_l_out:hover,
a.p_cont_l_out_visited:hover { border-color: #9BB; box-shadow: 0 0 3px rgba(225, 255, 255, 1) inset, 0 2px 3px rgba(80, 128, 128, 0.1); }
a.p_cont_l_l { background: url(../images/p_h_like.png) -1px -1px no-repeat; }
a.p_cont_l_l:hover { background-position: -1px -51px; }
a.p_cont_l_l_visited { background: url(../images/p_h_like.png) -1px -101px no-repeat; }
a.p_cont_l_l_visited:hover { background-position: -1px -151px; }
a.p_cont_l_p { background: url(../images/p_h_pin.png) -1px -1px no-repeat; }
a.p_cont_l_p:hover { background-position: -1px -51px; }
a.p_cont_l_e { background: url(../images/p_h_email.png) -1px -1px no-repeat; }
a.p_cont_l_e:hover { background-position: -1px -51px; }
a.p_cont_l_edit { background: url(../images/p_h_edit.png) -1px -1px no-repeat; }
a.p_cont_l_edit:hover { background-position: -1px -51px; }
a.p_cont_l_in { position: relative; background: url(../images/p_h_in.png) -1px -1px no-repeat; }
a.p_cont_l_in:hover { background-position: -1px -51px; }
a.p_cont_l_in_visited { position: relative; background: url(../images/p_h_in.png) -1px -101px no-repeat; }
a.p_cont_l_in_visited:hover { background-position: -1px -151px; }
a.p_cont_l_out { background: url(../images/p_h_out.png) -1px -1px no-repeat; }
a.p_cont_l_out:hover { background-position: -1px -51px; }
a.p_cont_l_out_visited { position: relative; background: url(../images/p_h_out.png) -1px -101px no-repeat; }
a.p_cont_l_out_visited:hover { background-position: -1px -151px; }
a.p_cont_l_in .amount-in,
a.p_cont_l_in_visited .amount-in { display: none; position: absolute; height: 20px; padding: 0 4px; left: 30px; top: 3px; line-height: 20px; background: #6EBDD0 url(../images/s4.png) 0 -12px repeat-x; font-weight: bold; letter-spacing: 1px; border-radius: 2px; color: white; text-shadow: 0 1px 0 rgba(64, 64, 64, 0.25); box-shadow: 0 1px 0 rgba(0,0,0,0.5); z-index: 1010; }
a.p_cont_l_in .amount-in p,
a.p_cont_l_in_visited .amount-in p { position: absolute; width: 9px; height: 10px; background: url(../images/pop-s4.png) 0 0 no-repeat; left: -9px; top: 6px; }
a.p_cont_l_out .amount-out,
a.p_cont_l_out_visited .amount-out { display: none; position: absolute; height: 20px; padding: 0 4px; right: 30px; top: 3px; line-height: 20px; background: #6EBDD0 url(../images/s4-red.png) 0 -12px repeat-x; font-weight: bold; letter-spacing: 1px; border-radius: 2px; color: white; text-shadow: 0 1px 0 rgba(64, 64, 64, 0.25); box-shadow: 0 1px 0 rgba(0,0,0,0.5); z-index: 1010; }
a.p_cont_l_out .amount-out p,
a.p_cont_l_out_visited .amount-out p { position: absolute; width: 9px; height: 10px; background: url(../images/pop-s4.png) 0 -50px no-repeat; right: -9px; top: 6px; }/* share with p_page ↑*/
.page .wrap { position: relative; height: 20px; padding: 0 25px; min-width: 100px; float: left; overflow: hidden; _width:expression((document.documentElement.clientWidth||document.body.clientWidth)<100?"100px":"");
}
.page .wrap .btn-l { left: 0; top: 0; }
.page .wrap .btn-r { right: 0; top: 0; }
.page .wrap p { line-height: 22px; font-weight: bold; }
.page .wrap p span { color: #2dabd8; }
.page .wrap p a { padding: 2px; color: #333; font-weight: normal; }
.d-likes,
.d-repins { padding: 20px 0; overflow: hidden; }
.d-likes .title,
.d-repins .title { width: 72px; height: 50px; padding: 10px 6px 0 0; line-height: 16px; text-align: right; word-wrap: break-word; color: #333; float: left; }
.d-likes .d-content,
.d-repins .d-content { width: 600px; float: left; }
.d-likes ul,
.d-repins .ul { width: 600px; overflow: hidden; }
.d-likes ul li { width: 58px; height: 58px; float: left; }
.d-likes .more,
.d-repins .more { text-align: left; }
.d-repins li { position: relative; padding: 0 0 8px 58px; text-align: left; min-height: 50px; _height: 50px; color: #999; }
.d-repins li img { position: absolute; left: 0; }
.d-repins li a { font-weight: bold; padding: 0 4px; color: #666; }/*detail - end*/
.head-s2 { width: 950px; height: 63px; padding-top: 46px; margin: 0 auto; background: url(../images/line-ds.gif) 0 108px repeat-x; overflow: hidden; }
.head-s2 img { width: 144px; height: 63px; padding: 0 10px; margin: 0 auto; }/*login - end*/
.xxx p { display: block; width: 268px; height: 36px; padding: 0 10px 12px 0; background: url(../images/bg-input-login.png) right 0 no-repeat; }
.xxx p span { display: block; width: 248px; height: 36px; padding: 5px 0 0 10px; background: url(../images/bg-input-login.png) 0 0 no-repeat; }
.xxx p span input { width: 260px; height: 26px; line-height: 26px; border-top: solid #f4f3f1 1px; border-right: solid #f8f7f5 1px; border-bottom: solid #f8f7f5 1px; border-left: solid #f8f7f5 1px; background: #f8f7f5; }/*input - end*//*box - start*/
.box { background-color: #FFF; overflow: hidden; }
.box .top { position: relative; height: 7px; }
.box .top .clt,
.box .top .crt,
.box .bottom .crb,
.box .bottom .clb { position: absolute; width: 4px; height: 4px; overflow: hidden; background: url(../images/corner-box.gif) -7px -7px no-repeat; }
.box .top .clt { left: 0; top: 0; background-position: -4px -4px; }
.box .top .crt { right: 0; top: 0; background-position: 0 -4px; }
.box .bottom { position: relative; height: 20px; }
.box .bottom .clb { left: 0; bottom: 0; background-position: -4px 0; }
.box .bottom .crb { right: 0; bottom: 0; background-position: 0 0; }/*box - end*//*form-style - start*/
.row-f { padding: 0 0 15px 0; text-align: left; overflow: hidden; }
.row-f .c-title { width: 210px; line-height: 30px; color: #645D51; white-space: pre-wrap; float: left; display: table-cell; }
.row-f .right input[type=text],
.row-f .right input[type=password],
.row-f .right select,
.row-f .right textarea { width: 248px; padding: 3px 5px; border: solid 1px #D2CEC8; border-radius: 2px; }
.row-f .right select { width: 260px; }/*form-style - end*/
.pic_show_functional .layer,
.pic_show_functional .layer-bg { display: none !important; }
.head .search #friends { width: 304px; margin-top: 31px; }/*.comments .write .wrap #friends { width:125px; top:30px; }.comments .write .wrap #friends li { line-height:15px; }*/
.alert-message { display: block; padding: 20px 0 5px 0; line-height: 18px; text-align: left; color: #e00; }
.waiting { padding-top: 50px; margin: 0 auto; text-align: center; }
.waiting .text { display: inline-block; padding-left: 10px; color: #99948b; text-shadow: 0 1px #f9f8f7; font-size: 25px; }
.waiting .text span { display: block; height: 32px; line-height: 32px; float: left; }
.waiting .popup-help { display: none; padding-top: 40px; }
.waiting .popup-help img { padding: 10px; border: solid 1px #666; background: #fff; box-shadow: 1px 2px 3px lightgray; }
.flag { background: url("https://c170024.ssl.cf3.rackcdn.com/bundeled/87bcda77a32ddc6aea628f7e0b3b8db2/images/flags.png?1308590058") no-repeat scroll 0% 0% transparent; box-shadow: 0pt 1px 2px #000000; display: inline-block ! important; height: 11px; margin: 0pt; overflow: hidden; padding: 0pt; vertical-align: text-top; width: 16px; }
input.input-hover,
textarea.input-hover { color: #666; }
.popup.w488 .main .email .row-f { padding-left: 195px; }
.popup.w488 .main .email .row-f .c-title { width: 170px; margin-left: -170px; }
.popup.w488 .main .email .note { width: 200px; padding: 8px 10px 8px 0; text-align: center; color: #862; text-align: left; clear: both; }
.popup.w488 .main .email .note .icon-note { padding-right: 6px; vertical-align: text-bottom; }/* select-dropdown - start*/
.popup .main .write .select .select_box { width: 338px; }
.popup .main .write .select .select_box span { background-position: 335px center; }
.popup .main .write .select .select_box .son_ul li.board-group,
.select_box.board-group { background: url(../images/icn-group.png) 305px center no-repeat; }
.popup .main .createboard .c-category .select_box { width: 276px; }
.popup .main .createboard .c-category .select_box span { background-position: 273px center; }
.popup .main .createboard .c-category .select_box .son_ul li.board-group { background-position: 250px center; }/*contact us - start*/
.tabs { padding-bottom: 30px; }
.tabs .tab-ul { height: 34px; background: url(../images/line-legal.gif) 0 bottom repeat-x; }
.tabs .tab-ul li.tab { padding: 3px 2px 0 0; float: left; }
.tabs .tab-ul li.tab span { display: block; height: 26px; padding: 3px 17px 0 17px; line-height: 26px; border: solid 1px #706E6A; border-bottom: 0 none; border-radius: 2px 2px 0 0; font-style: normal; font-size: 14px; background: #B3B3B3; float: left; overflow: hidden; }
.tabs .tab-ul li.tab span a { color: #fff; text-decoration: none; }
.tabs .tab-ul li.current,
.tabs .tab-ul li.current:hover { padding-top: 0; }
.tabs .tab-ul li.current span,
.tabs .tab-ul li.current:hover span { height: 30px; color: #333; box-shadow: 1px 1px 0 #fff inset; background: #e0dcd5; }
.tabs .tab-ul li.current span a { color: #333; }
.tabs .tab-ul .tab:hover { padding-top: 2px; }
.tabs .tab-ul .tab:hover span { height: 27px; }/* tab - end *//* feedback - start */
.popup .feedback { padding: 20px 0 0 20px; }
.popup .feedback p { padding-bottom: 20px; line-height: 22px; color: #8cc; width: 610px; font-size: 14px; font-weight: bold; }
.popup .feedback textarea { width: 596px; height: 88px; padding: 6px; line-height: 20px; font-size: 16px; color: #666; border: solid 2px #dddfdf; border-radius: 4px; box-shadow: 5px 5px 10px rgba(128,128,128,0.05) inset; overflow: auto; }
.popup .feedback .feed-email { display: block; height: 30px; }
.popup .feedback .feed-email span { display: inline-block; min-width: 50px; height: 30px; line-height: 42px; font-size: 14px; font-weight: bold; vertical-align: bottom; color: #999; overflow: hidden; width: 120px; }
.popup .feedback .feed-email input { width: 215px; height: 20px; line-height: 20px; vertical-align: bottom; border: 0 none; border-bottom: solid 1px #dbdbdb; overflow: hidden; }
.popup .feedback .feed-email input:focus { border-color: #ccc; }
.popup .feedback .wrong { display: none; width: 580px; padding: 2px 4px 2px 24px; margin-top: 6px; line-height: 18px; font-size: 12px; color: #2dabd8; background: #fffde5 url(../images/note.png) 3px 2px no-repeat; border: solid 1px #2dabd8; border-radius: 2px; }

.gray-line {border-bottom: 1px dotted #ccc; margin-bottom: 10px}
/* User-added CSS */
#menu .menu-left {
	float: left;
}

#menu .menu-right {
	float: right;
	border-left: 1px solid #C2E2EA;
	width: 300px;
	height: 44px;
}

#menu .menu-left ul li,
#menu .menu-right ul li {
	float: left;
}

#menu.rt li.notif-msg{width: 50px;}

#menu .notif-msg a.icon {
  background-position: -29px 0;
}
#menu .new-tweet a, #menu .notif-msg a.icon {
  background: url("../images/notification.png") no-repeat scroll left top transparent;
  display: block;
  height: 29px;
  margin-left: 7px;
  position: relative;
  top: 3px;
  width: 21px;
}
#menu .notif-msg a.icon {
  background-position: 3px 2px;

}
#menu .notif-msg a.icon:hover {
  background-position: -31px 2px;
}

.icon {
  background: url("../images/icon-sprites.png") no-repeat scroll left top transparent;
  display: inline-block;
  height: 16px;
  position: relative;
  width: 16px;
}
.hide-text {
  border: 0 none;
  font-size: 0;
  line-height: 0;
  margin: 0;
  outline: medium none;
  text-indent: -9999px;
}


#menu .notif-msg .badge {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 0px 3px;
  background: #fa3c45;
  background: -moz-linear-gradient(top,  #fa3c45 0%, #dc0d17 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fa3c45), color-stop(100%,#dc0d17));
  background: -webkit-linear-gradient(top,  #fa3c45 0%,#dc0d17 100%);
  background: -o-linear-gradient(top,  #fa3c45 0%,#dc0d17 100%);
  background: -ms-linear-gradient(top,  #fa3c45 0%,#dc0d17 100%);
  background: linear-gradient(to bottom,  #fa3c45 0%,#dc0d17 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa3c45', endColorstr='#dc0d17',GradientType=0 );
  font-size: 8pt;
  font-weight: bold;
  color: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.6);
}

#menu .notif-msg .title
{
  font-size: 8pt;
  font-family: tahoma, arial ; 
  font-weight: bold;
  padding: 2px 5px;
  border-bottom: 1px solid #DDDDDD;
}

#menu .notif-msg .footer
{
  font-size: 8pt;
  font-family: tahoma, arial ; 
  font-weight: bold;
  padding: 2px 5px;
  background: #FCFCFC;
  border-top: 1px solid #DDDDDD;
  text-align: center;
  border-radius: 0px 0px 3px 3px;
}

#menu .notif-msg #notifiContent
{
  font-size: 8pt;
  height: 350px;
  overflow: auto;
}

.round-corner {
  border-radius: 3px;
}
#menu .notif-msg .list-notif .overlay-trick, 
#menu .list-settings .overlay-trick,
#submit-menu .list-upload .overlay-trick {
  border-bottom: medium none;
  cursor: default;
  display: block;
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: -5px;
}
#menu .notif-msg .list-notif .list-anchor {
  margin: 0;
  padding: 0;
  right: 49px;
}
#menu .notif-msg .list-notif .list-wrap {
  max-height: 490px;
  overflow-y: auto;
}
#menu .notif-msg .list-notif .list-wrap .scroll-to-load {
  background: url("../images/ajaxloading.gif") no-repeat scroll center center #F0F0F0;
  display: block;
  height: 40px;
  margin: 0;
  width: 100%;
}
#menu .notif-msg .list-notif .view-all {
  border-top: 1px solid #DDDDDD;
  color: #466B8E;
  display: none;
  padding: 10px 15px;
}
#menu .icon-chervon-right {
  background-position: -192px -40px;
  height: 9px;
  width: 7px;
}
#menu .notif-msg, 
#menu .profile-setting,
#submit-menu {
  position: relative;
  float:right;

}
#menu .avatar {
  border: 2px solid #DDDDDD;
}
#menu .avatar {
  background: url("../images/df-avatar.png") no-repeat scroll center center #C8C8C8;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  height: 48px;
  overflow: hidden;
  width: 48px;
}
#menu .list-notif .avatar, 
#menu .list-notif .avatar img, 
#menu .avatar, 
#menu .avatar img {
  height: 30px !important;
  width: 30px !important;
}
#menu .profile-settings .icon-smallcog {
  bottom: 14px;
  display: none;
  position: absolute;
  right: 2px;
}
.icon-smallcog {
  background-position: -384px -53px;
  height: 12px;
  width: 12px;
}
#menu .notif-msg .list-notif, 
#menu .list-settings,
#submit-menu .list-upload {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #96A5A9;
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);*/
  font-size: 1em;
  margin-bottom: 11px;
  margin-top: 5px;
  opacity: 0;
  padding: 0 15px;
  position: absolute;
  right: 25px;
  transition: all 0.2s ease 0s;
  visibility: hidden;
  width: 170px;
  z-index: 3;
  -webkit-box-shadow: 0px 0px 5px 0px #999999;
  box-shadow: 0px 0px 5px 0px #999999;   
}

#menu .notif-msg .list-notif {
  display: none;
  margin-top: 15px;
  padding: 0;
  right: 4px;
  top: 35px;
  width: 350px;
}

#menu .profile-settings,
#submit-menu{
  cursor: pointer;
  margin: 2px 0 0 8px;
  padding: 0;
}

#menu .profile-settings {margin: 5px 0 0 8px;}

#menu .notif-msg .list-notif, 
#menu .profile-settings:hover .list-settings,
#submit-menu:hover .list-upload {
  margin-top: 5px;
  opacity: 1;
  visibility: visible;
}

#submit-menu .list-upload {
  right: 15px;
  top: 39px;
}

#menu .notif-msg .list-notif .list-anchor, 
#menu .list-settings .list-anchor,
#submit-menu .list-upload .list-anchor {
  background: url("../images/list-anchor.png") no-repeat scroll left top transparent !important;
  display: block;
  height: 11px;
  margin: 0 !important;
  position: absolute;
  right: 9px;
  top: -9px;
  width: 14px;
}

#menu .notif-msg .list-notif .list-anchor {right: 14px;}


#menu .list-settings li,
#submit-menu .list-upload li {
  border-bottom: 1px dashed #CECECE;
  float: none !important;
  margin: 0;
}
#menu .list-settings li a,
#submit-menu .list-upload li a {
  color: #333333;
  display: block;
  overflow: hidden;
  padding: 10px 0;
  float: none;
  text-align: left;
  font: 10pt Arial;
}

#menu .list-settings li a .icon.icon-to_profile,
#submit-menu .list-upload li a .icon.icon-to_profile
{
  top: 2px;
}
#menu .list-settings li a .icon,
#submit-menu .list-upload li a .icon {
  margin-right: 10px;
  position: relative;
}
#menu .icon-to_profile {
  background-position: -405px 0;
  height: 16px;
  width: 16px;
}
#menu .list-settings li a:hover .icon-to_profile,
#submit-menu .list-upload li a:hover .icon-to_profile {
  background-position: -422px 0;
}
#menu .icon-to_setting {
  background-position: -405px -17px;
  height: 10px;
  width: 14px;
}
#menu .list-settings li a:hover .icon-to_setting,
#submit-menu .list-upload li a:hover .icon-to_setting {
  background-position: -422px -17px;
}
#menu .list-settings li a .icon.icon-logout,
#submit-menu .list-upload li a .icon.icon-logout {
  top: 3px;
}
#menu .icon-logout {
  background-position: -405px -28px;
}
#menu .list-settings li a:hover .icon-logout {
  background-position: -422px -28px;
}
.notif-msg a#btnNoti5 {
	padding: 0 5px 3px 10px;
	margin-top: 2px;	
}
.profile-settings a.avatar
{
	padding: 0 !important;

}

.header_text {
  background: url("../images/header-text.png") no-repeat scroll 0 0 transparent;
  display: inline-block;
  height: 30px;
  position: relative;
  top: 3px;
  margin-left: 20px
  margin-right: 20px;
  cursor: pointer;
}

.submit_icon { background-position: -6px -2px; width: 91px;}
.submit_icon:hover,
a.submit-active { background-position: -125px -2px;}
.login_icon { background-position: -7px -30px; width: 105px;}
.login_icon:hover { background-position: -143px -30px; }

.hot_icon { background-position: -24px -60px; width: 80px; margin: 0px 20px}
.hot_icon:hover,
.menu-left ul li a.hot-active  { background-position: -160px -60px; }

.vote_icon { background-position: -8px -90px; width: 140px;  margin: 0px 15px}

.vote_icon:hover,
.menu-left ul li a.vote-active { background-position: -145px -90px; }

.haynn_icon { background-position: -1px -120px; width: 140px; margin: 0px 15px}

.haynn_icon:hover,
.menu-left ul li a.hay-active { background-position: -138px -120px; }

.topuser_icon { background-position: -9px -150px; width: 91px; margin-left: 5px}

.topuser_icon:hover,
.menu-right ul li a.top-active { background-position: -147px -150px; }

.orange-button {
  background-color: #8FBF00;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset, 0 1px white;
  color: white;
  cursor: pointer;
  font: 700 12px/30px Arial, sans-serif;
  min-width: 45px;
  padding: 0 10px;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s linear 0s;
}

.orange-button:hover {
  background-color: #A7DE00;
  color: #FFFFFF;
}

#menu .notif-msg .list-notif .list-anchor, 
#menu .list-settings .list-anchor, 
#menu .list-settings li:last-of-type,
#menu .profile-settings .list-settings li.list-anchor,
#submit-menu .list-upload .list-anchor, 
#submit-menu .list-upload li:last-of-type,
#submit-menu .list-upload li.list-anchor
{
	border: none;
}

#menu .list-notif .avatar:hover, 
#menu .notif-msg .list-notif .avatar:hover, 
#menu .profile-settings:hover .avatar {
  border-color: #F15A24;
  transition: all 0.5s ease 0s;
}

#menu .list-settings li a:hover {
  color: #F15A24;
  text-decoration: none;
}

.bigVideoIndicator {
  background: url("../images/play-64.png") no-repeat scroll left top transparent;
  display: block;
  height: 64px;
  left: 176px;
  -moz-opacity: 0.80;
  -khtml-opacity: 0.80;
  opacity: 0.80;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  filter:alpha(opacity=80);
  position: absolute;
  top: 68px;
  transition: all 0.25s ease 0s;
  width: 64px;
}

.smallVideoIndicator {
  background: url("../images/play-48.png") no-repeat scroll left top transparent;
  -moz-opacity: 0.80;
  -khtml-opacity: 0.80;
  opacity: 0.80;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  filter:alpha(opacity=80);
  display: block;
  height: 48px;
  left: 81px;
  position: absolute;
  top: 40px;
  width: 48px;
  transition: all 0.25s ease;
}

.recommendedPhotoList .smallVideoIndicator{
  left: 39px;
  top: 22px;
  background: url("../images/play-32.png") no-repeat scroll center center transparent;
}

.photoWrap:hover .smallVideoIndicator {
  -moz-opacity: 0.90;
  -khtml-opacity: 0.90;
  opacity: 0.90;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=90);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
  filter:alpha(opacity=90);
}

div.singlePost {
	width: 860px !important;
	min-width: 420px;
}	

div.singlePost div.pic{
  margin-left: auto !important;
	margin-right: auto !important;
}	

.facebook-button {
	background: none repeat scroll 0 0 #ECEEF5;
	border: 1px solid #CAD4E7;
	border-radius: 3px 3px 3px 3px;
	color: #3B5998;
	cursor: pointer;
	padding: 2px 6px 4px;
	font-family: Tahoma;
	font-size: 8pt;
	display: inline-block;
}
.facebook-button:hover {text-decoration: none }
.facebook-button-small {
  padding: 0 5px 1px;
}
.facebook-count-button {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #C1C1C1;
	height: 14px;
	line-height: 13px;
	margin-left: 6px;
	min-width: 15px;
	padding: 1px 2px;
	text-align: center;
	white-space: nowrap;
	display: inline-block;
	font-family: Tahoma;
	font-size: 8pt;
}
.facebook-count-nub {
	height: 0;
	left: 2px;
	position: relative;
	top: -14px;
	width: 5px;
	z-index: 2;
}
.facebook-count-nub s, .facebook-count-nub i {
	border-color: transparent #D7D7D7;
	border-style: solid;
	border-width: 4px 5px 4px 0;
	display: block;
	position: relative;
	top: 1px;
}
.facebook-count-nub i {
	border-right-color: #FFFFFF;
	left: 2px;
	top: -7px;
}
.facebook-button:hover {
	border-color: #9DACCE;
}

.facebook-button .view {
  background: url("../images/hnn-icon-sprites.png") no-repeat scroll -80px -1px transparent;
  display: inline;
  padding-right: 15px;
}
.facebook-button .comment {
	background: url("../images/hnn-icon-sprites.png") no-repeat -50px 0px;
  display: inline;
  padding-right: 15px;
}
.facebook-button .comment-up {
	background-image: url("../images/hnn-icon-sprites.png");
}

.button {border-radius: 2px; padding: 7px;font-family: Arial; font-size: 10pt; font-weight: 700; transition: all 0.2s linear; width: auto; float:left; margin: 0px 10px }
.blue-button {
background: rgb(49,151,180); /* Old browsers */
background: -moz-linear-gradient(top, rgba(49,151,180,1) 0%, rgba(32,146,178,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(49,151,180,1)), color-stop(100%,rgba(32,146,178,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(49,151,180,1) 0%,rgba(32,146,178,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(49,151,180,1) 0%,rgba(32,146,178,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(49,151,180,1) 0%,rgba(32,146,178,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(49,151,180,1) 0%,rgba(32,146,178,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3197b4', endColorstr='#2092b2',GradientType=0 ); /* IE6-9 */
border: 1px solid #1c889f; color: #FFF;  }
.blue-button:hover { border: 1px solid #1d7b8f; box-shadow: 0px 0px 2px #666;}

.white-button {
background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(249,249,249,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(249,249,249,1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 );
border: 1px solid #ccc; color: #666;  }
.white-button:hover { border: 1px solid #bdbdbd; box-shadow: 0px 0px 2px #b8b8b8;}
.roundedAvatar {border-radius: 50%;}
.whiteBackground {background: #FFF; border: 1px solid #E1E1E1; border-radius: 3px; padding: 10px; }
/* Commonly Used Icons */
.sidebar {position: relative;}
.detailContainer .postDetail .bottomInfo .stats .icon,
.recommendedPhotoList .postPhoto .stats .icon,
.profileContainer .photoWrap .stats .icon {background: url("../images/hnn-icon-sprites.png")  no-repeat 0px 0; margin-right: 2px; display: inline-block; height: 13px;}

.detailContainer .postDetail .bottomInfo .stats .time {background-position: -17px 0;}
.detailContainer .postDetail .bottomInfo .stats .view,
.recommendedPhotoList .postPhoto .stats .view,
.profileContainer .photoWrap .stats .view {background-position: 0px 0; margin-left: 10px; margin-right: 5px;}

.detailContainer .postDetail .bottomInfo .stats .comment,
.profileContainer .photoWrap .stats .comment {background-position: -34px 0; margin-left: 10px}

.profileContainer .photoWrap .stats .like {background-position: -94px 0; margin-left: 10px}

/* Common Page */

.detailContainer { position: relative; }
#leftCol {float: left; width: 665px}
#rightCol {float: left; width: 285px; margin-left: 10px;}
.detailContainer .postDetail .avatar { float: left; width: 70px; text-align: left }
.detailContainer .postDetail .avatar img {width: 60px;margin-left:0}
.detailContainer .postDetail .rightInfo {float: left; margin-top: -6px}
.detailContainer .postDetail .rightInfo h1 {color: #626262; font-weight: bold; font-size: 20px; font-family: "Roboto Condensed", Arial; text-transform: uppercase; line-height: 1.3 }
.detailContainer .postDetail .rightInfo .username,
.detailContainer .postDetail .bottomInfo .stats {color: #a8a7a7; text-align: left; margin-top: 4px}
.detailContainer .postDetail .rightInfo .number {font-weight: bold}

.detailContainer .fixedInfoPanel {width: 653px; height: 55px; border: 1px solid #288BA8; border-top: none; background: #F1F7F8; z-index: 820 ;postion: fixed; display: none; transition: all 0.25s ease; box-shadow: 0 0px 3px rgba(0, 86, 132, 0.4);padding: 5px;}
.detailContainer .fixedInfoPanel .title {
  border-bottom: 1px dotted #E1E1E1;
  color: #626262;
  font-family: "Roboto Condensed",Arial;
  font-weight: bold;
  padding: 2px 0;
  font-size: 18px;  
  text-transform: uppercase;
  width: 100%;
}

.detailContainer .fixedInfoPanel #fixedInfoPanelLike {
  color: #53A8C1;
  font-family: Arial;
  font-weight: bold;
  padding: 4px 0;
  line-height: 20px;
}
.detailContainer .fixedInfoPanel #fixedInfoPanelLike .fl-r
{
  font-weight: normal;
  color: #A8A7A7;
  font-size: 8pt;
}

.detailContainer .postDetail .rightInfo .username a,
.sidebar .block .blockTitle .name a,
.detailContainer .fixedInfoPanel #fixedInfoPanelLike a  {font-weight: bold; color: #3197b4}

.detailContainer .postContent {margin-top: 0px; }
.detailContainer .postContent .navigation {text-align: right; height: 20px;}
.detailContainer .postContent a#btnDelete {color: #E92E6C; background: url("../images/delete.png") no-repeat left center; padding-left: 12px; margin-right: 5px;}
.detailContainer .postContent a#btnDelete:hover {border-bottom: 1px dotted}
.detailContainer .postContent a#btnEdit {color: #3197B4; background: url("../images/edit.gif") no-repeat left center; padding-left: 14px; margin-right: 5px;}
.detailContainer .postContent a#btnEdit:hover {border-bottom: 1px dotted}

.detailContainer .postContent .contentWrap {padding: 5px; background: #FFF; border: 1px solid #E1E1E1; border-radius: 3px; text-align: center; position: relative;}
.detailContainer .postContent .contentWrap a#toNext,
.detailContainer .postContent .contentWrap a#toPrev {width: 40%; position: absolute; z-index: 100; cursor: pointer; height: 100%; display: block;}
.detailContainer .postContent .contentWrap a#toPrev {top: 0; left: 0;}
.detailContainer .postContent .contentWrap a#toNext {top: 0; right: 0;}
.detailContainer .postContent .contentWrap a#toNext i,
.detailContainer .postContent .contentWrap a#toPrev i {opacity: 0; display: none; margin-top: 50px; width: 30px; height: 54px; background: url("../images/arrow_overlay.png") no-repeat; transition: all 0.25 ease;}
.detailContainer .postContent .contentWrap a#toNext i {margin-right: 15px; margin-left: auto; background-position: -31px 0px}
.detailContainer .postContent .contentWrap a#toPrev i {margin-left: 15px; margin-right: auto; background-position: 0px 0px}
.detailContainer .postContent .contentWrap a#toNext:hover i,
.detailContainer .postContent .contentWrap a#toPrev:hover i {opacity: 1; display: block;}
.detailContainer .postContent a#prev_post img, a#next_post img {opacity: 0.8; }
.detailContainer .postContent a#prev_post img:hover, a#next_post img:hover {opacity: 1;}

.detailContainer .postContent img.postImg {}

.detailContainer .featuredFanPage {background: #FFFFFF; border-radius: 5px; border: 1px solid #E1E1E1; padding: 10px; margin-top: 15px }
.detailContainer .featuredFanPage h1 {color: #3197b4; font-weight: bold; font-size: 18px; font-family: "Roboto", Arial; margin-bottom: 5px}

.detailContainer .postComment {margin-top: 10px}
.detailContainer .postComment h1 {color: #626262; font-weight: bold; font-size: 18px; font-family: "Roboto", Arial; margin-bottom: 5px}
.detailContainer .postComment .commentBox {background: #FFFFFF; border-radius: 5px; border: 1px solid #E1E1E1; padding: 10px;}

.sidebar .block {width: 285px;}
.sidebar .block .blockTitle {text-align: right; padding: 5px 0 5px 10px; border-bottom: 3px solid #838383; width: 200px; margin-left: auto; margin-right: 0}
.sidebar .block .blockTitle .name {color: #3197b4; display:block; }
.sidebar .block .blockTitle .blue {color: #3197b4;}
.sidebar .block .blockTitle h1 {font-size: 14pt; font-family: "Roboto Condensed"; font-weight: bold; color: #626262; text-transform: uppercase}


.sidebar .block .blockContent { padding: 5px 0px; }
.sidebar .block .recommendedPhotoList { margin-left: auto; margin-right: 0 }
.sidebar .block .recommendedPhotoList .postPhoto { width: 116px; float: right; position:relative; margin: 5px 0px 5px 7px;}
.sidebar .block .recommendedPhotoList .postPhoto img.photo {width: 110px; height: 73px; padding: 2px; background: #FFF; border: 1px solid #E2E2E2}
.sidebar .block .recommendedPhotoList .postPhoto .info {visibility: hidden; opacity: 0; background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9); position: absolute; top: 0px; left: 0px; z-index: 3; margin: 0; width: 100%; height: 80px;  transition: all 0.2s ease; -moz-transition: all 0.2s ease; -webkit-transition: all 0.2s ease}
.sidebar .block .recommendedPhotoList .postPhoto .info span {font-size: 8pt; font-weight: bold; text-align:center; display: block; padding: 3px; text-decoration: none}
.sidebar .block .recommendedPhotoList .postPhoto:hover a.info:hover {text-decoration:none}
.sidebar .block .recommendedPhotoList .postPhoto:hover .info{visibility: visible; opacity: 1;}
.sidebar .block .recommendedPhotoList .postPhoto .info .stats{position: absolute; bottom: 0;}

.loginContainer {}
.loginContainer h1.title,
.submitContainer #leftCol h1.title
 {color: #3197B4; font-weight: bold; font-size: 22px; font-family: "Roboto", Arial; margin-bottom: 5px; display: inline} 
.loginContainer #checkingStatus {font-weight: bold; text-align: center;margin-top: 10px; margin-bottom: 10px}
.loginContainer .passwordLogin {}
.loginContainer .passwordLogin a {color: #3197B4; font-weight: bold; text-decoration: none}
.loginContainer .notice {margin: 10px 0px; color: #979797}
.loginContainer .notice a {margin: 10px 0px; color: #777777; border-bottom: 1px dotted;}
.loginContainer .notice a:hover {text-decoration: none; color: #575757}
.loginContainer .field .left,
.settingContainer .field .left {float: left;width: 80px; text-align: left}
.loginContainer .field .right,
.settingContainer .field .right {float: left;}
.loginContainer .field,
.settingContainer .field {padding: 10px;}
.loginContainer #login-email-block label,
.loginContainer #login-password-block label,
.settingContainer label {font-size: 10pt; font-weight: bold;}
.loginContainer .text,
.settingContainer .text,
.submitContainer .submitForm .field .text,
.commonContainer form .field .text {padding: 5px; border-radius: 3px; border: 1px solid #E2E2E2; width: 200px; transition: border 0.3s ease}

.loginContainer .text:focus,
.settingContainer .text:focus,
.submitContainer .submitForm .field .text:focus,
.commonContainer form .field .text:focus {border-color: #3197B4;}

.submitContainer { }
.submitContainer #leftCol {}
.submitContainer #rightCol {}
.submitContainer a {color: #3291AC}
.submitContainer .tabBar {background: transparent;}
.submitContainer .tabBar .tab {background: #F5F5F5; display: inline-block; padding: 5px 10px; border: 1px solid #C8C8C8; border-radius: 2px 2px 0px 0px; border-bottom: none;-webkit-transition: all .2s ease; -moz-transition: all .2s ease; -ms-transition: all .2s ease; -o-transition: all .3s ease; transition: all .2s ease;}
.submitContainer .tabBar .tab:hover {background: #FAFAFA; box-shadow: 0px 0px 3px #ccc;}
.submitContainer .tabBar .tab a {color: #9B9B9B; text-transform: uppercase; font-family: "Roboto Condensed", Arial; font-size: 12pt; font-weight: bold;}


.submitContainer .tabBar .icon {width: 16px; height: 16px; background: url(../images/post-icon.png) 0px 0px no-repeat; margin-right: 7px; margin-bottom: -2px; display: inline-block}

.submitContainer .tabBar .tab .photo {background-position: 0px -16px}
.submitContainer .tabBar .tab .video {background-position: -16px -16px}
.submitContainer .tabBar .tab .text {background-position: -32px -16px}
.submitContainer .tabBar .active .photo {background-position: 0px 0px}
.submitContainer .tabBar .active .video {background-position: -16px 0px}
.submitContainer .tabBar .active .video {background-position: -32x 0px}

.submitContainer .tabBar .active {background: #3096B3; border: 1px solid #1c889f; border-bottom: none;-webkit-transition: all .2s ease; -moz-transition: all .2s ease; -ms-transition: all .2s ease; -o-transition: all .2s ease; transition: all .2s ease;}
.submitContainer .tabBar .active:hover {background: #3096B3;}
.submitContainer .tabBar .active a {color: #FFFFFF;}
.submitContainer .tabBar .tab a:hover,
.submitContainer .tabBar .active a:hover {text-decoration: none}
.submitContainer .submitForm {background: #fff; border: 1px solid #1c889f; padding: 10px; border-radius: 0px 2px 2px 2px}
.submitContainer .submitForm .link {float: right; font-weight: bold; font-size: 14pt}
.submitContainer .submitForm .field { margin: 15px 0px; }
.field .required{color: red; font-weight: normal;}
.submitContainer .submitForm .field label {font-weight: bold; display: block; float: left; width: 150px}
.submitContainer .submitForm .field input.file {padding: 5px; border-radius: 3px; width: 200px}
.submitContainer .submitForm .info {margin: 5px 0px; color: #777777; font-size: 8pt; font-family: Tahoma, Arial}
.submitContainer .submitForm .field input.text {width: 300px}
.submitContainer .submitForm .field input.checkbox { }
.submitContainer .submitForm .field .checkboxLabel {display: inline; float: none}
.submitContainer .submitForm .actions {display: inline; float: none}
.submitContainer #exampleLinks {display: none; color: #FFF; background: #3096B3; width: 280px;position: absolute; padding: 10px; font-size: 8pt;font-family: tahoma, arial; border-radius: 2px}
.submitContainer #exampleLinks li {padding-left: 10px;}

.modalDialog {display: none}
.modalDialog .face {background: url(../images/face.png) no-repeat 0 0; width: 50px; height: 51px; float: right;}
.modalDialog .message {text-align: center; width: 100%;}

.sidebar .submit-info { }
.sidebar .submit-info .blockTitle { background: #3096B3; padding: 5px; color: #FFF;font-size: 12pt; text-transform: uppercase; font-family: "Roboto Condensed", Arial; font-weight: bold; border-radius: 2px 2px 0px 0px; text-shadow: 1px 1px 0px #727272; border: 1px solid #1c889f}
.sidebar .submit-info .blockContent { background: #FFF; border: 1px solid #c8c8c8; border-top: none; border-radius: 0px 0px 2px 2px; text-align: justify;  }
.sidebar .submit-info .blockContent li {padding: 5px 10px; margin: 0px 5px; border-bottom: 1px dotted #ccc}
.sidebar .submit-info .blockContent li .number{display: block; font-size: 18pt; font-family: Georgia; color: #ccc; width: 45px; float: left; margin-left: -10px; font-weight: bold; text-align: center}
.sidebar .submit-info .blockContent li:last-child {border: none}

#footer-links {margin-top: 0px;}
#footer-links .footer-items-left {float: left; margin-top: 10px;}
#footer-links .footer-items-right {float: right; margin-top: 10px;}
#footer-links .footer-items-right li {display: inline-block;}
#footer-links .footer-items-right li a {font-weight: bold; color: #404040}

.profileContainer {}
.profileContainer .userInfo { }
.profileContainer .userInfo .avatar {float: left; width: 70px; text-align: left }
.profileContainer .userInfo .avatar img {width: 60px; border-radius: 50%;margin-left:0}
.profileContainer .userInfo .rightInfo {float: left;}
.profileContainer .userInfo .rightInfo .name {color: #3291ac; font-weight: bold; font-size: 20px; font-family: "Roboto Condensed", Arial; text-transform: uppercase; line-height: 1.3}
.profileContainer .userInfo .bottomInfo .stats {color: #a8a7a7; text-align: left; margin-top: 4px}
.profileContainer .userInfo .bottomInfo .stats li {display: inline-block;margin-right: 20px}
.profileContainer .userInfo .bottomInfo .stats .number {font-weight: 700; color: #3291ac; font-size: 120%}
.profileContainer .tabBar {}
.profileContainer .tabBar .tabBlock {margin-right: 0; margin-left: auto; width: 445px;}
.profileContainer .tabBar .tabBlock .tab {display:inline-block; margin: 0px 5px; padding: 0px 5px}
.profileContainer .tabBar .tabBlock .tab a {font-family: "Roboto Condensed", Arial; text-transform: uppercase; font-size: 14pt; color: #3291ac; font-weight: bold; transition: all .2s ease;}
.profileContainer .tabBar .tabBlock .tab a:hover {text-decoration: none; border-top: 1px dotted}
.profileContainer .tabBar .tabBlock .active {background: #3291ac; border-radius: 3px 3px 0px 0px;}
.profileContainer .tabBar .tabBlock .active a{color: #FFF;}
.profileContainer .tabBar .tabBlock .active a:hover{color: #FFF;border: none}
.profileContainer .tabContent {border: 1px solid #3291ac; background: #FFF; padding:10px; border-radius: 2px}
.profileContainer .tabContent .postWrap {float: left; width:200px; margin: 5px; min-height: 180px}
.profileContainer .tabContent .postWrap img.photo {width: 200px; padding: 1px; border: 1px solid #e6e6e6; height: 133px; transition: all .25s ease;}
.profileContainer .tabContent .postWrap img.photo:hover {width: 200px; padding: 1px; border: 1px solid #52A5CE; height: 133px; box-shadow: 0px 0px 3px #ccc;}
.profileContainer .tabContent .postWrap .info {text-align: center;font-size: 8pt;font-weight: bold;margin-top:3px}
.profileContainer .tabContent .postWrap .info a:hover {border-bottom: 1px dotted;text-decoration: none;}
.profileContainer .tabContent .postWrap .photoWrap {position: relative;}
.profileContainer .tabContent .postWrap .photoWrap .stats {position: absolute; background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9); bottom: 2px; left: 2px; height: 18px; width:190px; visibility: hidden; transition: all .25s ease; padding:5px; opacity: 0; font-size: 9pt; font-weight: bold; color: #7C7C7C; text-align: right}
.profileContainer .tabContent .postWrap .photoWrap:hover .stats {visibility: visible; opacity: 1}

/* Info Page */

.profileContainer .tabContent .generalInfo {}
.profileContainer .tabContent .generalInfo .about { padding: 10px; font-family: "Cambria, Times New Roman"; font-size:16pt; font-style: italic; position: relative; width: 450px;margin:auto;background: #F5F5F5;border-radius: 3px}
.profileContainer .tabContent .generalInfo .about .quote {background: url("../images/quote.png") no-repeat 0 0; width: 30px; height: 20px}
.profileContainer .tabContent .generalInfo .about .message {text-align: center; margin: 15px 5px 20px;line-height: 1.4}
.profileContainer .tabContent .generalInfo .about .cite {position: absolute; left: 15px; bottom: 5px; color: #979797;font-size: 10pt;font-family: Tahoma, Arial;font-style: normal;}
.profileContainer .tabContent .generalInfo .about .topQuote {background-position: 0px 0px; position: absolute; top: 5px; left: 5px; }
.profileContainer .tabContent .generalInfo .about .bottomQuote {background-position: -43px 0px; position: absolute; bottom: 5px; right: 5px; }
.profileContainer .tabContent .generalInfo .info {width: 480px; margin: auto; margin-top: 30px}
.profileContainer .tabContent .generalInfo .info .leftCol {float: left; width: 240px;}
.profileContainer .tabContent .generalInfo .info .rightCol {float: right; width: 240px;}
.profileContainer .tabContent .generalInfo .info .field {margin: 10px;}
.profileContainer .tabContent .generalInfo .info .field .label {}
.profileContainer .tabContent .generalInfo .info .field .value {color: #a5a5a5;}
.profileContainer .tabContent .generalInfo .commentBox {width: 600px;margin: auto;margin-top: 30px;}
.profileContainer .tabContent .generalInfo .commentBox h1 {color: #626262; font-weight: bold; font-size: 18px; font-family: "Roboto", Arial; margin-bottom: 5px; border-top: 1px solid #ccc}

.topUserContainer {}
.topUserContainer #sortType {float: right;margin-right: 0px; margin-left: auto; font-style: italic; color: #aaa}
.topUserContainer #sortType a {color: #aaa}
.topUserContainer #sortType a:hover {color:#F15A24; text-decoration: none;}
.topUserContainer #sortType a.active {font-weight: bold; color: #3291ac ;}
.topUserContainer h1.title{font-size: 16pt; font-family: "Roboto Condensed", Arial; text-transform: uppercase; color: #626262; font-weight: bold; display: inline; }
.topUserContainer .userListContainer {border: 1px solid #D8D8D8; background: #FFF; padding:10px; border-radius: 3px}
.topUserContainer .userList { }
.topUserContainer .userList .order {font-family: Georgia, Cambria, Arial; font-size: 20pt; float:left;margin-right: 10pt; color: #ccc; height: 50px; line-height: 50px; text-align: center;width:35px }
.topUserContainer .userList .user {padding: 10px;border-bottom: 1px dotted #e2e2e2;}
.topUserContainer .userList div:last-of-type {border-bottom: none;}
.topUserContainer .userList .avatar {float:left; margin-right: 20px}
.topUserContainer .userList .avatar img {border-radius: 50%; border: 2px solid #E2E2E2; }
.topUserContainer .userList .info {float: left; width: 350px; position: relative;}

.topUserContainer .userList .info .follow-button{border-radius: 50%; width: 15px;margin-bottom: -5px;}
.topUserContainer .userList .info .follow-button.following{padding: 3px 5px 3px 1px;}
.topUserContainer .userList .info .follow-button.following .follow-icon{background-position: -17px 0px}
.topUserContainer .userList .info .follow-button.not-follow{padding: 3px 5px 3px 1px;}
.topUserContainer .userList .info .follow-button.not-follow .follow-icon{background-position: 0px 0px; left: 4px;}

.topUserContainer .userList .info .name a {color: #3291ac; font-weight: bold; text-decoration: none; font-size: 110%}
.topUserContainer .userList .info a {color: #666666; text-decoration: none}
.topUserContainer .userList .info a:hover {color: #F15A24;}
.topUserContainer .userList .info .stats {color: #666666; font-size: 8pt;font-family: Tahoma, Arial, sans-serif}
.topUserContainer .userList .info .stats .number {font-size: 110%; font-weight: 700}

.settingContainer {width: 700px; margin: 0 auto;}

.settingContainer h1.title {font-size: 16pt; font-family: "Roboto Condensed", Arial; color: #626262; font-weight: bold;}
.settingContainer .field .left {width: 150px;}
.settingContainer .error {font-weight: bold; color: red; display: none; margin-left: 10px}
.settingContainer .subInfo {color: #868686;}

#loadMoreNotifi { background: url("../images/hnnloading.gif") #FFFFFF no-repeat center center; margin-top: 3px; /*width: 100%; height: 30px; border-top: 1px dotted #8BAAB4*/}
#loadMoreNotifi-first { background: url("../images/hnnloading.gif") #FFFFFF no-repeat center center; width: 100%; height: 30px}
.no-close .ui-dialog-titlebar-close {display: none }

.notificationContainer {border: 1px solid #D8D8D8; background: #FFF; padding:10px; border-radius: 3px; width: 630px;}
.notificationContainer #leftCol {}
.notificationContainer h1.title {font-size: 16pt; font-family: "Roboto Condensed", Arial; color: #626262; font-weight: bold; margin-bottom: 5px; border-bottom: 1px solid #999}
.notificationContainer .notificationList li {padding: 5px; border-bottom: 1px solid #E9E9E9;position: relative;}
.notificationContainer .notificationList li a {color: #3291ac;}
.notificationContainer .notificationList li a:hover {border-bottom: 1px dotted}
.notificationContainer .notificationList li:last-of-type {border: none;}
.notificationContainer .notificationList .notifiContent {width: 490px;}
.notificationContainer .notificationList div.time {font-size: 10px; color: gray;font-weight: normal; position: absolute;top: 7px; right: 3px}
.notificationContainer .notificationList li.like_reached {border-right: 3px solid #36899D; background: url("../images/like-icon3.png") 0px 6px no-repeat; padding-left: 19px}
.notificationContainer .notificationList li.broadcast,
.notificationContainer .notificationList li.welcome_message {border-right: 3px solid #FAD127; background: url("../images/icon-message.png") 0px 6px #FCFCC1 no-repeat; padding-left: 20px}
.notificationContainer .notificationList li.welcome_message .message,
.notificationContainer .notificationList li.broadcast .message {color: #ff5656;font-weight: bold}

.notificationContainer .notificationList li.move_to_home {border-right: 3px solid #86C979; background: url("../images/icon-tick.png") 0px 6px no-repeat; padding-left: 19px}
.notificationContainer .notificationList li.move_to_hay {border-right: 3px solid #FBDE69; background: url("../images/icon-star.png") 0px 6px no-repeat; padding-left: 19px}

#menu .notif-msg #notifiContent li { float:none; font-family: tahoma, arial}

#menu .notif-msg #notifiContent li:hover,
#menu .notif-msg #notifiContent li:last-of-type a { border:none; }
#menu .notif-msg #notifiContent li a strong {color: #36899D;}
#menu .notif-msg #notifiContent li a{ padding: 10px; text-decoration: none; display: block;  border-bottom: 1px dotted #8BAAB4;}
#menu .notif-msg #notifiContent li.noMoreNotifi {background: #FFF; text-align: center; padding: 10px; font-weight: bold; color: #A5A5A5; }

#menu .notif-msg #notifiContent li.like_reached {border-left: 3px solid #36899D; background: #EDF2F2;}
#menu .notif-msg #notifiContent li.broadcast,
#menu .notif-msg #notifiContent li.welcome_message {border-left: 3px solid #FAD127; background: #FCFCC1 !important}
#menu .notif-msg #notifiContent li.move_to_home {border-left: 3px solid #86C979; background: #D6F5D1}
#menu .notif-msg #notifiContent li.move_to_hay {border-left: 3px solid #FBDE69; background: #FFF5C6}
#menu .notif-msg #notifiContent li.following {border-left: 3px solid #A2CA30; background: #F0FACE}

#menu .notif-msg #notifiContent li.broadcast .message,
#menu .notif-msg #notifiContent li.welcome_message .message {font-weight: bold; color: #ff5656;}

#menu .notif-msg #notifiContent li.broadcast .time,
#menu .notif-msg #notifiContent li.welcome_message .time {background: url("../images/icon-message.png") 0 2px no-repeat; padding-left: 19px}
#menu .notif-msg #notifiContent li.like_reached .time {background: url("../images/like-icon3.png") 0 2px no-repeat; padding-left: 17px}
#menu .notif-msg #notifiContent li.move_to_home .time {background: url("../images/icon-tick.png") 0 1px no-repeat; padding-left: 17px}
#menu .notif-msg #notifiContent li.move_to_hay .time {background: url("../images/icon-star.png") 0 0px no-repeat; padding-left: 17px}
#menu .notif-msg #notifiContent li.following .time {background: url("../images/icon-follow.png") 0 1px no-repeat; padding-left: 17px}

#menu .notif-msg #notifiContent li:hover{ background: #E0EDED !important; }
#menu .notif-msg #notifiContent li.read{ background: #FFFFFF; }

#menu .notif-msg #notifiContent li .time {color: #999999}

.commonContainer {border: 1px solid #D8D8D8; background: #FFF; padding:10px; border-radius: 3px; width: 630px;}
.commonContainer h1.title {font-size: 16pt; font-family: "Roboto Condensed", Arial; color: #626262; font-weight: bold; margin-bottom: 5px; border-bottom: 1px solid #999}
.commonContainer form .field { margin: 15px 0px; }
.field .required{color: red; font-weight: normal;}
.commonContainer form .field label {font-weight: bold; display: block; float: left; width: 150px}
.commonContainer form .field input.file {padding: 5px; border-radius: 3px; width: 200px}
.commonContainer form .info {margin: 5px 0px; color: #777777; font-size: 8pt; font-family: Tahoma, Arial}
.commonContainer form .field input.text {width: 300px}
.commonContainer form .field input.checkbox { }
.commonContainer form .field .checkboxLabel {display: inline; float: none}

.alert-box {
  color:#555;
  border-radius:3px;
  margin: 10px 0px;
  font-family: Arial,sans-serif;
  font-size:13px;
  padding:8px 38px;
}
.alert-box a {
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}
.alert-box a:hover {
  border-bottom: 1px dotted
}
.alert-box span {
  font-weight:bold;
  text-transform:uppercase;
}
.box-error {
  background:#ffecec url('../images/error.png') no-repeat 10px 50%;
  border:1px solid #f5aca6;
  color: #D73B39;
}
.box-success {
  background:#e9ffd9 url('../images/success.png') no-repeat 10px 50%;
  border:1px solid #a6ca8a;
}
.box-warning {
  background:#fff8c4 url('../images/warning.png') no-repeat 10px 50%;
  border:1px solid #f2c779;
  color: #D18B15;
}
.box-notice {
  background:#e3f7fc url('../images/notice.png') no-repeat 10px 50%;
  border:1px solid #8ed9f6;
}

/*Following*/

.follow-button {
  border-radius: 3px 3px 3px 3px;
  color: #FFFFFF;
  font-family: Tahoma;
  font-size: 8pt;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px 5px 3px 20px;
  position: relative;
  display: inline-block;
  line-height: 15px;
  text-align: center;
  height: 15px;
}
.follow-button:hover {
  cursor: pointer;
}
.follow-button.not-follow {background: #A2CA30; transition: background 0.3s ease, width 0.25s ease;; width: 41px;} 
.follow-button.not-follow:hover {background: #AFDB34;}
.follow-button.not-follow .follow-icon {
  background: url("../images/follow-icon.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 19px;
  left: 5px;
  position: absolute;
  top: 4px;
  width: 17px;
}
.follow-button.not-follow .follow-icon.loading
{
    background: url("../images/follow-loading.gif") no-repeat scroll 0 -1px transparent;
}   

.follow-button.following {background: #53A8C1; transition: background 0.3s ease, width 0.25s ease;; width: 70px;} 
.follow-button.following:hover {background: #5FB7D1;} 
.follow-button.following .follow-icon {
  background: url("../images/follow-icon.png") no-repeat scroll -16px 0px transparent;
  display: block;
  height: 19px;
  left: 4px;
  position: absolute;
  top: 3px;
  width: 17px;
}
.follow-button.following .follow-icon.loading
{
    background: url("../images/follow-loading.gif") no-repeat scroll 0 -1px transparent;
}


.pin .upperInfo {padding: 5px; background: #F5F5F5}