@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic&subset=latin,latin-ext,vietnamese);
@font-face {
    font-family: 'GCETitle';
    src: url('uvntintuchep_r-webfont.eot');
    src: url('uvntintuchep_r-webfont.eot?#iefix') format('embedded-opentype'),
    url('uvntintuchep_r-webfont.woff') format('woff'),
    url('uvntintuchep_r-webfont.ttf') format('truetype'),
    url('uvntintuchep_r-webfont.svg#uvntintuchep_r-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GCETitle';
    src: url('uvntintuchep_b-webfont.eot');
    src: url('uvntintuchep_b-webfont.eot?#iefix') format('embedded-opentype'),
    url('uvntintuchep_b-webfont.woff') format('woff'),
    url('uvntintuchep_b-webfont.ttf') format('truetype'),
    url('uvntintuchep_b-webfont.svg#uvntintuchep_b-webfont') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GCETitle';
    src: url('uvntintuchep_i-webfont.eot');
    src: url('uvntintuchep_i-webfont.eot?#iefix') format('embedded-opentype'),
    url('uvntintuchep_i-webfont.woff') format('woff'),
    url('uvntintuchep_i-webfont.ttf') format('truetype'),
    url('uvntintuchep_i-webfont.svg#uvntintuchep_i-webfont') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GCETitle';
    src: url('uvntintuchep_bi-webfont.eot');
    src: url('uvntintuchep_bi-webfont.eot?#iefix') format('embedded-opentype'),
    url('uvntintuchep_bi-webfont.woff') format('woff'),
    url('uvntintuchep_bi-webfont.ttf') format('truetype'),
    url('uvntintuchep_bi-webfont.svg#uvntintuchep_bi-webfont') format('svg');
    font-weight: 700;
    font-style: italic;
}

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,vietnamese);