<?php if (!empty($this->similarPosts)) : ?>
    <div class="similarPosts recommendedPhotoList">
        <h2>Bài Liên Quan</h2>
        <?php foreach ($this->similarPosts as $post): $thumb = $post['post_id'] > 19600 ? 'thumb' : 'thumb1' ?>
            <div class="postPhoto unreadPostsContainer">
                <a href="<?php echo Post::postUrl($post);?>">
                    <div class="thumbnailContainer">
                        <?php if($post['youtube_key'] != '' || $post['vmo_key'] != '' || $post['zingtv_key'] != '' || $post['mecloud_key'] != ''):?>
                            <?php if ($post['nsfw']) : ?>
                                <div class="photo" style="background: url(<?php echo $this->layout()->_general['server']['img']['path'] . '/' . Post::getNsfwThumb(); ?>) center center / cover no-repeat"></div>
                            <?php elseif (!empty($post['picture_upload']) && !$post['nsfw']) : ?>
                                <div class="photo" style="background: url(<?php echo My_Zend_Globals::getThumbImage($post['picture_upload']); ?>) center center / cover no-repeat"></div>
                            <?php else : ?>
                                <div class="photo" style="background: url(<?php echo My_Zend_Globals::getThumbImageVideo($post['picture'], 'thumb'); ?>) center center / cover no-repeat"></div>
                            <?php endif; ?>
                            <div class="smallVideoIndicator"></div>
                        <?php else :?>
                            <?php if ($post['nsfw']) : ?>
                                <div class="photo" style="background: url(<?php echo $this->layout()->_general['server']['img']['path'] . '/' . Post::getNsfwThumb(); ?>) center center / cover no-repeat"></div>
                            <?php elseif (!empty($post['picture_upload']) && !$post['nsfw']) : ?>
                                <div class="photo" style="background: url(<?php echo My_Zend_Globals::getThumbImage($post['picture_upload']); ?>) center center / cover no-repeat"></div>
                            <?php else:?>
                                <div class="photo" style="background: url(<?php echo My_Zend_Globals::getThumbImage($post['picture'], 'thumb1'); ?>) center center / cover no-repeat"></div>
                            <?php endif;?>
                            <?php if ($post['is_gif']==1) : ?>
                                <div class="moi-keng-xa-beng-left-gif">GIF</div>
                            <?php endif;?>
                        <?php endif; ?>
                    </div>
                    <div style="text-align: center; font-size: 90%">
                        <i class="fa fa-eye"></i> <?php echo My_Zend_Globals::shortenNumber($post['number_of_view']);?>&nbsp;&nbsp;
                        <i class="fa fa-comments"></i> <?php echo My_Zend_Globals::shortenNumber($post['number_of_comment']);?>&nbsp;&nbsp;
                        <i class="fa fa-thumbs-up"></i> <?php echo My_Zend_Globals::shortenNumber($post['number_of_like']);?>
                    </div>
                    <p class="blackSmallTitle" title="<?php echo $post['story'];?>"><?php echo $post['story'];?></p>
                </a>
            </div>
        <?php endforeach; ?>
        <div class="clear"></div>
    </div>
<?php endif; ?>