<?php
$this->lsCatogoryNavBar = $this->lsCatogory;
$this->isNavBar;
$post = $this->post;

$videoType = 'none';
$config = My_Zend_Globals::getConfiguration();
if (isset($this->post['youtube_key']) && $this->post['youtube_key'] != '') {
    $videoType = 'youtube';
}
elseif (isset($this->post['vimeo_key']) && $this->post['vimeo_key'] != '') {
    $videoType = 'vimeo';
}
?>
<?php if ($this->approved == 0 ): ?>
    <div style="background:yellow;padding:10px;border:1px solid #cccccc;margin-bottom:10px;width:730px">
        <?php if ($this->post['user_id'] == LOGIN_UID) { ?>
            Cảm ơn bạn đã đóng góp cho Hay Nhức Nhói. Bài viết này cần chờ Duyệt trước khi xuất hiện ở trang Bài mới.
        <?php } else { ?>
            Bài này chưa được Duyệt nên bạn không thể xem. Trong khi chờ đợi, mời bạn xem những bài khác tại <a href="/new">Bài mới</a> hoặc trở về <a href="/">Trang chủ</a>.
        <?php } ?>
    </div>
<?php endif;?>
<div class="detailContainer" id="detailContainer">
    <div id="leftCol" style="position: relative;">
        <?php
        if (in_array($this->pageType, array('category', 'new', 'hot', 'detail', 'video', 'blogDetail'))) {
            echo $this->partial('partials/breadcrumb.phtml', array('breadcrumb' => $this->breadcrumb));
        }
        ?>
        <?php if ($this->approved != 0 || $this->post['user_id'] == LOGIN_UID || Admin::isLogined()) : ?>
            <!-- <div class="blockTitle" style="text-transform: uppercase; font-size: 16px; margin-bottom: 10px; padding-bottom: 3px; border-bottom: 1px solid rgb(221, 221, 221);"><h1>Quảng cáo</h1></div>-->
            <?php // echo $this->render('partials/box_ads_above_content.phtml', $this);?>
            <div class="mainWrap">
                <div class="postDetail">
                    <div class="rightInfo">
                        <h1>
                            <?php
                            if ($this->approved == 0) {
                                echo "[Chờ duyệt] ";
                            }
                            if ($this->ChapVideo) {

                                if ($this->ChapVideo['chap_title']) {
                                    echo $this->ChapVideo['chap_title'];
                                } else {
                                    echo '[' . $this->ChapVideo['chap_name'] . '] ' . $this->post['story'];
                                }
                            } else {
                                echo My_Zend_Globals::getStringReplaceEmotion($this->post['story']);
                            }

                            ?>
                        </h1>
                        <div class="username">
                            Bởi <a href="<?php echo User::userUrl($this->profile); ?>"
                                   title="<?php echo $this->profile['fullname']; ?>"><?php echo $this->profile['fullname']; ?></a>
                            &nbsp;&nbsp;<?php echo My_Zend_Globals::distanceOfTimeInWords(isset($this->post['approved_at']) ? $this->post['approved_at'] : $this->post['created_at']); ?>
                        </div>
                        <?php if ($this->ChapVideo['chap_description']) { ?>
                            <div class="description" style="max-height: 60px">
                                <?php echo $this->ChapVideo['chap_description']; ?>
                            </div>
                        <?php } elseif ($this->post['description']) { ?>
                            <div class="description" style="max-height: 60px">
                                <?php echo $this->post['description']; ?>
                            </div>
                        <?php } ?>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="scroller_anchor clear"></div>
            </div>

            <div class="fixedInfoPanel" style="z-index:3">
                <?php if ($this->nextPost) : ?><a id="btnNext_post" href="<?php echo Post::postUrl($this->nextPost); ?>"
                                                  title="Hotkey: →" class="navigationButton">Bài sau</a><?php endif; ?>
                <?php if ($this->prevPost) : ?><a id="btnPrev_post" href="<?php echo Post::postUrl($this->prevPost); ?>"
                                                  title="Hotkey: ←" class="navigationButton">Bài
                        trước</a><?php endif; ?>
                <div id="fixedInfoPanelLike">
                    <div class="stats">
                        <div class="fl-l">
                            <table style="float: left">
                                <tr>
                                    <td>
                                        <a target="#comment">
                                            <div class="facebook-button facebook-button-small">
                                                <i class="fa fa-eye"></i> Xem
                                            </div>
                                        </a>
                                    </td>
                                    <td>
                                        <div class="facebook-count-button"
                                             id="numberView"><?php echo My_Zend_Globals::number_format($this->post['number_of_view'] + 1); ?></div>
                                        <div class="facebook-count-nub">
                                            <s></s><i></i>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="fl-l" style="margin-left: 5px">
                            <?php if ($this->approved) : ?>
                                <table style="float: left">
                                    <tr>
                                        <td>
                                            <a target="_blank" id="sharefacebook">
                                                <div class="facebook-button facebook-button-small">
                                                    <i class="fa fa-share-alt"></i> Chia sẻ
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <div
                                                class="facebook-count-button"><?php echo My_Zend_Globals::number_format($this->post['number_of_share']); ?></div>
                                            <div class="facebook-count-nub">
                                                <s></s><i></i>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            <?php endif; ?>
                        </div>
                        <?php if ($this->post['phase'] < Post::_PHASE_HOMEPAGE): ?>
                            <div class="fl-l" style="margin-left: 5px">
                                <table style="float: left">
                                    <tr>
                                        <td>
                                            <a target="_blank" id="like-button"
                                               title="<?php echo $this->likeButtonTooltip; ?>"
                                               data-token="<?php echo Like::getToken(LOGIN_UID, $this->post['post_id'], $this->tokenTime); ?>">
                                                <div
                                                    class="vote-btn facebook-button facebook-button-small <?php echo ($this->userLiked) ? 'liked' : '' ?>">
                                                    <span>Bình chọn</span>
                                                </div>
                                                <script type="text/javascript">
                                                    $('#like-button').tipsy({fade: true, gravity: 's'});
                                                </script>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="facebook-count-button"
                                                 id="like-button-count"><?php echo My_Zend_Globals::number_format($this->post['favclicks']); ?></div>
                                            <div class="facebook-count-nub">
                                                <s></s><i></i>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        <?php else: ?>
                            <div class="fl-l" style="margin-left: 5px">
                                <?php if($this->approved) : ?>
                                    <div class="fb-like"
                                         data-href="<?php echo Post::postUrl($this->post, true, false); ?>"
                                         data-width="90" data-layout="button_count" data-show-faces="false"
                                         data-send="false" data-share="false"></div>
                                <?php endif; ?>
                            </div>
                        <?php endif; ?>
                        <div class="fl-l" style="margin-left: 5px">
                            <?php if ($this->approved == 1) : ?>
                                <div class="g-plusone"
                                     data-href="<?php echo Post::postUrl($this->post, true, false); ?>"
                                     data-size="medium"></div>
                            <?php endif; ?>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>

            <div class="postContent <?php if (!$this->post['is_photo']) echo "video"; ?>">
                <div id="hot_videos">
                    <div id="replay_btn" title="Xem lại clip này"><i class="fa fa-repeat"></i></div>
                    <?php if (!empty($this->newVideos)): ?>
                        <?php foreach ($this->newVideos as $p): $thumb = $p['post_id'] > 19600 ? 'thumb' : 'thumb1' ?>
                            <div class="video_item">
                                <a href="<?php echo Post::postUrl($p); ?>">
                                    <div class="thumbnailContainer">
                                        <?php if ($p['is_photo'] == 0): ?>
                                            <?php if ($p['nsfw']) : ?>
                                                <div class="photo"
                                                     style="background: url(<?php echo $this->layout()->_general['server']['img']['path'] . '/' . Post::getNsfwThumb(); ?>) center center / cover no-repeat"></div>
                                            <?php else: ?>
                                                <div class="photo"
                                                     style="background: url(<?php echo My_Zend_Globals::getThumbImageVideo($p['picture']); ?>) center center / cover no-repeat"></div>
                                            <?php endif; ?>
                                            <div class="item-info">
                                                <i class="fa fa-eye"></i> <?php echo number_format($p['number_of_view'], 0, ',', '.'); ?>
                                                &nbsp;&nbsp;
                                            </div>
                                        <?php else : ?>
                                            <?php if ($p['nsfw']) : ?>
                                                <div class="photo"
                                                     style="background: url(<?php echo $this->layout()->_general['server']['img']['path'] . '/' . Post::getNsfwThumb(); ?>) center center / cover no-repeat"></div>
                                            <?php else: ?>
                                                <div class="photo"
                                                     style="background: url(<?php echo My_Zend_Globals::getThumbImage($p['picture'], 'thumb1'); ?>) center center / cover no-repeat"></div>
                                            <?php endif; ?>
                                            <?php if ($p['is_gif'] == 1) : ?>
                                                <div class="moi-keng-xa-beng-left-gif">GIF</div>
                                            <?php endif; ?>

                                        <?php endif; ?>
                                    </div>
                                    <div>
                                        <p class=""
                                           title="<?php echo $p['story']; ?>"><?php echo My_Zend_Globals::cutString($p['story'], 0, 60); ?></p>
                                    </div>
                                </a>
                            </div>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </div>


                <div id="clipAnchor"></div>
                <div class="contentWrap">
                    <?php
                    if ($this->post['is_photo']) {
                        $picture = My_Zend_Globals::getThumbImage($this->post['picture'], 'thumb2');
                        if ($this->post['is_gif']) {
                            $classImg = 'style="margin-bottom:0"';
                        } else {
                            $classImg = '';
                        }
                        echo '<img ' . $classImg . 'class="postImg" style="max-width:700px" src="' . $picture . '" alt="' . $this->post['story'] . '" />';

                        if ($this->nextPost) {
                            echo '<a id="toNext" href="' . Post::postUrl($this->nextPost) . '" title="Bài tiếp theo"><i></i></a>';
                        }
                        if ($this->prevPost) {
                            echo '<a id="toNext" href="' . Post::postUrl($this->prevPost) . '" title="Bài trước"><i></i></a>';
                        }
                    } else {

                        if (!empty($this->ChapVideo)) {
                            $videoKey   = $this->ChapVideo['youtube_id'];
                            $youtubeKey = $this->ChapVideo['youtube_id'];
                            if ((strpos($videoKey, '[mecloud]') !== false) && (strpos($videoKey, '[/mecloud]') !== false)) {
                                echo My_Zend_Media::generateEmbedScript('mecloud', My_Zend_Media::getMeCloudIDFromUrl($videoKey));
                            } else {
                                if ($this->forceYouTube) {
//                                echo '<div id="ytPlayer"></div>';
                                    echo My_Zend_Media::generateEmbedScript('youtube', $videoKey);
                                } else {
//                                echo '<div id="ytPlayer"></div>';
                                    //echo My_Zend_Media::generateEmbedScript('youtube', $videoKey);
                                    echo My_Zend_Media::generateEmbedScript('ambient', $videoKey, $this->layout()->_general['server']['js']['path'], Post::postUrl($post, true, true));
                                }

                            }
                        } elseif ($this->forceYouTube) {
                            echo My_Zend_Media::generateEmbedScript('youtube', $post['youtube_key']);
                        } elseif ($post['youtube_key']) {
                            $youtubeKey = $post['youtube_key'];
//                        echo '<div id="ytPlayer"></div>';
                            //echo My_Zend_Media::generateEmbedScript('youtube', $post['youtube_key']);
                            echo My_Zend_Media::generateEmbedScript('ambient', $post['youtube_key'], $this->layout()->_general['server']['js']['path'], Post::postUrl($post, true, true));
                        } elseif ($post['vmo_key']) {
                            echo My_Zend_Media::generateEmbedScript('vimeo', $post['vmo_key']);
                        } elseif ($post['zingtv_key']) {
                            echo My_Zend_Media::generateEmbedScript('zing_tv', $post['zingtv_key']);
                        } elseif ($post['nct_video']) {
                            echo My_Zend_Media::generateEmbedScript('nct_video', $post['nct_video']);
                        } elseif ($post['nct_mp3']) {
                            echo My_Zend_Media::generateEmbedScript('nct_mp3', $post['nct_mp3']);
                        } elseif ($post['mecloud_key']) {
                            echo My_Zend_Media::generateEmbedScript('mecloud', $post['mecloud_key']);
                        }

                    } ?>
                    <?php if (!empty($post['youtube_key'])) : ?>
                        <script type="text/javascript">
                            var tag = document.createElement('script');
                            tag.src = "https://www.youtube.com/iframe_api";
                            var firstScriptTag = document.getElementsByTagName('script')[0];
                            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                            var player;
                            window.onYouTubeIframeAPIReady = function () {
                                player = new YT.Player('ytPlayer', {
                                    height: '410',
                                    width: '728',
                                    videoId: '<?php echo $youtubeKey ?>',
                                    events: {
                                        'onStateChange': onPlayerStateChange
                                    }
                                });
                            };
                            function onPlayerStateChange(event) {
                                if (event.data === 0) {
                                    ga('send', 'event', 'Videos', 'finish', 'YouTube Player');
                                    $("#hot_videos").fadeIn("slow");
                                }
                            }
                            var closeLayoutAndReplay = function () {
                                $("#hot_videos").fadeOut("fast");
                                try {
                                    player.playVideo();
                                    jwp.play();
                                } catch (e) {

                                }
                            };

                            $('#replay_btn').click(function () {
                                closeLayoutAndReplay();
                            });
                        </script>
                    <?php endif; ?>
                </div>
            </div>

            <div class="navigation">
                <?php if (empty($this->canApprovePost) || empty($this->canDeletePost)): ?>
                    <span class="box-under-content">
            <b>Xem thêm: </b>
                <i>
                    <a href="<?php echo Post::postUrl($this->suggestPost);?>"><?php echo $this->suggestPost['story'] ?></a>
                </i>
            </span>
                <?php endif; ?>

                <a id="btnReport" class="report report-item" style="cursor: pointer">Báo bài vi phạm</a>
                <?php if (!$this->post['is_approved'] && $this->canApprovePost): ?>
                    <a id="approvePost" post-id="<?php echo $this->post['post_id']; ?>" class="approve_post"
                       style="cursor: pointer"> | Duyệt bài này</a>
                <?php endif; ?>
                <?php if ($this->post['phase'] < Post::_PHASE_HOMEPAGE && $this->canApprovePost): ?>
                    <a id="movePostToHome" post-id="<?php echo $this->post['post_id']; ?>" class="move_post_to_home"
                       style="cursor: pointer"> | Đưa bài này ra trang chủ</a>
                <?php endif; ?>
                <?php if ($this->canEditPost || (LOGIN_UID > 0 && $this->post['user_id'] == LOGIN_UID && $this->approved == 0)): ?>
                    <a href="<?php echo BASE_URL; ?>/upload/edit/post_id/<?php echo $this->post['post_id']; ?>"> | Sửa
                        tiêu đề</a>
                <?php endif; ?>
                <?php if ($this->canDeletePost): ?>
                    <a id="deletePost" post-id="<?php echo $this->post['post_id']; ?>" href="javascript:void(0)"> | Xóa
                        bài này</a>
                <?php endif; ?>
            </div>

            <?php echo $this->render('post/chap-navigation.phtml', $this); ?>

            <div style="margin:0 0 10px">
                <?php echo $this->render('partials/box_ads_728x90.phtml', $this); ?>
            </div>

            <?php if ($this->approved) { /* ?>
                <div class="btn-social">
                    <a target="_blank" title="Share on Facebook" onclick="ga('send', 'event', 'Share', 'Facebook Share', 'Social Share');" href="http://www.facebook.com/sharer/sharer.php?u=<?php echo Post::postUrl($this->post, true, false);?>">
                        <div style="float:left" class="btn-facebook"><i class="fa fa-facebook"></i> Share on Facebook <?php echo $this->post['number_of_share'] ? '(' . $this->post['number_of_share'] . ')' : ''; ?></div>
                    </a>
                    <a target="_blank" title="Share on Google+" onclick="ga('send', 'event', 'Share', 'Google Share', 'Social Share');" href="https://plus.google.com/share?url=<?php echo Post::postUrl($this->post, true, false);?>">
                        <div class="btn-gplus"><i class="fa fa-google-plus"></i> Share on Google+</div>
                    </a>
                </div>
            <?php */} ?>

            <?php echo $this->render('post/block-similar-posts.phtml', $this); ?>

            <?php if (!empty($this->tags)): ?>
                <div class="block_tag">
                    <div class="txt_tag">Tags:</div>
                    <?php foreach ($this->tags as $key => $tag): ?>
                        <a href="<?php echo Tag::tagUrl($tag); ?>" title="<?php echo $tag['tag_name']; ?>"
                           class="tag_item"><?php echo $tag['tag_name']; ?></a>
                    <?php endforeach; ?>
                </div>
            <?php endif; ?>
            <?php if ($this->post['is_approved']) {
                ?>
                <div class="postComment">
                    <a name="comment"></a>
                    <div class="commentBox">
                        <h2>Bình luận</h2>
                        <div class="fb-comments"
                             data-href="<?php echo Post::postUrl($this->post, true, false); ?><?php if ($this->ChapVideo) {
                                 echo '?video=' . $this->ChapVideo['id'];
                             } ?>" data-numposts="10" data-width="730" data-colorscheme="light"></div>
                    </div>
                </div>
            <?php } ?>
            <div id='div-gpt-ad-below-comment' style='width:728px; height:90px; margin: 0 auto'>
                <script type='text/javascript'>
                    googletag.cmd.push(function () {
                        googletag.display('div-gpt-ad-below-comment');
                    });
                </script>
            </div>

        <?php endif; ?>

        <div class="postComment">
            <div class="commentBox">
                <?php if (!empty($this->newPosts2)): ?>
                    <h2>MỚI KENG XÀ BENG</h2>
                    <div id="detail-recommend-posts">
                        <?php foreach ($this->newPosts2 as $post): $thumb = $post['post_id'] > 19600 ? 'thumb' : 'thumb1' ?>
                            <div class="unreadPostsContainer">
                                <a href="<?php echo Post::postUrl($post); ?>">
                                    <div class="thumbnailContainer">
                                        <?php if ($post['is_photo'] == 0): ?>
                                            <?php if ($post['nsfw']) : ?>
                                                <div class="thumbnail"
                                                     style="background: url(<?php echo $this->layout()->_general['server']['img']['path'] . '/' . Post::getNsfwThumb(); ?>) center center / cover no-repeat"></div>
                                            <?php elseif (!empty($post['picture_upload']) && !$post['nsfw']) : ?>
                                                <div class="photo"
                                                     style="background: url(<?php echo My_Zend_Globals::getThumbImage($post['picture_upload']); ?>) center center / cover no-repeat"></div>
                                            <?php else : ?>
                                                <div class="thumbnail"
                                                     style="background: url(<?php echo My_Zend_Globals::getThumbImageVideo($post['picture']); ?>) center center / cover no-repeat"></div>
                                            <?php endif; ?>
                                        <?php else: ?>
                                            <?php if ($post['nsfw']) : ?>
                                                <div class="thumbnail"
                                                     style="background: url(<?php echo $this->layout()->_general['server']['img']['path'] . '/' . Post::getNsfwThumb(); ?>) center center / cover no-repeat"></div>
                                            <?php elseif (!empty($post['picture_upload']) && !$post['nsfw']) : ?>
                                                <div class="photo"
                                                     style="background: url(<?php echo My_Zend_Globals::getThumbImage($post['picture_upload']); ?>) center center / cover no-repeat"></div>
                                            <?php else : ?>
                                                <div class="thumbnail"
                                                     style="background: url(<?php echo My_Zend_Globals::getThumbImage($post['picture'], 'thumb1'); ?>) center center / cover no-repeat"></div>
                                            <?php endif; ?>
                                            <?php if ($post['is_gif'] == 1) : ?>
                                                <div class="co-the-ban-them-xem-gif">GIF</div>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                        <?php if ($post['is_photo'] == 0): ?>
                                            <div class="smallVideoIndicator"></div>
                                        <?php endif ?>
                                    </div>
                                    <div style="text-align: center">
                                        <i class="fa fa-eye"></i> <?php echo number_format($post['number_of_view'], 0, ',', '.'); ?>
                                        &nbsp;&nbsp;
                                        <i class="fa fa-comments"></i> <?php echo My_Zend_Globals::shortenNumber($post['number_of_comment']); ?>
                                        &nbsp;&nbsp;
                                        <i class="fa fa-thumbs-up"></i> <?php echo My_Zend_Globals::shortenNumber($post['number_of_like']); ?>
                                    </div>
                                    <p class="blackSmallTitle" style="height: 60px"
                                       title="<?php echo $post['story']; ?>"><?php echo My_Zend_Globals::cutString($post['story'], 0, 70); ?></p>
                                </a>
                            </div>
                        <?php endforeach; ?>
                    </div>
                    <div class="clear"></div>
                <?php endif; ?>
            </div>
        </div>
        <div class="clear"></div>
        <?php echo $this->render('partials/footer.phtml'); ?>
        <div id="loginIsRequired" class="modalDialog" title="Bạn có biết là...">
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
            <p style="margin-left: 25px">Chức năng này chỉ dành cho thành viên của Hay Nhức Nhói. Vui lòng Đăng nhập để
                sử dụng, và khám phá nhiều điều thú vị hơn nữa.<br/><br/>
                <span style="color: #6F6F6F">Tài khoản của bạn sẽ được tạo ở lần đăng nhập đầu tiên mà không cần đăng ký :)</span>
            </p>
        </div>
    </div>
    <div id="rightCol">
        <div class="sidebar">
            <div id="fixedRecommendedList">
                <?php // echo $this->render('partials/box_social.phtml'); ?>
                <div class="block leftColumn" style="margin-bottom: 0;">
                    <?php echo $this->render('partials/box_ads_right_column.phtml'); ?>
                </div>
                <div class="block rightColumn">
                    <div class="blockTitle"><h2>Bình chọn bài mới</h2></div>
                    <?php if (!empty($this->newPosts1)) : ?>
                        <div class="blockContent" style="line-height: 1.3">
                            <div class="recommendedPhotoList verticalList" id="detail-hot-video">
                                <?php foreach ($this->newPosts1 as $post): $thumb = $post['post_id'] > 19600 ? 'thumb' : 'thumb1' ?>
                                    <div class="postPhoto">
                                        <a href="<?php echo Post::postUrl($post); ?>">
                                            <div class="thumbnailContainer">
                                                <?php if ($post['is_photo'] == 0) : ?>
                                                    <?php if ($post['nsfw']) : ?>
                                                        <div class="photo"
                                                             style="background: url(<?php echo $this->layout()->_general['server']['img']['path'] . '/' . Post::getNsfwThumb(); ?>) center center / cover no-repeat"></div>
                                                    <?php elseif (!empty($post['picture_upload']) && !$post['nsfw']) : ?>
                                                        <div class="photo"
                                                             style="background: url(<?php echo My_Zend_Globals::getThumbImage($post['picture_upload']); ?>) center center / cover no-repeat"></div>
                                                    <?php else: ?>
                                                        <div class="photo"
                                                             style="background: url(<?php echo My_Zend_Globals::getThumbImageVideo($post['picture'], 'thumb'); ?>) center center / cover no-repeat"></div>
                                                    <?php endif; ?>
                                                    <div class="smallVideoIndicator"></div>
                                                <?php else : ?>
                                                    <?php if ($post['nsfw']) : ?>
                                                        <div class="photo"
                                                             style="background: url(<?php echo $this->layout()->_general['server']['img']['path'] . '/' . Post::getNsfwThumb(); ?>) center center / cover no-repeat"></div>
                                                    <?php elseif (!empty($post['picture_upload']) && !$post['nsfw']) : ?>
                                                        <div class="photo"
                                                             style="background: url(<?php echo My_Zend_Globals::getThumbImage($post['picture_upload']); ?>) center center / cover no-repeat"></div>
                                                    <?php else: ?>
                                                        <div class="photo"
                                                             style="background: url(<?php echo My_Zend_Globals::getThumbImage($post['picture'], 'thumb1'); ?>) center center / cover no-repeat"></div>
                                                    <?php endif; ?>
                                                    <?php if ($post['is_gif'] == 1) : ?>
                                                        <div class="moi-keng-xa-beng-left-gif">GIF</div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                            <div style="text-align: center">
                                                <i class="fa fa-eye"></i> <?php echo My_Zend_Globals::shortenNumber($post['number_of_view']); ?>
                                                &nbsp;&nbsp;
                                                <i class="fa fa-comments"></i> <?php echo My_Zend_Globals::shortenNumber($post['number_of_comment']); ?>
                                                &nbsp;&nbsp;
                                                <i class="fa fa-thumbs-up"></i> <?php echo My_Zend_Globals::shortenNumber($post['number_of_like']);?>
                                            </div>
                                            <p class="blackSmallTitle"
                                               title="<?php echo $post['story']; ?>"><?php echo $post['story']; ?></p>
                                        </a>
                                    </div>
                                <?php endforeach; ?>
                                <div class="clear"></div>
                            </div>
                        </div>
                    <?php else : ?>
                        Không có dữ liệu
                    <?php endif; ?>
                </div>
                <div class="clear"></div>
                <?php echo $this->render('partials/box_ads_below_comment_box.phtml'); ?>

                <?php if (!empty($this->topPosts)): ?>
                    <div class="block clear">
                        <div class="blockTitle"><h2>Hay Nhức Nhói</h2></div>
                        <div class="blockContent">
                            <div class="recommendedPhotoList horizontalList" id="detail-new-post">
                                <?php foreach ($this->topPosts as $post): $thumb = $post['post_id'] > 19600 ? 'thumb' : 'thumb1' ?>
                                    <div class="postPhoto">
                                        <a href="<?php echo Post::postUrl($post); ?>">
                                            <div class="thumbnailContainer">
                                                <?php if ($post['is_photo'] == 0): ?>
                                                    <?php if ($post['nsfw']) : ?>
                                                        <div class="photo"
                                                             style="background: url(<?php echo $this->layout()->_general['server']['img']['path'] . '/' . Post::getNsfwThumb(); ?>) center center / cover no-repeat"></div>
                                                    <?php elseif (!empty($post['picture_upload']) && !$post['nsfw']) : ?>
                                                        <div class="photo"
                                                             style="background: url(<?php echo My_Zend_Globals::getThumbImage($post['picture_upload']); ?>) center center / cover no-repeat"></div>
                                                    <?php else: ?>
                                                        <div class="photo"
                                                             style="background: url(<?php echo My_Zend_Globals::getThumbImageVideo($post['picture']); ?>) center center / cover no-repeat"></div>
                                                    <?php endif; ?>
                                                    <div class="bigVideoIndicator"></div>
                                                <?php else : ?>
                                                    <?php if ($post['nsfw']) : ?>
                                                        <div class="photo"
                                                             style="background: url(<?php echo $this->layout()->_general['server']['img']['path'] . '/' . Post::getNsfwThumb(); ?>) center center / cover no-repeat"></div>
                                                    <?php elseif (!empty($post['picture_upload']) && !$post['nsfw']) : ?>
                                                        <div class="photo"
                                                             style="background: url(<?php echo My_Zend_Globals::getThumbImage($post['picture_upload']); ?>) center center / cover no-repeat"></div>
                                                    <?php else: ?>
                                                        <div class="photo"
                                                             style="background: url(<?php echo My_Zend_Globals::getThumbImage($post['picture'], 'thumb1'); ?>) center center / cover no-repeat"></div>
                                                    <?php endif; ?>
                                                    <?php if ($post['is_gif'] == 1) : ?>
                                                        <div class="moi-keng-xa-beng-left-gif">GIF</div>
                                                    <?php endif; ?>

                                                <?php endif; ?>
                                            </div>
                                            <div>
                                                <i class="fa fa-eye"></i> <?php echo My_Zend_Globals::shortenNumber($post['number_of_view']); ?>
                                                &nbsp;&nbsp;
                                                <i class="fa fa-comments"></i> <?php echo My_Zend_Globals::shortenNumber($post['number_of_comment']); ?>
                                                &nbsp;&nbsp;
                                                <i class="fa fa-thumbs-up"></i> <?php echo My_Zend_Globals::shortenNumber($post['number_of_like']); ?>
                                                <p class="blackSmallTitle"
                                                   title="<?php echo $post['story']; ?>"><?php echo $post['story']; ?></p>
                                            </div>
                                            <div class="clear"></div>
                                        </a>
                                    </div>
                                <?php endforeach; ?>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                <?php else : ?>
                    Không có dữ liệu
                <?php endif; ?>
                <div id="fixedRecommendedListAnchor"></div>
            </div>
        </div>

    </div>
    <div class="clear"></div>
</div>
<div id="reportPost" title="Bạn muốn báo bài vi phạm?">
    <h3 class="title">Vậy thì tụi mình biết lý do đi</h3>
    <form name="reportForm" id="reportForm" action="#" method="post">
        <div><input id="doi-truy" type="radio" name="reason" value="1" checked="checked"><label for="doi-truy"> Bài có nội dung đồi trụy</label></div>
        <div><input id="phan-dong" type="radio" name="reason" value="2"><label for="phan-dong"> Bài có nội dung phản động</label></div>
        <div><input id="chinh-tri" type="radio" name="reason" value="3"><label for="chinh-tri"> Bài liên quan đến chính trị</label></div>
        <div><input id="ton-giao" type="radio" name="reason" value="4"><label for="ton-giao"> Bài liên quan đến tôn giáo</label></div>
        <div><input id="vung-mien" type="radio" name="reason" value="5"><label for="vung-mien"> Bài mang tính đả kích cá nhân, vùng miền</label></div>
        <div><input id="phan-cam" type="radio" name="reason" value="6"><label for="phan-cam"> Bài có nội dung phản cảm</label></div>
        <div><input id="ban-quyen" type="radio" name="reason" value="7"><label for="ban-quyen"> Bài này vi phạm bản quyền</label></div>
        <div><input id="khac" type="radio" name="reason" value="8"><label for="khac"> Lý do khác (ghi rõ bên dưới)</label></div>
        <div><input type="text" name="reasonDetail" disabled="disabled"></div>
    </form>
</div>

<script>
    $(document).ready(function () {
        Haynn.itemDetail.init("<?php echo $this->post['post_id'];?>", "<?php echo $videoType;?>");
        $('body').scrollTo('.postDetail', {
            offsetTop: 10
        });
        $(document).on('click', 'a#sharefacebook', function () {
            FB.ui({
                    method: 'share',
                    href: '<?php echo Post::postUrl($this->post, true, false);?>'
                }, function (response) {
                    if (response && !response.error_code) {
                        $.ajax({
                            type: 'POST',
                            url: '<?php echo BASE_URL;?>/ajax/updatestats',
                            data: {
                                url: '<?php echo Post::postUrl($this->post, true, false); ?>'
                            },
                            cache: false,
                            dataType: 'json'
                        });
                        $.ajax({
                            type: 'POST',
                            url: '<?php echo BASE_URL;?>/ajax/log',
                            data: {
                                url: '<?php echo Post::postUrl($this->post, true, false); ?>',
                                type: 'share',
                                location: 'detail',
                                user_id: Account.UID,
                                platform: 'desktop'
                            },
                            cache: false,
                            dataType: 'json'
                        });
                    } else {
                    }
                }
            );
        });

        $('body').on('click', '#like-button', function () {
            $.ajax({
                type: 'POST',
                url: '<?php echo BASE_URL;?>/ajax/vote',
                data: {
                    post_id: '<?php echo $this->post['post_id']; ?>',
                    user_id: '<?php echo LOGIN_UID ?>',
                    token: $(this).attr('data-token'),
                    time: '<?php echo $this->tokenTime; ?>'
                },
                beforeSend: function() {
                    $('div', this).addClass('loading');
                },
                context: this,
                cache: false,
                dataType: 'json'
            }).done(function(response) {
                $('div', this).removeClass('loading');
                if (response.error) {
                    displayLoginIsRequiredDialog();
                } else {
                    if (response.action == 'unlike') {
                        $('div', this).removeClass('liked');
                    } else {
                        $('div', this).addClass('liked');
                    }
                    $(this).attr('title', response.tooltip).attr('original-title', response.tooltip);
                    $('#like-button-count').html(response.number);
                    $(this).tipsy('hide'); $(this).tipsy('show');
                }
            });
        });
        <?php  if (!$this->post['is_approved'] && $this->canApprovePost): ?>
        $('#approvePost').click(function(){
            var post_id = $(this).attr('post-id');
            $.get(Settings.baseurl +"/ajax/approve-post/post_id/"+ post_id, function(data) {
                alert(data.error_message);
                location.reload();
            }, 'json');
        });
        <?php endif; ?>
        <?php if ($this->post['phase'] < Post::_PHASE_HOMEPAGE && $this->canApprovePost): ?>
        $('#movePostToHome').click(function(){
            var post_id = $(this).attr('post-id');
            $.get(Settings.baseurl +"/ajax/move-post-to-home/post_id/"+ post_id, function(data) {
                alert(data.error_message);
                location.reload();
            }, 'json');
        });
        <?php endif; ?>
        <?php if ($this->canDeletePost): ?>
        $('#deletePost').click(function(){
            if (confirm("Xóa bài này hả cu? Có chắc không?")) {
                var post_id = $(this).attr('post-id');
                $.get(Settings.baseurl +"/<?php echo ADM_FOLDER ;?>/post/delete/post_id/"+ post_id, function(data) {
                    if (data == 1) {
                        var nextLink = $('#btnNext_post').attr('href');
                        if (nextLink != undefined) {
                            window.location = Settings.baseurl + $('#btnNext_post').attr('href');
                        }
                        else {
                            window.location = Settings.baseurl;
                        }
                    } else {
                        alert('Không xóa được, có lỗi.');
                    }
                });
            }
        });
        <?php endif;  ?>
        var closeLayoutAndReplay = function () {
            $("#hot_videos").fadeOut("fast");
            <?php if(!(empty($this->post['youtube_key']))): ?>
            <?php echo 'jwp.play();' ?>
            <?php endif; ?>
        };

        $('#replay_btn').click(function () {
            closeLayoutAndReplay();
        });

        <?php if(!empty($this->post['mecloud_key'])): ?>
        MeCloudVideoPlayer.addEventListener('complete', function (eventData) {
            $("#hot_videos").fadeIn("slow");
        });
        <?php endif; ?>
    });

</script>