<style>
    .gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top{padding-left:0}
    .gsc-control-cse table td, .gsc-control-cse .cat-list-row0 td, .cat-list-row1 td{border:0;padding:0}
    .gsc-adBlock{display:none !important}
    .gsc-results .gsc-cursor-box{text-align:center;}
    .gsc-results .gsc-cursor-box .gsc-cursor-page{border: 1px solid #C6C6C6;padding:4px 9px;box-shadow:0 0 3px #CCCCCC;color:#666}
    .gsc-results .gsc-cursor-box .gsc-cursor-current-page{background:none repeat scroll 0 0 #007991;color:#FFF}
</style>
<div id="breadcrumbs-top" class="wrap">
    <div class="container">
        <div class="container-inner">
            <div class="module moduletable">
                <div class="leomodule">
                    <div class="modulecontent">
                        <div class="breadcrumbs">
                            <a href="<?php echo BASE_URL ?>" class="pathway">Trang chủ</a>
                            <img src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/default/arrow.png" alt="" />
                            <span>Kết quả tìm kiếm cho từ khóa "<b><i><?php echo $this->keyword ?></i></b>"</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mainwrap" class="wrap">
    <div class="container">
        <div class="container-inner">
            <div id="mainwrap" class="clearfix layout-lcr">
                <div id="content">
                    <div id="content-inner">
                        <div id="maincontent" class="clearfix">
                            <div id="maincontent-inner">
                                <div class="blog">
                                    <script>
                                        (function() {
                                            var cx = '012265685142877432220:seyw9vz0f5w';
                                            var gcse = document.createElement('script');
                                            gcse.type = 'text/javascript';
                                            gcse.async = true;
                                            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                                    '//www.google.com/cse/cse.js?cx=' + cx;
                                            var s = document.getElementsByTagName('script')[0];
                                            s.parentNode.insertBefore(gcse, s);
                                        })();
                                    </script>
                                    <gcse:searchresults-only><img style="margin-top:10px;" src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/system/loading.gif" /> Đang tìm kiếm bài viết với từ khóa "<b><i><?php echo $this->keyword ?></i></b>"</gcse:searchresults-only>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="right">
                    <div class="right-top">
                        <?php echo $this->render('partials/box_ads.phtml'); ?>
                        <?php if (isset($this->articles) & !empty($this->articles)): ?>
                            <div class="module moduletable_style listmenu">
                                <div class="leomodule">
                                    <h3 class="moduletitle">
                                        <span>Có thể bạn quan tâm</span>
                                    </h3>
                                    <div class="modulecontent">
                                        <ul class="mostread_style listmenu">
                                            <?php foreach ($this->articles as $article): ?>
                                                <li><a href="<?php echo Article::articleUrl($article) ?>"><?php echo $article['title'] ?></a></li>
                                            <?php endforeach; ?>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        <?php endif; ?>
                        <?php echo $this->render('partials/box_facebook.phtml'); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>