<!-- Page -->
<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title">Setting</h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo BASE_URL . '/adm_reborn' ?>">Home</a></li>
            <li class="active">Static Menu</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <!-- Panel Static Lables -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Static Menu Management</h3>
                    </div>
                    <div class="panel-body container-fluid">
                        <form autocomplete="off" method="post" enctype="multipart/form-data">
                            <?php if (!empty($this->succes)): ?>
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <?php echo $this->succes;?>
                                </div>
                            <?php endif; ?>
                            <div class="form-group form-material row">
                                <div class="col-sm-12">
                                    <label class="control-label" for="setting_value">List post ID</label>
                                    <input type="text" class="form-control" id="setting_value" name="setting_value"
                                           value="<?php echo $this->dataDefault['setting_value']; ?>"/>
                                </div>
                            </div>
                            <button type="submit" name="btn_submit" class="btn btn-primary pull-right margin-top-30" id="btn_submit">Save</button>
                        </form>
                    </div>
                </div>
                <!-- End Panel Static Lables -->
            </div>
        </div>
    </div>
</div>
<!-- End Page -->