<!-- Page -->
<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title">Admin</h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo BASE_URL . '/adm_reborn' ?>">Home</a></li>
            <li><a href="<?php echo BASE_URL . '/adm_reborn/admin/list' ?>">Admin</a></li>
            <li class="active">Edit</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- Panel Static Lables -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Admin Information</h3>
                    </div>
                    <div class="panel-body container-fluid">
                        <form autocomplete="off" method="post" enctype="multipart/form-data">
                            <?php if(isset($this->error) && $this->error) : ?>
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <?php echo isset($this->msg) ? $this->msg : '';?>
                                </div>
                            <?php endif; ?>
                            <div class="form-group form-material floating has-warning row">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="user_name" name="user_name"
                                           value="<?php echo $this->user['user_name']?>"/>
                                    <label class="floating-label" for="user_name">Username</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="password" name="password"
                                           value=""/>
                                    <label class="floating-label" for="password">Password</label>
                                </div>
                            </div>
                            <div class="form-group form-material floating row">
                                <div class="col-sm-4">
                                    <input type="text" class="form-control"
                                           name="fullname" id="fullname" value="<?php echo $this->user['fullname']?>"/>
                                    <label class="floating-label" for="fullname">Full name</label>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control focus" id="role_id" name="role_id">
                                        <?php foreach ($this->roleList as $roleId => $role): ?>
                                            <option value="<?php echo $roleId; ?>"><?php echo $role; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                    <label class="floating-label" for="role_id">Role</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control"
                                           name="email" id="email" value="<?php echo $this->user['email']?>"/>
                                    <label class="floating-label" for="email">Email</label>
                                </div>
                            </div>
                            <button type="submit" name="btn_submit" class="btn btn-primary pull-right margin-top-30" id="btn_submit">Update</button>
                        </form>
                    </div>
                </div>
                <!-- End Panel Static Lables -->
            </div>
        </div>
    </div>
</div>
<!-- End Page -->