<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title">Admin Management</h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo BASE_URL . '/adm_reborn' ?>">Home</a></li>
            <li class="active">Admin</li>
        </ol>
    </div>
    <div class="page-content">
        <!-- Panel Basic -->
        <div class="panel">
            <a href="<?php echo $this->url(array('action' => 'add', 'controller' => 'admin', 'module' => 'default'), null, true); ?>">
                <button type="button" class="btn btn-outline btn-success btn-custom-create">
                    <span><i class="icon wb-plus" aria-hidden="true"></i>  Create new</span>
                </button>
            </a>

            <div class="panel-body">
                <table class="table table-hover dataTable table-striped width-full table-custom">
                    <thead>
                    <tr>
                        <th width="5%">ID</th>
                        <th width="10">User Name</th>
                        <th width="15%">Full name</th>
                        <th width="10%">Role</th>
                        <th width="15%">Email</th>
                        <th width="10%">Status</th>
                        <th width="10%" class="text-nowrap">Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th width="5%">ID</th>
                        <th width="10">User Name</th>
                        <th width="15%">Full name</th>
                        <th width="10%">Role</th>
                        <th width="15%">Email</th>
                        <th width="10%">Status</th>
                        <th width="10%" class="text-nowrap">Action</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <?php
                    echo $this->paging;
                    foreach ($this->listAdmin as $user) :
                        $roleName = $this->listRole[$user['role_id']]['name'];
                        $roleName = ($user['role_id'] == -1) ? 'Super Admin' : $roleName;
                        $isLocked = ($user['is_locked'] == 1) ? "Locked" : "Active";
                        $image = ($user['is_locked'] == 1) ? "/icon_unlock.jpg" : "/icon_lock.jpg";
                        $title = ($user['is_locked'] == 1) ? "Unlock this admin" : "Lock this admin";
                        ?>
                        <tr>
                            <td>
                                <?php echo $user['user_id']; ?>
                            </td>
                            <td>
                                <?php echo $user['user_name']; ?>
                            </td>
                            <td>
                                <?php echo $user['fullname']; ?>
                            </td>
                            <td>
                                <a href="#" class="role"
                                   rel="<?php echo $user['user_id']; ?>"><?php echo $roleName; ?></a>
                            </td>
                            <td>
                                <?php echo $user['email']; ?>
                            </td>
                            <td>
                                <?php echo $isLocked; ?>
                            </td>
                            <td class="text-nowrap" style="padding: 8px !important;">
                                <a rel="<?php echo $user['user_id']; ?>" title="Sửa user"
                                   class="btn btn-sm btn-icon btn-flat btn-default"
                                   href="<?php echo $this->url(array('action' => 'edit', 'controller' => 'admin', 'module' => 'adm', 'user_id' => $user['user_id']), null, true); ?>">
                                    <i class="icon wb-wrench" aria-hidden="true"></i>
                               </a>
                                <a href="<?php echo $this->url(array('action' => 'delete', 'controller' => 'admin', 'module' => 'adm', 'user_id' => $user['user_id']), null, true); ?>"
                                   class="btn btn-sm btn-icon btn-flat btn-default" onClick="return confirm('<?php echo $title ?>');"
                                   title="<?php echo $title ?>" style="cursor:pointer">
                                    <i class="icon wb-lock" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
            <!-- End Panel Basic -->
        </div>
        <!-- End Panel -->
    </div>
</div>