<div id="breadcrumbs-top" class="wrap">
    <div class="container">
        <div class="container-inner">
            <div class="module moduletable">
                <div class="leomodule">
                    <div class="modulecontent">
                        <div class="breadcrumbs">
                            <a href="<?php echo BASE_URL ?>" class="pathway">Trang chủ</a>
                            <img
                                src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/default/arrow.png"
                                alt=""/>
                            <?php if (!empty($this->navigationPath)): ?>
                                <?php foreach ($this->navigationPath as $cat): ?>
                                    <a href="<?php echo Category::categoryUrl($cat) ?>"><?php echo $cat['category_name'] ?></a>
                                    <img
                                        src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/default/arrow.png"
                                        alt=""/>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mainwrap" class="wrap ">
    <div class="container">
        <div class="container-inner">
            <div id="mainwrap" class="clearfix layout-lcr">
                <div id="content">
                    <div id="content-inner">
                        <div id="maincontent" class="clearfix">
                            <div id="maincontent-inner">
                                <?php if ($this->page == 1 && $this->category['page_content'] != ''): ?>
                                    <?php echo $this->category['page_content'] ?>
                                    <div class="clear"></div>
                                    <div style="margin: 10px 0;font-weight:bold;font-size:15px;">Bài viết mới cập nhật
                                    </div>
                                    <div class="clear"></div>
                                <?php endif; ?>
                                <div class="blog">
                                    <?php if (!empty($this->articles)): ?>
                                        <?php foreach ($this->articles as $key => $article): ?>
                                            <div class="<?php echo $key == 0 ? 'items-leading' : 'items-row' ?>">
                                                <div class="item">
                                                    <h2><a href="<?php echo Article::articleUrl($article) ?>"
                                                           class="link"><?php echo $article['title'] ?></a></h2>

                                                    <div class="item-info">
                                                        <p><a href="<?php echo Article::articleUrl($article) ?>"><img
                                                                    src="<?php echo My_Zend_Globals::getThumbImage($article['picture'], 'bthumb') ?>"
                                                                    alt="<?php echo $article['title'] ?>"/></a></p>

                                                        <p><?php echo $article['description'] ?></p>

                                                        <p class="readmore"><a
                                                                href="<?php echo Article::articleUrl($article) ?>">Xem
                                                                chi tiết</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                    <?php echo $this->paging ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="right">
                    <div class="right-top">
                        <?php echo $this->render('partials/box_ads.phtml'); ?>
                        <?php if (isset($this->topArticles) & !empty($this->topArticles)): ?>
                            <div class="module moduletable_style listmenu">
                                <div class="leomodule">
                                    <h3 class="moduletitle">
                                        <span>Chủ đề được xem nhiều</span>
                                    </h3>
                                    <div class="modulecontent">
                                        <ul class="mostread_style listmenu">
                                            <?php foreach ($this->topArticles as $article): ?>
                                                <li>
                                                    <a href="<?php echo Article::articleUrl($article) ?>"><?php echo $article['title'] ?></a>
                                                </li>
                                            <?php endforeach; ?>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        <?php endif; ?>
                        <?php echo $this->render('partials/box_facebook.phtml'); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>