.side-bar .suggest-users {
  padding-bottom: 5px;
  padding-right: 0;
}

.side-bar .block {
  border-bottom: 1px dashed #D6D6D6;
  clear: both;
  float: none;
  margin-left: 15px;
  padding: 10px 15px 15px 0;
}

.block .block-title {
  color: #737373;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: 10px;
  text-shadow: 1px 1px 0 #FFFFFF;
  text-transform: uppercase;
  padding: 0;
}

.side-bar .suggest-users .list-users {
  height: auto;
  overflow: auto;
}

.side-bar .suggest-users .list-users .user {
  border-bottom: 1px solid #E3E3E3;
  overflow: hidden;
  padding: 7px 0px;
}

.list-users .user {
  border-bottom: 1px dashed #CECECE;
  margin-left: 0;
  padding: 15px 15px 15px 0;
  position: relative;
}

.side-bar .suggest-users .list-users .user:last-child {
  border-bottom: 0 none;
}

.side-bar .suggest-users .list-users .user .avatar {
  background: url("../images/df-avatar-36x36.png") no-repeat scroll center center #C8C8C8;
  border: 2px solid #FFFFFF;
  margin-left: 3px;
}
.side-bar .suggest-users .list-users .user .avatar:hover {
  border-color: #F15A24;
}

.side-bar .suggest-users .list-users .user .avatar img,
.side-bar .suggest-users .list-users .user .avatar {
  height: 36px;
  width: 36px;
}

.list-users .user .avatar img, .list-users .user .avatar {
  height: 46px;
  width: 46px;
}

.list-users .user .avatar {
  border-color: #DDDDDD;
  box-shadow: none;
  margin-left: 20px;
}

.list-users .user .avatar,
.tweet .avatar {
  background: url("../images/df-avatar.png") no-repeat scroll center center #F0F0F0;
  border: 3px solid #FFFFFF;
  box-shadow: -1px 0 3px #B7B7B7;
  margin-left: -20px;
  transition: all 0.5s ease 0s;
}

.list-users .user .avatar, 
.tweet .avatar, 
.tweet .avatar img {
  border-radius: 100% 100% 100% 100%;
  height: 48px;
  width: 48px;
}

.avatar {
  background: url("../images/df-avatar.png") no-repeat scroll center center #C8C8C8;
  border: 2px solid #FFFFFF;
  border-radius: 100% 100% 100% 100%;
  display: inline-block;
  height: 48px;
  overflow: hidden;
  width: 48px;
}

.align-left {
  float: left;
}

.side-bar .suggest-users .list-users .user .latest-tweet, 
.side-bar .suggest-users .list-users .user .user-info, 
.side-bar .suggest-users .list-users .user .user-stat {
  margin-left: 50px;
  padding-right: 30px;
}

.side-bar .suggest-users .list-users .user .user-info {
  margin-top: 3px;
}

.list-users .user .latest-tweet, 
.list-users .user .user-info, 
.list-users .user .user-stat {
  margin-left: 86px;
}

.list-users .user .user-info, .tweet .user-info {
  display: block;
  margin-left: 86px;
  position: relative;
}

.side-bar .suggest-users .list-users .user .btn {
  background: url("../images/icon-sprites.png") no-repeat scroll -356px -145px transparent;
  font-size: 0;
  height: 22px;
  line-height: 0;
  margin-top: -11px;
  padding: 0;
  right: 15px;
  text-indent: -9999px;
  top: 50%;
  width: 22px;
}
.side-bar .suggest-users .list-users .user .btn:hover {
  opacity: 0.7;
}

.list-users .user .btn-follow {
  background: url("../images/icon-follow.png") no-repeat scroll 5px 5px #8FBF00;
}

.list-users .user .btn {
  border-radius: 50px 50px 50px 50px;
  font-size: 11px;
  padding: 7px 5px 7px 28px;
  position: absolute;
  right: 10px;
  text-align: left;
  text-transform: none;
  top: 13px;
  z-index: 5;
  width: 110px;
}

.btn .btn-follow {
  background: url("../images/icon-follow.png") no-repeat scroll 5px 5px #8FBF00;
}
.list-users .user .btn-following {
  background-color: #009ACD;
  padding-left: 7px;
  text-align: center;
}
.btn.btn-follow, 
.btn.btn-following, 
.btn.btn-unfollow {
  border-radius: 50px 50px 50px 50px;
  font-size: 11px;
  padding: 7px 5px 7px 28px;
  text-align: left;
  text-transform: none;
  width: 120px;
}

.zme-boxy .zme-boxy-footer .btn_L3, .btn.btn-submit {
  background-color: #8FBF00;
}

.ok-delete-tweet-box, 
.close-delete-tweet-box, 
.zme-boxy .zme-boxy-footer .btn_L5, 
.zme-boxy .zme-boxy-footer .btn_L3, 
input.btn, a.btn, .btn {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: none repeat scroll 0 0 #808080;
  border: medium none;
  border-radius: 40px 40px 40px 40px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font: 700 Tahoma,arial,sans-serif;
  max-height: 40px;
  outline: medium none;
  padding: 7px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in 0s;
}

.ok-delete-tweet-box, 
.close-delete-tweet-box, 
.zme-boxy .zme-boxy-footer .btn_L5, 
.zme-boxy .zme-boxy-footer .btn_L3, input.btn, a.btn, .btn {
  -moz-box-sizing: border-box;
  background: none repeat scroll 0 0 #808080;
  border: medium none;
  border-radius: 40px 40px 40px 40px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font: 700 0.875em/1.25em "Open Sans",Tahoma,arial,sans-serif;
  max-height: 40px;
  outline: medium none;
  padding: 7px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in 0s;
}

.side-bar .suggest-users .list-users .user .user-info .display-name {
  display: inline-block;
  font-family: Tahoma,Arial;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 0;
  white-space: nowrap;
}

.list-users .user .user-info .display-name, 
.list-users .user .user-info .mention-name {
  font-size: 13px;
  position: relative;
  top: -6px;
}

.list-users .user .display-name, 
.tweet .user-info .display-name {
  color: #466B8E;
  font-size: 0.928571em;
  font-weight: bold;
}

.side-bar .suggest-users .list-users .user .user-info .mention-name {
  display: block;
  margin-top: 3px;
}

.list-users .user .mention-name {
  color: #AFAFAF;
}

.list-users .user .display-name:hover, 
.tweet .user-info .display-name:hover {
  color: #F15A24;
}

.side-bar .list-users .user .user-info .like {
  background: url("../images/like-icon-2.png") no-repeat scroll 0 3px transparent;
  color: #959595;
  display: block;
  font-size: 11px;
  font-weight: bold;
  margin-top: 0;
  padding-left: 14px;
  padding-top: 2px;
}

.side-bar .top-user-title {
	float: left;
}

.topuser-sort {
	font-style: italic;
	float: right;
	margin-top: 2px;
}

.topuser-sort a {
	color: #737373;
}

.topuser-sort a:hover {
	color: #F14E23;
}


.topuser-sort a.selected {
	color: #1198B6;
	font-weight: bold
}	