html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 10pt  Arial, sans-serif;
  /*background: #F7F7F7 url(../images/pattern.png) fixed;*/
  background: #EBEBEB;
  color: #555;}

p
{ padding: 0 0 20px 0;
  line-height: 1.5em;
  font-size: 100%;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: bold 250% 'Open Sans Condensed', arial, sans-serif;
  color: #444;
  margin: 0 0 15px 0;
  padding: 5px 0 5px 0;}

h2
{ font: bold 170% 'Open Sans Condensed', arial, sans-serif;
  color: #F14E23;  
  margin: 0;
  padding: 0 0 8px 0;}

h3
{ font-size: 200%;
  margin: 0 0 9px 0;
  color: #444;}

h4, h5, h6
{ margin: 0;
  font: normal 100% arial, sans-serif;
  color: #F14E23;
  line-height: 1em;}

h5, h6
{ font: italic 95% arial, sans-serif;
  color: #888;
  padding-bottom: 15px;}

h6
{ color: #362C20;}

a, a:hover
{ outline: none;
  text-decoration: none;
  color: #35BDF5;}

a:hover
{ }

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 0 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#page-landing, #header, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#page-landing
{ width: 995px;
  margin: 20px auto;}

#header
{ width: 995px;
  height: 135px;}

#logo
{ width: 950px;
  float: left;
  height: 90px;
  background: transparent;
  padding: 0 0 0px 10px;}

#logo h1
{ font: normal 350% 'Open Sans Condensed', arial, sans-serif;
  padding: 5px 0 0 17px;
  color: #555;
  float: left;}

#logo h1 a
{ color: #35BDF5;
  text-decoration: none;}

#logo h1 a:hover
{ color: #555;
  text-decoration: none;}

.slogan
{ float: right; 
  padding-right: 25px;
  text-align: right; 
  font: 500% 'tangerine', arial; 
  color: #111;}

#menubar
{ height: 46px;
  width: 700px;
  margin: 0px auto -1px auto;
  float: right;
  padding: 0px 0 0 0;} 

ul#menu
{ float: right;}

ul#menu li
{ 
float: left;
  padding: 0 0 0px 0px;
  list-style: none;
  margin: 2px 0 0 0;
  background: transparent;
 }

ul#menu li a
{ font: 700 18px 'Open Sans Condensed', Arial, sans-serif;
  text-decoration: none;
  color: #555;
  display: block; 
  float: left; 
  height: 20px;
  padding: 7px 23px 15px 23px;
  text-align: center;} 

ul#menu li.current a
{ height: 20px;
  padding: 6px 22px 15px 22px;}

ul#menu li.current a
{ background: #fff;
  border: 1px solid #ddd;
  border-bottom: 0;
  color: #F14E23;}

ul#menu li a:hover
{ color: #F14E23;}

#site_content {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E7E7E7;
  border-radius: 10px 10px 10px 10px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 995px;
}

#sidebar_container
{ float: right;
  width: 300px;
  margin: 15px 0;}

.sidebar
{ float: right;
  width: 250px;
  margin: 0 24px 27px 0;
  background: #FBFBFB;
  border: 1px solid #eee;
  padding: 0 15px 15px 15px;}

.sidebar h3, .content h1
{ padding: 10px 15px;
  margin: 0 1px;}

.sidebar h1
{ padding: 5px 0 0 0;}

.paperclip
{ float: left;
  position: relative; 
  z-index: 0;
  vertical-align: middle; 
  margin: -27px 0 -60px -30px;}

#page-content
{ text-align: left;
  width: 675px;
  margin: 0;}

#page-content ul
{ margin: 2px 0 22px 0px;}

#page-content ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

#footer
{ clear: both;
  width: 100%;
  font: normal 120% 'Open Sans Condensed',  arial, sans-serif;
  height: 85px;
  padding: 20px 0 5px 0;
  text-align: center; 
  color: #555;
  background: transparent;
  margin-bottom: 20px;}

#footer p
{ padding: 0 0 10px 0;}

#footer a, #footer a:hover
{ color: #555;
  text-decoration: none;}

#footer a:hover
{ color: #35BDF5;
  text-decoration: none;}

.gallery img
{ position:absolute;}

.form_settings
{ margin: 5px 0 0 0;}

.form_settings p
{ padding: 0 0 10px 0;}

.form_settings span
{ padding: 5px 0; 
  float: left; 
  width: 170px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ width: 252px; 
  font: 100% 'trebuchet ms', arial;
  border: 0;
  border: 1px solid #eee;
  padding: 5px 10px;
  background: #fff;
  color: #FFF;}
  
.form_settings .submit
{ border: 0; 
  width: auto;
  margin: 0 0 0 200px; 
  cursor: pointer; 
  color: #35BDF5;
  border: 1px solid #ddd;
  padding: 5px 15px;
  background: #fff;
  font: normal 140% 'Open Sans Condensed', sans-serif;}

.form_settings textarea, .form_settings select
{ font: 100% 'trebuchet ms', arial; 
  border: 1px solid #eee;
  padding: 5px 10px;
  background: #fff;
  width: 252px;
  overflow: auto;}

.form_settings select
{ width: 274px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.search
{ color: #666;
  border: 1px solid #eee;
  margin: 0;
  padding: 10px 5px;
  width: 189px;
  color: #F14E23;}
  
.subscribe
{ color: #35BDF5;
  border: 1px solid #ddd;
  padding: 5px 10px;
  background: #fff;
  float: right;
  cursor: pointer;
  margin: 0;
  font: normal 140% 'Open Sans Condensed', sans-serif;}
 
table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ background: #F5F5F5;
  color: #111;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #FBFBFB;
  color: #111;
  border-top: 1px solid #FFF;}
  
.align-right {
  float: right;
}
#menu .notif-msg a.icon {
  background-position: -29px 0;
}
#menu .new-tweet a, 
#menu .notif-msg a.icon {
  background: url("../images/sprite-user-control.png") no-repeat scroll left top transparent;
  display: block;
  height: 21px;
  position: relative;
  top: 8px;
  width: 21px;
}
#menu .notif-msg a.icon {
  background-position: -29px 0;
}
#menu .notif-msg a.icon:hover {
  background-position: -29px -21px;
}

.icon {
  background: url("../images/icon-sprites.png") no-repeat scroll left top transparent;
  display: inline-block;
  height: 16px;
  position: relative;
  width: 16px;
}
.hide-text {
  border: 0 none;
  font-size: 0;
  line-height: 0;
  margin: 0;
  outline: medium none;
  text-indent: -9999px;
}
#menu .notif-msg .list-notif {
  display: none;
  margin-top: 15px;
  padding: 0;
  right: -46px;
  width: 350px;
}
#menu .notif-msg .list-notif, 
#menu .profile-settings:hover .list-settings {
  margin-top: 44px;
  opacity: 1;
  visibility: visible;
}
.round-corner {
  border-radius: 4px 4px 4px 4px;
}
#menu .notif-msg .list-notif .overlay-trick, 
#menu .list-settings .overlay-trick {
  border-bottom: medium none;
  cursor: default;
  display: block;
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: -5px;
}
#menu .notif-msg .list-notif .list-anchor {
  margin: 0;
  padding: 0;
  right: 49px;
}
#menu .notif-msg .list-notif .list-wrap {
  max-height: 490px;
  overflow-y: auto;
}
#menu .notif-msg .list-notif .list-wrap .scroll-to-load {
  background: url("../images/ajaxloading.gif") no-repeat scroll center center #F0F0F0;
  display: block;
  height: 40px;
  margin: 0;
  width: 100%;
}
#menu .notif-msg .list-notif .view-all {
  border-top: 1px solid #DDDDDD;
  color: #466B8E;
  display: none;
  padding: 10px 15px;
}
#menu .icon-chervon-right {
  background-position: -192px -40px;
  height: 9px;
  width: 7px;
}
#menu .profile-settings {
  cursor: pointer;
  margin: 2px 0 0 8px;
  padding: 0;
}
#menu .notif-msg, 
#menu .profile-settings {
  position: relative;
}
#menu .avatar {
  border: 2px solid #DDDDDD;
}
#menu .avatar {
  background: url("../images/df-avatar.png") no-repeat scroll center center #C8C8C8;
  border: 2px solid #FFFFFF;
  border-radius: 100% 100% 100% 100%;
  display: inline-block;
  height: 48px;
  overflow: hidden;
  width: 48px;
}
#menu .list-notif .avatar, 
#menu .list-notif .avatar img, 
#menu .avatar, 
#menu .avatar img {
  height: 32px !important;
  width: 32px !important;
}
#menu .profile-settings .icon-smallcog {
  bottom: 14px;
  display: none;
  position: absolute;
  right: 2px;
}
.icon-smallcog {
  background-position: -384px -53px;
  height: 12px;
  width: 12px;
}
#menu .notif-msg .list-notif, 
#menu .list-settings {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  font-size: 0.928571em;
  margin-bottom: 11px;
  margin-top: 30px;
  opacity: 0;
  padding: 0 15px;
  position: absolute;
  right: 0;
  transition: all 0.25s ease 0s;
  visibility: hidden;
  width: 170px;
  z-index: 3;
}

#menu .notif-msg .list-notif .list-anchor, 
#menu .list-settings .list-anchor {
  background: url("../images/list-anchor.png") no-repeat scroll left top transparent !important;
  display: block;
  height: 11px;
  margin: 0 !important;
  position: absolute;
  right: 11px;
  top: -9px;
  width: 14px;
}
#menu .list-settings li {
  border-bottom: 1px dashed #CECECE;
  float: none;
  margin: 0;
}
#menu .list-settings li a {
  color: #333333;
  display: block;
  overflow: hidden;
  padding: 10px 0;
  float: none;
  text-align: left;
  font: 10pt "Open Sans", Arial;
}
#menu .list-settings li a .icon.icon-to_profile {
  top: 2px;
}
#menu .list-settings li a .icon {
  margin-right: 10px;
  position: relative;
}
#menu .icon-to_profile {
  background-position: -405px 0;
  height: 16px;
  width: 16px;
}
#menu .list-settings li a:hover .icon-to_profile {
  background-position: -422px 0;
}
#menu .icon-to_setting {
  background-position: -405px -17px;
  height: 10px;
  width: 14px;
}
#menu .list-settings li a:hover .icon-to_setting {
  background-position: -422px -17px;
}
#menu .list-settings li a .icon.icon-logout {
  top: 3px;
}
#menu .icon-logout {
  background-position: -405px -28px;
}
#menu .list-settings li a:hover .icon-logout {
  background-position: -422px -28px;
}
.notif-msg a#btnNoti5 {
	padding: 0 5px 3px 10px;
	margin-top: 2px;	
}
.profile-settings a.avatar
{
	padding: 0 !important;

}
.upload_icon {
  background: url("../images/icon-upload.png") no-repeat scroll 0 0 transparent;
  display: inline-block;
  height: 15px;
  position: relative;
  top: 1px;
  width: 15px;
}
a:hover .upload_icon {
  background-position: -16px 0px;
}
li.login_icon {
  background: url("../images/login.png") no-repeat scroll left 11px transparent !important;
}
li.login_icon a {
	color: #F14E23 !important;
}
li.upload_icon:hover {
  background-image: url("../images/icon-cloud-blue.png");
}
.orange-button {
  background-color: #8FBF00;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset, 0 1px white;
  color: white;
  cursor: pointer;
  font: 700 12px/30px Arial, sans-serif;
  min-width: 45px;
  padding: 0 10px;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s linear 0s;
}

.orange-button:hover {
  background-color: #A7DE00;
  color: #FFFFFF;
}

#menu .notif-msg .list-notif .list-anchor, 
#menu .list-settings .list-anchor, 
#menu .list-settings li:last-of-type,
#menu .profile-settings .list-settings li.list-anchor
{
	border: none;
}

#menu .list-notif .avatar:hover, 
#menu .notif-msg .list-notif .avatar:hover, 
#menu .profile-settings:hover .avatar {
  border-color: #F15A24;
  transition: all 0.5s ease 0s;
}