<footer>
    <div class="copyright">
        <p><a href="<?php echo BASE_URL; ?>/?ismobile=0" style="color: #108fc8; text-decoration: none">Phiên bản Desktop</a></p>
        &copy; <?php echo date('Y');?> - Hay Nhức Nhói</div>
</footer>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1291863775756776",
        enable_page_level_ads: true
    });
</script>