<header>
    <div class="logo-container">
        <a href="<?php echo BASE_URL;?>"><img src="<?php echo $this->layout()->_general['server']['img']['path'];?>/logo-mobile.png" alt="Hay Nhức Nhói" /></a>
    </div>
    <nav class="main-nav">
        <ul>
            <li class="home <?php echo (CURRENT_CONTROLLER == 'index' && CURRENT_ACTION == 'index') ? 'active' : '';?>"><a href="<?php echo BASE_URL;?>">Hay</a></li>
            <li class="hot <?php echo (CURRENT_CONTROLLER == 'index' && CURRENT_ACTION == 'hot') ? 'active' : '';?>"><a href="<?php echo BASE_URL;?>/hot">Nhức Nhói</a></li>
            <li class="new <?php echo (CURRENT_CONTROLLER == 'index' && CURRENT_ACTION == 'new') ? 'active' : '';?>"><a href="<?php echo BASE_URL;?>/new">Mới</a></li>
            <li style="width: 10%"><a href="#" class="menuhome"><i class="fa fa-bars fa-bars-mobile"></i></a></li>
        </ul>
    </nav>
</header>