<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- IjKCXXSkjPswWGEYCIR0P19-jLE -->
	<?php echo $this->headTitle(); ?>
	<?php echo $this->headMeta(); ?>
	<?php if(isset($this->canonical)):?><link rel="canonical" href="<?php echo $this->canonical; ?>" /><?php endif;?>
	<?php if(isset($this->rss['title']) && isset($this->rss['link'])):?><link rel="alternate" type="application/rss+xml" title="<?php echo $this->rss['title']; ?>" href="<?php echo $this->rss['link']; ?>" /><?php endif;?>
	<meta name="robots" content="index, follow" />
	<meta name="google-site-verification" content="qavOi15NDmhzXySoJJBMN_XSCKrXs8cNN_3w0G3enVM" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="generator" content="Hay Nhức Nhói" />
	<meta property="fb:app_id" content="<?php echo FACEBOOK_APPID;?>" />
    <meta name="format-detection" content="telephone=yes" />
    <meta name="author" content="Hay Nhức Nhói" />
    <meta name="creator" content="Hay Nhức Nhói" />
    <link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->layout()->_general['server']['img']['path'];?>/favicon.ico" />
    <?php
    echo $this->headLink()
		 ->prependStylesheet($this->layout()->_general['server']['css']['path'].'/normalize.css')
                ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/mobile.css?v=10')
                ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/custom.css?v=10')
                ->appendStylesheet('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
                ->appendStylesheet('http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic,500italic,700italic|Roboto+Condensed:400,700,400italic,700italic&subset=latin,vietnamese,latin-ext');

	echo $this->headScript()
    	->appendFile('//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js')
        ->appendFile($this->layout()->_general['server']['js']['path'].'/main.js');
    ?>
  	<script type="text/javascript">
		document.domain="<?php echo DOMAIN; ?>";
		var Settings = {domain: "<?php echo DOMAIN; ?>", baseurl: "<?php echo BASE_URL; ?>", imgurl: "<?php echo $this->layout()->_general['server']['img']['path']; ?>", jsurl: "<?php echo $this->layout()->_general['server']['js']['path']; ?>"};
		var Account = {	UID: <?php echo LOGIN_UID?>, UNAME: "<?php echo LOGIN_UNAME?>"};
        <?php echo '$Core.init();';?>
    </script>
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40693557-5', 'auto');
  ga('send', 'pageview');
</script>
<script type='text/javascript'>
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function() {
        var gads = document.createElement('script');
        gads.async = true;
        gads.type = 'text/javascript';
        var useSSL = 'https:' == document.location.protocol;
        gads.src = (useSSL ? 'https:' : 'http:') +
        '//www.googletagservices.com/tag/js/gpt.js';
        var node = document.getElementsByTagName('script')[0];
        node.parentNode.insertBefore(gads, node);
    })();
</script>
<script type="text/javascript">
    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>
    <?php if ($this->pageType == 'index') : /* ?>
<script type='text/javascript'>
    googletag.cmd.push(function() {
        googletag.defineSlot('/15875645/HayNhucNhoiMobile-336x280-AbovePostList-IndexPage', [336, 280], 'div-gpt-ad-1427800602743-0').addService(googletag.pubads());
        googletag.defineSlot('/15875645/HayNhucNhoiMobile-336x280-After3rdPost-IndexPages', [336, 280], 'div-gpt-ad-1427800602743-1').addService(googletag.pubads());
        googletag.defineSlot('/15875645/HayNhucNhoiMobile-336x280-BelowPostList-IndexPages', [336, 280], 'div-gpt-ad-1427800602743-2').addService(googletag.pubads());
        googletag.defineSlot('/15875645/HayNhucNhoiMobile-Index4-Index', [336, 280], 'div-gpt-ad-after-9th-post').addService(googletag.pubads());
        googletag.pubads().collapseEmptyDivs();
        googletag.enableServices();
    });
</script>
<?php */ elseif ($this->pageType == 'detail') : ?>
<script type='text/javascript'>
    googletag.cmd.push(function() {
        googletag.defineSlot('/15875645/HayNhucNhoiMobile-336x280-AboveContent-DetailPage', [336, 280], 'div-gpt-ad-1433401836046-0').addService(googletag.pubads());
//        googletag.defineSlot('/15875645/HayNhucNhoiMobile-AfterComment-320x110-Detail', [336, 280], 'div-gpt-ad-after-1st-recommendation').addService(googletag.pubads());
        googletag.defineSlot('/15875645/HayNhucNhoiMobile-AfterContent-336x280-Detail', [336, 280], 'div-gpt-ad-1427801500123-5').addService(googletag.pubads());
//        googletag.defineSlot('/15875645/HayNhucNhoiMobile-Detail4-Detail', [336, 280], 'div-gpt-ad-above-footer-detail').addService(googletag.pubads());
//        googletag.pubads().collapseEmptyDivs();
        googletag.enableServices();
    });
</script>
<?php endif; ?>
</head>
<body class="<?php echo isset($this->bodyClass) ? $this->bodyClass : 'home'?>">
<div id="fb-root"></div>
<script type="text/javascript">
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&appId=<?php echo FACEBOOK_APPID;?>&version=v2.3";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
    <?php echo $this->render('header.phtml'); ?>
    <section class="main-content">
        <?php echo $this->layout()->content; ?>
        <?php echo $this->render('footer.phtml'); ?>
    </section>
</body>
</html>