<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <?php echo $this->headTitle(); ?>
    <?php echo $this->headMeta(); ?>
    <?php if(isset($this->canonical)):?><link rel="canonical" href="<?php echo $this->canonical; ?>" /><?php endif;?>
    <meta name="robots" content="index, follow" />
    <meta name="google-site-verification" content="qavOi15NDmhzXySoJJBMN_XSCKrXs8cNN_3w0G3enVM" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="generator" content="Hay Nhức Nhói" />
    <meta name="format-detection" content="telephone=yes" />
    <meta name="author" content="Hay Nhức Nhói" />
    <meta name="creator" content="Hay Nhức Nhói" />
    <?php
    echo $this->headLink()
        ->prependStylesheet($this->layout()->_general['server']['css']['path'].'/bootstrap/css/bootstrap.min.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/bootstrap/css/bootstrap-theme.min.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/bootstrap/css/vechai.css');
    ?>
</head>
<body>
<?php echo $this->layout()->content; ?>
<?php
echo $this->headScript()
    ->prependFile('//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    ->appendFile($this->layout()->_general['server']['css']['path'].'/bootstrap/js/bootstrap.min.js');
?>
</body>
</html>