.container {  border: 1px solid #F2F2F2;  margin-top: 10px;  }


.pull-right a.seemore {  color: #033402;  font-weight: 300; }
.haynhucnhoi-title {  font-size: 18px;  margin-left: 10px;  color:#033402 !important;  }
.thumbnail{  border: none; max-height: 150px;  }
.thumbnail a.detail-title {  color: #033402 !important;  text-decoration: none; font-size: 13px;  }
.thumbnail a.detail-title:hover{  color: #e04f82 !important;  }
.col-md-2 {  padding-left :7px;  padding-right:0px;  }
.col-xs-3 {
    padding-left :0;
    padding-right: 5px;
}
