<form name="tf" method="post" action="">
	<div id="content">
		<div class="breadcrumb clearfix">
			<div class="title k2">Quản lý chuyên mục</div>
		</div>
		<?php if(!empty($this->messages)):?>
			<div class="alert-box success">
				<?php foreach ($this->messages as $key => $value) :?>
					<p> <?php echo $this->messages[$key];?> </p>
				<?php endforeach;?>
			</div>
		<?php endif;?>
		<div class="module clearfix">
			<div class="lstitle">Sửa chuyên mục <?php echo $this->category['category_name']; ?></div>

			<div class="group_listing_input">

				<div class="listing_input">
					<div class="post_label_container">
						<label class="postLabel" for="category_name">Tên chuyên mục:</label>
					</div>
					<input type="text" value="<?php echo $this->category['category_name']; ?>" id="category_name" name="category_name" class="wide_text_input"/>
					<input type="hidden" name="id" id="id" value="<?php echo $this->category['category_id']; ?>">
					<input type="hidden" name="act" id="act" value="upd">
				</div>

				<div class="listing_input">
					<div class="post_label_container">
						<label class="postLabel" for="description">Mô tả:</label>
					</div>
					<textarea id="description" name="description" class="wideEx_text_input"><?php echo $this->category['description']; ?></textarea>
				</div>

				<div class="listing_input">
					<div class="post_label_container">
						<label class="postLabel" for="parent_id">Chuyên mục cấp trên:</label>
					</div>
					<select class="post_select" name="parent_id" id="parent_id">
						<option value="0">Chọn chuyên mục cấp trên</option>
						<?php
						if (is_array($this->arrParent) && ! empty($this->arrParent)) {
							foreach ($this->arrParent as $value) {
								if ($value['category_id'] == $this->parent_id) {
									?>
									<option selected="selected" value="<?php echo $value['category_id']; ?>"><?php echo $value['category_name']; ?></option>
									<?php
								} else {
									?>
									<option value="<?php echo $value['category_id']; ?>"><?php if ( ! empty($value['category_name'])) {
											echo $value['category_name'];
										} else {
											echo $value['category_customize'];
										} ?></option>
									<?php
								}
							}
						}
						?>
					</select>
				</div>

				<div class="listing_input">
					<div class="post_label_container">
						<label class="postLabel" for="is_active_home">Hiển thị trên Nhức Nhói, Trang chủ:</label>
					</div>
					<select name="is_active_home" id="is_active_home">
						<?php if ($this->category['is_active_home'] == 1 ): ?>
							<option value="0">Không</option>
							<option value="1" selected="selected">Có
							</option>
						<?php else: ?>
							<option value="0" selected="selected">Không</option>
							<option value="1">Có</option>
						<?php endif; ?>
					</select>
				</div>

				<div class="listing_input">
					<div class="post_label_container">
						<label class="postLabel" for="is_grid">Trình bày theo:</label>
					</div>
					<select name="is_grid" id="is_grid">
						<?php if ($this->category['is_grid'] == 1): ?>
							<option value="0">Kiểu thường</option>
							<option value="1" selected="selected">Kiểu Grid</option>
						<?php else: ?>
							<option value="0" selected="selected">Kiểu thường</option>
							<option value="1">Kiểu Grid</option>
						<?php endif; ?>
					</select>
				</div>

				<div class="listing_input">
					<div class="post_label_container">
						<label class="postLabel" for="is_hot">Thêm icon:</label>
					</div>
					<select name="is_hot" id="is_hot">
						<option value="0" <?php if ($this->category['is_hot'] == 0): ?> selected="selected" <?php endif; ?>>None</option>
						<option value="1" <?php if ($this->category['is_hot'] == 1): ?> selected="selected" <?php endif; ?>>New</option>
						<option value="2" <?php if ($this->category['is_hot'] == 2): ?> selected="selected" <?php endif; ?>>Hot</option>
					</select>
				</div>

				<div class="listing_input">
					<div class="post_label_container">
						<label class="postLabel" for="category_customize">Customize tên danh mục:</label>
					</div>
					<input type="text" name="category_customize" id="category_customize" value="<?php echo $this->category['category_customize']; ?>" class="wide_text_input"/>
				</div>

				<div class="listing_input">
					<div class="post_label_container">
						<label class="postLabel" for="is_url">URL:</label>
					</div>
					<input type="text" name="is_url" id="is_url" value="<?php echo $this->category['is_url']; ?>" class="wideAll_text_input"/>
				</div>

				<div class="listing_input">
					<div class="post_label_container">
						<label class="postLabel" for="ordering">Thứ tự</label>
					</div>
					<input type="text" name="ordering" id="ordering" value="<?php echo $this->category['ordering'] ?>" class="wide_text_input"/>
				</div>

			</div>
		</div>
			<!--module-->
		<div class="module clearfix">
			<div class="lstitle">SEO</div>
			<div class="group_listing_input">
				<div class="listing_input">
					<div class="post_label_container">
						<label class="postLabel" for="page_title">Page Title:</label>
					</div>
					<input type="text" id="page_title" value="<?php echo isset($this->category['page_title']) ? htmlspecialchars($this->category['page_title']) : ''; ?>" name="page_title" class="wideAll_text_input"/>
				</div>
				<div class="listing_input">
					<div class="post_label_container">
						<label class="postLabel" for="alias">Alias SEO URL:</label>
					</div>
					<input type="text" id="alias" value="<?php echo isset($this->category['alias']) ? htmlspecialchars($this->category['alias']) : ''; ?>" name="alias" class="wideAll_text_input"/>
				</div>
				<div class="listing_input autoheg">
					<div class="post_label_container">
						<label class="postLabel" for="meta_keyword">Meta Keywords:</label>
					</div>
					<textarea class="wideEx_text_input" id="meta_keyword" name="meta_keyword" cols="" rows=""><?php echo isset($this->category['meta_keyword']) ?
							htmlspecialchars($this->category['meta_keyword']) :
							''; ?></textarea>
				</div>
				<div class="listing_input autoheg">
					<div class="post_label_container">
						<label class="postLabel" for="meta_description">Meta Description:</label>
					</div>
					<textarea class="wideEx_text_input"
					          id="meta_description" name="meta_description"
					          cols=""
					          rows=""><?php echo isset($this->category['meta_description']) ?
							htmlspecialchars($this->category['meta_description']) :
							''; ?></textarea>
				</div>
			</div>
		</div>
		<div class="module clearfix">
			<div class="group_listing_input">
				<div class="listing_input">
					<div class="post_label_container">
						<label class="postLabel">&nbsp;</label>
					</div>
					<input class="nonbdr" name="" type="image"
					       src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/b_updateCate.jpg"/>
				</div>
			</div>
		</div>
		<!--module-->

		<div class="clear"></div>
	</div>
</form>