<form name="tf" method="post" action="">
    <div id="content">
        <div class="breadcrumb clearfix">
            <div class="title k2">Quản lý danh mục</div>			
        </div>
        <div class="leftSide">
            <div class="treeCategory">
                <h2>Danh mục sản phẩm</h2>
                <div class="treeCategory_inside">
                    <ul id="categorylist" class="filetree">
                        <?php
                        if (count($this->arrMenuCategory) > 0) {
                            foreach ($this->arrMenuCategory as $value) {
                                $style = "display:none;";
                                if ($value['category_id'] == $this->id) {
                                    $style = "display:block;";
                                }
                                ?>
                                <li><a href="<?php echo $this->url(array('action' => 'categorylist', 'controller' => 'category', 'module' => 'adm', 'id' => $value['category_id']), null, true); ?>" class="selected"><?php if(!empty($value['category_name'])) { echo $value['category_name']; } else { echo  $value['category_customize'];} ?></a>
                                    <ul style="<?php echo $style; ?>">
                                <?php
                                if (is_array($value['sub']) && !empty($value['sub'])) {
                                    foreach ($value['sub'] as $subvalue) {
                                        ?>
                                                <li><span class="file"><?php if(!empty($subvalue['category_name'])) { echo $subvalue['category_name']; } else { echo  $subvalue['category_customize'];} ?> <strong>(<?php echo $subvalue['total_item']; ?>)</strong></span></li>
                                                <?php
                                            }
                                        }
                                        ?>
                                    </ul>
                                </li>
                                        <?php
                                    }
                                }
                                ?>		
                    </ul>	
                </div>
            </div>
            <!--treeCategory-->
        </div>
        <div class="rightSide">
<?php
if ($this->flag > 0) {
    ?>
                <div class="warning">Bạn vừa tạo xong danh mục <strong>“<?php echo $this->name; ?>”</strong></div>
                <?php
            }
            ?>
            <div class="module clearfix">
                <?php if(!empty($this->arrError)):?>
                <div class="warning"><?php echo implode('<p></p>', $this->arrError)?></div>
                <?php endif;?>
                
                <div class="lstitle">Thêm danh mục</div>
                <div class="group_listing_input">
                    <div class="listing_input">
                        <div class="post_label_container">
                            <label class="postLabel">Danh mục chính:</label>
                        </div>
                        <select class="post_select" name="parent_id" id="parent_id">
                            <option value="0">Chọn danh mục chính</option>
<?php
if (!empty($this->arrParent) && !empty($this->arrParent)) {
    foreach ($this->arrParent as $value) {
        ?>
                                    <option value="<?php echo $value['category_id']; ?>"><?php if(!empty($value['category_name'])) { echo $value['category_name']; } else { echo  $value['category_customize'];} ?></option>
                                    <?php
                                }
                            }
                            ?>

                        </select>
                    </div>
                    
                     <div class="listing_input">
                        <div class="post_label_container">
                            <label class="postLabel">Có hiển thị trên Nhức nhối,Trang chủ:</label>
                        </div>
                        <select name="is_active_home" id="is_active_home">
                            <option value="0">Không</option>
                            <option value="1">Có</option>
                        </select>
                    </div>
                     
                      <div class="listing_input">
                        <div class="post_label_container">
                            <label class="postLabel">Trình bày theo:</label>
                        </div>
                        <select name="is_active_home" id="is_active_home">
                            <option value="0">Kiểu thường</option>
                            <option value="1">Kiểu Grid</option>
                        </select>
                    </div>

                    <div class="listing_input">
                        <div class="post_label_container">
                            <label class="postLabel">Thêm icon:</label>
                        </div>
                        <select name="is_hot" id="is_hot">
                            <option value="0">None</option>
                            <option value="1">New</option>
                            <option value="2">Hot</option>
                        </select>
                    </div>
                     
                    <div class="listing_input">
                        <div class="post_label_container">
                            <label class="postLabel">Tên danh mục:</label>
                        </div>
                        <input type="text" name="category_name" id="category_name" value="" class="wide_text_input" />
                        <input type="hidden" name="act" id="act" value="ins">
                    </div>

                    <div class="listing_input">
                        <div class="post_label_container">
                            <label class="postLabel">Customize tên danh mục:</label>
                        </div>
                        <input type="text" name="category_customize" id="category_customize" value="" class="wide_text_input" />
                    </div>

                    <div class="listing_input">
                        <div class="post_label_container">
                            <label class="postLabel">URL:</label>
                        </div>
                        <input type="text" name="is_url" id="is_url" value="" class="wideAll_text_input" />
                    </div>
                    
                    <div class="listing_input">
                        <div class="post_label_container">
                            <label class="postLabel">Thứ tự</label>
                        </div>
                        <input type="text" name="ordering" id="ordering" value="0" class="wide_text_input" />					
                    </div>
                                 
                </div>
            </div>
            <!--module-->
            <div class="module clearfix">
                <div class="lstitle">SEO</div>
                <div class="group_listing_input">
                    <div class="listing_input">
                        <div class="post_label_container">
                            <label class="postLabel">Page Title:</label>
                        </div>
                        <input type="text" value="" id="page_title" name="page_title" class="wideAll_text_input"/>
                    </div>
                    
                     <div class="listing_input">
                        <div class="post_label_container">
                            <label class="postLabel">Alias SEO URL:</label>
                        </div>
                        <input type="text"  id="alias" name="alias" class="wideAll_text_input"/>
                    </div>
                     
                    <div class="listing_input autoheg">
                        <div class="post_label_container">
                            <label class="postLabel">Meta Keywords:</label>
                        </div>
                        <textarea class="wideEx_text_input" id="meta_keyword" name="meta_keyword" cols="" rows=""></textarea>
                    </div>
                    <div class="listing_input autoheg">
                        <div class="post_label_container">
                            <label class="postLabel">Meta Description:</label>
                        </div>
                        <textarea class="wideEx_text_input" id="meta_description" name="meta_description" cols="" rows=""></textarea>
                    </div>
                    <div class="listing_input">
                        <div class="post_label_container">
                            <label class="postLabel">&nbsp;</label>
                        </div>
                        <input class="nonbdr" id="submit" name="submit" type="image" src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/b_addCate.jpg" />						
                    </div>
                </div>
            </div>			 
            <!--module-->
        </div>
        <div class="clear"></div>
    </div>
</form>