<?php
$allowAdd = Role::isAllowed(Permission::CATEGORY_ADD);
$allowEdit = Role::isAllowed(Permission::CATEGORY_EDIT);
?>
<div id="content">
    <div class="breadcrumb clearfix">
        <div class="title k2">Quản lý danh mục</div>
        <?php if ($allowAdd): ?>
            <div class="addLink"><a title="Tạo tủ hàng"
                                    href="<?php echo $this->url(array('action' => 'categorycreate', 'controller' => 'category', 'module' => 'adm'), null, true); ?>"><img
                        src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/b_addCate.jpg"
                        alt="Tạo tủ hàng"/></a></div>
        <?php endif; ?>
    </div>
    <div class="leftSide">
        <div class="treeCategory">
            <h2>Danh mục sản phẩm</h2>

            <div class="treeCategory_inside">
                <ul id="categorylist" class="filetree">
                    <?php
                    if (count($this->arrMenuCategory) > 0) {
                        foreach ($this->arrMenuCategory as $value) {
                            $style = "display:none;";
                            if ($value['category_id'] == $this->id) {
                                $style = "display:block;";
                            }
                            ?>
                            <li>
                                <a href="<?php echo $this->url(array('action' => 'categorylist', 'controller' => 'category', 'module' => 'adm', 'id' => $value['category_id']), null, true); ?>"
                                   class="selected"><?php if (!empty($value['category_name'])) {
                                        echo $value['category_name'];
                                    } else {
                                        echo $value['category_customize'];
                                    } ?> </a>
                                <ul style="<?php echo $style; ?>">
                                    <?php
                                    if (is_array($value['sub']) && !empty($value['sub'])) {
                                        foreach ($value['sub'] as $subvalue) {
                                            ?>
                                            <li><span class="file"><?php if (!empty($subvalue['category_name'])) {
                                                        echo $subvalue['category_name'];
                                                    } else {
                                                        echo $subvalue['category_customize'];
                                                    } ?> <strong>(<?php echo $subvalue['total_item']; ?>
                                                        )</strong></span></li>
                                        <?php
                                        }
                                    }
                                    ?>
                                </ul>
                            </li>
                        <?php
                        }
                    }
                    ?>

                </ul>
            </div>
        </div>
        <!--treeCategory-->
    </div>
    <div class="rightSide">
        <?php
        if (is_array($this->arrDetail) && !empty($this->arrDetail)) {
            ?>
            <div class="slstitle">Danh sách danh mục con của "<?php echo $this->arrDetail['category_name']; ?>"</div>
        <?php
        } else {
            ?>
            <div class="slstitle">Danh sách danh mục cấp 1</div>
        <?php
        }
        ?>
        <div class="table_member">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td width="3%" class="secondRow">STT</td>
                    <td width="60%" class="secondRow">Tên danh mục con</td>
                    <td width="12%" class="secondRow">Trạng thái</td>
                    <td width="12%" class="secondRow">Chức năng</td>
                </tr>

                <?php
                if (is_array($this->arrCategory) && !empty($this->arrCategory)) {
                    $stt = 1;
                    foreach ($this->arrCategory as $key => &$value) {
                        ?>
                        <tr>
                            <td class="ctn" style="text-align:center"><?php echo $stt; ?></td>
                            <td class="ctn"><strong><?php if (!empty($value['category_name'])) {
                                        echo $value['category_name'];
                                    } else {
                                        echo $value['category_customize'];
                                    } ?></strong></td>
                            <td class="ctn"><?php echo $value['is_hidden'] ? 'Ẩn' : 'Hiển thị' ?></td>
                            <td class="ctn">
                                <?php if (Role::isAllowed(Permission::CATEGORY_DELETE)): ?>
                                    <a class="action" title="Xóa danh mục"
                                       onClick="Category.doDeleteProduct('<?php echo $value['category_id']; ?>','<?php echo $this->id; ?>')"
                                       href="javascript:void(0);"><img
                                            src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/icon_del.jpg"
                                            alt="Xóa danh mục"/></a>
                                <?php endif; ?>
                                <?php if ($allowEdit): ?>
                                    <a class="action" title="Sửa danh mục"
                                       href="<?php echo $this->url(array('action' => 'categoryedit', 'controller' => 'category', 'module' => 'adm', 'id' => $value['category_id']), null, true); ?>"><img
                                            src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/icon_edit.jpg"
                                            alt="Sửa danh mục"/></a>
                                <?php endif; ?>
                            </td>
                        </tr>
                        <?php
                        $stt++;
                    }
                } else {
                    ?>
                    <tr>
                        <td class="ctn nonSearch" colspan="4">Không có danh mục con nào trong danh mục này!</td>
                    </tr>

                <?php
                }
                ?>
                </tbody>
            </table>
        </div>
    </div>
    <div class="clear"></div>
</div>
<script type="text/javascript">
    Category.Categorylist();
</script>