<?php
$post = $this->post;
$pictureShare = $this->pictureShare;
$pictureSharePhoto = $this->pictureSharePhoto;
$search     = array('&amp;quot;','&amp;amp;quot;');
$replace    =  array('&quot;','&quot;');
?>

<article class="item post-layout-2">
	<div class="thumbnail-container">
		<a href="<?php echo Post::postUrl($post);?>" title="<?php echo $post['story'];?>">
			<?php if (!$post['is_photo']) : ?>
				<?php if ($post['nsfw']) : ?>
					<img src="<?php echo $this->layout()->_general['server']['img']['path'] . '/' . Post::getNsfwThumb(); ?>" alt="<?php echo $post['story']; ?>" class="thumbnail" />
				<?php else:?>
					<img src="<?php echo $pictureShare; ?>" alt="<?php echo $post['story']; ?>" class="thumbnail" />
				<?php endif;?>
				<div class="videoIndicatorDetail"></div>
			<?php else :?>
				<?php if ($post['nsfw']) : ?>
					<img src="<?php echo $this->layout()->_general['server']['img']['path'] . '/' . Post::getNsfwThumb(); ?>" alt="<?php echo $post['story']; ?>" class="thumbnail"/>
				<?php else:?>
					<img src="<?php echo $pictureSharePhoto; ?>" alt="<?php echo $post['story']; ?>" class="thumbnail"/>
				<?php endif;?>

				<?php if ($post['is_gif']==1) : ?>
					<div class="co-the-ban-them-xem-gif">GIF</div>
				<?php endif;?>

			<?php endif;?>
		</a>
	</div>
	<div class="info">
		<h3><a href="<?php echo Post::postUrl($post);?>" title="<?php echo $post['story'];?>"><?php echo str_replace($search,$replace,$post['story']); ?></a></h3>
<!--		<span class="by">Đăng bởi <a href="#">--><?php //echo $post['fullname'];?><!--</a>,-->
<!--				--><?php //if ($post['phase'] == 0)
//					echo My_Zend_Globals::distanceOfTimeInWords($post['approved_at']);
//				elseif ($post['phase'] == 1 || $post['phase'] == 2)
//					echo My_Zend_Globals::distanceOfTimeInWords($post['updated_at']);
//				?><!--</span>-->
		<div class="meta"><i class="fa fa-eye"></i> <?php echo My_Zend_Globals::number_format($post['number_of_view']);?></div>
		<div class="meta"><i class="fa fa-thumbs-up"></i> <?php echo My_Zend_Globals::number_format($post['number_of_like']);?></div>
		<div class="meta"><i class="fa fa-comments"></i> <?php echo My_Zend_Globals::number_format($post['number_of_comment']);?></div>
	</div>
	<?php
	//                if ($i == 1) {
	//                   echo $this->partial('index/ad_7.phtml');
	//                }
	//                if ($i == 4) {
	//                    echo $this->partial('index/ad_6.phtml');
	//                }
	?>
	<div class="clear"></div>
</article>