<div id="content">
	<div class="breadcrumb clearfix">
		<div class="title k2">Top Member <?php echo $this->title; ?></div>
	</div>
	<form action="" method="get" name="frm" id="frm">
		<ul class="filter clearfix">
			<li class="expand clear">
				<label for="code">Nhập mã thời gian: </label>(Tuần hiện tại: <?php echo date('W', time()); ?>)
				<input type="text" name="code" id="code" />
			</li>
			<li class="clear"><input type="submit" class="button_search" value="" name="submit" id="submit">
			</li>
		</ul>
	</form>
<?php

$data = $this->data;

if (!empty($data)) {
	$i = 0;
	?>
	<div class="table_member">
		<table>
			<tbody>
				<tr>
					<td class="secondRow">STT</td>
					<td class="secondRow">Fullname</td>
					<td class="secondRow">Point</td>
				</tr>
				<?php foreach ($data as $member) : $i++; ?>
				<tr>
					<td class="ctn"><?php echo $i ?></td>
					<td class="ctn"><?php echo $member['fullname'] ?></td>
					<td class="ctn"><?php echo $member['point'] ?></td>
				</tr>
				<?php endforeach; ?>
			</tbody>
		</table>
	</div>
<?php } else { ?>
	<?php echo $this->error ?>
<?php } ?>
</div>
