
<div class="topUserContainer">
    <div id="leftCol">
		<h1 class="pageTitle">Bảng xếp hạng Hay Nhức Nhói</h1>
        <?php /*
        <div class="tabBar">
            <div class="tab <?php echo $this->type == 'point' ? 'active' : '';?>"><a href="<?php echo BASE_URL;?>/top/point/week"><span class="icon rank"></span>Top Điểm</a></div>
            <div class="tab <?php echo $this->type == 'like' ? 'active' : '';?>"><a href="<?php echo BASE_URL;?>/top/like"><span class="icon like"></span>Top Like</a></div>
            <div class="tab <?php echo $this->type == 'follower' ? 'active' : '';?>" ><a href="<?php echo BASE_URL;?>/top/follower"><span class="icon follower"></span>Top Hóng</a></div>
            <div class="tab <?php echo $this->type == 'post' ? 'active' : '';?>" ><a href="<?php echo BASE_URL;?>/top/post"><span class="icon post"></span>Top Đăng bài</a></div>
            <?php /*<div class="tab <?php echo $this->type == 'rank' ? 'active' : '';?>"><a href="<?php echo BASE_URL;?>/top/rank"><span class="icon rank"></span>TOP XH</a></div>
        </div>
        */
        ?>
        <div class="userListContainer">
            <div id="sortType">
				Sắp xếp theo:
				<a href="<?php echo BASE_URL;?>/top/month" <?php echo $this->time == 'month' ? 'class="active"':'';?>>Tháng</a> /
				<a href="<?php echo BASE_URL;?>/top" <?php echo $this->time == 'all' ? 'class="active"':'';?>>Tất cả</a>
            </div>
            <div class="userList">
                <?php if (!empty($this->users)): ?>
                <?php foreach($this->users as $key => $user): ?>
                <div class="user">
                    <div class="order"><?php echo ($key + 1);?></div>
                    <div class="avatar">
                        <img class="roundedAvatar" src="https://graph.facebook.com/<?php echo $user['facebookid'];?>/picture?type=square" alt="<?php echo $user['fullname'];?> 's avatar"/>
                    </div>
                    <div class="info" style="width: auto !important;">
                        <div class="name">
                            <a href="<?php echo User::userUrl($user);?>"><?php echo $user['fullname'];?></a>
                            <?php /* if($user['user_id'] != LOGIN_UID): ?>
                                <?php if(isset($this->followedList[$user['user_id']])): ?>
                                <span class="smallFollowButton"><span class="follow-button following" data-follower="<?php echo LOGIN_UID;?>" data-followed="<?php echo $user['user_id'];?>" title="Nhấn để không hóng <?php echo $user['fullname'];?> nữa" id="follow-<?php echo $user['user_id'];?>"><span class="follow-icon"></span></span></span>
                                <?php else: ?>
                                <span class="smallFollowButton"><span class="follow-button not-follow" data-follower="<?php echo LOGIN_UID;?>" data-followed="<?php echo $user['user_id'];?>" title="Nhấn để hóng <?php echo $user['fullname'];?>" id="follow-<?php echo $user['user_id'];?>"><span class="follow-icon"></span></span></span>
                                <?php endif; ?>
                            <?php endif; */ ?>
                        </div>
                        <div class="stats">
                            <span class="number"><?php echo My_Zend_Globals::number_format($user['point']); ?></span> điểm<br/>
                            Được Like <span class="number"><?php echo My_Zend_Globals::number_format($user['like_count']);?></span> lần trong <a href="<?php echo User::userUrl($user);?>" target="_blank"><span class="number"><?php echo My_Zend_Globals::number_format($user['posts']);?></span></a> bài đã đăng, với <span class="number"><?php echo My_Zend_Globals::number_format($user['yourviewed']);?></span> lượt xem.
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <?php endforeach; ?>
                <?php endif; ?>
            </div>
        </div>
        <?php echo $this->render('partials/footer.phtml'); ?>
    </div>
    <div id="rightCol">
        <div class="sidebar">
            <?php echo $this->render('partials/box_facebook.phtml'); ?>
        </div>
    </div>
    <div class="clear"></div>
</div>