<?php if (!empty($this->posts)) { ?>
    <div class="container" style="width: 100%; margin: 0">
        <div class="row">
            <div class="col-sm-6 col-md-10 col-lg-10">
                <?php if ($this->pos == 1) : ?>
                    <h1 class="haynhucnhoi-title" style="margin: 5px"><a href="<?php echo BASE_URL;?>/hot" style="color: #033402" target="_blank">Clip Hay Nhức Nhói</a></h1>
                <?php elseif ($this->pos == 2) : ?>
                    <h1 class="haynhucnhoi-title" style="margin: 5px"><a href="<?php echo BASE_URL.'/chu-de/'.$this->category['alias'];?>" style="color: #033402" target="_blank"><?php echo $this->category['category_name'];?></a></h1>
                <?php endif; ?>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2 text-right">
	            <p style="margin: 5px"><a href="<?php echo BASE_URL;?>" class="seemore" target="_blank">Xem thêm >></a></p>
            </div>
        </div>
        <div class="row">
            <?php foreach($this->posts as $key => $post):?>
                <div class="col-xs-6 col-sm-2 col-md-2 <?php if (($key == 4) || ($key == 5)) echo 'hidden-xs'?>">
                    <div class="thumbnail" style="box-shadow: none; margin-bottom: 0">
                        <a href="<?php echo Post::postUrl($post);?>" title="<?php echo $post['story'];?>" target="_blank">
                            <img src="<?php echo My_Zend_Globals::getThumbImageVideo($post['picture']); ?>" class="img-responsive"  alt="<?php echo $post['story'];?>" border="0" ></a>
                        <div class="caption" style="padding: 5px 0">
                            <a href="<?php echo Post::postUrl($post);?>" role="button" class="detail-title" target="_blank" title="<?php echo $post['story'];?>"><?php echo  My_Zend_Globals::cutString($post['story'],0,58);?></a>
                        </div>
                    </div>
                </div>
            <?php endforeach;?>
        </div>
    </div>
<?php } ?>

