﻿/*
//------------------------------//
//         StarRating           //
//------------------------------//
*/
.AgrSR
{
    display: inline-block;
    padding: 0;
    background-image: url('WebResource.axd?d=-2ZFtqmtIBClP61VqGA4GHl10WE_7sek5GEF69bZJq-x8TMbx71INgL3NKYvpccr6JHGo_5rrs-Vkh4QnuHrN2nBpw8HgOBGpVuBu3L6r4t9exIlcQnWvOplA8M7TEEcw1uoh8gCzt60MJnrUpSOv6c5a0kjjYXdT7O_YS6wjc0UNcl_0&t=634914703837688440');
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: bottom;
    width: 100px;
    text-align: left;
}
.AgrSR span
{
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 20px;
    background-image: url('WebResource.axd?d=-2ZFtqmtIBClP61VqGA4GHl10WE_7sek5GEF69bZJq-x8TMbx71INgL3NKYvpccr6JHGo_5rrs-Vkh4QnuHrN2nBpw8HgOBGpVuBu3L6r4t9exIlcQnWvOplA8M7TEEcw1uoh8gCzt60MJnrUpSOv6c5a0kjjYXdT7O_YS6wjc0UNcl_0&t=634914703837688440');
    background-repeat: no-repeat;
    background-position: 0 -20px;
    text-align: left;
}
/*
//------------------------------//
//              Tags            //
//------------------------------//
*/
.AgrTags
{
    overflow: auto;
    padding: 2px;
    border: 1px solid #ccc;
    display: inline-block;
    cursor: text;
}
.AgrTags input
{
    border: none;
    background-color: transparent !important;
    padding: 4px;
    outline: none;
    width: 100%;
}

.TagsIT
{
    background-color: #EDEFF4;
    border: 1px solid #9DACCC;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #555555;
    text-decoration: none !important;
    padding: 1px 4px;
    margin: 1px 2px;
    display: inline-block;
    cursor: default !important;
    float: left;
}
.TagsIT:hover
{
    border-color: #6D95E0;
}
.TagsDB
{
    color: #CF4533;
    padding: 0 0 0 5px;
}
.TagsIW
{
    float: left;
}
/*
//------------------------------//
//         Validator           //
//------------------------------//
*/
span.notmatch
{
    display:inline;background:url('WebResource.axd?d=vajlgL_8y0aQXS_J5UIGeKITdndzfEVyA-3XfDNZ63zbOSVR1fjtwWSGCoqr_-kIiAI8QeEs6igMw0SvG8WI8t7nzJV7OjN-jZ3RmuXVBq3RICZlgBPljQBdO2D2tbBXx3BD9nTa8lX3DnOS5SqYGc2ZeLdH-VivXm0zXI0Li9b1p0ad0&t=634914703837688440')no-repeat left center;
    padding:1px 0 0 16px;color:#CF4533;
}
span.waiting{display:none}
/*
//------------------------------//
//         AutoComplete         //
//------------------------------//
*/

.ACContainer
{
    -moz-box-shadow: 3px 3px 5px #777;
    -webkit-box-shadow: 3px 3px 5px #777;
    box-shadow: 3px 3px 5px #777;
    padding: 1px 4px;
    border:1px solid #ccc;
    background-color:#fff;
    z-index:999999;
}
.ACI
{
    cursor: pointer;
}
.ACI a
{
    display: block;
    padding: 2px 6px;
    white-space: normal;
}

.ACI.Active a
{
    color: #59A315;
    
}

.ACI a:hover
{
    padding: 1px 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-image: -moz-linear-gradient(center top , #FFFFFF 0%, #EFEFEF 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#EEF2F4));
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffffff,EndColorStr=#EFEFEF);
    zoom: 1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
}
.ACDropDownBt:hover
{
    background: #f3f3f3;
    background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#ffffff) );
    background: -moz-linear-gradient(-90deg, #e0e0e0, #ffffff);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e0e0e0', endColorstr='#ffffff');
    color: #59A315;
    text-decoration: none;
}
.ACDropDownBt
{
    background: #fefefe;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e0e0e0) );
    background: -moz-linear-gradient(-90deg, #ffffff, #e0e0e0);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#e0e0e0');
    text-decoration: none;
    border: 1px solid #ccc;
    display:inline-block;
    text-align:center;
    cursor:pointer;
    padding:0;
    vertical-align:top;
    margin-left:-1px;
}
.ACTB
{
    font-size: 12px;
}
/*
//------------------------------//
//           SlideShow          //
//------------------------------//
*/
.Tran50
{
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 5-7 */
    filter: alpha(opacity=50); /* Netscape */
    -moz-opacity: 0.5; /* Safari 1.x */
    -khtml-opacity: 0.5; /* Good browsers */
    opacity: 0.5;
}
.SlideShow
{
    border: 1px solid #B9C7D3;
    position: relative;
}
.SSView
{
    position: relative;
    overflow: hidden;
    margin: 2px;
}
.SSView img
{
    height: 100%;
}
.SSBg
{
    background: #000;
    width: 100%;
}
.SSBg, .SSInfo
{
    position: absolute;
    height: 70px;
    bottom: 0;
    color: #fff !important;
    padding: 10px 20px 10px 10px;
}

.SSInfo h2, .SSInfo a
{
    margin: 0;
    color: #fff;
}
.SSThumb
{
    height: 72px;
    overflow: hidden;
    border-top: 1px solid #B9C7D3;
    position: relative;
    background: #e8edf0; /* Old browsers */
    background: -moz-linear-gradient(top,  #e8edf0 0%, #fcfcfd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8edf0), color-stop(100%,#fcfcfd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e8edf0 0%,#fcfcfd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e8edf0 0%,#fcfcfd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e8edf0 0%,#fcfcfd 100%); /* IE10+ */
    background: linear-gradient(top,  #e8edf0 0%,#fcfcfd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8edf0', endColorstr='#fcfcfd',GradientType=0 ); /* IE6-9 */
}
.SSSlideBar
{
    position: absolute;
}
.SSThumb img
{
    background: #fff;
    padding: 1px;
    border: 1px solid #B9C7D3;
    border-width: 1px !important;
    width: 82px;
    height: 32px;
}
.SSThumb a
{
    display: inline-block;
    width: 113px;
    text-decoration: none;
    text-align: center;
    float: left;
    border: 1px solid transparent;
    padding: 5px 0;
}
.SSThumb a.SSActive
{
    color: #fff;
    border-color: #2D4458;
    background: #59728b; /* Old browsers */
    background: -moz-linear-gradient(top,  #59728b 0%, #2d4458 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#59728b), color-stop(100%,#2d4458)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #59728b 0%,#2d4458 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #59728b 0%,#2d4458 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #59728b 0%,#2d4458 100%); /* IE10+ */
    background: linear-gradient(top,  #59728b 0%,#2d4458 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59728b', endColorstr='#2d4458',GradientType=0 ); /* IE6-9 */
}

.SSThumb span
{
    display: inline-block;
    width: 80%;
    line-height: 14px;
}
.SSToolBar
{
    border-top: 1px solid #B9C7D3;
    height: 20px;
    background-color: #F9FAFA;
}
.SSStatus
{
    color: #555555;
    float: left;
    padding: 1px 5px;
}
.SSButtons
{
    float: right;
    border: 1px solid #B9C7D3;
    border-right: none;
    margin: 2px;
}
.SSButton
{
    border-right: 1px solid #B9C7D3;
    color: #0F5A91;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    height: 11px;
    line-height: 9px;
    padding: 1px 5px;
    text-align: center;
    width: 14px;
}

/*
//------------------------------//
//        FileUploader          //
//------------------------------//
*/
.FUprogressWrapper
{
    width: 200px;
    overflow: hidden;
    margin: 2px;
    padding: 2px;
    border: solid 1px #E8E8E8;
    background-color: #F7F7F7;
}

.FUprogressContainer
{
    overflow: hidden;
}
/* Message */
.FUmessage
{
    margin: 1em 0;
    padding: 10px 20px;
    border: solid 1px #FFDD99;
    background-color: #FFFFCC;
    overflow: hidden;
}
/* Error */
.FUred
{
    border: solid 1px #B50000;
    background-color: #FFEBEB;
}

/* Current */
.FUgreen
{
    border: solid 1px #DDF0DD;
    background-color: #EBFFEB;
}

/* Complete */
.FUblue
{
    border: solid 1px #CEE2F2;
    background-color: #F0F5FF;
}

.FUprogressName
{
    font-size: 10px;
    font-weight: 700;
    color: #555;
    width: 186px;
    height: 14px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

.FUprogressBarInProgress, .FUprogressBarComplete, .FUprogressBarError
{
    font-size: 0;
    width: 0%;
    height: 2px;
    background-color: blue;
}

.FUprogressBarComplete
{
    width: 100%;
    background-color: green;
    visibility: hidden;
}

.FUprogressBarError
{
    width: 100%;
    background-color: red;
    visibility: hidden;
}
.FUprogressBarBackGround
{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 1px;
    margin-top: 1px;
}
.FUblue .FUprogressBarBackGround, .FUred .FUprogressBarBackGround
{
    display: none;
}
.FUprogressBarStatus
{
    margin-top: 2px;
    font-size: 7pt;
    font-family: Arial;
    text-align: left;
    white-space: nowrap;
}

a.FUprogressCancel
{
    font-size: 0;
    display: block;
    height: 14px;
    width: 14px;
    background-image: url('WebResource.axd?d=5t7roPXoRH8fs6BikEI2hMZOyrrHTnxXV-y6PA_0KWNfDppR2G6BdiGilY-Uo7zlQMpr1vX2nxTlYLBIgXbqz9YYHAX1pNGIWV1V_voJno1vz-xUncR0Lkt8qMAApTDPe1XMGqJH-5jk3T-eir_byugTlK-0hXZxNfPYXrmIqJNp-Cgc0&t=634914703837688440');
    background-repeat: no-repeat;
    background-position: -14px 0px;
    float: right;
}

a.FUprogressCancel:hover
{
    background-position: 0px 0px;
}


/* -- SWFUpload Object Styles ------------------------------- */
.swfupload
{
    position: absolute;
    z-index: 1;
    vertical-align: top;
}


/*
//------------------------------//
//      LinkDropDownList        //
//------------------------------//
*/
.LDDL
{
    cursor: pointer;    
    display: inline-block;
}
.LDDL span
{
    border: 1px solid #ccc;
    border-right:none;
    padding: 1px 5px;
    display: inline-block;
}
.LDDL span span
{
    border: none;
    padding: 0;
    vertical-align:middle;
}
.LDDL img, .ACI img
{
    margin-right:5px;
    vertical-align:middle;
}
.ACI a span
{
    vertical-align:middle;
    
}
.LinkDropDownListHidden
{
    border: 1px solid #ccc;
    background: #fff;
}
.LinkDropDownListHidden a
{
    display: block;
    padding: 0 3px;
    margin: 2px 0;
    text-decoration: none;
}
.LinkDropDownListHidden a:hover, .LinkDropDownListHidden a.Active
{
    color: #fff;
    background: #378DD3;
}

/*
//------------------------------//
//           GridView           //
//------------------------------//
*/
.GridView
{
    border: 1px solid #bfbfbf;
    border-collapse: collapse !important;
    font-size: 11px;
    border-top: #84c48e;
    color: #333;
}
.GridView sup
{
    color: #ccc;
}
.GridView .htmlcontent
{
    max-height: 40px;
    overflow: auto;
}
.GridView input
{
    vertical-align: middle;
}
.GridView.scroll > tbody
{
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}
.GridView > thead > tr > th, .GridView > tbody > tr > th
{
    background: #EFEFEF;
    border: 1px solid #bfbfbf;
    text-align: center;
    font-weight: bold;
    background-image: -moz-linear-gradient(center top , #FFFFFF 0%, #EFEFEF 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#EEF2F4));
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffffff,EndColorStr=#EFEFEF);
    zoom: 1;
    padding: 4px;
}
.GridView a
{
    color: #0B55C4;
}
.GridView select
{
    border: 1px solid silver;
    font-size: 11px;
}
.GridView tr
{
    height: 22px;
}

.GridView > tbody > tr > td
{
    padding: 4px;
    border: 1px solid #ddd;
}
.GridView > tbody a
{
    text-decoration: none;
    display: inline;
}
.GridView .row0
{
    background: #fff;
}
.GridView > .row0 > td
{
}
.GridView .row1
{
    background: #f9f9f9;
}
.GridView > .row1 > td
{
}
.GridView .rowselect > td
{
    background: #FFFFDD;
}


.GridView .rowactive > td
{
    background: #C4FFCC;
    border-top: 1px solid #84c48e;
}


.GridView td
{
    text-align: left;
}
.GridView td.count
{
    width: 1%;
}
.GridView .center
{
    text-align: center !important;
}

.GridView .pager
{
    background: #E8E8E8 url('WebResource.axd?d=piYMCTuMDtT_-38hnn9LWuVn3MZWHPw3z5m7YhZr6MsCmZjwUtIxz2a95OZmi0Bd9xXrgvBQL-SJghWUT1NAJxBAu35bSW8rmDaAQdLn6azWkXdFDPWXLrioA-FIQQkKJvUoqr4_JNyXErc0mn3pzar-UoKb4JoCGvuveNxbWq7oMBgB0&t=634914703837688440') repeat-x scroll 0 0;
    padding: 2px 4px 1px;
}

.GridView .pager td
{
    padding: 0 !important;
}
.GridView .toolbar
{
    background: #E8E8E8 url('WebResource.axd?d=piYMCTuMDtT_-38hnn9LWuVn3MZWHPw3z5m7YhZr6MsCmZjwUtIxz2a95OZmi0Bd9xXrgvBQL-SJghWUT1NAJxBAu35bSW8rmDaAQdLn6azWkXdFDPWXLrioA-FIQQkKJvUoqr4_JNyXErc0mn3pzar-UoKb4JoCGvuveNxbWq7oMBgB0&t=634914703837688440') repeat-x scroll 0 0;
    padding: 3px 2px 1px 0;
}
.GridView .toolbar div
{
    position: relative;
}
.GridView .toolbar td
{
    padding: 2px 2px 2px 3px;
}
.GridView .toolbar input[type="image"]
{
    padding: 2px;
    border-width: 1px !important;
    border-color: transparent;
    border-style: solid;
}
.GridView .toolbar .over
{
    border-color: #84c48e !important;
}

.GridView .toolbar span
{
    height: 20px;
    border-left: solid 1px #aaa;
    vertical-align: middle;
    margin: 0 2px;
}
.GridView .toolbar .cancel-search
{
    position: absolute;
    right: 20px;
    top: 3px;
}
.GridView .toolbar .search
{
    border-bottom: 1px solid #B5B8C8 !important;
    height: 18px;
    left: -1px;
    padding: 0 !important;
    position: relative;
}
.GridView .toolbar .search-tb
{
    border: 1px solid #B5B8C8 !important;
    padding: 1px 5px 1px 1px;
    font-size: 12px;
}
.GridView .filterbar
{
    background: #eee;
}
.GridView .filterbar .ftextbox
{
    background: #fff !important;
    border: 1px solid #bbb;
    padding: 1px;
    width: 100%;
}
.GridView .filterbar .fselect
{
    background: #fff !important;
    border: 1px solid #bbb;
    padding: 0px;
    font-size: 11px;
}

.GridView .filterbar td
{
    border-bottom: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
    padding: 0 1px;
    text-align: right;
}
.GridView .filterbar table td
{
    border: none;
    padding: 0;
}
.GridView .filterbar div
{
    position: relative;
}
.GridView .filterbar .c1
{
    width: 15px;
}

.GridView .filterbar .c1 div
{
    width: 15px;
    overflow: hidden;
}
.GridView .filterbar .fbutton
{
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.GridView .title
{
    background: #E8E8E8 url('WebResource.axd?d=piYMCTuMDtT_-38hnn9LWuVn3MZWHPw3z5m7YhZr6MsCmZjwUtIxz2a95OZmi0Bd9xXrgvBQL-SJghWUT1NAJxBAu35bSW8rmDaAQdLn6azWkXdFDPWXLrioA-FIQQkKJvUoqr4_JNyXErc0mn3pzar-UoKb4JoCGvuveNxbWq7oMBgB0&t=634914703837688440') repeat-x scroll 0 0;
    color: #3F8B0A;
    font-size: 11px;
    font-weight: bold;
}
.GridView .title td
{
    padding: 0 3px;
}

.GridView .title i
{
    color: #CF4533;
    font-style: normal;
}

.GridView .action-link
{
    background: url('WebResource.axd?d=K3nzrHtyO6u3jubQeAqxV6lQK9Or2OIAUR2t0YR6DSGOrTxmt6EWVU9ipuzD4tKXYxSdqxAwntaVE4dD5KuoUm_Yq6PbDmscrrMb8l7soXjfJgbluVnarCr2h1dBqwHVLUtujYXBH50hAW-lBG1u19yaz-6NrSFhNeRNaOU1jsAF617xV5Nm4lP6NkM5yGnCGjqhXw2&t=634914703837688440') no-repeat scroll 0 0 Green;
    color: #E9FFCF;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    text-align: center;
    width: 16px;
    display: inline-block;
}
.GridView .action-link:hover
{
    background-position: 0 -16px;
    text-decoration: none;
    color: #FFF;
}
.ImportHolder
{
    border-top: 1px solid #bfbfbf;
    background: #f7f7f7;
}


/*
//------------------------------//
//             Menu             //
//------------------------------//
*/
.AgrMenu
{
    cursor: default;
    background: #4F6F27 url('WebResource.axd?d=Lh2ecK7ML6rx-StiDKorljcZWxMSLtQPktu7me8rBussS-bgszdX9s9vCF5pIq5lorwmO9G535jIqQb254O1LAhCYUqvd467HMd9QZoP5yA00N67KZTPGNYqpwqisJHcFMOWLt95MKrU_ucKpnL4bU4fVb8amnkwF3bO7m5Al3iXZ9F-0&t=634914703837688440') repeat-x left top;
    position: relative;
    list-style: none;
    height: 30px;
    border-bottom: 1px solid #ccc;
}
.AgrMenu.Blue
{
    background: #034796 url('WebResource.axd?d=wOCSXNyTbb-M5PbK9QwfPo7bAIU2qMKBUs8a-IScO6J354QyQTYdoBSiC5tiH0owVY1RYmnp5Es50DIxq2b03rirNU22OhiwYKKTVKpuT_D10MWhh-Eb3FgFRIgaBmFZgSooUYIXWMpMfhN0RjkJC_iaSWt6nax0UrPToKTQsLqY9KqC0&t=634914703837688440') repeat-x left top;
}
.AgrMenu ul
{
    list-style: none;
    display: none;
    position: absolute;
    z-index: 999999;
    background: #529602;
    margin: 0;
    padding: 0;
}
.AgrMenu.Blue ul
{
    background: #026896;
}
.AgrMenu .hover > ul
{
    display: block;
}
.AgrMenu > li ul
{
    border: 1px solid #999;
    padding: 7px 0;
}
.AgrMenu > li > ul
{
    border-top: none;
}
.AgrMenu li ul ul
{
    top: 0;
    left: 100%;
    background-position: left -10px;
}

.AgrMenu li
{
    background: url('WebResource.axd?d=D0xb3nsY6L54dhK9rWOlJbs31rjKL4cgCuV_ksl8djvLk6TFaxXwkZke9ma7pEIGGdpCeZnJYhxR8RdhwKsvvR2uOb_pY-rvhWCx6FLbTfQyxTmy44i7sKanB0C8b1n5i8nGTd3Htfp3-CJ6HS2G1JvybMqiGx-1g800mfLAJRogxVYq0&t=634914703837688440') no-repeat scroll right top transparent;
    float: left;
    display: block;
}
.AgrMenu.Blue li
{
    background: url('WebResource.axd?d=p5SFzVpx8rcMENmFEYU9dzniGFrGbh2QVV9Hid1in8Pygh_JeGp-ElXHroDT2WwemeGX5iQ4jMQ1Z51On32U56ZdgQ0qqMYzvw74OU1Dy2xiuAAVERPgspQX4HLYbO3qGbQcRuPLn5N70cSS7cec1u0FQZqLyxUpHbffesuHWNdwmMGR0&t=634914703837688440') no-repeat scroll right top transparent;
}
.AgrMenu li li
{
    display: block;
    float: none;
    position: relative;
    margin: 0 2px 0;
    padding: 1px;
    background: none;
}
.AgrMenu.Blue li li
{
    background: none;
}

.AgrMenu a
{
    cursor: pointer !important;
    text-decoration: none;
    font-size: 11px !important;
    font-family: Arial;
    display: block;
    font-weight: normal;
    line-height: 18px;
    padding: 2px 18px 2px 3px;
    border: none;
    white-space: nowrap;
    text-decoration: none !important;
    color: #fff;
}
.AgrMenu a:visited
{
    color: #fff;
}
.AgrMenu li a
{
    line-height: 30px;
    margin-right: 2px;
    font-weight: bold;
    padding: 0 10px;
}
.AgrMenu ul a
{
    color: #E9FFCF; /*color:#0B55C4;*/
    line-height: 18px;
    font-weight: normal;
    padding: 2px 18px 2px 3px;
    margin: 0;
}
.AgrMenu .hover > a, .AgrMenu .active > a
{
}
.AgrMenu > li.hover > a
{
    background: url('WebResource.axd?d=fECsSMcV1bpVJHgSqICGJD8BWRZKeUhbtrftWw0F_gNlBiFHq2MBkxIBhSwd_JMMFbdQvSGRDd44hxj20Jk1k_2KdeqS7YvpPkOLmI63jvVLHiNHgZapjAAV0eVHv4SP_mFU1wxl7_UA5EAp9Q7qf41WzMIFxBan22HNGjATAN_WvJhy4jdGO2dDGP0lqmvWrMiHMQ2&t=634914703837688440') no-repeat scroll 0 0 transparent;
}
.AgrMenu > li.active > a
{
    background: url('WebResource.axd?d=fECsSMcV1bpVJHgSqICGJD8BWRZKeUhbtrftWw0F_gNlBiFHq2MBkxIBhSwd_JMMFbdQvSGRDd44hxj20Jk1k_2KdeqS7YvpPkOLmI63jvVLHiNHgZapjAAV0eVHv4SP_mFU1wxl7_UA5EAp9Q7qf41WzMIFxBan22HNGjATAN_WvJhy4jdGO2dDGP0lqmvWrMiHMQ2&t=634914703837688440') no-repeat scroll 0 0 transparent;
}
.AgrMenu > li.hover
{
    background: url('WebResource.axd?d=fECsSMcV1bpVJHgSqICGJD8BWRZKeUhbtrftWw0F_gNlBiFHq2MBkxIBhSwd_JMMFbdQvSGRDd44hxj20Jk1k_2KdeqS7YvpPkOLmI63jvVLHiNHgZapjAAV0eVHv4SP_mFU1wxl7_UA5EAp9Q7qf41WzMIFxBan22HNGjATAN_WvJhy4jdGO2dDGP0lqmvWrMiHMQ2&t=634914703837688440') no-repeat scroll top right transparent;
}
.AgrMenu > li.active
{
    background: url('WebResource.axd?d=fECsSMcV1bpVJHgSqICGJD8BWRZKeUhbtrftWw0F_gNlBiFHq2MBkxIBhSwd_JMMFbdQvSGRDd44hxj20Jk1k_2KdeqS7YvpPkOLmI63jvVLHiNHgZapjAAV0eVHv4SP_mFU1wxl7_UA5EAp9Q7qf41WzMIFxBan22HNGjATAN_WvJhy4jdGO2dDGP0lqmvWrMiHMQ2&t=634914703837688440') no-repeat scroll top right transparent;
}
.AgrMenu > li.havechild.hover
{
    background: url('WebResource.axd?d=uSmr4iaPSk59jixJRt-KAyQC_uB8_h-2fwC-FRcS40ZC6AsLNBob2UtUmfhoQVsSXKiYwJVgHcJSX3aJDErcHZ1uRxepb9asoXK80T5fm73GZk58aAfWkus7Bqlkfm1xbHxtskCQyOkzpm9Er3gHusMkzsZNMnfFT3PR48MpJ_omztcVSTD0oslT7rXfIAMPupJrng2&t=634914703837688440') no-repeat scroll top right transparent !important;
}
.AgrMenu > li.havechild.hover > a
{
    background: url('WebResource.axd?d=uSmr4iaPSk59jixJRt-KAyQC_uB8_h-2fwC-FRcS40ZC6AsLNBob2UtUmfhoQVsSXKiYwJVgHcJSX3aJDErcHZ1uRxepb9asoXK80T5fm73GZk58aAfWkus7Bqlkfm1xbHxtskCQyOkzpm9Er3gHusMkzsZNMnfFT3PR48MpJ_omztcVSTD0oslT7rXfIAMPupJrng2&t=634914703837688440') no-repeat scroll 0 0 transparent !important;
}
/*
    -------------Blue
*/
.AgrMenu.Blue > li.hover > a
{
    background: url('WebResource.axd?d=J1ZLdWjcDx9lcAfQouQlHoGEX5D1LY1-QeY2Lp7sZoc3lA21j0h0Cd5Hyl4K7el9sMikebcVlBf0StUb09eJ3dAc0MaJYL0fknFAVAGROFEucls9DBQgGgIzfaF122uJIQVCDYZPS9i97dpimdsNYTJdARhJKgzcj6MEi8pVtLKIdwEZbl8jWiKVWOxYmOTPvLUvtA2&t=634914703837688440') no-repeat scroll 0 0 transparent !important;
}
.AgrMenu.Blue > li.active > a
{
    background: url('WebResource.axd?d=J1ZLdWjcDx9lcAfQouQlHoGEX5D1LY1-QeY2Lp7sZoc3lA21j0h0Cd5Hyl4K7el9sMikebcVlBf0StUb09eJ3dAc0MaJYL0fknFAVAGROFEucls9DBQgGgIzfaF122uJIQVCDYZPS9i97dpimdsNYTJdARhJKgzcj6MEi8pVtLKIdwEZbl8jWiKVWOxYmOTPvLUvtA2&t=634914703837688440') no-repeat scroll 0 0 transparent !important;
}
.AgrMenu.Blue > li.hover
{
    background: url('WebResource.axd?d=J1ZLdWjcDx9lcAfQouQlHoGEX5D1LY1-QeY2Lp7sZoc3lA21j0h0Cd5Hyl4K7el9sMikebcVlBf0StUb09eJ3dAc0MaJYL0fknFAVAGROFEucls9DBQgGgIzfaF122uJIQVCDYZPS9i97dpimdsNYTJdARhJKgzcj6MEi8pVtLKIdwEZbl8jWiKVWOxYmOTPvLUvtA2&t=634914703837688440') no-repeat scroll top right transparent !important;
}
.AgrMenu.Blue > li.active
{
    background: url('WebResource.axd?d=J1ZLdWjcDx9lcAfQouQlHoGEX5D1LY1-QeY2Lp7sZoc3lA21j0h0Cd5Hyl4K7el9sMikebcVlBf0StUb09eJ3dAc0MaJYL0fknFAVAGROFEucls9DBQgGgIzfaF122uJIQVCDYZPS9i97dpimdsNYTJdARhJKgzcj6MEi8pVtLKIdwEZbl8jWiKVWOxYmOTPvLUvtA2&t=634914703837688440') no-repeat scroll top right transparent !important;
}
.AgrMenu.Blue > li.havechild.hover
{
    background: url('WebResource.axd?d=ZUmKzStspHPaBd9TA5mC6vn-3Cr6uyDuCSpmbq408YTeFZTsWkDXe0uX6Hhe1_--FmEJ_Bz8SQV--p36Wk0fnr6sMEfkh7gRm_uYc-KCWXyXSr7EvE_vr3hUg5okC1OIbw_SznBRF2B9ub49juj5VJlP6xNdkIWeT9s0gfFuPRZoBfgfgXcHGRGNTrpoOx_trn328w2&t=634914703837688440') no-repeat scroll top right transparent !important;
}
.AgrMenu.Blue > li.havechild.hover > a
{
    background: url('WebResource.axd?d=ZUmKzStspHPaBd9TA5mC6vn-3Cr6uyDuCSpmbq408YTeFZTsWkDXe0uX6Hhe1_--FmEJ_Bz8SQV--p36Wk0fnr6sMEfkh7gRm_uYc-KCWXyXSr7EvE_vr3hUg5okC1OIbw_SznBRF2B9ub49juj5VJlP6xNdkIWeT9s0gfFuPRZoBfgfgXcHGRGNTrpoOx_trn328w2&t=634914703837688440') no-repeat scroll 0 0 transparent !important;
}
/*
    ------------- End Blue
*/
.AgrMenu li li.hover, .AgrMenu li li.active
{
    /*border: 1px solid #99fc27;*/
    background: #E7EDDF;
    border: 1px solid #666;
    padding: 0px;
}
.AgrMenu li li.hover > a, .AgrMenu li li.active > a
{
    color: #333;
}

.AgrMenu ul li.havechild > a
{
    background: url('WebResource.axd?d=SE5-GF3D14YStozje5YT_mVkkty57e3HGQchU7TC27_XRv-m7bzIf7YkLzCLQCP6cabUb-mv4L5yGpyb0_2B1SqdjvNBXzpZ_d1voIqVr7S8FkNgwLHziv2mWo32I3DDUo5_n-TSoYM2zBEHetdGz-qQemE-CfYgO4ZEr34UZ7Gb9hSn-Y9bi8RKAvUIMPDnrfVWDw2&t=634914703837688440') no-repeat scroll right center transparent;
}

.AgrMenu img
{
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border: none;
    display: inline-block;
}
.AgrMenu span
{
    display: inline-block;
    vertical-align: middle;
    padding-left: 1px;
}
/*
//------------------------------//
//           TabView            //
//------------------------------//
*/
.Tabs
{
    list-style: none;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 7px;
    font-family: Tahoma;
    margin: 0 0 7px;
    padding: 0 0 0 7px;
    height: 23px;
}
.Tabs .Tab
{
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 0 0;
    display: inline-block;
    height: 20px;
    margin: 2px 2px 0;
    padding: 0 7px;
    vertical-align: bottom;
    cursor: pointer;
    position: relative;
    -moz-user-select: none;
    float: left;
}


.Tabs .Tab img
{
    border: none;
    display: inline-block;
    height: 16px;
    margin-bottom: 2px;
    vertical-align: bottom;
    width: 16px;
}
.Tabs .Tab span
{
    color: #555;
    padding: 1px 2px;
    text-decoration: none;
    display: inline-block;
    line-height: 19px;
    font-size: 11px;
    font-weight: bold;
}

* html .Tabs .Tab
{
    bottom: -1px;
}
* html .Tabs .Active
{
    bottom: -2px !important;
}
.Tabs .Active
{
    border: 1px solid #ddd;
    border-bottom: none;
    height: 23px;
    background: #fff;
    margin-top: 0;
}
.Tabs .Active span
{
    color: #59A315;
}
.Tabs .Tab.InActive
{
}
.Hidden
{
    display: none;
}
.Visible
{
    display: inherit;
}

