body 
{
    font: 11px Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
    background-image: url('http://www.conneriesqc.com/wp-content/uploads/gg1.png'); 
    background-repeat: repeat; 
    background-position: top center
}

#t_menu_wrap { margin-top:-12px; background-color: #444444; width:100%; }
#t_menu_wrap .t_menu { margin: 0 auto; width:1200px; }
#t_menu_wrap .left ul
{
	margin: 0;
	padding: 0;
}
#t_menu_wrap ul li
{
	list-style-type: none;
	display: inline;
}
#t_menu_wrap li a
{
	display: block;
	float: left;
	padding: 6px 15px 6px 0;
	color: #fff;
	font-size:11px;
	text-decoration: none;
}
#t_menu_wrap li a:hover { text-decoration: underline; }
#t_menu_wrap .right li a
{
	margin-right:-30px;
	float: right;
	padding: 6px 0 6px 15px;
}
#t_menu_wrap .top-right 
{
	color:#fff;float:right;margin-top:5px;
}
#t_menu_wrap .top-right a {
	color:#fff;text-decoration:none;
}
#t_menu_wrap .top-right a:hover {
	text-decoration:underline;
}


#brushSizeSlider {
    position: absolute;
    display: none;
    z-index: 9998;
}

canvas {
    border: 1px solid #FF000;
    z-index: 1;
    cursor: url("../images/paintbrush.png"), crosshair;
}

#drawingCanvasInterface {
    position: absolute;
}

a {
    text-decoration: none;
    color: #0000FF;
}

a:hover {
    color: #FF0000;
}

.errorText {
    color: #FF0000;
}

textarea, input {
    outline: none;
}

.speechTextBox {
    resize: none;
    width: 500px;
    font-family: "Courier New", Courier, monospace;
    border-style: none;
    border-width: 0px;
    background-color: transparent;
}

.withBorder {
    border-style: solid !important;
    border-width: 1px !important;
}

.objectControllerContainer {
    z-index: 9000;
    display: none;
    position: absolute;
    width: 350px;
    text-align: left;
	top: -18px;
}

.objectControllerContainerText {
    width: 350px !important;
}

.objectControllerContainer span img {
    cursor: pointer;
}

.objectController {
    z-index: 9005;
    position: relative;
    top: 5px;
    left: 5px;
    padding-right: 10px;
}

.face {
    position: absolute;
    top: 200px;
    left: 320px;
    z-index: 1000;
}

.face div.ui-wrapper {
    overflow: visible !important;
}

#controllers {
    padding: 3px;
    border: 1px solid #000000;
}

.controllerSubset {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid #000000;
}

#drawingCanvasContainer {
    padding-top: 5px;
}

#canvasContainer {
    padding-top: 30px;
    width: 640px;
    margin: 0 auto;
}

.footer {
    padding-top: 5px;
    text-align: center;
    width: 640px;
    margin: 0 auto;
}

img {
    border: none;
}

.dock {
    position: relative;
    height: 100px;
}

.dock-container {
    position: absolute;
    height: 80px;
    padding-left: 20px;
}

a.dock-item {
    display: block;
    width: 40px;
    color: #000;
    position: absolute;
    top: 0px;
    text-align: center;
    text-decoration: none;
    font: bold 12px Arial, Helvetica, sans-serif;
}

.dock-item img {
    border: none;
    margin: 5px 10px 0px;
    width: 100%;
}

.dock-item span {
    display: none;
    padding-left: 20px;
}

.menuIcon {
    cursor: pointer;
}

#authorBox {
    float: left;
    padding: 5px;
    border: 1px solid #000000;
    margin: 5px;
}

#contributorsList li {
    list-style-type: disc;
    float: none;
}

#adv {
    position: absolute;
    padding-left: 15px;
    padding-top: 30px;
    border: none;
}

div.clippyContainer {
    position: absolute;
    z-index: 10000;
}

div.clippyIcon {
    float: left;
}

div.clippyText {
    float: left;
    background-color: #FFFFCE;
    padding: 10px;
    border: 1px solid #000000;
    width: 100px;
    overflow: hidden;
    font-size: 14px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
}

div.clippyClear {
    clear: both;
}

.completedComicSubmission {
    margin: 0 auto;
    width: 640px;
}