<div id="content">
    <div class="breadcrumb clearfix">
        <div class="title k2">Tạo mới</div>
    </div>
    <div class="clear"></div>
    <div class="fdefault posting">
        <form action="" method="post" enctype="multipart/form-data">
            <h3 class="n1">Thông tin danh mục</h3>
            <div class="group_listing_input">
                <div class="listing_input hgauto">
                    <div class="post_label_container">
                        <label class="postLabel" for="name">Tên:</label>
                    </div>
                    <input name="name" id="name" type="text" value="" class="title_text_input" />
                </div>
                <div class="listing_input hgauto">
                    <div class="post_label_container">
                        <label class="postLabel" for="alias">Alias:</label>
                    </div>
                    <input name="alias" id="alias" type="text" value="" class="title_text_input" />
                </div>
                <div class="button_listing_input">
                    <div class="post_label_container"></div>
                    <input id="btn_submit" type="submit" class="button_update" value="" name="btn_submit" />
                </div>
            </div>
            <div class="line clear"></div>
        </form>
    </div>
</div>