<?php $post = $this->post; ?>
<div id="content">
    <div class="breadcrumb clearfix">
        <div class="title k2">Sửa bài viết</div>
    </div>
    <div class="clear"></div>
    <div class="fdefault posting">
        <form action="" method="post" enctype="multipart/form-data">
            <h3 class="n1">Thông tin bài viết</h3>
            <div class="group_listing_input">
                <div class="listing_input hgauto">
                    <div class="post_label_container">
                        <label class="postLabel" for="title">Tiêu đề tin:</label>
                    </div>
                    <input name="title" id="title" type="text" value="<?php echo $post['post_title'] ?>" class="title_text_input" />
                </div>
                <div class="listing_input hgauto">
                    <div class="post_label_container">
                        <label class="postLabel" for="summary">Tóm tắt nội dung:</label>
                    </div>
                    <textarea style="width:804px;" rows="5" name="summary" id="summary" ><?php echo $post['post_summary'] ?></textarea>
                </div>
                <div class="listing_input hgauto">
                    <div class="blog-content">
                        <textarea rows="10" cols="80" name="post_content" id="post_content"><?php echo $post['post_content'] ?></textarea>
                    </div>
                </div>
                <div class="listing_input hgauto">
                    <div class="post_label_container">
                        <label class="postLabel" for="category_id">Danh mục:</label>
                    </div>
                    <select class="medium_text_input" name="category_id" id="category_id">
                        <option value="">Chọn danh mục</option>
                        <?php
                        foreach ($this->listCategory as $category) {
                            echo '<option '.($category['category_id'] == $this->post['category_id'] ? 'selected="selected"' : '').' value="'.$category['category_id'].'" class="first">'. $category['category_name'] .'</option>';
                        }
                        ?>
                    </select>
                </div>
                <div class="listing_input hgauto">
                    <div class="post_label_container">
                        <label class="postLabel" for="post_status">Trạng thái:</label>
                    </div>
                    <select class="medium_text_input" name="post_status" id="post_status">
                        <option value="0" <?php echo $post['post_status'] == 0 ? ' selected="selected" ' : '';?>>Chờ duyệt</option>
                        <option value="1" <?php echo $post['post_status'] == 1 ? ' selected="selected" ' : '';?>>Trang chủ</option>
                        <option value="2" <?php echo $post['post_status'] == 2 ? ' selected="selected" ' : '';?>>Ưu tiên</option>
                    </select>
                </div>
                <div class="listing_input hgauto">
                    <div class="post_label_container">
                        <label class="postLabel" for="source">Upload:</label>
                    </div>
                    <input id="photo_file_upload" class="file" type="file" name="image" accept="image/*" />
                </div>
                <?php if (!empty($post['post_image'])) : ?>
                <div class="listing_input hgauto">
                    <div class="post_label_container">
                        <label class="postLabel">Hình ảnh hiện tại:</label>
                    </div>
                    <div id="divUpload"></div>
                    <div id="show_picture" style="margin: 10px 130px">
                        <img src="<?php echo My_Zend_Globals::getThumbImage($post['post_image']); ?>" width="245" />
                    </div>
                </div>
                <?php endif; ?>
                <div class="button_listing_input">
                    <div class="post_label_container"></div>
                    <input id="btn_submit" type="submit" class="button_update" value="" name="btn_submit" />
                </div>
            </div>
            <div class="line clear"></div>
        </form>
    </div>
</div>
<script>
    var editor = CKEDITOR.replace( 'post_content', {
        entities: false
    });
    CKFinder.setupCKEditor( editor, '<?php echo BASE_URL ?> . /cdn/a/ckeditor/ckfinder/' );
</script>