<div id="content">
    <div class="breadcrumb clearfix">
        <div class="title k2">Category Management</div>
            <div class="addLink"><a title="Tạo danh mục" href="<?php echo $this->url(array('action' => 'add-category', 'controller' => 'blog', 'module' => 'adm'), null, true); ?>"><img src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/b_addCate.jpg" alt="Tạo danh mục" /></a></div>
    </div>
    <div class="table_member">
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tbody>
            <tr>
                <td width="5%" class="secondRow" align="center">ID</td>
                <td width="60%" class="secondRow">Tên danh mục</td>
                <td width="12%" class="secondRow">Chức năng</td>
            </tr>
            <?php if (!empty($this->categories) > 0): ?>
                <?php foreach ($this->categories as $category): ?>
                    <tr>
                        <td class="ctn" align="center">
                            <?php echo $category['category_id']; ?>
                        </td>
                        <td class="ctn"><p class="title">
                            <a class="tooltip"
                               href=""><?php echo $category['category_name']; ?>
                            </a></p>
                        </td>
                        <td class="ctn">
                            <a title="Sửa danh mục" href="<?php echo $this->url(array('action' => 'edit-category', 'controller' => 'blog', 'module' => 'adm', 'category_id' => $category['category_id']), null, true); ?>">Edit</a> |
                            <a title="Xóa danh mục" onclick="return confirm('Xóa danh mục này hả ?')" href="<?php echo $this->url(array('action' => 'delete-category', 'controller' => 'blog', 'module' => 'adm', 'category_id' => $category['category_id']), null, true); ?>">Delete</a>
                        </td>
                    </tr>
                <?php endforeach; ?>
            <?php else: ?>
                <tr>
                    <td class="ctn nonSearch" colspan="4">Không có danh mục nào!</td>
                </tr>
            <?php endif; ?>
            </tbody>
        </table>
    </div>
<div class="clear"></div>
</div>