<div id="content">
    <div class="breadcrumb clearfix">
        <div class="title k2">Blog Management</div>
        <div class="addLink"><a title="Create" href="<?php echo $this->url(array('action' => 'add-post', 'controller' => 'blog', 'module' => 'adm'), null, true); ?>"><img src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/b_add.jpg" alt="Tạo bài viết" /></a></div>
    </div>

    <div class="clear"></div>
    <?php echo $this->paging; ?>
    <div class="table_member">
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tbody>
            <tr>
                <td width="3%" class="secondRow" align="center">ID</td>
                <td width="20%" class="secondRow">Tiêu đề bài viết</td>
                <td width="10%" class="secondRow">Danh mục</td>
                <td width="5%" class="secondRow">Trạng thái</td>
                <td width="10%" class="secondRow">Thời gian</td>
                <td width="5%" class="secondRow">Chức năng</td>
            </tr>
            <?php if (!empty($this->posts) > 0): ?>
                <?php foreach ($this->posts as $post): ?>
                    <tr>
                        <td class="ctn" align="center"><?php echo $post['post_id']; ?></td>
                        <td class="ctn"><p class="title">
                            <a class="tooltip" target="_blank"
                               href="<?php echo BlogPost::postUrl($post);?>"><?php echo $post['post_title']; ?>
                            </a></p>
                        </td>
                        <td class="ctn"><?php echo BlogCategory::get(array('category_id'=>$post['category_id']))['category_name']; ?></td>
                        <td class="ctn">
                            <?php
                            if ($post['post_status'] == 0) echo 'Chờ duyệt';
                            elseif ($post['post_status'] == 1) echo 'Trang chủ';
                            else echo 'Ưu tiên';
                            ?>
                        </td>
                        <td class="ctn" align="center"><?php echo $post['post_created']; ?></td>
                        <td class="ctn">
                            <a title="Sửa bài viết" href="<?php echo $this->url(array('action' => 'edit-post', 'controller' => 'blog', 'module' => 'adm', 'post_id' => $post['post_id']), null, true); ?>">Edit</a> |
                            <a title="Xóa bài viết" onclick="return confirm('Xóa bài này hả?')" href="<?php echo $this->url(array('action' => 'delete-post', 'controller' => 'blog', 'module' => 'adm', 'post_id' => $post['post_id']), null, true); ?>">Delete</a>
                        </td>
                    </tr>
                <?php endforeach; ?>
            <?php else: ?>
                <tr>
                    <td class="ctn nonSearch" colspan="9">Không tìm thấy kết quả phù hợp theo yêu cầu của bạn.</td>
                </tr>
            <?php endif; ?>
            </tbody>
        </table>
    </div>
    <?php echo $this->paging; ?>
</div>