<div id="content">
    <div class="breadcrumb clearfix">
        <div class="title k2">Sửa bài viết "<?php echo $this->post['story']?>"</div>
    </div>
    <div class="clear"></div>
    <?php if(!empty($this->messages)):?>
        <div class="alert-box success">
            <?php foreach ($this->messages as $key => $value) :?>
                <p> <?php echo $this->messages[$key];?> </p>
            <?php endforeach;?>
        </div>
    <?php endif;?>
    <div class="">
        <div class="fdefault posting">
            <form action="" method="post" enctype="multipart/form-data">
                <?php if ($this->message): ?>
                <div class="<?php echo $this->message['type']; ?>"><p><?php echo $this->message['msg']; ?></p></div>
                <?php endif; ?>
                <h3 class="n1">Thông tin cơ bản</h3>
                <div class="group_listing_input">
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">Created at:</label>
                        </div>
                        <p class="notice_text"><?php echo date('H:i d/m/Y', $this->post['created_at']); ?></p>
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">Approved at:</label>
                        </div>
                        <p class="notice_text"><?php echo date('H:i d/m/Y', $this->post['approved_at']); ?></p>
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">Updated at:</label>
                        </div>
                        <p class="notice_text"><?php echo date('H:i d/m/Y', $this->post['updated_at']); ?></p>
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">IP:</label>
                        </div>
                        <p class="notice_text"><?php echo $this->post['pip']; ?></p>
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel" for="story">Tiêu đề tin:</label>
                        </div>
                        <input name="story" id="story" type="text" value="<?php echo $this->escape($this->post['story']); ?>" class="title_text_input" />
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel" for="description">Nội dung mô tả ngắn:</label>
                        </div>
                        <textarea name="description" id="description"><?php echo $this->post['description']; ?></textarea>
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel" for="category_id">Danh mục:</label>
                        </div>
                        <select class="medium_text_input" name="category_id" id="category_id" onchange="loadTagList(this.options[this.selectedIndex].value);">
                            <option value="">Chọn danh mục</option>
                            <?php
                            foreach ($this->categoryTree as $parent) {
                                echo '<option '.($parent['category_id']==$this->post['category_id']?'selected="selected"':'').' value="'.$parent['category_id'].'" class="first">'. $parent['category_name'] .'</option>';
                                if ($parent['sub']) {
                                    foreach ($parent['sub'] as $sub) {
                                        echo '<option '.($sub['category_id']==$this->post['category_id']?'selected="selected"':'').' value="'.$sub['category_id'].'" class="second">'.$sub['category_name'].'</option>';
                                    }
                                }
                            }

                            ?>
                        </select>
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel" for="youtube_key">YoutubeID:</label>
                        </div>
                        <input name="youtube_key" id="youtube_key" type="text" value="<?php echo $this->post['youtube_key']; ?>" class="title_text_input" />
                        <div id="youtube_info"></div>
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel" for="mecloud_key">Mecloud ID:</label>
                        </div>
                        <input name="mecloud_key" id="mecloud_key" type="text" value="<?php echo $this->post['mecloud_key']; ?>" class="title_text_input" />
                        <div id="mecloud_info"></div>
                    </div>
                    <div class="listing_input hgauto">
                    	<div class="post_label_container">
                            <label class="postLabel">Hình ảnh:</label>
                        </div>
                        <div id="divUpload"></div>
                        <div id="show_picture" style="margin: 10px 130px">
                            <?php if ($this->post['is_photo']): ?>
                            <img class="postImg" src="<?php echo My_Zend_Globals::getThumbImage($this->post['picture'], 'thumb2'); ?>" alt="<?php echo $this->post['story']; ?>" width="200"/>
                            <?php elseif ($this->post['youtube_key'] != ''): ?>
                            <iframe id="ytPlayer" width="350" height="206" src="http://www.youtube.com/embed/<?php echo $this->post['youtube_key']; ?>?rel=0&showinfo=0&vq=large&iv_load_policy=3&modestbranding=1&nologo=1" frameborder="0" allowfullscreen="1"></iframe>
                            <?php elseif ($this->post['nct_mp3'] != ''): ?>
                                <img src="<?php echo $this->post['picture']; ?>" width="200" alt="" />
                            <?php elseif ($this->post['nct_video'] != ''): ?>
                                <object width="350" height="206">  <param value="http://www.nhaccuatui.com/video/xem-clip/<?php echo $this->post['nct_video']; ?>" name="movie">  <param value="high" name="quality">  <param value="transparent" name="wmode">  <param value="always" name="allowscriptaccess"> <param value="true" name="allowfullscreen"> <param value="autostart=false" name="flashvars">  <embed width="350" height="206" type="application/x-shockwave-flash" wmode="transparent" quality="high" allowfullscreen="true" allowscriptaccess="always" flashvars="target=blank&amp;autostart=false" src="http://www.nhaccuatui.com/video/xem-clip/<?php echo $this->post['nct_video']; ?>"></object>
                            <?php elseif ($this->post['vmo_key'] != ''): ?>
                                <iframe src="//player.vimeo.com/video/<?php echo $this->post['vmo_key']; ?>" width="350" height="206" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <?php elseif ($this->post['zingtv_key'] != ''): ?>
                                <iframe id="ztvPlayer" width="350" height="206" src="http://tv.zing.vn/embed/video/<?php echo $this->post['zingtv_key']; ?>" frameborder="0" allowfullscreen="true" frameborder="0" webkitAllowFullScreen="true" mozallowfullscreen="true" > </iframe>
                            <?php elseif ($this->post['mecloud_key'] != ''): ?>
                                <img src="<?php echo $this->post['picture']; ?>" width="200" alt="" />
                            <?php endif; ?>
                        </div>

                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel" for="photo_file_upload">Thumbnail:</label>
                        </div>
                        <input id="photo_file_upload" class="file" type="file" name="thumb_upload" accept="image/*" />
                    </div>
                    <?php if (!empty($this->post['picture_upload'])) : ?>
                    <div class="listing_input hgauto">
                        <div id="divUpload"></div>
                        <div id="show_picture" style="margin: 10px 130px">
                            <img src="<?php echo My_Zend_Globals::getThumbImage($this->post['picture_upload']); ?>" width="350" />
                        </div>
                    </div>
                    <?php endif; ?>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel" for="source">Nguồn:</label>
                        </div>
                        <input name="source" id="source" type="text" value="<?php echo $this->escape($this->post['source']); ?>" class="title_text_input" />
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel" for="number_of_like">Số Like:</label>
                        </div>
                        <input name="number_of_like" readonly id="number_of_like" type="text" value="<?php echo $this->escape($this->post['number_of_like']); ?>" class="title_text_input" />
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel" for="number_of_share">Số Share:</label>
                        </div>
                        <input name="number_of_share" readonly id="number_of_share" type="text" value="<?php echo $this->escape($this->post['number_of_share']); ?>" class="title_text_input" />
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel" for="number_of_comment">Số Comment:</label>
                        </div>
                        <input name="number_of_comment" readonly id="number_of_comment" type="text" value="<?php echo $this->escape($this->post['number_of_comment']); ?>" class="title_text_input" />
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel" for="phase">Xuất hiện ở:</label>
                        </div>
                        <select class="medium_text_input" name="phase" id="phase">
                            <option value="<?php echo Post::_PHASE_HOT;?>"<?php echo $this->post['phase'] == Post::_PHASE_HOT ? ' selected="selected" ' : '';?>>Nhức Nhói</option>
                            <option value="<?php echo Post::_PHASE_HOMEPAGE;?>"<?php echo $this->post['phase'] == Post::_PHASE_HOMEPAGE ? ' selected="selected" ' : '';?>>Trang chủ</option>
                            <option value="<?php echo Post::_PHASE_NEW_POST;?>"<?php echo $this->post['phase'] == Post::_PHASE_NEW_POST ? ' selected="selected" ' : '';?>>Bài mới</option>
                        </select>
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel" for="is_actived">Hiện bài này:</label>
                        </div>
                        <select class="medium_text_input" name="is_actived" id="is_actived">
                            <option value="1"<?php echo $this->post['is_actived'] ? ' selected="selected" ' : '';?>>Hiện</option>
                            <option value="0"<?php echo !$this->post['is_actived'] ? ' selected="selected" ' : '';?>>Ẩn</option>
                        </select>
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel" for="is_approved">Duyệt:</label>
                        </div>
                        <select class="medium_text_input" name="is_approved" id="is_approved">
                            <option value="1"<?php echo $this->post['is_approved'] ? ' selected="selected" ' : '';?>>Có</option>
                            <option value="0"<?php echo !$this->post['is_approved'] ? ' selected="selected" ' : '';?>>Không</option>
                        </select>
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel">Bài ưu tiên?:</label>
                        </div>
                        <select class="medium_text_input" name="is_featured" id="is_featured">
                            <option value="1"<?php echo $this->post['is_featured'] ? ' selected="selected" ' : '';?>>Có</option>
                            <option value="0"<?php echo !$this->post['is_featured'] ? ' selected="selected" ' : '';?>>Không</option>
                        </select>
                    </div>

                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel" for="nsfw">Bài 18+:</label>
                        </div>
                        <select class="medium_text_input" name="nsfw" id="nsfw">
                            <option value="1"<?php echo $this->post['nsfw'] ? ' selected="selected" ' : '';?>>Có</option>
                            <option value="0"<?php echo !$this->post['nsfw'] ? ' selected="selected" ' : '';?>>Không</option>
                        </select>
                    </div>
                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel" for="is_meme">Meme:</label>
                        </div>
                        <input type="checkbox" <?php echo $this->post['is_meme'] ? ' checked="checked" value="1" ' : '';?> name="is_meme" id="is_meme">
                    </div>

                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel" for="check_update">Giữ nguyên thời gian:</label>
                        </div>
                        <input type="checkbox" value="1" checked="checked" name="check_update" id="check_update">
                    </div>

                    <?php if ($this->post['is_photo'] == 0) : ?>

                    <div class="listing_input hgauto">
                        <div class="post_label_container">
                            <label class="postLabel" for="force_youtube">Buộc sử dụng YouTube Player</label>
                        </div>
                        <select class="medium_text_input" name="force_youtube" id="force_youtube">
                            <option value="1" <?php echo isset($this->postMeta['force_youtube']) && $this->postMeta['force_youtube'] ? ' selected="selected" ' : '';?>>Có</option>
                            <option value="0" <?php echo !isset($this->postMeta['force_youtube']) ? ' selected="selected" ' : '';?>>Không</option>
                        </select>
                    </div>

                    <?php endif; ?>

                    <div class="button_listing_input">
                        <div class="post_label_container"></div>
                        <input id="btn_submit" type="submit" class="button_update" value="" name="btn_submit" />
                    </div>

                    <div>

                        <h3 class="n2">Thông tin chap</h3>

                        <div id="error_notice" style="color: #009531;font-size: 12px;font-weight: bold;display: none"></div>
                        <div id="contentchap">
                            <?php if(!empty($this->lsPostChap)):?>
                                <?php
                                foreach($this->lsPostChap as $key => $value):
                                    $id = $value['id'];
                                    $url = $value['url'] ? $value['url'] :'';
                                    $chap_name = $value['chap_name'] ? $value['chap_name'] :'';
                                    $chap_title = $value['chap_title'] ? $value['chap_title'] :'';
                                    $weight = $value['weight'] ? $value['weight'] : 0;
                                    $description = $value['chap_description'] ? $value['chap_description'] : '';
                                    ?>
                                    <div id="showChap_<?php echo $id;?>" style="margin-bottom:4px;">
                                        <input type="text" id="chap_name_<?php echo $id; ?>" value="<?php echo $chap_name; ?>"  placeholder="Tên điều hướng" style="width: 80px">
                                        <input type="text" id="chap_title_<?php echo $id; ?>" value="<?php echo $chap_title; ?>"  placeholder="Title của chap" style="width: 200px">
                                        <input type="text" id="txt_<?php echo $id; ?>" onclick="this.select()" value="<?php echo $url; ?>"  placeholder="URL YouTube / Shortcode MeCloud" style="width: 200px">
                                        <textarea id="description_<?php echo $id; ?>"  placeholder="Mô tả ngắn của chap" style="width: 200px; vertical-align: middle"><?php echo $description; ?></textarea>
                                        <input type="text" id="weight_<?php echo $id; ?>" value="<?php echo $weight; ?>"  placeholder="STT" style="width: 30px">
                                        <a href="#" class="btnNewSmall green UpdateChap" data-id="<?php echo $id; ?>">Cập nhật</a>
                                        <a href="#" class="btnNewSmall red DeleteChap" data-id="<?php echo $id; ?>">Xóa</a>
                                    </div>
                                <?php endforeach;?>
                            <?php endif;?>
                        </div>
                        <div id="buttonsNew">
                            <a class="btnNew orange" href="#" id="AddNew">Thêm Chap</a>
                        </div>

                    </div>

                </div>
                <div class="line clear"></div>
            </form>
        </div>
    </div>
</div>
<script>
    $('#youtube_key').change(function() {
        var key = $(this).val();
        if (key.indexOf("http://") == -1 || key.indexOf("youtube.com") == -1 ) {
            key = 'https://www.youtube.com/watch?v='+ key;
        }
        $.get(Settings.baseurl +'/ajax/get-media-info?url='+ key, function(data){
            if (data != null) {
                $('#youtube_info').html('<img src="'+ data.thumbnail +'" width=200 />');
            }
        }, 'json');
    });

    $(document).ready(function() {
        $('#AddNew').on('click',function(event) {
            event.preventDefault();
            $.ajax({
                type:'POST',
                url:Settings.baseurl + '/' + Settings.admin + '/Postchap/insert',
                data: {
                    id: <?php echo $this->post['post_id']; ?>
                },
                cache:false,
                dataType:'json',
                success:function(json){
                    if(json.errors == 2) {
                        $('#contentchap').append(json.msg);
                    } else {
                        alert('ID không tồn tại');
                    }
                }
            });
            return false;
        });

        $(document).on('click', 'a.UpdateChap', function(event) {
	        event.preventDefault();
            var id          =   $(this).attr('data-id');
            var url         =   $('#txt_'+ id).val();
            var chap_name   =   $('#chap_name_' + id).val();
            var chap_title  =   $('#chap_title_' + id).val();
            var weight      =   $('#weight_' + id).val();
            var description      =   $('#description_' + id).val();
            $.ajax({
                type:'POST',
                url:Settings.baseurl+'/'+Settings.admin+'/Postchap/update',
                data: {
                    id: id,
                    url: url,
                    post_id: <?php echo $this->post['post_id']; ?>,
                    chap_name: chap_name,
                    chap_title: chap_title,
                    weight: weight,
                    description: description
                },
                cache:false,
                dataType:'json',
                success:function(json){
                    if(json.errors == 1 ) {
                        $('#error_notice').show().text(json.msg);
                        $('#txt_'+id).focus();
                    } else if (json.errors == 3) {
                        $('#error_notice').show().text(json.msg);
                        $('#chap_name_'+id).focus();
                    } else {
                        $('#error_notice').show().text(json.msg);
                    }
                }
            });
        return false;
        });

        $(document).on('click', 'a.DeleteChap', function(event){
	        event.preventDefault();
            var id = $(this).attr('data-id');
            $.ajax({
                type: 'POST',
                url: Settings.baseurl+'/'+Settings.admin+'/Postchap/delete',
                data: {
	                id: id,
	                post_id: <?php echo $this->post['post_id'] ?>
                },
                cache: false,
                dataType:'json',
                success:function(json) {
                    if(json.errors == 2) {
                        $('#showChap_'+id).hide();
                    } else {
                        alert(json.msg);
                    }
                }
            });
            return false;
        });

    });
</script>