<?php
$params = $this->params;
?>
<div id="content">
    <div class="breadcrumb clearfix">
        <div class="title k2">Post Management</div>
        <?php if (Role::isAllowed(Permission::ARTICLE_ADD)): ?>
            <div class="addLink"><a title="Tạo tủ hàng"
                                    href="<?php echo $this->url(array('action' => 'create', 'controller' => 'post', 'module' => 'adm'), null, true); ?>"><img
                        src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/b_add.jpg"
                        alt="Tạo tủ hàng"/></a></div>
        <?php endif; ?>
    </div>
    <form id="frm" name="frm" method="get"
          action="<?php echo $this->url(array('action' => 'index', 'controller' => 'post', 'module' => 'adm'), null, true); ?>">
        <ul class="filter clearfix">
            <li class="expand"><label>Post ID</label> <input id="post_id" name="post_id"
                                                             value="<?php echo isset($params['post_id']) ? $params['post_id'] : ''; ?>"
                                                             class="large" type="text"/>
            </li>
            <li class="expand"><label>Post Title</label> <input id="story" name="story"
                                                                value="<?php echo isset($params['story']) ? $params['story'] : ''; ?>"
                                                                class="large" type="text"/>
            </li>
            <li class="expand">-<label>Deleted</label> <select id="is_actived" name="is_actived" class="cat">
                    <option value="-1">All</option>
                    <option value="1"
                            class="second" <?php echo (isset($params['is_approved']) && $params['is_actived'] == 1) ? 'selected="selected"' : ''; ?>>
                        Yes
                    </option>
                    <option value="0"
                            class="second" <?php echo (isset($params['is_actived']) && $params['is_actived'] == 0) ? 'selected="selected"' : ''; ?>>
                        No
                    </option>
                </select>
            </li>
            <li class="expand"><label>Approved</label> <select id="is_approved" name="is_approved" class="cat">
                    <option value="-1">All</option>
                    <option value="1"
                            class="second" <?php echo (isset($params['is_approved']) && $params['is_approved'] == 1) ? 'selected="selected"' : ''; ?>>
                        Yes
                    </option>
                    <option value="0"
                            class="second" <?php echo (isset($params['is_approved']) && $params['is_approved'] == 0) ? 'selected="selected"' : ''; ?>>
                        No
                    </option>
                </select>
            </li>
            <li class="expand clear"><label>Category</label> <select id="category_id"
                                                                     name="category_id" class="cat">
                    <option value="">All categories</option>
                    <?php
                    foreach ($this->categoryTree as $parent) {
                        echo '<optgroup label="' . $parent['category_name'] . '" class="first">';
                        if ($parent['sub']) {
                            foreach ($parent['sub'] as $sub) {
                                if ($sub['category_id'] == $params['category_id'])
                                    echo '<option value="' . $sub['category_id'] . '" selected="selected" class="second" >' . $sub['category_name'] . '</option>';
                                else
                                    echo '<option value="' . $sub['category_id'] . '" class="second" >' . $sub['category_name'] . '</option>';
                            }
                        }
                        echo '</optgroup>';
                    }
                    ?>
                </select>
            </li>
            <li class="expand"><label>Create From</label> <select
                    id="created_date_day_from" name="created_date_day_from" class="dd">
                    <option value="">Date</option>
                    <?php for ($i = 1; $i < 32; $i++): ?>
                        <option value="<?php echo $i; ?>"
                            <?php echo ($i == (int)$this->defaultData['created_date_day_from']) ? 'selected="selected"' : ''; ?>>
                            <?php echo $i; ?>
                        </option>
                    <?php endfor; ?>
                </select> <select id="created_date_month_from"
                                  name="created_date_month_from" class="mm">
                    <option value="">Month</option>
                    <?php for ($i = 1; $i < 13; $i++): ?>
                        <option value="<?php echo $i; ?>"
                            <?php echo ($i == (int)$this->defaultData['created_date_month_from']) ? 'selected="selected"' : ''; ?>>
                            <?php echo $i; ?>
                        </option>
                    <?php endfor; ?>
                </select> <select id="created_date_year_from"
                                  name="created_date_year_from" class="yyyy">
                    <option value="">Year</option>
                    <?php for ($i = 2010; $i < 2050; $i++): ?>
                        <option value="<?php echo $i; ?>"
                            <?php echo ($i == (int)$this->defaultData['created_date_year_from']) ? 'selected="selected"' : ''; ?>>
                            <?php echo $i; ?>
                        </option>
                    <?php endfor; ?>
                </select>
            </li>
            <li class="expand"><label>Create To</label> <select id="created_date_day_to" name="created_date_day_to"
                                                                class="dd">
                    <option value="">Day</option>
                    <?php for ($i = 1; $i < 32; $i++): ?>
                        <option value="<?php echo $i; ?>"
                            <?php echo ($i == (int)$this->defaultData['created_date_day_to']) ? 'selected="selected"' : ''; ?>>
                            <?php echo $i; ?>
                        </option>
                    <?php endfor; ?>
                </select> <select id="created_date_month_to"
                                  name="created_date_month_to" class="mm">
                    <option value="">Month</option>
                    <?php for ($i = 1; $i < 13; $i++): ?>
                        <option value="<?php echo $i; ?>"
                            <?php echo ($i == (int)$this->defaultData['created_date_month_to']) ? 'selected="selected"' : ''; ?>>
                            <?php echo $i; ?>
                        </option>
                    <?php endfor; ?>
                </select> <select id="created_date_year_to"
                                  name="created_date_year_to" class="yyyy">
                    <option value="">Year</option>
                    <?php for ($i = 2010; $i < 2050; $i++): ?>
                        <option value="<?php echo $i; ?>"
                            <?php echo ($i == (int)$this->defaultData['created_date_year_to']) ? 'selected="selected"' : ''; ?>>
                            <?php echo $i; ?>
                        </option>
                    <?php endfor; ?>
                </select>
            </li>
            <li class="expand"><label>Trạng thái</label> <select id="post_phase" name="post_phase" class="cat">
                    <option value="-1">All</option>
                    <option value="0"
                            class="second" <?php echo (isset($params['post_phase']) && $params['post_phase'] == 0) ? 'selected="selected"' : ''; ?>>
                        Xém được ra trang chủ
                    </option>
                    <option value="1"
                            class="second" <?php echo (isset($params['post_phase']) && $params['post_phase'] == 1) ? 'selected="selected"' : ''; ?>>
                        Đã ra trang chủ
                    </option>
                </select>
            </li>
            <li class="clear"><input id="submit" name="submit" value="" class="button_search" type="submit"/>
            </li>
        </ul>
    </form>
    <div class="clear"></div>
    <?php echo $this->paging; ?>
    <div class="table_member">
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tbody>
            <tr>
                <td width="5%" class="secondRow">ID</td>
                <td width="20%" class="secondRow">Title</td>
                <td width="20%" class="secondRow">Preview</td>
                <td width="5%" class="secondRow">Type</td>
                <td width="10%" class="secondRow">Uploader</td>
                <td width="20%" class="secondRow">Info</td>
                <td width="10%" class="secondRow">Upload Time</td>
                <td width="10%" class="secondRow">Actions</td>
            </tr>
            <?php if (!empty($this->posts) > 0): ?>
                <?php foreach ($this->posts as $post): ?>
                    <tr>
                        <td class="ctn" align="center"><?php echo $post['post_id']; ?></td>
                        <td class="ctn"><p class="title">
                                <a class="tooltip" target="_blank"
                                   href="<?php echo Post::postUrl($post); ?>"><?php echo $post['story']; ?></a>
                            </p></td>
                        <td class="ctn">
                            <?php if (!empty($post['picture_upload'])) : ?>
                                <img class="postImg"
                                     src="<?php echo My_Zend_Globals::getThumbImage($post['picture_upload']); ?>"
                                     width="200"/>
                            <?php elseif ($post['is_photo']) : ?>
                                <img class="postImg"
                                     src="<?php echo My_Zend_Globals::getThumbImage($post['picture'], 'thumb1'); ?>"
                                     width="200"/>
                            <?php elseif ($post['youtube_key'] != ''): ?>
                                <img src="http://img.youtube.com/vi/<?php echo $post['youtube_key']; ?>/0.jpg"
                                     width="200" alt=""/>
                                <div
                                    style="background: red; color: white; position: absolute; padding: 5px; z-index: 100; top: 0; left: 0;">
                                    Video
                                </div>
                                <!-- <iframe width="250" height="150" src="http://www.youtube.com/embed/<?php echo $post['youtube_key']; ?>?rel=0&showinfo=0&vq=large&iv_load_policy=3&modestbranding=1&nologo=1" frameborder="0" allowfullscreen="1"></iframe> !-->
                            <?php elseif ($post['vmo_key'] != '') : ?>
                                <?php if ($post['picture_upload']) : ?>
                                    <img class="postImg"
                                         src="<?php echo My_Zend_Globals::getThumbImage($post['picture_upload']); ?>"
                                         width="200"/>
                                <?php else : ?>
                                    <iframe src="//player.vimeo.com/video/<?php echo $post['vmo_key']; ?>" width="250"
                                            height="150" frameborder="0" webkitallowfullscreen mozallowfullscreen
                                            allowfullscreen></iframe>
                                <?php endif; ?>
                            <?php elseif ($post['nct_mp3'] != ''): ?>
                                <?php if ($post['picture_upload']) : ?>
                                    <img class="postImg"
                                         src="<?php echo My_Zend_Globals::getThumbImage($post['picture_upload']); ?>"
                                         width="200"/>
                                <?php else : ?>
                                    <img src="<?php echo $post['picture']; ?>" width="200" alt=""/>
                                <?php endif; ?>
                            <?php elseif ($post['nct_video'] != ''): ?>
                                <?php if ($post['picture_upload']) : ?>
                                    <img class="postImg"
                                         src="<?php echo My_Zend_Globals::getThumbImage($post['picture_upload']); ?>"
                                         width="200"/>
                                <?php else : ?>
                                    <div
                                        style="background: red; color: white; position: absolute; padding: 5px; z-index: 100; top: 0; left: 0;">
                                        Video
                                    </div>
                                    <object width="250" height="150">
                                        <param
                                            value="http://www.nhaccuatui.com/video/xem-clip/<?php echo $post['nct_video']; ?>"
                                            name="movie">
                                        <param value="high" name="quality">
                                        <param value="transparent" name="wmode">
                                        <param value="always" name="allowscriptaccess">
                                        <param value="true" name="allowfullscreen">
                                        <param value="autostart=false" name="flashvars">
                                        <embed width="250" height="150" type="application/x-shockwave-flash"
                                               wmode="transparent" quality="high" allowfullscreen="true"
                                               allowscriptaccess="always" flashvars="target=blank&amp;autostart=false"
                                               src="http://www.nhaccuatui.com/video/xem-clip/<?php echo $post['nct_video']; ?>">
                                    </object>
                                <?php endif; ?>
                            <?php elseif ($post['zingtv_key'] != ''): ?>
                                <?php if ($post['picture_upload']) : ?>
                                    <img class="postImg"
                                         src="<?php echo My_Zend_Globals::getThumbImage($post['picture_upload']); ?>"
                                         width="200"/>
                                <?php else : ?>
                                    <iframe width="250" height="150"
                                            src="http://tv.zing.vn/embed/video/<?php echo $post['zingtv_key']; ?>"
                                            frameborder="0" allowfullscreen="true" frameborder="0"
                                            webkitAllowFullScreen="true" mozallowfullscreen="true"></iframe>
                                <?php endif; ?>
                            <?php elseif ($post['mecloud_key'] != ''): ?>
                                <?php if ($post['picture_upload']) : ?>
                                    <img class="postImg"
                                         src="<?php echo My_Zend_Globals::getThumbImage($post['picture_upload']); ?>"
                                         width="200"/>
                                <?php else : ?>
                                    <img src="<?php echo $post['picture']; ?>" width="200" alt=""/>
                                    <div
                                        style="background: red; color: white; position: absolute; padding: 5px; z-index: 100; top: 0; left: 0;">
                                        Video
                                    </div>
                                <?php endif; ?>
                            <?php endif; ?>
                        </td>
                        <td class="ctn">
                            <?php
                            if ($post['is_photo'] && $post['is_gif']) {
                                echo "Gif";
                            } elseif ($post['is_photo']) {
                                echo "Photo";
                            } elseif ($post['youtube_key'] != '' || $post['vmo_key'] || $post['zingtv_key']) {
                                echo "Video";
                            } elseif ($post['mecloud_key']) {
                                echo "MeCloud";
                            }
                            ?>
                        </td>
                        <td class="ctn"><a href="<?php echo User::userUrl($post); ?>"
                                           target="_blank"><?php echo $post['fullname']; ?></a></td>
                        <td class="ctn">
                            - Deleted: <?php echo $post['is_actived'] == 1 ? 'No' : 'Yes'; ?><br/>
                            - Approved: <?php echo $post['is_approved'] == 1 ? 'Yes' : 'No'; ?><br/>
                            <?php if ($post['phase'] == Post::_PHASE_HOMEPAGE): ?>
                                - Hiển thị trang chủ <br/>
                            <?php elseif ($post['phase'] == Post::_PHASE_HOT) : ?>
                                - Chủ đề HOT <br/>
                            <?php endif; ?>
                            - View: <?php echo $post['number_of_view']; ?><br/>
                            - Like: <?php echo $post['number_of_like']; ?><br/>
                            - Comment: <?php echo $post['number_of_comment']; ?><br/>
                            - Share: <?php echo $post['number_of_share']; ?><br/>
                        </td>
                        <td class="ctn" align="center"><?php echo date('H:i:s d/m/Y', $post['created_at']); ?></td>
                        <td class="ctn">
                            <?php if (Role::isAllowed(Permission::ARTICLE_APPROVE) && !$post['is_approved']): ?>
                                <a href="javascript:void(0);" id="approvePost-<?php echo $post['post_id']; ?>"
                                   data-post-id="<?php echo $post['post_id']; ?>">Approve</a> |
                            <?php endif; ?>
                            <?php /*if (Role::isAllowed(Permission::ARTICLE_APPROVE) && $post['is_approved']): ?>
                                    <a href="javascript:void(0);" rel="<?php echo $post['post_id'];?>">Bỏ duyệt</a> |
                                <?php endif;*/ ?><br/>
                            <?php if (Role::isAllowed(Permission::ARTICLE_EDIT)): ?>
                                <a title="Sửa bài viết"
                                   href="<?php echo $this->url(array('action' => 'edit', 'controller' => 'post', 'module' => 'adm', 'post_id' => $post['post_id']), null, true); ?>">Edit</a> |
                            <?php endif; ?>
                            <?php if (Role::isAllowed(Permission::ARTICLE_DELETE)): ?>
                                <a title="Xóa bài viết" onclick="return confirm('Xoa bai nay ha?')"
                                   href="<?php echo $this->url(array('action' => 'delete', 'controller' => 'post', 'module' => 'adm', 'post_id' => $post['post_id']), null, true); ?>">Delete</a>
                            <?php endif; ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
            <?php else: ?>
                <tr>
                    <td class="ctn nonSearch" colspan="9">Không tìm thấy kết quả phù hợp theo yêu cầu của bạn.</td>
                </tr>
            <?php endif; ?>
            </tbody>
        </table>
    </div>
    <?php echo $this->paging; ?>
</div>

<script>
    $("[id|=approvePost]").click(function () {
        var post_id = $(this).attr('data-post-id');
        $.ajax({
            url: '',
            type: 'POST',
            dataType: 'json',
            data: {post_id: post_id},
            cache: false,
            success: function (msg) {
                if (msg.error_code == 0) {
                    window.location.reload(true);
                } else {
                    alert(msg.error_message);
                }
            }
        });

    });
</script>