<?php
$params = $this->params;
?>
<div id="content">
    <div class="breadcrumb clearfix">
        <div class="title k2">Quản lý bài viết báo xấu</div>
    </div>

    <?php echo $this->paging; ?>
    <div class="table_member">
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tbody>
                <tr>
                     <td width="2%" class="secondRow">ID</td>
                    <td width="20%" class="secondRow">Tiêu đề</td>
                    <td width="10%" class="secondRow">Owner</td>
                    <td width="15%" class="secondRow">Hiển thị</td>
                    <td width="10%" class="secondRow">Cập nhật</td>
                </tr>
                <?php if (!empty($this->posts) > 0): ?>
                    <?php foreach ($this->posts as $post): ?>
                        <tr>
                            <td class="ctn" align="center"><?php echo $post['post_id']; ?></td>
                            <td class="ctn"><p class="title">
                                    <a class="tooltip" target="_blank"
                                       href="<?php echo Post::postUrl($post); ?>"><?php echo $post['story']; ?></a>
                                </p></td>
                            <td class="ctn"><a href="<?php echo User::userUrl($post);?>" target="_blank"><?php echo $post['fullname']; ?></a></td>
                            <td class="ctn">Trang chủ: <?php echo $post['is_approved'] == 1 ? 'Có' : 'Không'; ?><br/>
                            Hiển thị: <?php echo $post['is_actived'] == 1 ? 'Có' : 'Không'; ?>
                            </td>
                            <td class="ctn" align="center"><?php echo date('H:i:s d/m/Y', $post['time']); ?></td>
                        </tr>
                    <?php endforeach; ?>
                <?php else: ?>
                    <tr>
                        <td class="ctn nonSearch" colspan="5">Không tìm thấy kết quả phù hợp theo yêu cầu của bạn.</td>
                    </tr>
                <?php endif; ?>
            </tbody>
        </table>
    </div>
    <?php echo $this->paging; ?>
</div>