<!-- Page -->
<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title">Create Category</h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo BASE_URL . '/adm_reborn' ?>">Home</a></li>
            <li><a href="<?php echo BASE_URL . '/adm_reborn/category' ?>">Category</a></li>
            <li class="active">Create new</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form autocomplete="off" method="post" enctype="multipart/form-data">
                    <!-- Panel Static Lables -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Category Information</h3>
                        </div>
                        <div class="panel-body container-fluid">
                            <?php if (!empty($this->messages)): ?>
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <?php foreach ($this->messages as $key => $value)
                                        echo $this->messages[$key];?>
                                </div>
                            <?php endif; ?>
                            <div class="form-group form-material floating has-warning row">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="category_name" name="category_name"
                                           value=""/>
                                    <label class="floating-label" for="category_name">Name</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="category_customize"
                                           name="category_customize"
                                           value=""/>
                                    <label class="floating-label" for="category_customize">Customize category
                                        name</label>
                                </div>
                            </div>
                            <div class="form-group form-material floating row">
                                <div class="col-sm-3">
                                    <input type="text" class="form-control"
                                           name="ordering" id="ordering"
                                           value="0"/>
                                    <label class="floating-label" for="ordering">Priority</label>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="is_active_home" name="is_active_home">
                                        <option value="1">Home</option>
                                        <option value="0" selected="selected">Hide</option>
                                    </select>
                                    <label class="floating-label" for="is_active_home">Position</label>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="is_grid" name="is_grid">
                                        <option value="1">Grid</option>
                                        <option value="0" selected="selected">Normal</option>
                                    </select>
                                    <label class="floating-label" for="is_grid">Type</label>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="is_hot" name="is_hot">
                                        <option value="0" selected="selected">None</option>
                                        <option value="1">New</option>
                                        <option value="2">Hot</option>
                                    </select>
                                    <label class="floating-label" for="is_hot">Icon</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">SEO</h3>
                        </div>
                        <div class="panel-body container-fluid">
                            <div class="form-group form-material floating">
                                <input type="text" class="form-control"
                                       name="page_title" id="page_title"
                                       value=""/>
                                <label class="floating-label" for="page_title">Page title</label>
                            </div>
                            <div class="form-group form-material floating row">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control"
                                           name="is_url" id="is_url"
                                           value=""/>
                                    <label class="floating-label" for="is_url">URL</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control"
                                           name="alias" id="alias"
                                           value=""/>
                                    <label class="floating-label" for="alias">Alias SEO URL</label>
                                </div>
                            </div>
                            <div class="form-group form-material floating row">
                                <div class="col-sm-6">
                                    <textarea class="form-control" id="meta_keyword" name="meta_keyword" cols=""
                                              rows=""></textarea>
                                    <label class="floating-label" for="meta_keyword">Meta Keywords</label>
                                </div>
                                <div class="col-sm-6">
                                    <textarea class="form-control"
                                              id="meta_description" name="meta_description"
                                              cols=""
                                              rows=""></textarea>
                                    <label class="floating-label" for="meta_description">Meta Description</label>
                                </div>
                            </div>
                            <button type="submit" name="btn_submit" class="btn btn-primary pull-right margin-top-30"
                                    id="btn_submit">Create
                            </button>
                        </div>
                    </div>
                    <!-- End Panel Static Lables -->
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Page -->