<!-- Page -->
<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title">Edit Category</h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo BASE_URL . '/adm_reborn' ?>">Home</a></li>
            <li><a href="<?php echo BASE_URL . '/adm_reborn/category' ?>">Category</a></li>
            <li class="active"><?php echo $this->category['category_name']; ?></li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form autocomplete="off" method="post" enctype="multipart/form-data">
                    <!-- Panel Static Lables -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Category Information</h3>
                        </div>
                        <div class="panel-body container-fluid">
                            <?php if (!empty($this->messages)): ?>
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <?php foreach ($this->messages as $key => $value)
                                        echo $this->messages[$key];?>
                                </div>
                            <?php endif; ?>
                            <div class="form-group form-material has-warning row">
                                <div class="col-sm-6">
                                    <label class="control-label" for="category_name">Name</label>
                                    <input type="text" class="form-control focus" id="category_name"
                                           name="category_name"
                                           value="<?php echo $this->category['category_name']; ?>"/>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label" for="category_customize">Customize category
                                        name</label>
                                    <input type="text" class="form-control focus" id="category_customize"
                                           name="category_customize"
                                           value="<?php echo $this->category['category_customize']; ?>"/>
                                </div>
                            </div>
                            <div class="form-group form-material row">
                                <div class="col-sm-3">
                                    <label class="control-label" for="ordering">Priority</label>
                                    <input type="text" class="form-control"
                                           name="ordering" id="ordering"
                                           value="<?php echo $this->category['ordering'] ?>"/>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="is_active_home">Position</label>
                                    <select class="form-control" id="is_active_home" name="is_active_home">
                                        <option
                                            value="1" <?php echo $this->category['is_active_home'] ? ' selected="selected" ' : '' ?>>
                                            Home
                                        </option>
                                        <option
                                            value="0" <?php echo !$this->category['is_active_home'] ? ' selected="selected" ' : '' ?>>
                                            Hide
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="is_grid">Type</label>
                                    <select class="form-control" id="is_grid" name="is_grid">
                                        <option
                                            value="1" <?php echo $this->category['is_grid'] ? ' selected="selected" ' : ''; ?>>
                                            Grid
                                        </option>
                                        <option
                                            value="0" <?php echo !$this->category['is_grid'] ? ' selected="selected" ' : ''; ?>>
                                            Normal
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="is_hot">Icon</label>
                                    <select class="form-control" id="is_hot" name="is_hot">
                                        <option
                                            value="0" <?php if ($this->category['is_hot'] == 0): ?> selected="selected" <?php endif; ?>>
                                            None
                                        </option>
                                        <option
                                            value="1" <?php if ($this->category['is_hot'] == 1): ?> selected="selected" <?php endif; ?>>
                                            New
                                        </option>
                                        <option
                                            value="2" <?php if ($this->category['is_hot'] == 2): ?> selected="selected" <?php endif; ?>>
                                            Hot
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">SEO</h3>
                        </div>
                        <div class="panel-body container-fluid">
                            <div class="form-group form-material">
                                <label class="control-label" for="page_title">Page title</label>
                                <input type="text" class="form-control focus"
                                       name="page_title" id="page_title"
                                       value="<?php echo isset($this->category['page_title']) ? htmlspecialchars($this->category['page_title']) : ''; ?>"/>
                            </div>
                            <div class="form-group form-material row">
                                <div class="col-sm-6">
                                    <label class="control-label" for="is_url">URL</label>
                                    <input type="text" class="form-control"
                                           name="is_url" id="is_url"
                                           value="<?php echo $this->category['is_url']; ?>"/>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label" for="alias">Alias SEO URL</label>
                                    <input type="text" class="form-control"
                                           name="alias" id="alias"
                                           value="<?php echo isset($this->category['alias']) ? htmlspecialchars($this->category['alias']) : ''; ?>"/>
                                </div>
                            </div>
                            <div class="form-group form-material row">
                                <div class="col-sm-6">
                                    <label class="control-label" for="meta_keyword">Meta Keywords</label>
                                    <textarea class="form-control focus" id="meta_keyword" name="meta_keyword" cols=""
                                              rows=""><?php echo isset($this->category['meta_keyword']) ?
                                            htmlspecialchars($this->category['meta_keyword']) :
                                            ''; ?></textarea>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label" for="meta_description">Meta Description</label>
                                    <textarea class="form-control focus"
                                              id="meta_description" name="meta_description"
                                              cols=""
                                              rows=""><?php echo isset($this->category['meta_description']) ?
                                            htmlspecialchars($this->category['meta_description']) :
                                            ''; ?></textarea>
                                </div>
                            </div>
                            <button type="submit" name="btn_submit" class="btn btn-primary pull-right margin-top-30"
                                    id="btn_submit">Update
                            </button>
                        </div>
                    </div>
                    <!-- End Panel Static Lables -->
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Page -->