<?php
$allowAdd = Role::isAllowed(Permission::CATEGORY_ADD);
$allowEdit = Role::isAllowed(Permission::CATEGORY_EDIT);
?>
<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title">Category Management</h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo BASE_URL . '/adm_reborn' ?>">Home</a></li>
            <li class="active">Category</li>
        </ol>
    </div>
    <div class="page-content">
        <!-- Panel Basic -->
        <div class="panel">
            <?php if ($allowAdd): ?>
            <a href="<?php echo $this->url(array('action' => 'categorycreate', 'controller' => 'category', 'module' => 'adm'), null, true); ?>">
                <button type="button" class="btn btn-outline btn-success btn-custom-create">
                        <span><i class="icon wb-plus" aria-hidden="true"></i>  Create new</span>
                </button>
            </a>
            <?php endif; ?>
            <div class="panel-body">
                <table class="table table-hover dataTable table-striped width-full table-custom" id="exampleFixedHeader">
                    <thead>
                    <tr>
                        <th width="5%">#</th>
                        <th width="">Name</th>
                        <th width="10%">Status</th>
                        <th width="10%" class="text-nowrap">Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th width="5%">#</th>
                        <th width="">Name</th>
                        <th width="10%">Status</th>
                        <th width="10%" class="text-nowrap">Action</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <?php if (is_array($this->arrCategory) && !empty($this->arrCategory)): $stt = 1; ?>
                        <?php foreach ($this->arrCategory as $key => $value): ?>
                            <tr>
                                <td><?php echo $stt; ?></td>
                                <td>
                                    <?php if(!empty($value['category_name'])) { echo $value['category_name']; } else { echo  $value['category_customize'];} ?>
                                </td>
                                <td>
                                    <?php echo $value['is_hidden'] ? 'Hide' : 'Public'?>
                                </td>
                                <td class="text-nowrap" style="padding: 8px !important;">
                                    <?php if ($allowEdit): ?>
                                        <a class="btn btn-sm btn-icon btn-flat btn-default" title="Edit"
                                           href="<?php echo $this->url(array('action' => 'categoryedit', 'controller' => 'category', 'module' => 'adm_reborn', 'id' => $value['category_id']), null, true); ?>">
                                            <i class="icon wb-wrench" aria-hidden="true"></i>
                                        </a>
                                    <?php endif; ?>
                                    <?php if (Role::isAllowed(Permission::CATEGORY_DELETE)): ?>
                                        <a class="btn btn-sm btn-icon btn-flat btn-default" title="Delete"
                                           onClick="Category.doDeleteProduct('<?php echo $value['category_id']; ?>','<?php echo $this->id; ?>')"
                                           href="javascript:void(0);">
                                            <i class="icon wb-close" aria-hidden="true"></i>
                                       </a>
                                    <?php endif; ?>
                                </td>
                            </tr>
                        <?php $stt++; endforeach; ?>
                    <?php else: ?>
                        <tr>
                            <td>Missing data</td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                </table>
            </div>
            <!-- End Panel Basic -->
        </div>
        <!-- End Panel -->
    </div>
</div>