<!-- Page -->
<div class="page">
<div class="page-content padding-30 container-fluid">
<div class="row" data-plugin="matchHeight" data-by-row="true">
<div class="col-xlg-12 col-md-12">
    <!-- Widget Linearea Color -->
    <div class="widget widget-shadow widget-responsive" id="widgetLineareaColor">
        <div class="widget-content">
            <div class="padding-top-30 padding-30" style="height:calc(100% - 250px);">
                <div class="row">
                    <div class="col-xs-12">
                        <strong>Welcome !!!</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Widget Linearea Color -->
</div>

</div>
</div>
</div>