<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">
    <title>Administrator Control Panel - HayNhucNhoi.tv</title>
    <link rel="shortcut icon" href="<?php echo $this->layout()->_general['server']['img']['path'];?>/favicon_hnn.ico">
    <?php
    echo $this->headLink()
        // Stylesheets
        ->prependStylesheet($this->layout()->_general['server']['css']['path'].'/backend.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/bootstrap.min.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/bootstrap-extend.min.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/site.min.css')
        // Plugins
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/plugins/animsition.min.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/plugins/asScrollable.min.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/plugins/switchery.min.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/plugins/introjs.min.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/plugins/slidePanel.min.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/plugins/flag-icon.min.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/plugins/login-v3.min.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/plugins/alerts.min.css')
        // Fonts
        ->appendStylesheet($this->layout()->_general['server']['fonts']['path'].'/web-icons/web-icons.min.css')
        ->appendStylesheet($this->layout()->_general['server']['fonts']['path'].'/brand-icons/brand-icons.min.css')
        ->appendStylesheet('http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic');
    echo $this->headScript()
        ->appendFile($this->layout()->_general['server']['js']['path'].'/modernizr.min.js')
        ->appendFile($this->layout()->_general['server']['js']['path'].'/breakpoints.min.js')
        ->appendFile($this->layout()->_general['server']['js']['path'].'/core/jquery.min.js');
    ?>
</head>
<body class="page-login-v3 layout-full">
<!-- Page -->
<div class="page animsition vertical-align text-center" data-animsition-in="fade-in"
     data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle">
        <div class="panel">
            <div class="panel-body">
                <div class="brand">
                    <img class="brand-img" src="<?php echo $this->layout()->_general['server']['img']['path'];?>/logo_hnn.png" alt="...">
                    <h2 class="brand-text font-size-18">Hay Nhức Nhói</h2>
                </div>
                <form method="post" action="<?php echo BASE_URL . '/' . ADM_REBORN_FOLDER ;?>/index/login">
                    <div class="form-group form-material floating">
                        <input type="text" class="form-control" name="user_name" id="user_name" />
                        <label for="user_name" class="floating-label">Username</label>
                    </div>
                    <div class="form-group form-material floating">
                        <input type="password" class="form-control" name="password" id="password" />
                        <label for="password" class="floating-label">Password</label>
                    </div>
                    <div class="form-group clearfix">
                        <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg pull-left">
                            <input type="checkbox" id="inputCheckbox" name="remember">
                            <label for="inputCheckbox">Remember me</label>
                        </div>
                    </div>
                    <?php if($this->error_code):?>
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <?php if($this->error_code==1):?>
                                Wrong Username or Password !
                            <?php endif;?>
                        </div>
                    <?php endif;?>
                    <button type="submit" class="btn btn-primary btn-block btn-lg margin-top-40">Sign in</button>
                </form>
            </div>
        </div>
        <footer class="page-copyright page-copyright-inverse">
            <p>WEBSITE BY HayNhucNhoi.Tv</p>
            <p>© 2016. All RIGHT RESERVED.</p>
            <div class="social">
                <a class="btn btn-icon btn-pure" href="javascript:void(0)">
                    <i class="icon bd-twitter" aria-hidden="true"></i>
                </a>
                <a class="btn btn-icon btn-pure" href="javascript:void(0)">
                    <i class="icon bd-facebook" aria-hidden="true"></i>
                </a>
                <a class="btn btn-icon btn-pure" href="javascript:void(0)">
                    <i class="icon bd-google-plus" aria-hidden="true"></i>
                </a>
            </div>
        </footer>
    </div>
</div>
<!-- End Page -->
<?php
echo $this->headScript()
//        Core
    ->appendFile($this->layout()->_general['server']['js']['path'].'/core/bootstrap.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/core/jquery.animsition.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/core/jquery-asScroll.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/core/jquery.mousewheel.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/core/jquery.asScrollable.all.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/core/jquery-asHoverScroll.min.js')
//  Plugin
    ->appendFile($this->layout()->_general['server']['js']['path'].'/plugins/switchery.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/plugins/intro.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/plugins/screenfull.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/plugins/jquery-slidePanel.min.js')
//  Form
    ->appendFile($this->layout()->_general['server']['js']['path'].'/form/jquery.placeholder.min.js')
//  Scripts
    ->appendFile($this->layout()->_general['server']['js']['path'].'/scripts/core.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/scripts/site.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/scripts/menu.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/scripts/menubar.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/scripts/gridmenu.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/scripts/sidebar.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/scripts/config-colors.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/scripts/config-tour.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/scripts/asscrollable.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/scripts/animsition.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/scripts/slidepanel.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/scripts/switchery.min.js')
//  Form
    ->appendFile($this->layout()->_general['server']['js']['path'].'/form/jquery.placeholder.min.js')
    ->appendFile($this->layout()->_general['server']['js']['path'].'/form/material.min.js')
;
?>
<script type="text/javascript">
    Breakpoints();
    (function(document, window, $) {
        'use strict';

        var Site = window.Site;
        $(document).ready(function() {
            Site.run();
        });
    })(document, window, jQuery);
</script>
</body>
</html>