<div id='div-gpt-ad-global-header' style='width: 970px; height: 90px; margin-bottom: 20px; margin-left: auto; margin-right: auto;'>
	<script type='text/javascript'>
		googletag.cmd.push(function() { googletag.display('div-gpt-ad-global-header'); });
	</script>
</div>