<div class="sidebarBlock honor">
	<div class="blockContent">
		Chỉ còn
		<?php
		$startTime = time();
		$endTime = strtotime('00:00:00 07/14/2015');
		$timeLeft = floor(($endTime - $startTime) / (60 * 60));
		?>
		<p class="bignumber">
			<?php echo $timeLeft; ?> giờ
		</p>
		Chương trình tri ân:<br/>
		<strong>ĐĂNG BÀI NHỨC NHÓI, KHÔNG LO DẾ ĐÓI</strong><br/>
		sẽ chính thức bắt đầu.<br/>
		<a class="readmore" href="<?php echo BASE_URL . '/trian'; ?>"> <i class="fa fa-arrow-right"></i>&nbsp;Tìm hiểu ngay</a>
	</div>
</div>
