<div class="block sidebarBlock topClips" style="background: #FFFFC9; padding: 10px;">
    <?php if (!empty($this->newPosts)) { ?>
    <div class="blockTitle"><h1>Giúp Hay Nhức Nhói duyệt bài này</h1></div>
    <div class="blockContent no-padding">
        <div class="recommendedPhotoList">
            <?php foreach ($this->newPosts as $post) { ?>
            <div class="postPhoto">
                <a href="<?php echo Post::postUrl($post);?>">
                    <div class="thumbnailContainer">
                        <?php if($post['is_photo'] == 0) { ?>
                            <?php if ($post['nsfw']) { ?>
                                <div class="photo" style="background: url(<?php echo $this->layout()->_general['server']['img']['path'] . '/' . Post::getNsfwThumb(); ?>) center center / cover no-repeat"></div>
                            <?php } elseif (empty($post['picture_upload'])) { ?>
                                <div class="photo" style="background: url(<?php echo My_Zend_Globals::getThumbImageVideo($post['picture']); ?>) center center / cover no-repeat"></div>
                            <?php } else { ?>
                                <div class="photo" style="background: url(<?php echo My_Zend_Globals::getThumbImage($post['picture_upload']); ?>) center center / cover no-repeat"></div>
                            <?php } ?>
                        <?php } else { ?>
                            <?php if ($post['nsfw']) { ?>
                                <div class="photo" style="background: url(<?php echo $this->layout()->_general['server']['img']['path'] . '/' . Post::getNsfwThumb(); ?>) center center / cover no-repeat"></div>
                            <?php } else { ?>
                                <div class="photo" style="background: url(<?php echo My_Zend_Globals::getThumbImage($post['picture'],'thumb1'); ?>) center center / cover no-repeat"></div>
                            <?php } ?>
                            <?php if ($post['is_gif']) { ?>
                                <div class="co-the-ban-them-xem-gif">GIF</div>
                            <?php } ?>
                        <?php } ?>
                        <?php if($post['is_photo'] == 0):?>
                            <div class="smallVideoIndicator"></div>
                        <?php endif; ?>
                    </div>
                    <div class="fl-r" style="width: 59%">
                        <p class="blackSmallTitle title-compact" title="<?php echo $post['story'];?>"><?php echo My_Zend_Globals::getStringReplaceEmotion($post['story']) ?></p>
                        <?php /*
                        <span style="display: inline-block; width: 32%"><i class="fa fa-eye"></i> <?php echo number_format($post['number_of_view'], 0, ',', '.');?></span>
                        <span style="display: inline-block; width: 32%"><i class="fa fa-comments"></i> <?php echo number_format($post['number_of_comment']);?></span>
                        <span style="display: inline-block; width: 32%"><i class="fa fa-thumbs-up"></i> <?php echo My_Zend_Globals::number_format($this->post['favclicks']);?></span>
                        */ ?>
                    </div>
                    <div class="clear"></div>
                </a>
            </div>
            <?php } ?>
        </div>
    </div>
    <?php } ?>
</div>