<div class="fixed-sticky-right-box">
	<div class="sticky-right-box">
		<?php echo $this->render('partials/ads/floating_right_home.phtml'); ?>
		<?php /* if (!in_array($this->pageType, array('detail')) || !isset($this->pageType)) {
			echo $this->render('partials/ads/floating_right_home.phtml');
		} else { ?>
			<div class="g-page" data-href="https://plus.google.com/+HaynhucnhoiTv" data-width="150"></div>
		<?php } */ ?>
	</div>
</div>