<div class="sidebarBlock">
    <div class="blockTitle">Ủng hộ Hay Nhức Nhói nào ^^</div>
    <div class="blockContent">
        <div class="fb-like-box" data-href="<?php echo FACEBOOK_FANPAGE_URL;?>" data-width="300" data-height="220" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
    </div>
</div>