<?php if ($this->topUserPoint) : ?>
<div class="sidebarBlock topUsers">
    <div class="blockTitle">
		<i class="fa fa-star"></i>&nbsp;&nbsp;Top XL
		<ul class="sort">
			<li><a data-sort="month" class="selected" href="#">Tháng</a></li>
			<li><a data-sort="all" href="#">Tất cả</a></li>
		</ul>
    </div>

    <div class="blockContent">
        <div class="content">
            <?php echo $this->partial('partials/box_top_member_content.phtml', array('topUserPoint' => $this->topUserPoint)); ?>
        </div>
         <div class="more"><a href="<?php echo BASE_URL;?>/top">Xem thêm >></a></div>
    </div>
</div>
<?php endif; ?>