<div class="blockTitle"><h2>Quảng cáo</h2></div>
<div id='div-gpt-ad-1426140973994-0' style='width:160px; height:600px;'>
    <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1426140973994-0'); });
    </script>
</div>