<div class="block clear block-social">
	<div class="blockTitle"><h2>Theo dõi Hay Nhức Nhói</h2></div>
	<div class="blockContent">
		<ul class="social-list">
			<li class="social-button">
				<a href="http://www.facebook.com/haynhucnhoi" target="_blank" title="Hay Nhức Nhói trên Facebook"><i class="fa fa-facebook-square"></i><span class="name">Facebook</span></a>
			</li>
			<li class="social-button">
				<a href="http://plus.google.com/+HaynhucnhoiTv" target="_blank" title="Hay Nhức Nhói trên Google+"><i class="fa fa-google-plus-square"></i><span class="name">Google+</span></a>
			</li>
			<li class="social-button">
				<a href="http://instagram.com/haynhucnhoi" target="_blank" title="Hay Nhức Nhói trên Instagram"><i class="fa fa-instagram"></i><span class="name">Instagram</span></a>
			</li>
		</ul>
	</div>
	<div class="clear"></div>
</div>