<?php if(!empty($this->lsCatogory)) :?>
<div class="sidebarBlock fixedWhenScroll" style="border-top: none;">
    <div class="blockTitle"><h1>Chuyên mục hot</h1></div>
    <div class="blockContent" style="padding: 0">
        <ul class="channelList">
            <?php
            foreach($this->lsCatogory as $key=>$value):
                $url  = BASE_URL.'/chu-de/'.$value['alias'];
                $category_name_box = isset($value['category_name']) ? $value['category_name'] : '';
                ?>
                <?php if(!empty($category_name_box)):?>
                        <li <?php if($this->params['action']=='category' && $this->params['alias']==$value['alias'] ):?> class="active" <?php endif;?>>
                            <a href="<?php echo $url;?>" title="<?php echo $category_name_box;?>">
                                <span class="name"><i class="fa-fw fa fa-angle-right"></i>
                                    <?php echo $category_name_box;?>
                                    <?php if($value['is_hot']==1):?><sup><span class="hot_new_active">New</span></sup><?php endif;?>
                                    <?php if($value['is_hot']==2):?><sup><span class="hot_active">Hot</span></sup><?php endif;?>
                                </span>
                            </a>
                        </li>
                <?php endif;?>
            <?php endforeach;?>
        </ul>
    </div>
</div>
<?php endif;?>
