<div id='div-gpt-ad-square-right-detail' style='width:300px; height:250px; margin: 10px auto'>
    <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-square-right-detail'); });
    </script>
</div>

<!--<script type="text/javascript">-->
<!--    var _ase  = _ase || [];-->
<!--    /* load placement for account: haynhucnhoi, site: http://haynhucnhoi.tv, zone size : 300x250 */-->
<!--    _ase.push(["1446540290","1446792408"]);-->
<!--</script>-->
<!--<script src="http://static.gammaplatform.com/js/ad-exchange.js" type="text/javascript"></script>-->
<!--<noscript><iframe src="http://tag.gammaplatform.com/adx/noscript/zid_1446792408/wid_1446540290/" width="300" height="250" scrolling="no"  frameborder=0></iframe></noscript>-->
