<div class="globalAnnouncement">
    <span class="hot">Hot</span>
    <a href="http://haynhucnhoi.tv/blog/17/ra-mat-chuc-nang-giao-luu-truc-tuyen-cung-hotgirl.hnn"
        target="_blank">Hay Nhức Nhói ra mắt chức năng<span style="font-weight: bold !important;"> Giao Lưu Trực Tuyến Cùng Hotgirl</span>
    </a>
<!--    <a style="margin-left: 20px"-->
<!--       href="http://haynhucnhoi.tv/blog/9/hay-nhuc-nhoi-thay-doi-co-che-tinh-diem-xep-hang-thanh-vien.hnn"-->
<!--       target="_blank">-->
<!--        <span class="hot">Hot</span>-->
<!--        Hay Nhức Nhói thay đổi cơ chế tính điểm xếp hạng thành viên-->
<!--    </a>-->
</div>