<?php
$postCount = $this->userPostCountToday;
$limit = $this->limit;
$point = $this->point;
$specialUser = $this->isSpecialUser;
$isPostVideo = $this->isPostVideo;

$notAllowed = false;
if (!$isPostVideo) {
    $notAllowed = true;
} else {
    if ($postCount['total'] >= $limit['total_limit']) {
        $notAllowed = true;
    }
}
?>
<div class="submitContainer indexSubmit">
    <div class="fl-l" style="width: 400px">
        <div class="quickSubmitForm">
            <form id="form-post-image" class="modal" action="/submit" enctype="multipart/form-data" method="post">
                <input id="post_title" type="text" class="whiteTextbox" name="title" placeholder="Bạn có gì hay muốn chia sẻ?" value=""/>

                <div id="postPhotoForm" style="display: none">
                    <div class="whiteTextbox focus" style="padding: 0 5px">Chọn file ảnh: <input id="photo_file_upload" class="file" type="file" name="image" accept="image/*" /></div>
                    <div class="boxAnchor"></div>
                </div>
                <div id="postMusicForm" style="position: relative; display: none">
                    <div class="whiteTextbox focus">
                        <input id="music_post_url" type="text" class="whiteTextbox" name="url" value="" style="display:block;" placeholder="Nhập đường dẫn đến bài hát"/>
                        <div class="zingmp3Logo" title="Hỗ trợ đăng nhạc từ Zing MP3"></div>
                    </div>
                    <div class="boxAnchor"></div>
                </div>
                <div id="postVideoForm" style="position: relative; display: none">
                    <div class="whiteTextbox focus">
                        <input id="photo_post_url" type="text" class="whiteTextbox" name="url" value="" style="display:block;" placeholder="Nhập đường dẫn đến video clip"/>
                        <!--<input id="type" name="t" value="v" type="hidden"/>-->
                        <div class="supportedLogo" title="Hỗ trợ Zing TV, Vimeo, YouTube"></div>
                    </div>
                    <div class="boxAnchor"></div>
                </div>
                <input id="post_type" type="hidden" name="post_type" value="Photo"/>
                <input type="hidden" id="source" name="source" value="Sưu tầm" maxlength="300"/>
            </form>
            <div class="submitTools">
                <div class="postType">
<!--                        Icon photo-->
                    <?php if (LOGIN_UID > 0 && $postCount['total'] >= $limit['total_limit'] && !$specialUser) { ?>
                        <a href="#" class="submit <?php echo LOGIN_UID == 0 ? 'loginRequired': '';?>" id="non-clickSubmitPhoto" title=""></a>
                    <?php } else { ?>
                        <a href="#" class="submit <?php echo LOGIN_UID == 0 ? 'loginRequired': '';?>" id="clickSubmitPhoto" title="Đăng hình"></a>
                    <?php } ?>
<!--                        Icon video-->
                    <?php if (LOGIN_UID > 0 && $notAllowed  && !$specialUser) : ?>
                        <a href="#" class="submit <?php echo LOGIN_UID == 0 ? 'loginRequired': '';?>" id="non-clickSubmitVideo" title=""></a>
                    <?php elseif (LOGIN_UID > 0 && $postCount['video'] >= $limit['video_limit'] && !$specialUser) : ?>
                        <a href="#" class="submit <?php echo LOGIN_UID == 0 ? 'loginRequired': '';?>" id="non-clickSubmitVideo" title=""></a>
                    <?php else: ?>
                        <a href="#" class="submit <?php echo LOGIN_UID == 0 ? 'loginRequired': '';?>" id="clickSubmitVideo" title="Đăng clip"></a>
                    <?php endif;?>
<!--                        Icon meme-->
                    <?php if (LOGIN_UID > 0 && $postCount['total'] >= $limit['total_limit'] && !$specialUser) : ?>
                        <a href="#" class="submit <?php echo LOGIN_UID == 0 ? 'loginRequired': '';?>" id="non-clickSubmitMeme" title=""></a>
                    <?php elseif (!LOGIN_UID > 0) : ?>
                        <a href="#" class="submit hide-icon <?php echo LOGIN_UID == 0 ? 'loginRequired': '';?>" id="clickSubmitMeme" title="Chế meme"></a>
                    <?php else : ?>
                        <a href="<?php echo BASE_URL;?>/meme-upload" id="clickMemeBuilder" class="submit" title="Chế meme"></a>
                    <?php endif;?>
                </div>
                <div id="videoLoadingImg" class="fl-l" style="display: none"><img src="<?php echo $this->layout()->_general['server']['img']['path'];?>/hnnloading.gif" alt="loading..." /></div>
                <div class="fl-r">
                    <input type="button" id="btnSubmit" class="button blue-button" value="Quẩy lên" style="margin-right: 0; margin-left: auto; float: right" />
                </div>
                <!--<div class="tips" style="clear: both; float: none">
                    <input id="isNSFW" type="checkbox" class="checkbox" title="Tick chọn nếu đây là nội dung nhạy cảm" name="isNSFW" value="1"/>
                    <label for="isNSFW"   title="Tick chọn nếu đây là nội dung nhạy cảm" class="checkboxLabel">Nội dung 18+</label>
                </div>-->
                <div class="tips">
                    <span id="photoTips">Ảnh JPG, JPEG, PNG, GIF. Dung lượng không quá 4MB.</span>
                    <span id="videoTips">Xem mẫu link</span>
                </div>
                <div class="clear"></div>
                <div class="whiteTextbox videoInfo" style="display: none">
                    <div class="videoInfoThumbnail"></div>
                    <div class="videoInfoTitle"></div>
                    <div class="clear"></div>
                </div>
                <div id="noData" class="whiteTextbox" style="display: none">
                    <p>Không lấy được thông tin clip. Kiểm tra lại link hoặc thử lại sau.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fl-l userInfo">&nbsp;</div>
    <div id="exampleLinks">
        <strong>Mẫu link YouTube</strong>
        <ul>
            <li>- http://www.youtube.com/watch?v=9bZkp7q19f0</li>
            <li>- http://youtu.be/T9TnHyKddtY</li>
        </ul>
        <strong>Mẫu link Vimeo</strong>
        <ul>
            <li>- http://vimeo.com/30680637</li>
            <li>- http://vimeo.com/channel/&lt;tên channel&gt;/30680637</li>
        </ul>
        <strong>Mẫu link Zing TV</strong>
        <ul>
            <li>- http://tv.zing.vn/video/&lt;tên video&gt;/IWZ9FZBZ.html</li>
        </ul>
    </div>
    <div id="videoCondition">
        <?php if (!$isPostVideo) : ?>
            <ul>
                <li>Để đăng được clip, bạn cần đạt ít nhất 500 điểm. Hãy cố gắng thêm.</li>
            </ul>
        <?php elseif ($postCount['total'] >= $limit['total_limit']) : ?>
            <ul>
                <li>- Bạn đã đăng đủ số lượng bài cho phép trong ngày. Hãy tiếp tục vào ngày mai.</li>
                <li>- Đạt <strong><?php echo $limit['next_level']; ?></strong> điểm để nâng cao giới hạn của mình.</li>
            </ul>
        <?php elseif ($postCount['video'] >= $limit['video_limit']) : ?>
            <ul>
                <li>- Bạn đã đăng đủ số lượng clip cho phép trong ngày. Hãy tiếp tục vào ngày mai.</li>
                <li>- Đạt <strong><?php echo $limit['next_level']; ?></strong> điểm để nâng cao giới hạn của mình.</li>
            </ul>
        <?php endif;?>
    </div>
    <div id="photoCondition">
        <?php if ($postCount['total'] >= $limit['total_limit']) : ?>
            <ul>
                <li>- Bạn đã đăng đủ số lượng bài cho phép trong ngày. Hãy tiếp tục vào ngày mai.</li>
                <li>- Đạt <strong><?php echo $limit['next_level']; ?></strong> điểm để nâng cao giới hạn của mình.</li>
            </ul>
        <?php endif;?>
    </div>
    <div class="clear"></div>
</div>
<div id="fileEmptyAlert" style="display: none" title="Thiếu thông tin">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Chưa chọn file thì lấy gì mà đăng?</p>
</div>
<div id="mediaIsRequired" style="display: none" title="Thiếu thông tin">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Để chia sẻ, bạn cần phải đính kèm hình hoặc clip.</p>
</div>
<div id="titleEmptyAlert" style="display: none" title="Thiếu thông tin">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Đặt tiêu đề cho bài viết đi đã chứ =.=</p>
</div>
<div id="titleScriptAlert" style="display: none" title="Thiếu thông tin">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Tiêu đề không chứa các script!</p>
</div>
<div id="titleTooLong" style="display: none" title="Tiêu đề quá dài">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Tiêu đề ảnh của bạn quá dài. Hãy giới hạn dưới 150 ký tự!</p>
</div>
<div id="wrongExtAlert" style="display: none" title="Không đúng định dạng">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Hay Nhức Nhói hiện tại chỉ hỗ trợ đăng ảnh JPG và PNG. Vui lòng chọn lại.</p>
</div>
<div id="invalidVideoURL" style="display: none" title="Link clip không hợp lệ">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Địa chỉ clip bạn nhập không đúng định dạng</p>
</div>
<div id="urlEmptyAlert" style="display: none" title="Thiếu thông tin">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Chưa có đường dẫn nhạc / clip thì lấy gì mà đăng? T__T</p>
</div>
<div id="MaxFileSizeHome" style="display: none" title="Dung lượng vượt quá 4MB">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Hay Nhức Nhói hiện tại chỉ hỗ trợ đăng ảnh 4MB. Vui lòng chọn lại.</p>
</div>

<script>
    <?php if (LOGIN_UID > 0 && $postCount['total'] >= $limit['total_limit']) : ?>
        var postTitle = $('#post_title');
        postTitle.prop('disabled',true).prop('placeholder', 'Bạn đã đăng đủ số lượng bài cho phép trong ngày.');
        postTitle.css('background-color', '#eee').css('color', 'grey');
        $('#btnSubmit').prop('disabled', true);
    <?php endif; ?>
    $(function() {
        var moveLeft = 20;
        var moveDown = 10;
        var videoTips = $('#videoTips');
        var non_clickSubmitVideo = $('#non-clickSubmitVideo');
        var non_clickSubmitPhoto = $('#non-clickSubmitPhoto');
        var non_clickSubmitMeme = $('#non-clickSubmitMeme');
        var clickSubmit_Video_Music = $('#clickSubmitVideo-disabled, #clickSubmitMusic-disabled');
        var clickSubmit_photo = $('#clickSubmitPhoto-disabled');

        videoTips.hover(function(e) {
            $('#exampleLinks').show();
        }, function() {
            $('#exampleLinks').hide();
        });
        videoTips.mousemove(function(e) {
            $("#exampleLinks").css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
        });

        non_clickSubmitVideo.hover(function() {
            $('#videoCondition').show();
        }, function() {
            $('#videoCondition').hide();
        });

        non_clickSubmitPhoto.hover(function() {
            $('#photoCondition').show();
        }, function() {
            $('#photoCondition').hide();
        });

        non_clickSubmitMeme.hover(function() {
            $('#photoCondition').show();
        }, function() {
            $('#photoCondition').hide();
        });

        clickSubmit_Video_Music.mouseover(function() {
            $("#uploadDisabledTooltip").fadeIn();
        });
        clickSubmit_Video_Music.mouseleave(function() {
            $("#uploadDisabledTooltip").fadeOut();
        });
        clickSubmit_photo.mouseover(function() {
            $("#photoDisabledTooltip").fadeIn();
        });
        clickSubmit_photo.mouseleave(function() {
            $("#photoDisabledTooltip").fadeOut();
        });
    });
</script>