<?php
if (!empty($this->topUserPoint)):
	$i_rank  = 1;
	?>
	<?php foreach ($this->topUserPoint as $key => $user): ?>
	<div class="user">
		<div class="rank"><?php echo $i_rank;?></div>
		<div class="avatar">
			<a class="avatar align-left" title="Đến trang cá nhân của <?php echo $user['fullname'];?>" href="<?php echo User::userUrl($user);?>">
				<img alt="<?php echo $user['fullname'];?>'s avatar" src="https://graph.facebook.com/<?php echo $user['facebookid'];?>/picture?type=square" border="0">
			</a>
		</div>
		<div class="info">
			<a class="name" title="Đến trang cá nhân của <?php echo $user['fullname'];?>" href="<?php echo User::userUrl($user);?>"><?php echo $user['fullname'];?></a>
		</div>
		<div class="like"><?php echo !empty($user['point'])? My_Zend_Globals::number_format($user['point']) : 0;?></div>
		<div class="clear"></div>
	</div>
	<?php
	$i_rank++;
	endforeach;?>
<?php endif; ?>