<?php
$breadcrumb = $this->breadcrumb;
?>

<ol vocab="http://schema.org/" typeof="BreadcrumbList" id="breadcrumb">
	<li property="itemListElement" typeof="ListItem">
		<a property="item" typeof="WebPage" href="<?php echo $breadcrumb['homeUrl'] ?>" title="Trở về trang chủ">
			<span property="name"><i class="fa fa-home"></i> Hay Nhức Nhói</span>
		</a>
<!--		<meta property="position" content="1">-->
	</li>
    <?php if(isset($breadcrumb['blogPage'])) { ?>
        <li><i class="fa fa-angle-double-right"></i></li>
        <li property="itemListElement" typeof="ListItem">
            <a property="item" typeof="WebPage"
               href="<?php echo $breadcrumb['blogPage']['url']; ?>">
                <span property="name"><?php echo $breadcrumb['blogPage']['name']; ?></span></a>
<!--            <meta property="position" content="2">-->
        </li>
    <?php } ?>
	<?php if(isset($breadcrumb['parentPage'])) { ?>
		<li><i class="fa fa-angle-double-right"></i></li>
		<li property="itemListElement" typeof="ListItem">
			<a property="item" typeof="WebPage"
			   href="<?php echo $breadcrumb['parentPage']['url']; ?>">
				<span property="name"><?php echo $breadcrumb['parentPage']['name']; ?></span></a>
<!--		<meta property="position" content="3">-->
		</li>
	<?php } ?>
	<li><i class="fa fa-angle-double-right"></i></li>
	<li property="itemListElement" typeof="ListItem">
		<a property="item" typeof="WebPage"
		   href="<?php echo $breadcrumb['currentPage']['url']; ?>">
			<span property="name"><?php echo $breadcrumb['currentPage']['name']; ?></span>
		</a>
<!--		<meta property="position" content="4">-->
	</li>
</ol>

