<?php if($this->isNavBar==1):?>
    <?php if(!empty($this->lsCatogoryNavBar)) :?>
        <div class="fix-nav-left-home">
        <div class="nav_left_home">
            <div id="scrolltop_home">
                <a href="#" class="btnToTop"  style="display: block;" title="Đầu trang"><i class="fa fa-angle-up"></i></a>
            </div>
            <ul>
                <li>
                    <a href="<?php echo BASE_URL;?>" title="Trang chủ" style="color:#ff6b00">
                        <i class="fa-fw fa fa-angle-right"></i>Trang chủ
                    </a>
                </li>
                <?php

                foreach($this->lsCatogoryNavBar as $key => $value) :

                    $url_bar  = !empty($value['is_url']) ? $value['is_url'] : BASE_URL . '/chu-de/'.$value['alias'];
                    $category_name_bar = !empty($value['category_name']) ? $value['category_name'] : '';
                    $category_customize_bar = !empty($value['category_customize']) ? $value['category_customize'] : '';

                    ?>
                      <?php if($category_customize_bar !=''):?>
                            <li <?php if($this->params['action']=='category' && $this->params['alias']==$value['alias'] ):?> class="active" <?php endif;?>>
                                <a href="<?php echo $url_bar;?>" title="<?php echo $category_customize_bar;?>">
                                    <i class="fa-fw fa fa-angle-right"></i><?php echo $category_customize_bar;?>
                                </a>
                            </li>
                      <?php endif;?>
                <?php endforeach;?>
            </ul>
        </div>
        </div>
    <?php endif;?>
<?php else:?>

<?php endif;?>

<script type="text/javascript">

    $(document).ready(function(){
        calculateMenu = function($isShown) {
            var menu = $('.nav_left_home');
            var stickyRight = $('.sticky-right-box');
            var container = $('#container');
            var display = 'block';
            if ($isShown) {
                display = 'block';
            } else {
                display = 'none';
            }
            menu.css({
                display : display
            });
            stickyRight.css({
                 display : display
            });
        };
        displayMenu = function() {
            if ($(window).width() > 1349) {
                calculateMenu(true);
            } else {
                calculateMenu(false);
            }
        };
        displayMenu();
        $(window).resize(function(){
            displayMenu();
        });

        $(document).ready(function(){
            $('.fix-nav-left-home').scrollToFixed({
                marginTop:10
            });
            $('.sticky-right-box').show();
            $('.fixed-sticky-right-box').scrollToFixed({
                marginTop:10
            });
        });

    })
</script>
