<?php if (CURRENT_CONTROLLER != 'blog' && CURRENT_ACTION != 'blog-detail') { ?>

    <script type="text/javascript">
        $(document).ready(function () {
            var cookie_name = 'hnn_popup_thang_1';
            var cookie_content = 1;
            var popup = $.cookie(cookie_name);
            if (popup != cookie_content) {
                $.magnificPopup.open({
                    items: {
                        src: $('.trian-popup')
                    },
                    type: 'inline',
                    midClick: true,
                    removalDelay: 300,
                    mainClass: 'mfp-fade',
                    callbacks: {
                        open: function () {
                            $.cookie(cookie_name, cookie_content, {
                                    expires: 7,
                                    path: '/'
                                }
                            );
                        }
                    }
                }, 0);
            }
        });

        if ($.cookie('hnn_popup') == '1') {
            var inflow = $.cookie('blueseed_inflow');
            if (inflow != '1') {

                $.cookie('blueseed_inflow', 1, {
                        expires: 1,
                        path: '/'
                    }
                );

                blueseed_key = "4107aa826dfd713d7a0388071db73002";
                blueseed_channel = "";
                blueseed_code_format = "ads-sync.js";
                blueseed_click = "";
                blueseed_custom_params = {};

                document.write("<script type='text\/javascript' src='" + (location.protocol == 'https:' ? 'https:' : 'http:') + "//blueserving.com\/js/show_ads_blueseed.js?pubId=2084'><\/script>");
            }
        }
    </script>

<?php } ?>