<?php
$userInfo = User::getUser(LOGIN_UID);
$categories = $GLOBALS['categories'];
?>
<div class="masthead new-header" id="menu">
    <div
        class="row top-row <?php if (time() < 1451062800) echo 'christmas' ?> <?php if (time() > 1453887594 && time() < 1455494400) echo 'tet' ?>">
        <div class="container">
            <!-- Non-verticals -->
            <div class="non-verticals">
                <ul class="sprites">
                    <li class="sprites submit">
                        <a href="<?php echo BASE_URL . '/submit'; ?>" rel="nofollow"
                           title="Đăng bài mới lên Hay Nhức Nhói">Đăng bài</a>
                    </li>
                </ul>
            </div>
            <div class="login-social loggedout">
                <?php if (LOGIN_UID > 0): ?>
                    <ul class="login">
                        <li>
                            <a href="<?php echo BASE_URL; ?>/search"><i class="fa fa-search"></i> Tìm kiếm</a>
                        </li>
                        <li>
                            <a href="<?php echo BASE_URL; ?>/top">Top XL</a>
                        </li>
                        <li>
                            <a href="<?php echo BASE_URL; ?>/blog">Blog</a>
                        </li>
                        <li class="user-login dropdown profile-settings">
                            <a rel="nofollow" href="<?php echo BASE_URL; ?>/user/<?php echo LOGIN_UID; ?>"
                               class="dropdown-toggle"><?php echo $userInfo['fullname']; ?> <i
                                    class="fa fa-angle-down"></i></a>
                            <ul class="list-settings round-corner">
                                <li class="overlay-trick"></li>
                                <li class="list-anchor"></li>
                                <li>
                                    <a href="<?php echo BASE_URL; ?>/user/<?php echo LOGIN_UID; ?>">
                                        <i class="icon icon-to_profile"></i>Trang cá nhân
                                    </a>
                                </li>
                                <li>
                                    <a href="<?php echo BASE_URL; ?>/search">
                                        <i class="icon icon-search"></i>Tìm kiếm bài viết
                                    </a>
                                </li>
                                <li>
                                    <a href="<?php echo BASE_URL; ?>/user/settings">
                                        <i class="icon icon-to_setting"></i>Cài đặt
                                    </a>
                                </li>
                                <li><a href="<?php echo BASE_URL; ?>/user/logout">
                                        <i class="icon icon-logout"></i>Đăng xuất
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                <?php else : ?>
                    <ul class="login">
                        <li><a href="<?php echo BASE_URL; ?>/search"><i class="fa fa-search"></i> Tìm kiếm</a></li>
                        <li><a rel="nofollow" href="<?php echo BASE_URL; ?>/top">Top XL</a></li>
                        <li><a href="<?php echo BASE_URL; ?>/blog">Blog</a></li>
                        <li class="user-login dropdown">
                            <a href="<?php echo BASE_URL; ?>/user/login" class="dropdown-toggle"
                               rel="nofollow">Đăng nhập</a>
                        </li>
                    </ul>
                <?php endif; ?>
            </div>
            <!-- login social -->
            <div class="text-links">
                <ul class="links">
                    <li><a href="http://vechai.info" target="_blank">Truyện Tranh</a></li>
                    <li><a href="http://game.thanhnien.com.vn" target="_blank">Thanh Niên Game</a></li>
                    <li><a href="http://gamenoob.net" target="_blank">Game Noob</a></li>
                    <li><a href="http://kul.vn" target="_blank">Kul News</a></li>
                    <li><a href="http://mywork.com.vn" target="_blank">My Work</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div
        class="row bottom-row <?php if (time() < 1451062800) echo 'christmas' ?> <?php if (time() > 1453887594 && time() < 1455494400) echo 'tet' ?>">
        <div class="container">
            <!-- Main Nav -->
            <div class="main-nav">
                <div class="span2 logo">
                    <div class="logo-background"></div>
                    <a title="Hay Nhức Nhói" href="<?php echo BASE_URL; ?>" class="logo-link"><img alt="Hay Nhức Nhói"
                                                                                                   src="<?php echo $this->layout()->_general['server']['img']['path']; ?>/transparent.gif"></a>
                </div>
                <ul>
                    <li class="home">
                        <a href="<?php echo BASE_URL; ?>"
                           class="item <?php echo (CURRENT_CONTROLLER == 'index' && CURRENT_ACTION == 'index') ? 'active' : ''; ?>"
                           title="Bài hay"> HAY</a>
                    </li>
                    <li class="top">
                        <a href="<?php echo BASE_URL; ?>/hot"
                           class="item <?php echo (CURRENT_CONTROLLER == 'index' && CURRENT_ACTION == 'hot') ? 'active' : ''; ?>"
                           style="color: #FF6B00" title="Bài nhức nhói">Nhức Nhói</a>
                    </li>
                    <li class="new">
                        <a href="<?php echo BASE_URL; ?>/new"
                           class="item <?php echo (CURRENT_CONTROLLER == 'index' && CURRENT_ACTION == 'new') ? 'active' : ''; ?>"
                           title="Bài mới">BÌNH CHỌN</a>
                    </li>
                    <li class="home">
                        <a href="<?php echo BASE_URL; ?>/video"
                           class="item <?php echo (CURRENT_CONTROLLER == 'index' && CURRENT_ACTION == 'cliphot') ? 'active' : ''; ?>"
                           title="Hot Video">Hot Video</a>
                    </li>
                    <li class="meme">
                        <a href="<?php echo BASE_URL; ?>/meme"
                           class="item <?php echo (CURRENT_CONTROLLER == 'index' && CURRENT_ACTION == 'meme') ? 'active' : ''; ?>"
                           title="Chế Meme">MEME</a>
                    </li>
                    <li class="blog">
                        <a href="<?php echo BASE_URL; ?>/cctalk"
                           class="item <?php echo (CURRENT_CONTROLLER == 'pages' && CURRENT_ACTION == 'cctalk') ? 'active' : ''; ?>"
                           title="Giao lưu trực tuyến cùng hot girl">HOT GIRL<span class="new"
                                                                                   style="float: right; font-weight: bold; color: red; font-size: 10px; margin-left: 3px;">New</span></a>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<div id="fixedHeaderAnchor"></div>
<div id="abdMasthead" style="margin:0 auto; width:970px;"></div>
<div class="trian-popup mfp-hide" style="width: 800px">
    <a href="<?php echo BASE_URL . '/blog/18/chuc-mung-cac-thanh-vien-dot-trao-qua-tri-an-dau-tien-cua-nam-2016.hnn' ?>"
       target="_blank">
        <img width="800"
             src="<?php echo $this->layout()->_general['server']['img']['path'] . '/event/popup_thang1_2016.png'; ?>"/>
    </a>
</div>