<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <?php echo $this->headTitle(); ?>
    <?php echo $this->headMeta(); ?>
    <?php if(isset($this->canonical)):?><link rel="canonical" href="<?php echo $this->canonical; ?>" /><?php endif;?>
    <?php if(isset($this->rss['title']) && isset($this->rss['link'])):?>
        <link rel="alternate" type="application/rss+xml" title="<?php echo $this->rss['title']; ?>" href="<?php echo $this->rss['link']; ?>" /><?php endif;?>
    <meta name="robots" content="index, follow" />
    <meta name="google-site-verification" content="qavOi15NDmhzXySoJJBMN_XSCKrXs8cNN_3w0G3enVM" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="generator" content="Hay Nhức Nhói" />
    <meta property="fb:app_id" content="<?php echo FACEBOOK_APPID;?>" />
    <meta name="format-detection" content="telephone=yes" />
    <meta name="author" content="Hay Nhức Nhói" />
    <meta name="creator" content="Hay Nhức Nhói" />
    <link href="https://plus.google.com/+HaynhucnhoiTv" rel="publisher" />
    <link rel="icon" href="<?php echo $this->layout()->_general['server']['img']['path'];?>/favicon.ico" type="image/x-icon">
    <?php
    echo $this->headLink()
        ->prependStylesheet($this->layout()->_general['server']['css']['path'].'/reset.css')
//      ->appendStylesheet('https://cdnjs.cloudflare.com/ajax/libs/emojify.js/0.9.5/emojify.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/jquery-ui-1.10.3.custom.css')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/hnn.css?v=14.59')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/color.css?v=1')
        ->appendStylesheet($this->layout()->_general['server']['css']['path'].'/magnific-popup.css?v=2')
        ->appendStylesheet('http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic,500italic,700italic|Roboto+Condensed:400,700,400italic,700italic|Source+Sans+Pro:400,400italic,600,600italic,700,700italic&subset=latin,vietnamese,latin-ext')
        ->appendStylesheet(BASE_URL . '/cdn/css/font-awesome.min.css');

    echo $this->headScript()
        ->prependFile($this->layout()->_general['server']['js']['path'].'/jquery.1.10.2.min.js')
        ->appendFile($this->layout()->_general['server']['js']['path']. '/jquery-ui-1.10.3.custom.min.js')
        ->appendFile($this->layout()->_general['server']['js']['path'].'/jquery-scrolltofixed.js')
        /*
        ->appendFile($this->layout()->_general['server']['js']['path'] . '/jquery.emojiarea.js')
        ->appendFile($this->layout()->_general['server']['js']['path'] . '/emojis.js')
        ->appendFile($this->layout()->_general['server']['js']['path'] . '/emoticon.js')
        */
        ->appendFile($this->layout()->_general['server']['js']['path'].'/Haynn.Common.min.js?v=10.11')
        /*
        ->appendFile($this->layout()->_general['server']['js']['path'].'/Haynn.Notification.min.js?v=1')
        ->appendFile($this->layout()->_general['server']['js']['path'].'/jquery.jscrollpane.js')
        ->appendFile($this->layout()->_general['server']['js']['path'].'/jquery.mousewheel.js')
        */
        ->appendFile($this->layout()->_general['server']['js']['path'].'/jquery.magnific-popup.min.js')
        ->appendFile($this->layout()->_general['server']['js']['path'].'/jquery.cookie.js')
        ->appendFile($this->layout()->_general['server']['js']['path'].'/jwplayer/jwplayer.js')
//        ->appendFile($this->layout()->_general['server']['js']['path'].'/thumbnail-slider.js')
        ->appendFile($this->layout()->_general['server']['js']['path'].'/jquery.tipsy.js');
    ?>
    <script type="text/javascript" async src="//adx.haynhucnhoi.tv/www/delivery/asyncjs.php"></script>
    <script type="text/javascript">
        document.domain="<?php echo DOMAIN; ?>";
        var Settings = {
            now: "<?php echo time(); ?>",
            domain: "<?php echo DOMAIN; ?>",
            baseurl: "<?php echo BASE_URL; ?>",
            imgurl: "<?php echo $this->layout()->_general['server']['img']['path']; ?>",
            jsurl: "<?php echo $this->layout()->_general['server']['js']['path']; ?>"
        };
        var Account = {
            UID: <?php echo LOGIN_UID; ?>,
            UNAME: "<?php echo LOGIN_UNAME?>"
        };
        jwplayer.key="vmAEdu5OJSCiJfE3aWibJZ6338lN/A7tybduu0fdEfxYgi7AkWpjckRUFeI=";
    </script>

    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-40693557-5', 'auto');
        ga('send', 'pageview');
    </script>
    <script type="text/javascript">
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>
    <script type='text/javascript'>
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
        (function() {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') +
            '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        })();
    </script>
    <script type='text/javascript'>
        googletag.cmd.push(function() {
            googletag.defineSlot('/15875645/HayNhucNhoi-Header', [970, 90], 'div-gpt-ad-global-header').addService(googletag.pubads());
            <?php if ($this->pageType == 'detail') : ?>
            googletag.defineSlot('/15875645/HayNhucNhoi-160x600-RightColumn-DetailPage', [160, 600], 'div-gpt-ad-1426140973994-0').addService(googletag.pubads());
            googletag.defineSlot('/15875645/HayNhucNhoi-300x250-SidebarBottom', [300, 250], 'div-gpt-ad-square-right-detail').addService(googletag.pubads());
            googletag.defineSlot('/15875645/HayNhucNhoi-728x90-BelowContent-DetailPage', [728, 90], 'div-gpt-ad-1426140973994-6').addService(googletag.pubads());
            googletag.defineSlot('/15875645/HayNhucNhoi-BelowComment-Detail', [728, 90], 'div-gpt-ad-below-comment').addService(googletag.pubads());
            <?php endif; ?>
            <?php if (in_array($this->pageType,array('index', 'new', 'hot', 'hong', 'chuaxem', 'clip-hai', 'category', 'cctalk'))) : ?>
            googletag.defineSlot('/15875645/HayNhucNhoi-RightBalloon-Home', [300, 250], 'div-gpt-ad-right-balloon-home').addService(googletag.pubads());
            googletag.defineSlot('/15875645/HayNhucNhoi-FloatingRight-Hom', [160, 600], 'div-gpt-ad-floating-right-home').addService(googletag.pubads());
            <?php endif; ?>
            googletag.enableServices();
        });
    </script>
    <?php /* $pageTypeList = array('index', 'new', 'hot', 'hong', 'chuaxem', 'clip-hai'); ?>
<?php if (in_array($this->pageType, $pageTypeList)) : ?>
    <script type='text/javascript'>
        googletag.cmd.push(function() {
            googletag.defineSlot('/55912504/HayNhucNhoi-336x280-BeforeNext-IndexPages', [336, 280], 'div-gpt-ad-1426140973994-1').addService(googletag.pubads());
            googletag.defineSlot('/55912504/HayNhucNhoi-336x280-Below5thPost-IndexPage', [336, 280], 'div-gpt-ad-1426140973994-3').addService(googletag.pubads());
            googletag.defineSlot('/55912504/HayNhucNhoi-336x280-BelowFirstPost-IndexPages', [336, 280], 'div-gpt-ad-1426140973994-4').addService(googletag.pubads());
            //googletag.pubads().enableSingleRequest();
            googletag.enableServices();
        });
    </script> */ ?>
    <?php /* if ($this->pageType == 'detail') : ?>
    <script type='text/javascript'>
        googletag.cmd.push(function() {
            googletag.defineSlot('/15875645/HayNhucNhoi-160x600-RightColumn-DetailPage', [160, 600], 'div-gpt-ad-1426140973994-0').addService(googletag.pubads());
            googletag.defineSlot('/15875645/HayNhucNhoi-336x280-BelowComments-DetailPage', [300, 250], 'div-gpt-ad-1426140973994-2').addService(googletag.pubads());
            googletag.defineSlot('/15875645/HayNhucNhoi-728x90-BelowContent-DetailPage', [728, 90], 'div-gpt-ad-1426140973994-6').addService(googletag.pubads());
            //googletag.pubads().enableSingleRequest();
            googletag.enableServices();
        });
    </script>
<?php endif;*/ ?>
</head>
<body class="blueStyle">
<div id="fb-root"></div>
<script type="text/javascript">
    $('document').ready(function() {
//            emojify.run();
//
        if (typeof $.cookie('static_menu') === 'undefined' || $.cookie('static_menu') == null || $.cookie('static_menu') == 1) {
            setTimeout('$(\'.fixed-slider-wrap\').fadeIn(\'slow\')', 3000);
        }
        $('.close-btn').click(function (e) {
            $.cookie('static_menu', 0, {expires: 1, path: '/'});
            $('.fixed-slider-wrap').fadeOut('fast');
            e.preventDefault();
        });

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&appId=<?php echo FACEBOOK_APPID;?>&version=v2.3";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    });
</script>
<?php echo $this->render('header.phtml'); ?>
<div class="row mainbody-singlecol masonry" id="container">
    <?php echo $this->render('partials/navi.phtml', array('lsCatogoryNavBar'=>$this->lsCatogoryNavBar,'isNavBar'=>$this->isNavBar));?>
    <?php echo $this->render('partials/box_sticky_right.phtml', array('pageType' => $this->pageType)); ?>
    <?php
    if (in_array($this->pageType, array('index', 'category', 'new', 'hot', 'hong', 'chuaxem', 'detail', 'video'))) {
//        echo $this->render('partials/box_announcement.phtml');
    } ?>
    <?php
    if (in_array($this->pageType, array('index', 'category', 'new', 'hot', 'hong', 'chuaxem', 'detail', 'video'))) {
        echo $this->partial('partials/box_ads_global_header.phtml');
    } ?>
    <?php echo $this->layout()->content; ?>
</div>
<?php echo $this->render('footer.phtml'); ?>
<?php if (isset($this->postOnStaticMenu) && sizeof($this->postOnStaticMenu) >= 1): ?>
    <div class="fixed-slider-wrap" style="display: none">
        <div class="fixed-slider">
            <a href="" class="close-btn"><i class="fa fa-times-circle"></i></a>
            <div class="tag">HOT</div>
            <div id="fixed-slider">
                <?php foreach ($this->postOnStaticMenu as $item): ?>
                    <div class="item">
                        <img src="<?php echo $item['picture']; ?>"  alt=""/>
                        <a href="<?php echo $item['link']; ?>" title="<?php echo $item['story']?>"><?php echo $item['story']; ?></a>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
<?php endif; ?>
<script type="text/javascript">

    imagesLoaded('#post-container', function() {
        return;
        var image_posts = $('.posts_img');
        for(var i=0;i<image_posts.length;i++) {
            if ($(image_posts[i]).height() > 1000) {
                $(image_posts[i]).parent().css('max-height', '500px');
                $(image_posts[i]).after('<span class="view-more-btn" onclick="ga(\'send\', \'event\', \'Content\', \'Click View Full\', \'Content\');"><span class="anim-1"><i class="fa fa-hand-o-right"></i></span><span class="anim-1"><i class="fa fa-hand-o-right"></i></span><span class="anim-1"><i class="fa fa-hand-o-right"></i></span><span class="text">Nên bấm <strong>CHỖ NÀY </strong>xem ảnh <strong>FULL</strong></span></span>');

            }
        }
    });
</script>
<script type="text/javascript">
    var _ase  = _ase || [];
    /* load placement for account: haynhucnhoi, site: http://haynhucnhoi.tv, zone size : 300x250 */
    _ase.push(["1446540290","1446540305"]);
</script>
<script src="http://static.gammaplatform.com/js/ad-exchange.js" type="text/javascript"></script>
<noscript><iframe src="http://tag.gammaplatform.com/adx/noscript/zid_1446540305/wid_1446540290/" width="300" height="250" scrolling="no"  frameborder=0></iframe></noscript>
</body>
</html>