<div class="homeQuoteBox">
    <div class="quoteBox"><?php echo $this->quote;?></div>
    <div class="boxAnchor"></div>
    <div class="circle"></div>
    <div class="name">BACHAYBOCHET.COM<br/>
        <div class="like"><fb:like href="<?php echo FACEBOOK_FANPAGE_URL;?>" width="100" show_faces="false" send="false"></fb:like></div>
    </div>
    <div class="clear"></div>
</div>