<?php $categories = $GLOBALS['categories']; ?>
<div id="topContentAnchor"></div>
<?php if(!empty($categories)):?>
<div class="sidebarBlock fixedWhenScroll">
    <div class="blockTitle">Chuyên mục hot</div>
    <div class="blockContent" style="padding: 0px">
        <ul class="channelList">
            <?php foreach($categories as $category):?>
            <li>
                <a href="<?php echo Category::categoryUrl($category);?>">
                    <span class="name"><?php echo $category['category_name'];?></span>
                    <span class="slug">/<?php echo $category['alias'];?></span>
                </a>
            </li>
            <?php endforeach;?>
        </ul>
    </div>
</div>
<?php endif; ?>