<div class="sidebarBlock">
    <div class="blockTitle">Ủng hộ Bá Cháy Bọ Chét nào ^^</div>
    <div class="blockContent" style="padding: 5px">
        <div class="fb-like-box" data-href="<?php echo FACEBOOK_FANPAGE_URL;?>" data-width="285" data-height="180" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
        <div style="margin: 5px; padding-top: 5px; border-top: 1px solid #ccc"><div class="g-plusone" data-href="<?php echo BASE_URL;?>"></div></div>
    </div>
</div>