<!-- Top Users Block -->
<div class="sidebarBlock topUsers">
    <div class="blockTitle">Top Bá Cháy Bọ Chét</div>
    <div class="blockContent" style="padding: 5px">
        <div class="sort">
            <a data-sort="week" class="selected" href="#">Tuần</a> / <a data-sort="month" href="#">Tháng</a> / <a data-sort="all" href="#">Tất cả</a>
        </div>
        <div class="content">
            <?php if (!empty($this->topUsers)): ?>
            <?php foreach ($this->topUsers as $key => $user): ?>
            <div class="user">
                <div class="rank rank-<?php echo ($key + 1);?>"><?php echo ($key + 1);?></div>
                <div class="avatar"><a class="avatar align-left" title="Đến trang cá nhân của <?php echo $user['fullname'];?>" href="<?php echo User::userUrl($user);?>"><img alt="<?php echo $user['fullname'];?>'s avatar" src="http://graph.facebook.com/<?php echo $user['facebookid'];?>/picture?type=square"></a></div>
                <div class="info">
                    <a class="name" href="<?php echo User::userUrl($user);?>"><?php echo $user['fullname'];?></a>
                    <div class="like"><span class="icon"></span> <?php echo number_format($user['like_count']);?></div>
                </div>
                <span class="follow-button not-follow" data-follower="" data-followed="<?php echo $user['user_id'];?>" title="Nhấn để hóng <?php echo $user['fullname'];?>" id="follow-<?php echo $user['user_id'];?>"><span class="follow-icon"></span>Hóng</span>
                <div class="clear"></div>
            </div>
            <?php endforeach;?>
            <?php endif; ?>
        </div>
        <div class="more"><a href="<?php echo BASE_URL;?>/top">Xem thêm >></a></div>
    </div>
</div>
<!-- End Top Users Block -->