<div class="submitContainer indexSubmit">
    <div class="fl-l" style="width: 420px">
        <div class="quickSubmitForm">
            <form id="form-post-image" class="modal" action="/submit" enctype="multipart/form-data" method="post">
                <input id="post_title" type="text" class="whiteTextbox" name="title" placeholder="Bạn có gì hay muốn chia sẻ?" value=""/>
                <div id="postPhotoForm" style="display: none">
                    <div class="whiteTextbox focus" style="padding: 0px 5px">Chọn file ảnh: <input id="photo_file_upload" class="file" type="file" name="image" accept="image/*"/></div>
                    <div class="boxAnchor"></div>
                </div>
                <div id="postMusicForm" style="position: relative; display: none">
                    <div class="whiteTextbox focus">
                        <input id="music_post_url" type="text" class="whiteTextbox" name="url" value="" style="display:block;" placeholder="Nhập đường dẫn đến bài hát"/>
                        <div class="zingmp3Logo" title="Hỗ trợ đăng nhạc từ Zing MP3"></div>
                    </div>
                    <div class="boxAnchor"></div>
                </div>

                <div id="postVideoForm" style="position: relative; display: none">
                    <div class="whiteTextbox focus">
                        <input id="photo_post_url" type="text" class="whiteTextbox" name="url" value="" style="display:block;" placeholder="Nhập đường dẫn đến video clip"/>
                        <!--<input id="type" name="t" value="v" type="hidden"/>-->
                        <div class="supportedLogo" title="Hỗ trợ Zing TV, Vimeo, YouTube"></div>
                    </div>
                    <div class="boxAnchor"></div>
                </div>

                <input id="post_type" type="hidden" name="post_type" value="Photo"/>
                <input type="hidden" id="source" name="source" value="Sưu tầm" maxlength="300"/>
            </form>
            <div class="submitTools">
                <div class="postType">
                    <a href="#" class="submit <?php echo LOGIN_UID == 0 ? 'loginRequired': '';?>" id="clickSubmitPhoto" title="Đăng hình"></a>
                    <!--a href="#" class="submit <?php echo LOGIN_UID == 0 ? 'loginRequired': '';?>" id="clickSubmitMusic" title="Đăng nhạc"></a-->
                    <a href="#" class="submit <?php echo LOGIN_UID == 0 ? 'loginRequired': '';?>" id="clickSubmitVideo" title="Đăng clip"></a>
                    <a href="<?php echo BASE_URL;?>/meme" id="clickMemeBuilder" class="submit" title="Chế meme"></a>
                </div>
                <div id="videoLoadingImg" class="fl-l" style="display: none"><img src="<?php echo $this->layout()->_general['server']['img']['path'];?>/hnnloading.gif" alt="loading..." /></div>
                <div class="fl-r">
                    <input type="button" id="btnSubmit" class="button blue-button" value="Ngay và luôn" style="margin-right: 0px; margin-left: auto; float: right" />
                </div>
                <div class="tips">
                    <span id="photoTips">Ảnh JPG, JPEG, PNG, GIF. Dung lượng không quá 4MB.</span>
                    <span id="videoTips">Xem mẫu link</span>
                </div>
                <div class="clear"></div>
                <div class="whiteTextbox videoInfo" style="display: none">
                    <div class="videoInfoThumbnail"></div>
                    <div class="videoInfoTitle"></div>
                    <div class="clear"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="fl-l userInfo">&nbsp;</div>
    <div id="exampleLinks">
        <b>Mẫu link YouTube</b>
        <ul>
            <li>- http://www.youtube.com/watch?v=9bZkp7q19f0</li>
            <li>- http://youtu.be/T9TnHyKddtY</li>
        </ul>
        <b>Mẫu link Vimeo</b>
        <ul>
            <li>- http://vimeo.com/30680637</li>
            <li>- http://vimeo.com/channel/&lt;tên channel&gt;/30680637</li>
        </ul>
        <b>Mẫu link Zing TV</b>
        <ul>
            <li>- http://tv.zing.vn/video/&lt;tên video&gt;/IWZ9FZBZ.html</li>
        </ul>
        
    </div>
    <div class="clear"></div>
</div>
<div id="fileEmptyAlert" style="display: none" title="Thiếu thông tin">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Chưa chọn file thì lấy gì mà đăng?</p>
</div>
<div id="mediaIsRequired" style="display: none" title="Thiếu thông tin">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Để chia sẻ, bạn cần phải đính kèm hình hoặc clip.</p>
</div>
<div id="titleEmptyAlert" style="display: none" title="Thiếu thông tin">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Đặt tiêu đề cho bài viết đi đã chứ =.=</p>
</div>
<div id="titleTooLong" style="display: none" title="Tiêu đề quá dài">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Tiêu đề ảnh của bạn quá dài. Hãy giới hạn dưới 150 ký tự!</p>
</div>
<div id="wrongExtAlert" style="display: none" title="Không đúng định dạng">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Hay Nhức Nhói hiện tại chỉ hỗ trợ đăng ảnh JPG và PNG. Vui lòng chọn lại.</p>
</div>
<div id="invalidVideoURL" style="display: none" title="Link clip không hợp lệ">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Địa chỉ clip bạn nhập không đúng định dạng</p>
</div>
<div id="urlEmptyAlert" style="display: none" title="Thiếu thông tin">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Chưa có đường dẫn nhạc / clip thì lấy gì mà đăng? T__T</p>
</div>
<div id="MaxFileSizeHome" style="display: none" title="Dung lượng vượt quá 4MB">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Hay Nhức Nhói hiện tại chỉ hỗ trợ đăng ảnh 4MB. Vui lòng chọn lại.</p>
</div>
<script>

$(function() {
    var moveLeft = 20;
    var moveDown = 10;

    $('#videoTips').hover(function(e) {
        $('#exampleLinks').show();
    }, function() {
        $('#exampleLinks').hide();
    });

    $('#videoTips').mousemove(function(e) {
        $("#exampleLinks").css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
    });
    $("#clickSubmitVideo-disabled, #clickSubmitMusic-disabled").mouseover(function() {
        $("#uploadDisabledTooltip").fadeIn();
    });
    $("#clickSubmitVideo-disabled, #clickSubmitMusic-disabled").mouseleave(function() {
        $("#uploadDisabledTooltip").fadeOut();
    });
    $("#clickSubmitPhoto-disabled").mouseover(function() {
        $("#photoDisabledTooltip").fadeIn();
    });
    $("#clickSubmitPhoto-disabled").mouseleave(function() {
        $("#photoDisabledTooltip").fadeOut();
    });
})
</script>
<script type="text/javascript">
    $('.emojis-plain').emojiarea({wysiwyg: false});

    var $wysiwyg = $('.emojis-wysiwyg').emojiarea({wysiwyg: true});
    var $wysiwyg_value = $('#emojis-wysiwyg-value');

    $wysiwyg.on('change', function () {
        $wysiwyg_value.text($(this).val());
    });
    $wysiwyg.trigger('change');
</script>