<div class="clear"></div>
<div id="footer-links">
    <div class="footer-items-left">&copy; <?php echo date('Y');?> HayNhucNhoi</div>
    <div class="footer-items-right">
        <ul>
            <li><a href="<?php echo BASE_URL;?>/about">Giới thiệu</a></li>
            <li>· <a href="https://play.google.com/store/apps/details?id=com.haynhucnhoi">Android</a></li>
            <li>· <a href="<?php echo BASE_URL;?>/rules">Quy định</a></li>
            <li>· <a href="<?php echo BASE_URL;?>/faq">FAQ</a></li>
            <li>· <a href="<?php echo BASE_URL;?>/tos">Điều khoản</a></li>
            <li>· <a href="<?php echo BASE_URL;?>/privacy_policy">Chính sách Riêng tư</a></li>
            <li>· <a href="<?php echo BASE_URL;?>/contact">Liên hệ</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>