
#hot-videos {
    display: none;
  position: absolute;
  z-index: 999;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  padding: 7px 6px 0 20px;

}

#hot-videos .hot-video-item .photo {
  width: 100%;
}

#hot-videos .hot-video-item:hover {
  opacity: 0.8;
}

#hot-videos .hot-video-item {
  opacity: 1;
  padding-right: 13px;
  float: left;
  width: 47%;
  overflow: hidden;
}

@media screen and (max-width: 320px) {
  #hot-videos .hot-video-item .photo {
    height: 60px;
  }
  #hot-videos .hot-video-item {
    height: 100px;
  }
}
@media screen and (min-width: 321px) {
  #hot-videos .hot-video-item .photo {
    height: 80px;
  }
  #hot-videos .hot-video-item {
    height: 112px;
  }
}


#hot-videos .hot-video-item p {
  line-height: 1.1;
  margin-top: 2px;
  font-size: 0.75rem;
  color: white;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

}

#hot-videos .hot-video-item .thumbnail-container {
  border: 1px solid #C4CDE0;
  position: relative;
  padding: 0;
  background: #FFF
}


#hot-videos .item-info {
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .8);
  padding: 3px;
  font-size: 0.71rem;
}


/* replay button */


#replay-btn {
  cursor: pointer;
  padding: 5px 5px;
  right: 0;
  bottom: 0;
  font-size: 1rem;
  position: absolute;
  color: white;
  background: rgba(255, 255, 255, 0.3);
  transform: scale(-1, 1);
}

#replay-btn:hover {
  background: rgba(255, 255, 255, 0.5);
}