* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

.clear {
	clear: both;
}

a {
    text-decoration: none;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}
body {
	font-size: 14px;
	font-family: 'Roboto Condensed', Arial, sans-serif;
}
header {
	width: 100%;
	background: #E6EAEB;
    display: table;
}

header .logo-container {
    padding: 5px 0;
    display: table-cell;
    width: 50%;
}
header .logo-container img {
    max-width: 100%;
    height: 20px;
}
footer {
	padding: 10px;
    text-align: center;
}
nav.main-nav {
    display: table-cell;
    width: 50%;
}

nav.main-nav ul {
	margin: 0;
	padding: 0;
	overflow: auto;
    display: table;
    table-layout: fixed;
    width: 100%;
}

nav.main-nav ul li{
	display: table-cell;
	width: 33%;
	text-align: center;
	padding: 0;
	list-style-type: none;
	text-transform: uppercase;
    vertical-align: middle;
}
nav.main-nav ul li.home{
padding-left: 0 !important;
}
@media only screen and (max-width: 480px)
{
    nav.main-nav ul li.home{
    }
}
nav.main-nav ul li a {
	display: block;
	width: 100%;
	color: #333333;
	text-decoration: none;
    font-size: 12px;
}

nav.main-nav ul li.active{
    background: #B4B4B4;
}

nav.main-nav ul li a:hover {
    color: #666666;
    text-decoration: underline;
}

nav.main-nav ul li.active{
    background: #CBCBCB;
}

section.main-content {
	padding: 5px;
}
article {
	border-bottom: 1px solid #DEDEDE;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
article .header h2 {
	margin: 5px 0;
    color: #000;
    font-size: 18px;
}
article .header a{
    text-decoration: none;
}

article .by {
	color: #808080;
	margin-bottom: 15px;
  display: table-cell;
  width: 50%;
}
article .by a {
	color: #108FC8;
	text-decoration: none;
}
article .info {
	margin-bottom: 5px;
    display: table-cell;
    width: 50%;
    text-align: right;
}
article .info-container {
    display: table;
    width: 100%;
    margin-bottom: 3px;
}
article .info-container .date {
  float: right;
}
article .info-container .category {
  float: right;
  margin-left: 20px;
}

article .info .meta {
	color: #555555;
	display: inline-block;
	font-weight: bold;
	margin-right: 10px;
}
article .info .meta:nth-of-type(3) {
    margin-right: 0;
}
article .info .ago {
	font-weight: normal;
	float: right;
	margin-right: 0;
}
article .description {
    margin: 10px 0;
    line-height: 1.5;
}
article .content img {
	width: 100%;
}
article .fb-like {
    clear: both;
    margin: 10px 0 5px 0;
}
article .content {
  position: relative;
}
article .content a {
  color: #ff6b00;
}
.navigation {
	margin-bottom: 20px;
}
.navigation a.blue-button {
	width: 48%;
	background: #CCCCCC;
	padding: 10px;
	border: 1px solid #666666;
	color: #333333;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
}
.navigation a.blue-button:hover {
    background: #FFFFFF;
}
.detail .navigation a i.fa {
	font-weight: bold;
}
.detail .navigation a.next {
	float: right;
}
.detail .navigation a.prev {
	float: left;
}
.detail .content {
	margin-bottom: 10px
}
.detail .banner {
	margin-bottom: 10px
}
.detail .banner img {
	width: 100%;
}
.detail .more h2 {
	border-bottom: 2px solid #ccc;
	padding-bottom: 5px;
}
.detail .more .item {
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
    margin-bottom: 20px;
}
.detail .more .item .info {
    width: 100%;
    display: block;
    text-align: left;
}
.detail .more .item .thumbnail-container {
    display: block;
    position: relative;
}
.detail .more .item .thumbnail {
	/*float: left;*/
	width: 100%;
	/*max-width: 50%;*/
}
.detail .more .item .thumbnail img {
	max-width: 50%;
}
.detail .more .item .thumbnail a {
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.detail .more .item h3 {
	font-weight: 700;
    margin: 10px 0;
}
.detail .more .item h3 a{
	color: #333333;
	text-decoration: none;
}
.detail .more .item .by {
	color: #808080;
}
.detail .more .item a {
	color: #108FC8;
	text-decoration: none;
}
.detail .comment {
	border-bottom: 2px solid #ccc;
}

.home .navigation .blue-button {
	width: 100%;
	display: inline-block;
	text-transform: uppercase;
}
#btnLoadMore  {
    padding:10px;
    text-align:center;
    font-weight:bold;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    border-radius:3px;
    color:#333333;
    transition:background .25s ease;
    cursor:pointer;
    border:1px solid #666666;
}
#btnLoadMore:hover{background:#666666; color: #FFFFFF}
a#nextPageLink {text-decoration: none}

.video-container.youtube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
}
.banner {text-align: center;}

.content.video {
    position: relative;
}
.videoIndicator{
    background: url('../images/play-64.png') no-repeat;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
}
.videoIndicatorDetail{
    background: url('../images/play-32.png') no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
}

.chap-navigation {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}
.chap-navigation  a {
    display: inline-block;
    line-height: 20px;
    padding: 5px;
    background: #989898;
    color: #FFFFFF;
    margin-bottom: 5px;
    text-decoration: none;
}
.chap-navigation  a:hover {
    background: #767676;
}
.chap-navigation a.active {
    background: #333333;
}

.co-the-ban-them-xem-gif {
    background: none repeat scroll 0 0 #222;
    border: 2px solid #fff;
    border-radius: 35px;
    color: #fff;
    font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 32px;
    left: 60%;
    line-height: 32px;
    margin-left: -30px;
    margin-top: -30px;
    opacity: 0.9;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 66%;
    width: 32px;
}

.home-gif {
    background: none repeat scroll 0 0 #222;
    border: 2px solid #fff;
    border-radius: 35px;
    color: #fff;
    font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 64px;
    left: 50%;
    line-height: 64px;
    margin-left: -30px;
    margin-top: -30px;
    opacity: 0.9;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    width: 64px;
}

.fa-bars-mobile { font-size: 18px !important;}

.sidebarBlock {
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 0px;
    border-bottom: 1px solid #dedede;
    display: none;

}
.sidebarBlock .blockTitle {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    border-color: -moz-use-text-color -moz-use-text-color #ddd !important;
    border-image: none !important;
    border-radius: 2px 2px 0 0;
    border-style: none none solid !important;
    border-width: medium medium 6px !important;
    color: #545454;
    font-size: 16px;
    margin-bottom: 10px;
    padding-bottom: 3px;
    text-align: left !important;
    text-transform: uppercase;
}
.sidebarBlock .blockTitle h1 {
    text-decoration: none !important;
    font-weight: normal !important;
    font-size: 16px;
}
.sidebarBlock ul.channelList { padding: 0px}
.sidebarBlock .channelList li {
    list-style: outside none none;
    padding: 0;
}

.sidebarBlock .channelList li:last-of-type {
    border-bottom: 0 none;
}
.sidebarBlock .channelList li:hover {
    background: none repeat scroll 0 0 #edf0f2;
}
.sidebarBlock .channelList li.active {
    background: none repeat scroll 0 0 #edf0f2;
}
.sidebarBlock .channelList li:hover .name {
    color: #3b5998;
}
.sidebarBlock .channelList li a {
    display: block;
    padding: 6px 0;
    color: #444444;
    text-decoration: none;
    font-weight: 100 !important;
    font-size: 16px;
}
.sidebarBlock .channelList li a .name {
    font-weight: bold;
}
.sidebarBlock .channelList li span.slug {
    color: #999;
    float: right;
    font-size: 8pt;
}
.sidebarBlock .channelList li span.hot_active{
    color:#FFFFFF;background:#EE3D46;
    padding: 0px 3px 1px 3px;
    font-size:11px;
}

.sidebarBlock .channelList li span.hot_new_active{
    color:#FFFFFF;background:#38A800;
    padding: 0px 3px 1px 3px;
    font-size:11px;
}
.ad-title {
    font-size: 13px;
    margin-bottom: 5px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}
audio { width: 100%; display: block;  }
video {width: 100%;}
.globalAnnouncement {
    margin: 0 0 10px 0;
    padding: 10px;
    background: #FFFFC4;
    color: #FF6B00;
    font-size: 14px;
    text-align: center;
    border: 1px dashed #FFC000;
}
.globalAnnouncement a {
    color: #FF6B00;
}
.globalAnnouncement a:hover {
    opacity: 0.7;
}
.globalAnnouncement .hot {
    font-size: 11px;
    background: #EE3D46;
    color: #FFFFFF;
    padding: 3px 6px;
    font-weight: bold;
}
.whiteBackground{background:#FFF; border-radius:3px;padding:10px}
.whiteBackground h1{font-weight:700;font-size:14pt;color:#666;font-family:Roboto,Arial,Tahoma,sans-serif}
.whiteBackground h2{font-weight:700;font-size:13pt;color:#666;font-family:Roboto,Arial,Tahoma,sans-serif}
.whiteBackground h4{font-size:13pt}
.whiteBackground .content{text-align:justify; font-family: 'Roboto', Tahoma, Arial, Helvetica, sans-serif}
.whiteBackground .content li{list-style-type:disc; }
.whiteBackground .content a{color:#666}
.whiteBackground .content a:hover{border-bottom:1px dotted}
.whiteBackground .content p{margin: 10px auto}
.btn-social {
    line-height: 38px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    min-width: 45px;
    cursor: pointer;
}
.btn-social a {
    width: 50%;
    float: left;
}

.btn-facebook {
    background: #3b5998;
    color: #fff;
    width: 100%;
}
.btn-google-plus {
    background: #E93F2E;
    color: #fff;
    width: 100%;
}

/*Blog*/
.blog-summary {
  margin-top: 10px;
}

/*Paging*/
.page_item .wrap{position:relative;float:left;left:50%}
.page_item .pageOn{position:relative;float:left;right:50%;margin:0 auto;text-align:center}
.pagination {
  padding: 20px;
  margin-bottom: 20px;
}
.page {
  display: inline-block;
  padding: 4px 12px;
  margin-right: 4px;
  border: solid 1px #FF6B00;
  font-size: 16px;
  color: #625858;
  transition: none;
}
.page:hover {
  background: #FF6B00;
  color: #fff;
}
.page.active {
  background: #FF6B00;
  color: white;
}
.detail .more .post-layout-2.item {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E9EAED;
}
.post-layout-2 .thumbnail-container {
    width: 30%;
    float: left;
    overflow: hidden;
    margin-right: 10px;
}
.post-layout-2 {
    font-size: 13px;
}