.thumb-small {
  display: block;
  margin: 0 auto;
}
.thumb-small-overflow {
  overflow: hidden;
  height: 150px;
}
.thumb-upload img, .thumb-upload iframe {
  width: 380px;
  height: 200px;
}
.table-striped tbody tr td a {
  text-decoration: none;
}
.table-striped tbody tr:hover {
  background-color: #F3F7F9;
}
.post-deleted {
  color: red;
}
.custom-btn-save {
  margin-right: 30px;
  margin-top: -26px;
}
.disable-label {
  opacity: 0.6;
  cursor: not-allowed;
}
.row-table-custom {
  background-color: rgba(185, 92, 24, 0.17) !important;
}
.btn-custom-create {
  margin: 30px 0 0 30px;
}
.btn-custom-create a, .btn-custom-create a:hover {
  color: white;
  text-decoration: none;
}
.table-custom tbody tr td {
  padding: 11px 8px !important;
}

/*paging*/
.paging{clear:both;height:28px;line-height:28px}
/*paging*/
.paging{clear:both;height:28px;line-height:28px}
.paging .wrap{margin:0}
.paging .total{display:inline;float:left;padding-left:10px;color:#666;font-size:12px}
.paging .pageOn{float:right}
.paging .pageOn span{float:left;padding:0 5px;color:#2068ab}
.paging .pageOn span a{color:#555;font-size:12px}
.paging .pageOn span.active{font-size:13px;font-weight:bold;text-decoration:underline}
.paging .pageOn span.total{display:none}
.paging .prev a, .paging .next a{color:#2068ab;font-size:11px;font-weight:bold}
.grey{background:#f8f8f8;height:28px;line-height:28px;border-top:0;clear:both}
.page_item{background:#f8f8f8;height:28px;line-height:28px;clear:both}
.page_item .wrap{position:relative;float:left;left:50%}
.page_item .total{display:none}
.page_item .pageOn{position:relative;float:left;right:50%;margin:0 auto;text-align:center}
.page_item .pageOn span.total{display:block;color:#666;font-size:12px;padding-left:6px}
.page_item .pageOn img{float:left;margin-top:8px;padding:0 3px}
.page_item .pageOn span{float:left;padding:0 5px;color:#2068ab;height:28px;line-height:28px}
.page_item .pageOn span.active{color:#555;font-size:13px;font-weight:bold;text-decoration:underline}
.paging .prev, .paging .next, .paging .first, .paging .last{text-indent:-9999px}
.paging .prev a, .paging .next a, .paging .first a, .paging .last a{display:block;position:relative;top:8px;background:url(../images/page_item.jpg);outline:0;overflow:hidden}
.paging .prev a{background-position:-20px 0;width:13px;height:13px}
.paging .next a{background-position:-37px 0;width:13px;height:13px}
.paging .first a{background-position:0 0;width:16px;height:13px}
.paging .last a{background-position:-54px 0;width:16px;height:13px}
.grey{background:#fff}