<div id="leftCol">
    <div class="notificationContainer">
        <h1 class="title">Thông báo của bạn</h1>
        <ul class="notificationList">
            <?php if (!empty($this->notifications)): ?>
            <?php
                foreach($this->notifications as $notification):
                    $strTime = strtotime($notification['created_at_formated']);
                    $time_format  = My_Zend_Globals::JConvertTime($strTime);
                    ?>
            <li class="<?php echo $notification['type'] .' '. $notification['status'];?> " id="notification-<?php echo $notification['ID'];?>">
                <?php if ($notification['type'] == Notification::_NOTIFICATION_TYPE_LIKE_REACHED): ?>
                    <a href="{$baseurl}{$postfolder}{$notification[i].itemID}{if $SEO eq '1'}/{$notification[i].story|makeseo}.hnn{/if}" class="link">
                        <div><?php echo $notification['message']; ?></div>
                        <div class="time"><?php echo $time_format; ?></div>
                    </a>
                <?php elseif ($notification['type'] == Notification::_NOTIFICATION_TYPE_WELCOME): ?>
                    <div class="messageContainer">
                        <div class="message"><?php echo $notification['message']; ?></div>
                        <div class="time"><?php echo $time_format; ?></div>
                    </div>
                <?php elseif ($notification['type'] == Notification::_NOTIFICATION_TYPE_MOVE_TO_HOME): ?>
                    <a href="<?php echo Post::postUrl($notification); ?>" class="link">
                        <div><?php echo $notification['message']; ?></div>
                        <div class="time"><?php echo $time_format; ?></div>
                    </a>
                <?php elseif ($notification['type'] == Notification::_NOTIFICATION_TYPE_MOVE_TO_HAY): ?>
                    <a href="<?php echo Post::postUrl($notification); ?>" class="link">
                        <div><?php echo $notification['message']; ?></div>
                        <div class="time"><?php echo $time_format; ?></div>
                    </a>
                <?php elseif ($notification['type'] == Notification::_NOTIFICATION_TYPE_FOLLOWING): ?>
                    <a href="<?php echo BASE_URL; ?>/user/<?php echo $notification['followingID']; ?>" class="link">
                        <div class="fl-l">
                            <img class="roundedAvatar" src="https://graph.facebook.com/<?php echo $notification['facebookid']; ?>/picture?width=35&amp;height=35" width="35" height="35" alt="Avatar" />
                        </div>
                        <div class="fl-l rightInfo">
                            <div><?php echo $notification['message']; ?></div>
                            <div class="time"><?php echo $time_format; ?></div>
                        </div>
                        <div class="clear"></div>
                    </a>
                <?php elseif ($notification['type'] == Notification::_NOTIFICATION_TYPE_PROFILE_COMMENT): ?>
                    <div class="messageContainer">
                        <div class="fl-l">
                            <a href="<?php echo BASE_URL; ?>/user/<?php echo $notification['followingID']; ?>"><img class="roundedAvatar" src="http://graph.facebook.com/{$notification[i].facebookid}/picture?width=35&amp;height=35" width="35" height="35" alt="Avatar" /></a>
                        </div>
                        <a href="<?php echo BASE_URL; ?>/user/<?php echo LOGIN_UID; ?>">
                            <div class="fl-l rightInfo">
                                <div><?php echo $notification['message']; ?></div>
                                <div class="time"><?php echo $time_format; ?></div>
                            </div>
                        </a>
                        <div class="clear"></div>
                    </div>
                <?php endif; ?>
            </li>
            <?php endforeach; ?>
            <?php else: ?>
            <div class="alert-box box-notice" style="text-align:center">Bạn chưa có thông báo nào.</div>
            <?php endif ?>
        </ul>
        <?php if (!empty($this->notifications) && $this->page < $this->totalPage): ?>
        <div id="loadMoreNotification">Xem thêm</div>
        <?php endif; ?>
    </div>
    <?php echo $this->render('partials/footer.phtml', $this);?>

    <div class="clear"></div>

</div>
<div id="rightCol"></div>
<script type="text/javascript">
    $(document).ready(function() {
        var isLoading = false;
        var hasNoMore = false;
        var page = <?php echo $this->page?>  + 1;
        var userId = '<?php echo LOGIN_UID;?>';
        $("#loadMoreNotification").click(function() {
            if (isLoading == true || hasNoMore == true)
                return;
            $(this).html("<img src='<?php echo $this->layout()->_general['server']['img']['path'];?>/videoloading.gif' style='margin-top: 10px' />");
            $.ajax({
                url: Settings.baseurl + '/notifications?&page='+page,
                context: $(this),
                beforeSend: function() {
                    isLoading = true;
                },
                success: function(result) {
                   
                    if (result != "")
                    {
                        $(".notificationList").append(result);
                        page = page + 1;
                        isLoading = false;
                        $(this).html("Xem thêm");
                    }
                    else
                    {
                        $(".notificationList").append("<div class='alert-box box-notice' style='text-align:center'>Không còn thông báo nào cũ hơn nữa.</div>")
                        $("#loadMoreNotification").hide();
                        hasNoMore = true;
                    }
                }
            });
        });
    });
</script>