<?php
$str = <<<EOF
jQuery( document ).ready(function( $ )
    {
        wdefault = jQuery(document).width();
        if(wdefault < 400)
        {
            $('#vechai_0').removeClass('col-xs-3').addClass( 'col-xs-6' );
            $('#vechai_1').removeClass('col-xs-3').addClass( 'col-xs-6' );
            $('#vechai_2,#vechai_3').hide();
        }else
        {
            $('#vechai_0').removeClass('col-xs-6').addClass( 'col-xs-3' );
            $('#vechai_1').removeClass('col-xs-6').addClass( 'col-xs-3' );
            $('#vechai_2,#vechai_3').show();
        }
    });
    $(window).resize(function()
    {
        w = jQuery(document).width();
        if(w < 400)
        {
            $('#vechai_0').removeClass('col-xs-3').addClass( 'col-xs-6' );
            $('#vechai_1').removeClass('col-xs-3').addClass( 'col-xs-6' );
            $('#vechai_2,#vechai_3').hide();
        }else
        {
            $('#vechai_0').removeClass('col-xs-6').addClass( 'col-xs-3' );
            $('#vechai_1').removeClass('col-xs-6').addClass( 'col-xs-3' );
            $('#vechai_2,#vechai_3').show();
        }
    });
EOF;
$this->headScript()->appendScript($str);
?>

<?php if(!empty($this->posts)):?>
    <div class="container">
        <div class="row">
            <h1 class="haynhucnhoi-title">Clip Hay Nhức Nhói</h1>
        </div>
        <div class="row">
            <?php foreach($this->posts as $key => $post):?>
                <div id="vechai_<?php echo $key;?>" <?php if($key==4 || $key==5):?> class="col-md-2 col-xs-3 col-sm-3 hidden-xs" <?php else:?> class="col-md-2 col-xs-3 col-sm-3" <?php endif;?> >
                    <div class="thumbnail">
                        <a href="<?php echo Post::postUrl($post);?>" title="<?php echo $post['story'];?>" target="_blank"><img src="<?php echo My_Zend_Globals::getThumbImageVideo($post['picture']); ?>" class="img-responsive"  alt="<?php echo $post['story'];?>" border="0" ></a>
                        <div class="caption">
                            <a href="<?php echo Post::postUrl($post);?>" role="button" class="detail-title" target="_blank" title="<?php echo $post['story'];?>"><?php echo  My_Zend_Globals::cutString($post['story'],0,40);?></a>
                        </div>
                    </div>
                </div>
            <?php endforeach;?>
        </div>
        <div class="pull-right"><a href="<?php echo BASE_URL;?>" class="seemore" target="_blank">Xem thêm >></a></div>
    </div>
<?php endif;?>
